[rproxy]
host = localhost
port = 8000
route_1 = http://localhost:8000/svd,http://www.svd.se
route_2 = http://localhost:8000/p,http://localhost:9000/Movies/
route_3 = http://localhost:8000/idg,http://www.idg.se
route_4 = http://localhost:8000/test,http://localhost:8080
route_5 = http://localhost:8000/dn,http://www.dn.se
route_6 = http://localhost:8000/re,http://www.reddit.com/r
