[rproxy]
port = 8000
route_1 = http://localhost, http://localhost:8000
route_2 = http://localhost:9998, http://localhost:8000
route_3 = http://localhost/prjs, http://localhost:8001
route_4 = http://localhost:9998/prjs, http://localhost:8001
route_5 = http://localhost/downloads, http://localhost:8080/downloads
route_6 = http://localhost/reddit, http://www.reddit.com/r
route_7 = /short, http://localhost:9000/short

