[["desert" "tundra" "mountain" "space" "field" "urban"
  "hidden" "covert" "uncanny" "scheming" "decisive"
  "rowdy" "dangerous" "explosive" "threatening" "warring"
  "bad" "unnecessary" "unknown" "unexpected" "waning"
  "amber" "bone" "coral" "ivory" "jet" "nacre" "pearl" "obsidian" "glass"
  "agate" "beryl" "diamond" "opal" "ruby" "onyx" "sapphire" "emerald" "jade"]
 ["panther" "wildcat" "tiger" "lion" "cheetah" "cougar" "leopard"
  "viper" "cottonmouth" "python" "boa" "sidewinder" "cobra"
  "grizzly" "jackal" "falcon"
  "wildabeast" "gazelle" "zebra" "elk" "moose" "deer" "stag" "pony"
  "horse" "stallion" "foal" "colt" "mare" "yearling" "filly" "gelding"
  "nomad" "wizard" "cleric" "pilot"
  "mainframe" "device" "motherboard" "network" "transistor" "packet" "robot" "android" "cyborg"
  "octopus" "lobster" "crab" "barnacle" "hammerhead" "orca" "piranha"
  "storm" "thunder" "lightning" "rain" "hail" "sun" "drought" "snow"
  "warning" "presence" "weapon"]]
