<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.dynamo.cr.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.dynamo.cr.editor.Perspective"
            id="com.dynamo.cr.editor.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.dynamo.cr.editor.application"
            name="Defold Editor">
         <property
               name="appName"
               value="Defold Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.dynamo.cr.editorcategory"
            class="com.dynamo.cr.editor.compare.ChangedFilesView"
            icon="icons/database_edit.png"
            id="com.dynamo.crepo.changedfiles"
            name="Changed Files"
            restorable="true">
      </view>
      <category
            id="com.dynamo.cr.editorcategory"
            name="Dynamo Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit">
         <command
               commandId="com.dynamo.crepo.commands.reloadresource"
               label="Reload Resource"
               style="push"
               tooltip="Reload resources">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               label="Open Resource..."
               style="push"
               tooltip="Open resource">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="com.dynamo.crepo.commands.connect"
               icon="icons/database_connect.png"
               label="Open Project"
               style="push">
         </command>
         <command
               commandId="com.dynamo.crepo.commands.synchronize"
               icon="icons/database_refresh.png"
               label="Synchronize"
               style="push">
         </command>
         <menu
               icon="icons/openid-16x16.png"
               label="Sign Out">
            <command
                  commandId="com.dynamo.crepo.commands.signOut"
                  icon="icons/google_icon.png"
                  label="Sign out from Google"
                  style="push">
               <parameter
                     name="com.dynamo.crepo.commands.signOut.url"
                     value="https://www.google.com/accounts/Logout">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.crepo.commands.signOut"
                  icon="icons/yahoo_icon.png"
                  label="Sign out from Yahoo"
                  style="push">
               <parameter
                     name="com.dynamo.crepo.commands.signOut.url"
                     value="https://login.yahoo.com/config/login?logout=1">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
         <menu
               id="com.dynamo.cr.editor.menus.tools"
               label="Project">
            <command
                  commandId="com.dynamo.crepo.commands.launch"
                  icon="icons/play.png"
                  label="Build And Launch"
                  style="push">
               <parameter
                     name="com.dynamo.crepo.commands.launch.type"
                     value="build">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.crepo.commands.launch"
                  icon="icons/play.png"
                  label="Rebuild And Launch"
                  style="push">
               <parameter
                     name="com.dynamo.crepo.commands.launch.type"
                     value="rebuild">
               </parameter>
            </command>
            <command
            	commandId="com.dynamo.crepo.commands.launchHtml"
            	icon="icons/play.png"
            	label="Build HTML and Launch"
            	style="push">
            	<parameter
            		name="com.dynamo.crepo.command.launchHtml.type"
            		value="build">
            	</parameter>
            </command>
            <command
                  commandId="com.dynamo.crepo.commands.resolveLibs"
                  icon="icons/plugin.png"
                  label="Fetch Libraries"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.editor.liveupdate.liveUpdateSettings"
                  label="LiveUpdate Settings..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="com.dynamo.cr.editor.commands.openWelcome"
               label="Welcome"
               style="push">
         </command>
         <command
               commandId="com.dynamo.crepo.commands.openWebLink"
               label="Documentation..."
               style="push">
            <parameter
                  name="com.dynamo.crepo.commands.openWebLink.url"
                  value="http://www.defold.com/doc">
            </parameter>
         </command>
         <command
               commandId="com.dynamo.crepo.commands.openWebLink"
               label="Feedback..."
               style="push">
            <parameter
                  name="com.dynamo.crepo.commands.openWebLink.url"
                  value="http://forum.defold.com">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               label="About Defold"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.dynamo.cr.editor.menus.tools">
         <separator
               name="com.dynamo.cr.target.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.dynamo.cr.target.commands.sign"
               label="Sign iOS App..."
               style="push">
         </command>
         <menu
               label="Bundle">
            <command
                  commandId="com.dynamo.cr.target.commands.bundleiOS"
                  label="iOS Application..."
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.target.commands.bundleAndroid"
                  label="Android Application..."
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.target.commands.bundleOSX"
                  label="OSX Application..."
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.target.commands.bundleWin32"
                  label="Windows Application..."
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.target.commands.bundleLinux"
                  label="Linux Application..."
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.target.commands.bundleHTML5"
                  label="HTML5 Application..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu">
         <command
               commandId="com.dynamo.cr.editor.commands.newFolder"
               icon="icons/newfolder_wiz.gif"
               label="Folder"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:new">
         <command
               commandId="com.dynamo.cr.editor.commands.newFolder"
               icon="icons/newfolder_wiz.gif"
               label="Folder"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Content Repository"
            id="com.dynamo.crepo.category">
      </category>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.ConnectHandler"
            description="Connect to resource server"
            id="com.dynamo.crepo.commands.connect"
            name="Connect">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.LaunchHandler"
            description="Launch game"
            id="com.dynamo.crepo.commands.launch"
            name="Launch game">
         <commandParameter
               id="com.dynamo.crepo.commands.launch.type"
               name="com.dynamo.crepo.commands.launch.type"
               optional="true">
         </commandParameter>
      </command>
      <command
      		categoryId="com.dynamo.crepo.category"
      		defaultHandler="com.dynamo.cr.editor.handlers.LaunchHtmlHandler"
      		description="Launch HTML game"
      		id="com.dynamo.crepo.commands.launchHtml"
      		name="Launch HTML game">
      	<commandParameter
      		id="com.dynamo.crepo.command.launchHtml.type"
      		name="com.dynamo.crepo.commands.launchHtml.type"
      		optional="true">
      	</commandParameter>
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.ReloadResourceHandler"
            description="Reload resource"
            id="com.dynamo.crepo.commands.reloadresource"
            name="Reload resource">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.SyncHandler"
            description="Synchronize user branch and master repository"
            id="com.dynamo.crepo.commands.synchronize"
            name="Synchronize">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.ResolveHandler"
            description="Resolve a conflicted resource"
            id="com.dynamo.cr.editor.commands.resolve"
            name="Resolve">
         <commandParameter
               id="com.dynamo.cr.editor.commands.resolve.type"
               name="resolve"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.DiffConflictHandler"
            description="View the diff of a conflicted file"
            id="com.dynamo.cr.editor.commands.diffConflict"
            name="Diff Conflict">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.OpenWebLinkHandler"
            description="Open Web Link"
            id="com.dynamo.crepo.commands.openWebLink"
            name="Open Web Link">
         <commandParameter
               id="com.dynamo.crepo.commands.openWebLink.url"
               name="link"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.SignoutHandler"
            description="Signout from OpenID Account"
            id="com.dynamo.crepo.commands.signOut"
            name="Signout from OpenID Account">
         <commandParameter
               id="com.dynamo.crepo.commands.signOut.url"
               name="url"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.SignHandler"
            id="com.dynamo.cr.target.commands.sign"
            name="Sign Executable">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleiOSHandler"
            id="com.dynamo.cr.target.commands.bundleiOS"
            name="Bundle iOS Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleAndroidHandler"
            id="com.dynamo.cr.target.commands.bundleAndroid"
            name="Bundle Android Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleOSXHandler"
            id="com.dynamo.cr.target.commands.bundleOSX"
            name="Bundle OSX Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleWin32Handler"
            id="com.dynamo.cr.target.commands.bundleWin32"
            name="Bundle Windows x86 Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleWin64Handler"
            id="com.dynamo.cr.target.commands.bundleWin64"
            name="Bundle Windows x64 Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleLinuxHandler"
            id="com.dynamo.cr.target.commands.bundleLinux"
            name="Bundle Linux Application">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.BundleHTML5Handler"
            id="com.dynamo.cr.target.commands.bundleHTML5"
            name="Bundle HTML5 Application">
      </command>
      <command
            id="com.dynamo.cr.editor.commands.openWelcome"
            name="Welcome">
      </command>
      <command
            id="com.dynamo.cr.editor.commands.newFolder"
            name="New Folder">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            defaultHandler="com.dynamo.cr.editor.handlers.ResolveLibsHandler"
            description="Fetch Libraries"
            id="com.dynamo.crepo.commands.resolveLibs"
            name="Fetch Libraries">
      </command>
      <command
            defaultHandler="com.dynamo.cr.editor.handlers.LiveUpdateHandler"
            id="com.dynamo.cr.editor.liveupdate.liveUpdateSettings"
            name="LiveUpdate Settings...">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dynamo.cr.editor.preferences.PreferencePage"
            id="com.dynamo.rclient.preferences.PreferencePage"
            name="Defold">
      </page>
      <page
            category="com.dynamo.rclient.preferences.PreferencePage"
            class="com.dynamo.cr.editor.preferences.DebugPreferencePage"
            id="com.dynamo.rclient.preferences.DebugPreferencePage"
            name="Debug">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dynamo.cr.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="com.dynamo.cr.editor.builders.contentbuilder"
         name="Content Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true">
         <run
               class="com.dynamo.cr.editor.builders.ContentBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.crepo.commands.reloadresource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="com.dynamo.crepo.commands.connect"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="com.dynamo.crepo.commands.synchronize"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
      <key
            commandId="com.dynamo.crepo.commands.launch"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
         <parameter
               id="com.dynamo.crepo.commands.launch.type"
               value="build">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.crepo.commands.launch"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+T">
         <parameter
               id="com.dynamo.crepo.commands.launch.type"
               value="rebuild">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.crepo.commands.launch"
            schemeId="com.dynamo.cr.editor.ui.defoldScheme"
            sequence="M1+B">
         <parameter
               id="com.dynamo.crepo.commands.launch.type"
               value="build">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.crepo.commands.launch"
            schemeId="com.dynamo.cr.editor.ui.defoldScheme"
            sequence="M1+Shift+B">
         <parameter
               id="com.dynamo.crepo.commands.launch.type"
               value="rebuild">
         </parameter>
      </key>
   </extension>
   <extension
         id="com.dynamo.cr.newwizards"
         name="Content"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.dynamo.cr.editor.wizardCategory"
            name="Content">
      </category>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            embeddable="false"
            file-extension="png"
            id="com.dynamo.cr.editor.resourcetypes.png"
            name="PNG"
            type-class="image">
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Disable unwanted eclipse UI"
            id="com.dynamo.cr.editor.activities.disableEclipseUI"
            name="Disable">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.project">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.file">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.editors\.wizards\.UntitledTextFileWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoNextAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoPreviousAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.search/org\.eclipse\.search\.OpenSearchDialogPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.ide\.OpenMarkersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="_org\.eclipse\.ui\.views/org\.eclipse\.ui\.views\.properties\.NewPropertySheetCommand">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.equinox\.p2\.ui\.sdk/org\.eclipse\.equinox\.p2\.ui\.sdk\.update">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.equinox\.p2\.ui\.sdk/org\.eclipse\.equinox\.p2\.ui\.sdk\.install">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.applyPatch">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.showLocalHistory">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.team\.ui/nonbound\.org\.eclipse\.team\.ui\.ConfigureProject">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.navigator\.resources/org\.eclipse\.ui\.navigator\.resources\.PortingActions">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.dynamo.cr.editor.activities.disableEclipseUI"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.folder">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.dynamo.cr.editor.decorators.BranchStatusDecorator"
            id="com.dynamo.cr.editor.decorators.branchStatus"
            label="Branch Status"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="com.dynamo.cr.editor.compare.ResourceStatus">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.dynamo.cr.editor.decorators.ProblemLabelDecorator"
            id="com.dynamo.cr.editor.decorators.problemLabel"
            label="Problem Label"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.dynamo.cr.editor.services.ServiceFactory">
         <service
               serviceClass="com.dynamo.cr.editor.services.IBranchService"></service>
      </serviceFactory>
   </extension>
   <extension point="org.eclipse.ui.handlers">
       <handler
              class="com.dynamo.cr.editor.handlers.DisabledNewEditorHandler"
              commandId="org.eclipse.ui.window.newEditor">
           <enabledWhen>
              <count value="-1">
              </count>
           </enabledWhen>
           <activeWhen>
              <not>
                 <count value="-1">
                 </count>
              </not>
          </activeWhen>
        </handler>
       <handler
             class="com.dynamo.cr.editor.handlers.AboutHandler"
             commandId="org.eclipse.ui.help.aboutAction">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow.activePerspective">
                <not>
                   <equals
                         value="not_false_equals_true">
                   </equals>
                </not>
             </with>
          </activeWhen>
       </handler>
      <handler
            class="com.dynamo.cr.editor.handlers.OpenWelcomeHandler"
            commandId="com.dynamo.cr.editor.commands.openWelcome">
      </handler>
      <handler
            class="com.dynamo.cr.editor.handlers.NewFolderHandler"
            commandId="com.dynamo.cr.editor.commands.newFolder">
      </handler>
     </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.dynamo.cr.editor.showInFinder"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.dynamo.cr.editor.popup.actions.ShowInFileBrowser"
               enablesFor="1"
               id="com.dynamo.cr.editor.showInFinder"
               label="Show in Finder"
               menubarPath="additions">
         </action>
         <visibility>
            <or>
                <systemProperty
                      name="com.defold.platform"
                      value="darwin">
                </systemProperty>
                <systemProperty
                      name="com.defold.platform"
                      value="x86_64-darwin">
                </systemProperty>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.dynamo.cr.editor.showInFinder"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.dynamo.cr.editor.popup.actions.ShowInFileBrowser"
               enablesFor="1"
               id="com.dynamo.cr.editor.showInExplorer"
               label="Show in Explorer"
               menubarPath="additions">
         </action>
         <visibility>
            <or>
                <systemProperty
                      name="com.defold.platform"
                      value="win32">
                </systemProperty>
                <systemProperty
                
                      name="com.defold.platform"
                      value="x86_64-win32">
                </systemProperty>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.dynamo.cr.editor.showInFileBrowser"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.dynamo.cr.editor.popup.actions.ShowInFileBrowser"
               enablesFor="1"
               id="com.dynamo.cr.editor.showInFileBrowser"
               label="Show in File Browser"
               menubarPath="additions">
         </action>
         <visibility>
            <or>
                <systemProperty
                      name="com.defold.platform"
                      value="linux">
                </systemProperty>
                <systemProperty
                      name="com.defold.platform"
                      value="x86_64-linux">
                </systemProperty>
            </or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.dynamo.cr.editor.NewNavigatorActionProvider"
            id="org.eclipse.ui.navigator.resources.NewActions2"
            overrides="org.eclipse.ui.navigator.resources.NewActions"
            priority="highest">
         <enablement>
            <or>
                <adapt type="org.eclipse.core.resources.IResource" />
                <adapt type="java.util.Collection">
                    <count value="0" />
                </adapt>
            </or>
         </enablement>
      </actionProvider>
      <navigatorContent
            contentProvider="com.dynamo.cr.editor.LibContentProvider"
            icon="icons/plugin.png"
            id="com.dynamo.cr.editor.LibContent"
            labelProvider="com.dynamo.cr.editor.LibLabelProvider"
            name="LibContent"
            priority="highest">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dynamo.cr.editor.core.EditorUtilPropertyTester"
            id="com.dynamo.cr.editor.EditorUtilPropertyTester"
            namespace="com.dynamo.cr.editor"
            properties="is_dev"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.dynamo.cr.editor.splashHandlers.SplashHandler"
            id="com.dynamo.cr.editor.splashHandlers.defold">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.dynamo.cr.editor.product"
            splashId="com.dynamo.cr.editor.splashHandlers.defold">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.editor.welcome.WelcomeEditor"
            default="false"
            icon="icons/welcome.png"
            id="com.dynamo.cr.editor.welcomeEditor"
            name="Welcome">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.dynamo.cr.editor.LibContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>
