<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <servlet>
        <servlet-name>PostRecord</servlet-name>
        <servlet-class>com.dynamo.cr.webrlog.servlets.PostRecordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostRecord</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Issues</servlet-name>
        <servlet-class>com.dynamo.cr.webrlog.servlets.IssuesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Issues</servlet-name>
        <url-pattern>/issues/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProcessTask</servlet-name>
        <servlet-class>com.dynamo.cr.webrlog.tasks.ProcessTask</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProcessTask</servlet-name>
        <url-pattern>/tasks/process</url-pattern>
    </servlet-mapping>

   <!-- Require admin access for every resoruce -->
   <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

   <!-- /post is the exception  -->
   <security-constraint>
        <web-resource-collection>
            <url-pattern>/post</url-pattern>
        </web-resource-collection>
    </security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
