{:hooks {:analyze-call {clojure.core/bounded-count hooks.clojure-core/bounded-count
                        clojure.core/definterface hooks.clojure-core/definterface
                        clojure.core/defprotocol hooks.clojure-core/defprotocol
                        clojure.core/defrecord hooks.clojure-core/defrecord
                        clojure.core/deftype hooks.clojure-core/deftype
                        clojure.core/empty? hooks.clojure-core/empty?
                        clojure.core/every? hooks.clojure-core/every?
                        clojure.core/fn hooks.clojure-core/fn-call
                        clojure.core/fn* hooks.clojure-core/fn-call
                        clojure.core/map hooks.clojure-core/map
                        clojure.core.cache/defcache hooks.clojure-core-cache/defcache
                        clojure.core/not-any? hooks.clojure-core/not-any?
                        clojure.core/not-empty hooks.clojure-core/not-empty
                        clojure.core/not-every? hooks.clojure-core/not-every?
                        clojure.core/some hooks.clojure-core/some
                        clojure.string/join hooks.clojure-string/join
                        clojure.test.check.clojure-test/defspec hooks.clojure-test-check-clojure-test/defspec
                        dynamo.graph/deftype hooks.dynamo-graph/deftype
                        dynamo.graph/defnode hooks.dynamo-graph/defnode
                        dynamo.graph/fnk hooks.dynamo-graph/fnk
                        dynamo.graph/defnk hooks.dynamo-graph/defnk
                        dynamo.graph/let-ec hooks.dynamo-graph/let-ec
                        dynamo.graph/make-nodes hooks.dynamo-graph/make-nodes
                        dynamo.graph/with-auto-or-fake-evaluation-context hooks.dynamo-graph/with-auto-or-fake-evaluation-context
                        dynamo.graph/with-auto-evaluation-context hooks.dynamo-graph/with-auto-evaluation-context
                        editor.editor-extensions.commands/gen-query hooks.editor-editor-extensions-commands/gen-query
                        editor.editor-extensions.runtime/lua-fn hooks.editor-editor-extensions-runtime/lua-fn
                        editor.editor-extensions.runtime/suspendable-lua-fn hooks.editor-editor-extensions-runtime/suspendable-lua-fn
                        editor.editor-extensions.runtime/suspendable-varargs-lua-fn hooks.editor-editor-extensions-runtime/suspendable-varargs-lua-fn
                        editor.editor-extensions.runtime/varargs-lua-fn hooks.editor-editor-extensions-runtime/varargs-lua-fn
                        editor.gl/gl-begin hooks.editor-gl/gl-begin
                        editor.gl/gl-lines hooks.editor-gl/gl-lines
                        editor.gl/gl-quads hooks.editor-gl/gl-quads
                        editor.gl/gl-triangles hooks.editor-gl/gl-triangles
                        editor.gl/with-drawable-as-current hooks.editor-gl/with-drawable-as-current
                        editor.gl.attribute/def-assign-attribute-fn hooks.editor-gl-attribute/def-assign-attribute-fn
                        editor.graph-util/set-properties-from-pb-map hooks.editor-graph-util/set-properties-from-pb-map
                        editor.gl.pass/make-passes hooks.editor-gl-pass/make-passes
                        editor.gl.shader/defshader hooks.editor-gl-shader/defshader
                        editor.gl.vertex/defvertex hooks.editor-gl-vertex/defvertex
                        editor.gl.vertex2/defvertex hooks.editor-gl-vertex2/defvertex
                        editor.git-test/with-git hooks.editor-git-test/with-git
                        editor.pipeline-test/with-clean-system hooks.editor-pipeline-test/with-clean-system
                        editor.fxui/defc hooks.editor-fxui/defc
                        editor.gui/gen-outline-fnk hooks.editor-gui/gen-outline-fnk
                        editor.gui/wrap-layout-property-edit-type hooks.editor-gui/wrap-layout-property-edit-type
                        editor.handler/defhandler hooks.editor-handler/defhandler
                        editor.image-util/with-graphics hooks.editor-image-util/with-graphics
                        editor.lsp.async/with-auto-evaluation-context hooks.editor-lsp-async/with-auto-evaluation-context
                        editor.ui/change-listener hooks.editor-ui/change-listener
                        editor.ui/event-dispatcher hooks.editor-ui/event-dispatcher
                        editor.ui/event-handler hooks.editor-ui/event-handler
                        editor.ui/invalidation-listener hooks.editor-ui/invalidation-listener
                        editor.ui/with-controls hooks.editor-ui/with-controls
                        editor.ui/with-progress hooks.editor-ui/with-progress
                        integration.perf-test/measure hooks.integration-perf-test/measure
                        integration.build-test/with-build-results hooks.integration-build-test/with-build-results
                        integration.lsp-test/with-scratch-project hooks.integration-lsp-test/with-scratch-project
                        integration.test-util/with-temp-dir! hooks.integration-test-util/with-temp-dir!
                        integration.test-util/with-temp-project-content hooks.integration-test-util/with-temp-project-content
                        integration.test-util/with-loaded-project hooks.integration-test-util/with-loaded-project
                        integration.test-util/with-scratch-project hooks.integration-test-util/with-scratch-project
                        potemkin.namespaces/import-def hooks.potemkin-namespaces/import-def
                        potemkin.namespaces/import-fn hooks.potemkin-namespaces/import-fn
                        potemkin.namespaces/import-macro hooks.potemkin-namespaces/import-macro
                        potemkin.namespaces/import-vars hooks.potemkin-namespaces/import-vars
                        support.test-support/with-clean-system hooks.support-test-support/with-clean-system
                        util.defonce/interface hooks.util-defonce/interface
                        util.defonce/protocol hooks.util-defonce/protocol
                        util.defonce/record hooks.util-defonce/record
                        util.defonce/type hooks.util-defonce/type
                        util.fn/defamong hooks.util-fn/defamong}}
 :linters {:defold/prefer-coll-join-to-string {:level :warning}
           :defold/prefer-defonce {:level :warning}
           :defold/prefer-util-coll {:level :warning}
           :refer-all {:exclude [clojure.test]}}
 :config-in-ns {editor.gl.translate-test {:linters {:inline-def {:level :off}}}}}
