#assets-split {
    -fx-padding: 10 0 0 0;

    .tree-cell {
        &:filled {
            -fx-border-width: 0 2 0 0;
            /*&:selected {
                -fx-border-width: 0 2 0 0;
                -fx-background-color: $dark-grey-selected;
            }*/
        }
    }

    .split-pane-divider {
        //-fx-background-color: red;
    }

    .progress-bar {
        .track {
            -fx-border-width: 0;
            -fx-background-color: transparent;
        }
    }
}