#breakpoints-table-view .table-cell {
    -fx-padding: 3px;
    -fx-alignment: center-left;
}

#breakpoints-tool-bar {
  -fx-background-color: -df-background-light;
  -fx-padding: 16px;
  -fx-spacing: 8px;
}

#breakpoints-enable-all,
#breakpoints-disable-all,
#breakpoints-toggle-all {
  @extend .console-button-base;
}
