/* Curve View */
#curve-editor-view {
    -fx-border-width: 0;
    -fx-padding: 0.0em;
}

#curve-editor-list-anchor {
    -fx-border-width: 0;
    -fx-padding: 0.0em;
}

#curve-editor-list {
    -fx-background-color: $dark-grey-light;
}
