#debugger-data-split {

  #debugger-call-stack {
    -fx-background-color: -df-dark-grey-light;
    -fx-padding: 0;

    .list-cell {
      -fx-background-insets: 0 0 0 0;
      -fx-padding: 5 5 5 12;

      .label {
        -fx-text-fill: -df-bright-grey-light;
      }
      .call-stack-path {
        -fx-text-fill: -df-grey;
      }
      .call-stack-line-container {
        -fx-min-width: 30px;
        -fx-alignment: center-right;
      }
      .call-stack-line {
        -fx-padding: 0 3px;
        -fx-background-color: -df-grey;
        -fx-background-radius: 3px;
      }
      &:hover {
        .label {
          -fx-text-fill: -df-defold-white
        }
        .call-stack-path {
          -fx-text-fill: -df-grey;
        }
      }
      &:selected {
        .label {
          -fx-text-fill: -df-defold-white;
        }
        .call-stack-path {
          -fx-text-fill: -df-grey;
        }
      }
    }
  }

  #debugger-variables {
    .tree-cell {
      .label {
        -fx-text-fill: -df-bright-grey-light;
      }
      .equals {
        -fx-text-fill: #666e79;
      }
      &:hover {
        .label {
          -fx-text-fill: -df-defold-white;
        }
        .equals {
          -fx-text-fill: #666e79;
        }
      }
      &:selected {
        .label {
          -fx-text-fill: -df-defold-white;
        }
        .equals {
          -fx-text-fill: #666e79;
        }
      }
    }
  }
}
