#debugger-container {
    //    -fx-background-color: pink;
}

#debugger {
    -fx-background-color: $dark-grey-light;
    -fx-padding: 0px;
}

#debugger-container {
}

#debugger-data-container {
    //visibility: hidden;
}

#debugger-console-container {
    -fx-font-family: "Dejavu Sans Mono";
    -fx-font-size: 9pt;
    -fx-border-width: 0px;
    -fx-border-width: 2px;
    -fx-border-color: $dark-grey-light;
}

#debugger-console {
    -fx-background-color: $root-background;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 5px;
    -fx-text-fill: $bright-grey-light;

    .list-cell {
        -fx-padding: 0;
        -fx-background-color: $root-background;
        -fx-border-width: 0;
        -fx-text-fill: $bright-grey-light;
        
        &:selected {
            -fx-padding: 0;
            -fx-border-width: 0;
            -fx-text-fill: $bright-grey-light;            
        }
    }
}

#debugger-input-container {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: $input-border;
    
    .text-field {
        -fx-background-color: $root-background;
        -fx-border-width: 0;
        -fx-font-family: "Dejavu Sans Mono";
        -fx-font-size: 9pt;
        
        &:focused {
            -fx-background-color: $root-background;
            -fx-border-width: 0;
        }
    }
}

#debugger-prompt {
    -fx-padding: 0 0 0 8px;
}


#debugger-data-container {

    .split-pane {
        .split-pane-divider {
            -fx-padding: 1 !important;
        }
    }
    
    #debugger-call-stack-container {
        -fx-background-color: $dark-grey-light;
        -fx-padding: 0;

        .list-view {
            -fx-padding: 0;
            -fx-background-color: $dark-grey-light;
        }
        
        .list-cell {
            -fx-background-insets: 0 0 0 0;
            -fx-padding: 5 5 5 12;

            .label {
                -fx-text-fill: $bright-grey-light;
            }
            .call-stack-path {
                -fx-text-fill: $grey;
            }
            .call-stack-line-container {
                -fx-min-width: 30px;
                -fx-alignment: center-right;
            }
            .call-stack-line {
                -fx-padding: 0 3px;
                -fx-background-color: $grey;
                -fx-background-radius: 3px;
            }
            &:hover {
                .label {
                    -fx-text-fill: $defold-white
                }
                .call-stack-path {
                    -fx-text-fill: $grey;
                }
            }
            &:selected {
                .label {
                    -fx-text-fill: $defold-white;
                }
                .call-stack-path {
                    -fx-text-fill: $grey;
                }
            }
        }
    }

    #debugger-variables-container {
        .tree-cell {
            .label {
                -fx-text-fill: $bright-grey-light;
            }
            .equals {
                -fx-text-fill: #666e79;
            }
            &:hover {
                .label {
                    -fx-text-fill: $defold-white;
                }
                .equals {
                    -fx-text-fill: #666e79;
                }
            }
            &:selected {
                .label {
                    -fx-text-fill: $defold-white;
                }
                .equals {
                    -fx-text-fill: #666e79;
                }
            }
        }
    }
}
