/* Outline panel */

@mixin colorize-tree-item($color, $active-color) {
  &:filled {
    -fx-text-fill: $color;
    .image-view {
      -fx-effect: innershadow(gaussian, $color, 20, 1.0, 0, 0);
    }

    &:hover {
      -fx-text-fill: $active-color;
      .image-view {
        -fx-effect: innershadow(gaussian, $active-color, 20, 1.0, 0, 0);
      }
    }

    &:selected {
      -fx-text-fill: $active-color;
      .image-view {
        -fx-effect: innershadow(gaussian, $active-color, 20, 1.0, 0, 0);;
      }
    }
  }
}

#outline {
  .tree-cell {
    &.overridden {
      @include colorize-tree-item($defold-light-blue, lighten($defold-light-blue, 15%));
    }

    &.error {
      @include colorize-tree-item($defold-red, lighten($defold-red, 15%));
    }
  }
}
