/* Outline panel */

@mixin colorize-icon($color, $active-color) {
  &:filled {
    .image-view {
      -fx-effect: innershadow(gaussian, $color, 20, 1.0, 0, 0);
    }

    &:hover {
      .image-view {
        -fx-effect: innershadow(gaussian, $active-color, 20, 1.0, 0, 0);
      }
    }

    &:selected {
      .image-view {
        -fx-effect: innershadow(gaussian, $active-color, 20, 1.0, 0, 0);;
      }
    }
  }
}

@mixin colorize-label($color, $active-color) {
  &:filled {
    -fx-text-fill: $color;

    &:hover {
      -fx-text-fill: $active-color;
    }

    &:selected {
      -fx-text-fill: $active-color;
    }
  }
}

@mixin colorize-disclosure-arrow($color) {
  &:filled {
    .tree-disclosure-node {
      .arrow {
        -fx-effect: innershadow(gaussian, $color, 20, 1.0, 0, 0);
      }
    }
  }
}

#outline {
  .tree-cell {
    &.linked {
      .text {
        -fx-font-family: $default-font-italic;
      }
    }

    &.parent-linked {
      .text {
        -fx-font-family: $default-font-italic;
      }
    }

    &.overridden {
      @include colorize-icon(#52a5d9, $defold-light-blue);
      @include colorize-label(#52a5d9, $defold-light-blue);
    }

    &.child-overridden {
      @include colorize-disclosure-arrow(#52a5d9);
    }

    &.error {
      // NOTE: Icon image also changes to the error icon.
      @include colorize-icon($error-severity-fatal-dim, $error-severity-fatal);
    }

    &.child-error {
      @include colorize-disclosure-arrow($error-severity-fatal-dim);
    }
  }
}
