/* Preferences dialog window */
#prefs {
    .tab-header-area {
        .tab-header-background {
        }
        .tab {
            -fx-padding: 2 14 2 18;
            .tab-label {
                -fx-padding: 0 2 0 0;
            }
            &:selected {
                -fx-padding: 2 14 2 18;
            }
        }
    }
    .tab-content-area {
        -fx-background-color: $dark-grey-light;
        -fx-padding: 25px 15px 15px 20px;
    }
}