#right-split {
  -fx-padding: 2 0 0 0;
  AnchorPane {
    -fx-background-color: $dark-black;
  }
  .tree-view, .tree-cell {
    -fx-background-color: $dark-black;
  }
  .titled-pane {
    >.title {
      -fx-background-color: $dark-black;
    }
  }
}