/* Code view */
.styled-text-area {
    -fx-font-family: "Inconsolata";
    -fx-font-size: 14;
    -fx-background-color: $bright-black;

    .comment {
        -styled-text-color: $script-comment; 
    }
    .list-view {
        -fx-background-color: $bright-black;
    }
    .source-segment, .plain-source-segment {
        -fx-font-family: "Inconsolata";
        -fx-font-size: 14;
    }
    .selection-marker {
	    -fx-background-color: rgba(172,148,120,0.3)
    }
    .text-caret {
        -fx-fill: white;
        -fx-stroke: white;
    }
}

/* Script view colors */
.lua, .glsl {
    &.styled-text-area {
        -styled-text-color: $script-comment;

        /* Hack for current line */
        .list-cell:selected {
            -fx-background-color: $dark-grey;
        }

        .comment, .comment-multi {
            -styled-text-color: $bright-grey;
        }

        .keyword {
            -styled-text-color: $script-keyword;   
        }

        .operator {
            -styled-text-color: $script-operator;
        }

        .default {
            -styled-text-color: $defold-white;
        }

        .string {
            -styled-text-color: $script-string;
        }

        .number {
            -styled-text-color: $script-number;
        }
    }
}

.lua {
    &.styled-text-area {
        .helper-keyword {
            -styled-text-color: $script-helper;
        }

        .self-keyword {
            -styled-text-color: $script-self;
        }

        .logic-keywords {
            -styled-text-color: $script-logic;
        }

        .control-flow-keyword {
            -styled-text-color: $script-keyword;
        }

        .constant {
            -styled-text-color: $script-constant;
        }

        .defold-keyword {
            -styled-text-color: $script-function;
        }
    }
}

.glsl {
    &.styled-text-area {
        .directive, .macro-keyword, .precision-keyword,
        .storage-modifier-keyword, .support-function-keyword {
            -styled-text-color: $script-keyword;
        }

        .storage-type {
            -styled-text-color: $script-function;
        }

        .support-variable-keyword {
            -styled-text-color: $defold-white;
        }
    }
}

/* text editor code completion popup */
#proposals .list-cell:filled:selected {
    -fx-text-fill: $script-intellisense;
}

/*.lua.styled-text-area .comment,
.lua.styled-text-area .comment-multi,
.glsl.styled-text-area .comment,
.glsl.styled-text-area .comment-multi {
    -styled-text-color: $bright-grey;
}*/

/*.lua.styled-text-area .keyword,
.glsl.styled-text-area .keyword {
    -styled-text-color: $script-keyword;
}*/

/*.lua.styled-text-area .helper-keyword {
    -styled-text-color: $script-helper;
}*/

/*.lua.styled-text-area .self-keyword {
    -styled-text-color: $script-self;
}*/

/*.lua.styled-text-area .logic-keywords {
    -styled-text-color: $script-logic;
}*/

/*.lua.styled-text-area .control-flow-keyword,
.glsl.styled-text-area .control-flow-keyword
 {
    -styled-text-color: $script-keyword;
}*/

/*.lua.styled-text-area .constant {
    -styled-text-color: $script-constant;
}*/

/*.lua.styled-text-area .defold-keyword {
    -styled-text-color: $script-function;
}
*/
/*.lua.styled-text-area .operator,
.glsl.styled-text-area .operator {
    -styled-text-color: $script-operator;
}*/

/*.lua.styled-text-area .default,
.glsl.styled-text-area .default {
    -styled-text-color: $defold-white;
}*/

/*.lua.styled-text-area .string,
.glsl.styled-text-area .string {
    -styled-text-color: $script-string;
}
*/
/*.lua.styled-text-area,
.glsl.styled-text-area {
    -styled-text-color: $script-comment;
}*/
/*
.styled-text-area .comment { -styled-text-color: $script-comment; }*/

/*.lua.styled-text-area .number,
.glsl.styled-text-area .number {
    -styled-text-color: $script-number;
}*/

/*.glsl.styled-text-area .directive {
    -styled-text-color: $script-keyword;
}*/

/*.glsl.styled-text-area .macro-keyword {
    -styled-text-color: $script-keyword;
}*/

/*.glsl.styled-text-area .precision-keyword {
    -styled-text-color: $script-keyword;
}*/

/*.glsl.styled-text-area .storage-type {
    -styled-text-color: $script-function;
}*/

/*.glsl.styled-text-area .storage-modifier-keyword {
    -styled-text-color: $script-keyword;
}*/

/*.glsl.styled-text-area .support-variable-keyword {
   -styled-text-color: $defold-white;
}*/
/*
.glsl.styled-text-area .support-function-keyword {
    -styled-text-color: $script-keyword;
}*/

/*
.styled-text-area .text-caret {
	-fx-fill: white;
	-fx-stroke: white;
}*/

/*.styled-text-area .selection-marker {
	-fx-background-color: rgba(172,148,120,0.3)
}*/

/*

Line numbers:

.luaeditor .line-ruler-text {
    -fx-background-color: #ff00ff;
}

*/

/* Hack for current line */
/*.lua.styled-text-area .list-cell:selected,
.glsl.styled-text-area .list-cell:selected {
    -fx-background-color: $dark-grey;
}*/