/* Code view */
.styled-text-area {
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-size: 9pt;
    -fx-background-color: $bright-black;

    .comment {
        -styled-text-color: $script-comment;
        -fx-font-style: italic;
    }
    .list-view {
        -fx-background-color: $bright-black;
        .list-cell {
            -fx-background-color: $bright-black;
            -fx-padding: 0;
            -fx-border-width: 0;
            &:selected {
                -fx-background-color: $mid-grey !important;
                -fx-border-width: 0;
            }
        }
    }
    .source-segment, .plain-source-segment {
        -fx-font-family: "DejaVu Sans Mono";
        -fx-font-size: 9pt;
        -styled-text-color: $defold-white;
    }
    .selection-marker {
            -fx-background-color: rgba(172,148,120,0.3)
    }
    .text-caret {
        -fx-fill: white;
        -fx-stroke: white;
    }
}

/* Script view colors */
.lua, .glsl, .c {
    &.styled-text-area {
        -styled-text-color: $script-comment;

        /* Hack for current line */
        .list-cell:selected {
            -fx-background-color: $dark-grey;
        }

        .comment, .comment-multi {
            -styled-text-color: $bright-grey;
            -fx-font-style: italic;
        }

        .keyword {
            -styled-text-color: $script-keyword;
        }

        .operator {
            -styled-text-color: $script-operator;
        }

        .default {
            -styled-text-color: $defold-white;
        }

        .string {
            -styled-text-color: $script-string;
            -fx-font-style: italic;
        }

        .number {
            -styled-text-color: $script-number;
        }

	.control-flow-keyword {
            -styled-text-color: $script-keyword;
            -fx-font-weight: bold;
	}
    }
}

.lua {
    &.styled-text-area {
        .helper-keyword {
            -styled-text-color: $script-helper;
        }

        .self-keyword {
            -styled-text-color: $script-self;
        }

        .logic-keywords {
            -styled-text-color: $script-logic;
        }

        .constant {
            -styled-text-color: $script-constant;
        }

        .defold-keyword {
            -styled-text-color: $script-function;
        }
    }
}

.glsl {
    &.styled-text-area {
	.directive, .macro-keyword, .precision-keyword,
	.storage-modifier-keyword, .storage-type {
            -styled-text-color: $script-keyword;
        }

	.support-function-keyword {
	    -styled-text-color: $script-function;
	}

	.support-constant-keyword {
	    -styled-text-color: $script-constant;
	}

	.support-variable-keyword {
	    -styled-text-color: $script-constant;
	}
    }
}

.c {
    &.styled-text-area {
        .directive {
            -styled-text-color: $script-keyword;
        }
    }
}


/* text editor code completion popup */
#proposals .list-cell:filled:selected {
    -fx-text-fill: $script-intellisense;
}
