#toolbar-status {
    -fx-background-color: $dark-black, $bright-black;
    -fx-background-insets: 0, 0 0 3 0;
    -fx-border-color: $mid-grey;
    -fx-background-radius: 0;
    -fx-padding: 0 0 2 0;
    -fx-text-fill: white;
    -fx-spacing: 0;

    .separator {
        -fx-background-color: $dark-black;
        -fx-padding: 0 0 0 1;

        .line {
            -fx-background-color: $bright-black;
            -fx-border-color: $dark-black;
            -fx-border-width: 0;
            -fx-padding: 0 5 0 0;
        }
    }
}

.status-green {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, $defold-green, $defold-green, $defold-green, $dark-grey); }

.status-blue {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, $defold-blue, $defold-blue, $defold-blue, $dark-grey); }

#toolbar-status { 
    >.progress-bar {
        -fx-border-width: 2 0 0 0;
        -fx-border-color: $dark-black;
        -fx-padding: 0 1;

        >.bar {
            -fx-background-color: $defold-green;
            -fx-background-insets: 0;
            -fx-background-radius: 0;
            -fx-padding: 1em;
        }

        >.track {
            -fx-background-color: $mid-black-light;
            -fx-background-insets: 0;
            -fx-background-radius: 0;
            -fx-border-width: 0;
        }
    }
}