#tool-tabs {
    -fx-tab-min-width: 40px;
    -fx-padding: 0 0 17px 0;

    .tab {
        -fx-padding: 0 10 0 10;
        &:selected {
            .tab-label {
                -fx-padding: 0;
            }
        }
    }

    .console-buttons-base {
        -fx-background-color: $mid-grey-light;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: 9 14;
        -fx-border-width: 0;
        -fx-border-color: transparent;
        -fx-width: 50px;
        &:armed {
            -fx-background-color: $bright-grey;
        }
    }
    #prev-console {
        @extend .console-buttons-base;
        -fx-background-image: url('icons/left-arrow.png');
        -fx-border-width: 0 1 0 0;
        -fx-border-color: $dark-grey-light;
        &:hover {
            -fx-background-image: url('icons/left-arrow-on.png');
        }
        
    }
    #next-console {
        @extend .console-buttons-base;
        -fx-background-image: url('icons/right-arrow.png');
        &:hover {
            -fx-background-image: url('icons/right-arrow-on.png');
        }
    }
    .list-view {
        -fx-background-insets: 0;
        -fx-border-width: 0;
    }

    .tab-content-area {
        -fx-background-color: $dark-grey-light;
        -fx-padding: 5px;

        .label {
            -fx-font-size: 14px;
            -fx-text-fill: $defold-white;
        }


        .content {
            -fx-background-color: $dark-grey-light;
            -fx-background-insets: 0;
            -fx-padding: 0;
            -fx-border-radius: 0;
            -fx-border-width: 0;
            -fx-border-insets: 0;
        }

        .text-area, .scroll-pane, .viewport {
            -fx-background-insets: 0;
            -fx-padding: 0;
        }
    }

    GridPane {
        -fx-padding: 10;
    }

    .console-tab-base {
        -fx-background-position: 10 center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: 21 16;
        -fx-padding: 0 10 0 37;
        -fx-spacing: 0;//10;
        &:selected {
            .tab-label {
                -fx-padding: 0;
            }
        }
    }
}

#console-tab {
    @extend .console-tab-base;
    -fx-background-image: url("icons/tabs/console-icon-off.png");
    &:selected {
        -fx-background-image: url("icons/tabs/console-icon-on.png");
    }
    &:hover {
        -fx-background-image: url("icons/tabs/console-icon-on.png");
    }
}

#curve-editor-tab {
    @extend .console-tab-base;
    -fx-background-image: url("icons/tabs/curve-editor-icon-off.png");
    -fx-background-position: 10 8px;
    &:selected {
        -fx-background-image: url("icons/tabs/curve-editor-icon-on.png");
    }
    &:hover {
        -fx-background-image: url("icons/tabs/curve-editor-icon-on.png");
    }
}

#build-errors-tab {
    @extend .console-tab-base;
    -fx-background-image: url("icons/tabs/build-problems-off.png");
    &:selected {
        -fx-background-image: url("icons/tabs/build-problems-on.png");
    }
    &:hover {
        -fx-background-image: url("icons/tabs/build-problems-on.png");
    }
    
    .label {
        -fx-padding: 5;
    }
}

#build-errors-container {
    .tree-view {
        -fx-background-color: $dark-grey-light;
        .tree-cell {
            -fx-background-color: $dark-grey-light;
        }
    }
}