/*
 * Styling of toolbar that changes mouse action in scene editor.
 */
#toolbar * {
    -fx-focus-traversable: false; }

#toolbar {
    -fx-background-color: $scene-toolbar-background;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-spacing: 10px;

    >.toggle-button {
        -fx-background-color: transparent;
        -fx-background-insets: 0;
        -fx-background-radius: 15px;
        -fx-pref-width: 30px;
        -fx-pref-height: 30px;
        -fx-border-width: 0;
        -fx-alignment: center;

        &:hover {
            .image-view {
                -fx-effect: innershadow(gaussian, $scene-toolbar-button-hovered-foreground, 20, 0.3, 0, 0) !important;
            } 
        }
        &:selected {
            -fx-background-color: $scene-toolbar-button-selected-background;
            .image-view {
                -fx-effect: innershadow(gaussian, $scene-toolbar-button-selected-foreground, 20, 0.3, 0, 0) !important;
            } 
        }
    }

    /* This is for the gui device picker that pops up when an .gui file is active */
    .cell {
        -fx-alignment: center;
        -fx-padding: 0;
        -fx-spacing: 8px;
        -fx-border-width: 0;
        -fx-border-insets: 0;
        -fx-background-color: transparent;
        >.choice-box {
            -fx-pref-width: 84px;
            .label {
                -fx-border-width: 0;
                -fx-background-color: $scene-toolbar-background;
                -fx-text-fill: $bright-grey;
            }
            .open-button {
                -fx-background-color: $scene-toolbar-background;
            }
            &:hover, &:pressed, &:focused {
                .label {
                    -fx-text-fill: $defold-white;
                }
                .open-button {
                    -fx-background-color: $scene-toolbar-background;
                    .arrow {
                        -fx-background-color: $defold-white;
                    }
                }
            }
        }
    }
}