/*
 * Styling of toolbar that changes mouse action in scene editor.
 */
#toolbar * {
  -fx-focus-traversable: false; }

#toolbar {
    -fx-background-color: $dark-black;
    -fx-border-color: $mid-grey;
    -fx-border-width: 0;//1 1;
    -fx-padding: 0;
    -fx-spacing: 0; 

    >.toggle-button {
        -fx-background-color: $dark-black;
        -fx-background-insets: 0, 0 0 0 0;
        -fx-background-radius: 0;
        -fx-border-radius: 0;
        -fx-border-width: 0 0 2 0;
        -fx-border-color: $dark-black;
        -fx-alignment: center;
        -fx-padding: 4px 5px 4px 5px;
    }

    >.toggle-button {
        &:hover {
            .image-view {
                @include effect-lighten();
            }
        }
        &:selected {     
            -fx-border-color: $defold-orange;
            -fx-border-width: 0 0 2 0;
            .image-view {
                @include effect-lighten();
            } 
        }
    }

    /* This is for the gui device picker that pops up when an .gui file is active */
    .cell {
        -fx-padding: 4px 5px;
        -fx-spacing: 4px;
    }
}