#topbar {
    /*-fx-background-color: linear-gradient(to bottom, $dark-grey, $bright-black);*/
    /*-fx-padding: 1em;*//*
    -fx-background-color: red;*/
    -fx-insets: 0;
    -fx-padding: 4 0 0 0;
}