#welcome {
    
}

#welcome-left-pane {
    -fx-padding: 0;
    -fx-background-color: $dark-grey-light;

    .flat-list-view {
        -fx-padding: 10px 0 0 0;
        -fx-border-width: 0;
        -fx-border-inset: 0;
        -fx-background-color: $dark-grey-light;
        .list-cell {
            -fx-padding: 5 5 5 15px;
        }
    }
}

#welcome-logo-container {
    -fx-padding: 20px 0 30px 15px;
}

#recent-projects-title {
    -fx-padding: 0 0 5px 15px;
}

#welcome-right-pane {
    -fx-padding: 75px 0 0 0;
}

#open-project-label {
    -fx-padding: 10px 0 12px 0;
}