#welcome-dialog {
  $df-bright-blue: #5BC0FF;

  -fx-background-color: #292A2F;

  .list-view {
    -fx-background-color: transparent;
    -fx-padding: 0;

    .list-cell {
      -fx-pref-width: 0; // Stretched by ListView. Without this, we get horizontal scrolling.
      -fx-background-color: transparent;
      -fx-border-width: 0;
      -fx-padding: 0;

      &:selected {
        -fx-border-width: 0;
      }

      // Counteract too-broad application of styling from _file-extensions.scss.
      .image-view {
        -fx-effect: none;
      }
    }
  }

  .scroll-bar {
    -fx-background-color: transparent;

    .track {
      -fx-background-color: rgba(0, 0, 0, 0.2);
      -fx-background-radius: 4px;
      -fx-background-insets: 0;
    }

    .thumb {
      -fx-background-radius: 4px;
      -fx-background-color: white;
      -fx-opacity: 0.15;

      &:hover, &:pressed {
        -fx-opacity: 0.25;
      }
    }

    &:horizontal {
      -fx-pref-height: 8px;
      -fx-background-insets: 0;
      -fx-padding: 0px 24px;

      >.thumb {
        -fx-background-insets: 0;
        -fx-padding: 0 !important;
      }
    }

    &:vertical {
      -fx-pref-width: 8px;
      -fx-background-insets: 0;
      -fx-padding: 24px 0px;

      >.thumb {
        -fx-background-insets: 0;
        -fx-padding: 0 !important;
      }
    }
  }

  #left-pane {
    -fx-background-color: #1C1E21;

    .defold-logo {
      -fx-padding: 16px;
    }
  }

  .pane-button {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-size: 14px;
    -fx-alignment: center-right;
    -fx-graphic-text-gap: 0;
    -fx-label-padding: 0;
    -fx-max-width: Infinity;
    -fx-padding: 9px 16px;
    -fx-border-color: transparent;
    -fx-border-width: 0px 3px 0px 0px;
    -fx-text-fill: #CFDAE6;
    -fx-opacity: 50%;

    &:hover {
      -fx-opacity: 75%;
    }

    &:selected {
      -fx-border-color: $defold-orange;
      -fx-opacity: 100%;
    }

    .radio {
      -fx-padding: 0;
      visibility: collapse;

      .dot {
        -fx-padding: 0;
        visibility: collapse;
      }
    }

    .label {
      -fx-text-alignment: right;
    }
  }

  .header-pane {
    -fx-background-color: #25292E;
    -fx-padding: 24px 24px 8px 16px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgba(255, 255, 255, 0.07);
  }

  .form-pane {
    -fx-background-color: #313238;
    -fx-padding: 24px;
    -fx-spacing: 24px;

    .label {
      -fx-min-height: 30px;
      -fx-padding: 0px 8px 0px 0px;
    }

    .text-field {
      -fx-min-height: 30px;
    }

    .button {
      -fx-min-height: 30px;
    }
  }

  #home-pane {
    #recent-projects-list {
      -fx-background-color: transparent;
      -fx-padding: 0;

      .list-cell:selected {
        -fx-background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  #new-project-pane {
    #template-list {
      -fx-padding: 0px 16px 0px 0px;

      .list-cell {
        -fx-padding: 24px 24px 0px 24px;

        &.last-list-item {
          -fx-padding: 24px;
        }
      }
    }
  }

  // Specific styling
  .recent-project-entry {
    -fx-padding: 16px 24px 16px 24px;

    .title {
      -fx-fill: #A6B2BF;
      -fx-font-family: "Source Sans Pro Light";
      -fx-font-size: 16px;
      -fx-font-smoothing-type: lcd;
    }

    Label {
      -fx-text-fill: #CFDAE6;
      -fx-max-width: Infinity;
      -fx-opacity: 0.4;
    }
  }

  .template-entry {
    -fx-background-color: #35373B;
    -fx-background-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-padding: 8px;

    .svg-icon {
      -fx-background-color: #404146;
      -fx-background-radius: 2px;
      -fx-max-width: 171px;
      -fx-max-height: 114px;
      -fx-min-width: 171px;
      -fx-min-height: 114px;

      SVGPath {
        -fx-fill: #6D6F73;
      }
    }

    .description {
      -fx-padding: 6px 16px;

      Text {
        -fx-fill: #A6B2BF;
        -fx-font-smoothing-type: lcd;
      }

      TextFlow {
        -fx-padding: 5px 0px 0px 0px;
        -fx-line-spacing: 2px;
      }
    }
  }

  .list-cell:selected .template-entry {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: $df-bright-blue;
    -fx-effect: dropshadow(gaussian, $df-bright-blue, 10, 0, 0, 0);

    .svg-icon {
      SVGPath {
        -fx-fill: $df-bright-blue;
      }
    }
  }

  // General styling
  Text.header {
    -fx-fill: #A6B2BF;
    -fx-font-family: "Source Sans Pro Light";
    -fx-font-size: 20px;
    -fx-font-smoothing-type: lcd;
  }

  Label.header {
    -fx-text-fill: #A6B2BF;
    -fx-font-family: "Source Sans Pro Light";
    -fx-font-size: 20px;
    -fx-font-smoothing-type: lcd;
    -fx-max-width: Infinity;
  }

  // New-look components
  .df-browse-field {
    Button {
      -fx-border-width: 0px;
      -fx-background-radius: 0px 2px 2px 0px;
      -fx-background-color: $input-border;
      -fx-min-width: 30px;
      -fx-padding: 0px;
      -fx-font-size: 11.5px;
    }
  }

  .df-button {
    -fx-background-color: transparent;
    -fx-border-color: $df-bright-blue;
    -fx-border-radius: 2px;
    -fx-text-fill: $df-bright-blue;
    -fx-padding: 4px 12px;
  }
}
