/.gwt/.gwt-log
/war/WEB-INF/deploy
/war/WEB-INF/classes
/war/WEB-INF/lib/*.jar
/war/WEB-INF/appengine-generated
/war/defold/
/war/doc/*.json
/war/site/
/war/images/
/war/doc
/war/about/*.html
/war/error/*.html
/war/blog
/war/ref
/test-classes/*
/gwt-unitCache/*
