<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>BuildMachineOSBuild</key>
        <string>13A603</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>Defold</string>
        <key>CFBundleExecutable</key>
        <string>dmengine</string>
        <key>CFBundleIcons</key>
        <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>ios_icon_114.png</string>
                                <string>ios_icon_72.png</string>
                                <string>ios_icon_144.png</string>
                                <string>ios_icon_57.png</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <true/>
                </dict>
        </dict>
        <key>CFBundleIdentifier</key>
        <string>dmengine</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>dmengine</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
                <string>iPhoneOS</string>
        </array>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>11B508</string>
        <key>DTPlatformName</key>
        <string>iphoneos</string>
        <key>DTPlatformVersion</key>
        <string>7.0</string>
        <key>DTSDKBuild</key>
        <string>11B508</string>
        <key>DTSDKName</key>
        <string>iphoneos7.0</string>
        <key>DTXcode</key>
        <string>0501</string>
        <key>DTXcodeBuild</key>
        <string>5A2053</string>
        <key>UIFileSharingEnabled</key>
        <true/>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>MinimumOSVersion</key>
        <string>5.1.1</string>
        <key>UIDeviceFamily</key>
        <array>
                <integer>1</integer>
                <integer>2</integer>
        </array>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>UISupportedInterfaceOrientations</key>
        <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
        </array>

        <key>CFBundleURLTypes</key>
        <array>
                <dict>
                        <key>CFBundleURLSchemes</key>
                        <array>
                            <string>dmengine</string>
                            <string>fbdmengine</string>
                        </array>
                </dict>
        </array>

        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fbapi20130214</string>
            <string>fbapi20130410</string>
            <string>fbapi20130702</string>
            <string>fbapi20131010</string>
            <string>fbapi20131219</string>
            <string>fbapi20140410</string>
            <string>fbapi20140116</string>
            <string>fbapi20150313</string>
            <string>fbapi20150629</string>
            <string>fbauth</string>
            <string>fbauth2</string>
            <string>fb-messenger-api20140430</string>
            <string>fb-messenger-platform-20150128</string>
            <string>fb-messenger-platform-20150218</string>
            <string>fb-messenger-platform-20150305</string>
        </array>

        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>facebook.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>fbcdn.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>akamaihd.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
            </dict>
        </dict>

        <key>UILaunchImages</key>
        <array>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-1024h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-1024h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-1366h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{1024,1366}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-1366h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{1024,1366}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-812h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 812}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-812h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 812}</string>
                </dict>
        </array>

</dict>
</plist>
