<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            name="Scene Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.sceneed.ui.commands.add"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addLink"
            name="Add Link">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.enter"
            name="Enter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.add"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.enter"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.dynamo.rclient.preferences.PreferencePage"
            class="com.dynamo.cr.sceneed.ui.preferences.PreferencePage"
            id="com.dynamo.cr.sceneed.ui.preferences.preferencePage"
            name="Scene Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dynamo.cr.sceneed.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.dynamo.cr.sceneed.ui.decorators.SceneDecorator"
            id="com.dynamo.cr.sceneed.ui.sceneDecorator"
            label="Scene Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.dynamo.cr.sceneed.core.Node">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.sceneed.ui.backgroundNode"
            node="com.dynamo.cr.sceneed.ui.BackgroundNode"
            renderer="com.dynamo.cr.sceneed.ui.BackgroundRenderer">
      </node-type>
   </extension>

</plugin>
