[safe]
	directory = /home/builder
	directory = /home/builder/share/ext/tremolo/tmp
	directory = /home/builder/share/ext/glslang/source
	directory = /home/builder/share/ext/glslang/source/External/googletest
	directory = /home/builder/share/ext/glslang/source/External/spirv-tools
	directory = /home/builder/share/ext/glslang/source/External/spirv-tools/external/spirv-headers
	directory = /home/builder/share/ext/lipo/source
	directory = /home/builder/share/ext/vulkan/loader/external/Debug/64/Vulkan-Headers
	directory = /home/builder/share/ext/vulkan/loader/external/Release/64/Vulkan-Headers
	directory = /home/builder/share/ext/vulkan/validation/external/Release/64/Vulkan-Utility-Libraries
	directory = /home/builder/share/ext/vulkan/validation/external/Release/64/Vulkan-Headers
	directory = /home/builder/share/ext/vulkan/validation/external/Release/64/SPIRV-Headers
	directory = /home/builder/share/ext/vulkan/validation/external/Release/64/SPIRV-Tools
	directory = /home/builder/share/ext/vulkan/validation/external/Release/64/robin-hood-hashing
	directory = /home/builder/share/ext/vulkan/validation/scripts/Vulkan-Headers
	directory = /home/builder/share/ext/vulkan/validation/scripts/Vulkan-Utility-Libraries
	directory = /home/builder/share/ext/vulkan/validation/scripts/SPIRV-Headers
	directory = /home/builder/share/ext/vulkan/validation/scripts/SPIRV-Tools
	directory = /home/builder/share/ext/vulkan/validation/scripts/robin-hood-hashing
	directory = /home/builder/share/ext/vulkan/validation/scripts/googletest
	directory = /home/builder/share/ext/vulkan/validation/scripts/glslang
	directory = /home/builder/share/ext/vulkan/
	directory = /home/builder/share/ext/vulkan/validation/scripts/Vulkan-Loader
	directory = /home/builder/share/ext/vulkan/validation/scripts/Vulkan-Profiles
	directory = /home/builder/share/ext/vulkan/validation/scripts/Vulkan-Tools
