/.metadata
/tmp
.DS_Store
.lock-wscript
/share/ext/build
/share/ext/download
/go/pkg
/go/bin

/.ccache
.idea
/editor/defold-editor.iml
share/ext/gtest/build
share/ext/gtest/tmp
share/ext/luajit/tmp
share/ext/protobuf/build
share/ext/protobuf/cross_tmp
share/ext/protobuf/tmp
share/ext/tremolo/build
share/ext/tremolo/tmp
