*.dae binary

# Defold Protocol Buffer Text Files
*.animationset linguist-language=Protocol-Buffer-Text-Format
*.atlas linguist-language=Protocol-Buffer-Text-Format
*.camera linguist-language=Protocol-Buffer-Text-Format
*.collection linguist-language=Protocol-Buffer-Text-Format
*.collectionfactory linguist-language=Protocol-Buffer-Text-Format
*.collectionproxy linguist-language=Protocol-Buffer-Text-Format
*.collisionobject linguist-language=Protocol-Buffer-Text-Format
*.cubemap linguist-language=Protocol-Buffer-Text-Format
*.display_profiles linguist-language=Protocol-Buffer-Text-Format
*.factory linguist-language=Protocol-Buffer-Text-Format
*.font linguist-language=Protocol-Buffer-Text-Format
*.gamepads linguist-language=Protocol-Buffer-Text-Format
*.go linguist-language=Protocol-Buffer-Text-Format
*.gui linguist-language=Protocol-Buffer-Text-Format
*.input_binding linguist-language=Protocol-Buffer-Text-Format
*.label linguist-language=Protocol-Buffer-Text-Format
*.material linguist-language=Protocol-Buffer-Text-Format
*.mesh linguist-language=Protocol-Buffer-Text-Format
*.model linguist-language=Protocol-Buffer-Text-Format
*.particlefx linguist-language=Protocol-Buffer-Text-Format
*.render linguist-language=Protocol-Buffer-Text-Format
*.sound linguist-language=Protocol-Buffer-Text-Format
*.sprite linguist-language=Protocol-Buffer-Text-Format
*.spinemodel linguist-language=Protocol-Buffer-Text-Format
*.spinescene linguist-language=Protocol-Buffer-Text-Format
*.texture_profiles linguist-language=Protocol-Buffer-Text-Format
*.tilemap linguist-language=Protocol-Buffer-Text-Format
*.tilesource linguist-language=Protocol-Buffer-Text-Format

# Defold YAML Files
*.appmanifest linguist-language=YAML
*.manifest linguist-language=YAML
*.script_api linguist-language=YAML

# Defold JSON Files
*.buffer linguist-language=JSON

# Defold GLSL Shaders
*.fp linguist-language=GLSL
*.vp linguist-language=GLSL

# Defold Lua Files
*.editor_script linguist-language=Lua
*.render_script linguist-language=Lua
*.script linguist-language=Lua
*.gui_script linguist-language=Lua
