*.dae binary

# Defold Protocol Buffer Text Files
*.animationset linguist-language=text-proto
*.atlas linguist-language=text-proto
*.camera linguist-language=text-proto
*.collection linguist-language=text-proto
*.collectionfactory linguist-language=text-proto
*.collectionproxy linguist-language=text-proto
*.collisionobject linguist-language=text-proto
*.cubemap linguist-language=text-proto
*.display_profiles linguist-language=text-proto
*.factory linguist-language=text-proto
*.font linguist-language=text-proto
*.gamepads linguist-language=text-proto
*.go linguist-language=text-proto
*.gui linguist-language=text-proto
*.input_binding linguist-language=text-proto
*.label linguist-language=text-proto
*.material linguist-language=text-proto
*.mesh linguist-language=text-proto
*.model linguist-language=text-proto
*.particlefx linguist-language=text-proto
*.render linguist-language=text-proto
*.sound linguist-language=text-proto
*.sprite linguist-language=text-proto
*.spinemodel linguist-language=text-proto
*.spinescene linguist-language=text-proto
*.texture_profiles linguist-language=text-proto
*.tilemap linguist-language=text-proto
*.tilesource linguist-language=text-proto

# Defold JSON Files
*.buffer linguist-language=JSON

# Defold GLSL Shaders
*.fp linguist-language=GLSL
*.vp linguist-language=GLSL

# Defold Lua Files
*.editor_script linguist-language=Lua
*.render_script linguist-language=Lua
*.script linguist-language=Lua
*.gui_script linguist-language=Lua
