<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.ddfeditor.ModelEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="model"
            icon="icons/16-cube-green_16x16.png"
            id="com.dynamo.cr.ddfeditor.modeleditor"
            name="Model Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CameraEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="camera"
            icon="icons/camera.png"
            id="com.dynamo.cr.ddfeditor.cameraeditor"
            name="Camera Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.LightEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="light"
            icon="icons/lightbulb.png"
            id="com.dynamo.cr.ddfeditor.lighteditor"
            name="Light Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="factory"
            icon="icons/factory.png"
            id="com.dynamo.cr.ddfeditor.factoryEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="collectionfactory"
            icon="icons/factory.png"
            id="com.dynamo.cr.ddfeditor.collectionfactoryEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="collisionobject"
            icon="icons/weight.png"
            id="com.dynamo.cr.ddfeditor.collisionObjectEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.FontEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="font"
            icon="icons/font.png"
            id="com.dynamo.cr.ddfeditor.fonteditor"
            name="Font Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.MaterialEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="material"
            icon="icons/large_tiles.png"
            id="com.dynamo.cr.ddfeditor.materialeditor"
            name="Material Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.RenderEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="render"
            icon="icons/paintcan.png"
            id="com.dynamo.cr.ddfeditor.rendereditor"
            name="Render Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.InputBindingEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="input_binding"
            icon="icons/keyboard.png"
            id="com.dynamo.cr.ddfeditor.inputeditor"
            name="Input Binding Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GamepadMapEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="gamepads"
            icon="icons/controller.png"
            id="com.dynamo.cr.ddfeditor.gamepadmapeditor"
            name="Gamepad Map Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.ConvexShapeEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="convexshape"
            icon="icons/draw_ellipse.png"
            id="com.dynamo.cr.ddfeditor.convexshapeeditor"
            name="Convex Shape Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="collectionproxy"
            icon="icons/bricks_flash.png"
            id="com.dynamo.cr.ddfeditor.collectionProxyEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CubemapEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="cubemap"
            icon="icons/ice_cube.png"
            id="com.dynamo.cr.ddfeditor.cubemapeditor"
            name="Cubemap Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.TextureProfilesEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="texture_profiles"
            icon="icons/picture_insert.png"
            id="com.dynamo.cr.ddfeditor.textureprofileseditor"
            name="Texture Profiles Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.DisplayProfilesEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="display_profiles"
            icon="icons/picture_insert.png"
            id="com.dynamo.cr.ddfeditor.displayprofileseditor"
            name="Display Profiles Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.AnimationSetEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="animationset"
            icon="icons/linechart.png"
            id="com.dynamo.cr.ddfeditor.animationseteditor"
            name="Animationset Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.LabelEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="label"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.labeleditor"
            name="Label Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard"
            icon="icons/16-cube-green_16x16.png"
            id="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard"
            name="Model File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard"
            icon="icons/camera.png"
            id="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard"
            name="Camera File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.LightNewWizard"
            icon="icons/lightbulb.png"
            id="com.dynamo.cr.ddfeditor.wizards.LightNewWizard"
            name="Light File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.FactoryNewWizard"
            icon="icons/factory.png"
            id="com.dynamo.cr.ddfeditor.wizards.FactoryNewWizard"
            name="Factory File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CollectionFactoryNewWizard"
            icon="icons/factory.png"
            id="com.dynamo.cr.ddfeditor.wizards.CollectionFactoryNewWizard"
            name="Collection Factory File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard"
            icon="icons/weight.png"
            id="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard"
            name="Collision Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard"
            name="Gui File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.FontNewWizard"
            icon="icons/font.png"
            id="com.dynamo.cr.ddfeditor.wizards.FontNewWizard"
            name="Font File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard"
            icon="icons/large_tiles.png"
            id="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard"
            name="Material File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard"
            icon="icons/paintcan.png"
            id="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard"
            name="Render File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.TextureProfilesNewWizard"
            icon="icons/picture_insert.png"
            id="com.dynamo.cr.ddfeditor.wizards.TextureProfilesNewWizard"
            name="Texture Profiles File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard"
            icon="icons/keyboard.png"
            id="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard"
            name="Input Binding File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CubemapNewWizard"
            icon="icons/ice_cube.png"
            id="com.dynamo.cr.ddfeditor.wizards.CubemapNewWizard"
            name="Cubemap File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.DisplayProfilesNewWizard"
            icon="icons/picture_insert.png"
            id="com.dynamo.cr.ddfeditor.wizards.DisplayProfilesNewWizard"
            name="Display Profiles File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.AnimationSetNewWizard"
            icon="icons/linechart.png"
            id="com.dynamo.cr.ddfeditor.wizards.AnimationSetNewWizard"
            name="Animation Set File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.LabelNewWizard"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.wizards.LabelNewWizard"
            name="Label  File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.AnimationSetNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.LightNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.FactoryNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CollectionFactoryNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.FontNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.LabelNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            embeddable="true"
            file-extension="model"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Model"
            name="Model"
            proto-message-class="com.dynamo.model.proto.ModelProto$ModelDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.ModelRefactorParticipant"
            template-data="name: &apos;unnamed&apos; mesh: &apos;&apos; material: &apos;&apos;"
            type-class="component">
         <references>
            <reference-type-class
                  type-class="material">
            </reference-type-class>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
            <reference-type-class
                  type-class="mesh">
            </reference-type-class>
            <reference-type-class
                  type-class="animationsetdesc">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="camera"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Camera"
            name="Camera"
            proto-message-class="com.dynamo.camera.proto.Camera$CameraDesc"
            template-data="aspect_ratio: 1 fov: 45 near_z: 0.1 far_z: 1000 "
            type-class="component">
      </resource-type>
      <resource-type
            file-extension="light"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Light"
            name="Light"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$LightDesc"
            template-data="id: &apos;unnamed&apos; type: POINT intensity: 10 color { x: 1 y: 1 z: 1 } range: 50 decay: 0.9 "
            type-class="component">
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="factory"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Factory"
            name="Factory"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$FactoryDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.FactoryRefactorParticipant"
            template-data="prototype: &apos;&apos;"
            type-class="component">
         <references>
            <reference-type-class
                  type-class="gameobject">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="collectionfactory"
            id="com.dynamo.cr.ddfeditor.resourcetypes.CollectionFactory"
            name="Collection Factory"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$CollectionFactoryDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.CollectionFactoryRefactorParticipant"
            template-data="prototype: &apos;&apos;"
            type-class="component">
         <references>
            <reference-type-class
                  type-class="gameobject">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="collisionobject"
            id="com.dynamo.cr.ddfeditor.resourcetypes.CollisionObject"
            name="Collision Object"
            proto-message-class="com.dynamo.physics.proto.Physics$CollisionObjectDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.CollisionObjectRefactorParticipant"
            template-data="collision_shape: &apos;&apos; type: COLLISION_OBJECT_TYPE_DYNAMIC mass: 1 friction: 0.1 restitution: 0.5 group: &apos;default&apos; mask: &apos;default&apos;"
            type-class="component">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.ConvexShape">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.tileeditor.resourcetypes.TileGrid">
            </reference-resource-type>
         </references>
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.GuiEditSupport"
            file-extension="gui"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Gui"
            name="Gui"
            proto-message-class="com.dynamo.gui.proto.Gui$SceneDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.GuiRefactorParticipant"
            template-data="script: &apos;&apos; adjust_reference: ADJUST_REFERENCE_PARENT"
            type-class="component">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
            <reference-type-class
                  type-class="atlas">
            </reference-type-class>
            <reference-type-class
                  type-class="fontdesc">
            </reference-type-class>
            <reference-type-class
                  type-class="gui_script">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            file-extension="font"
            id="com.dynamo.cr.ddfeditor.resourcetypes.FontDesc"
            name="Font Desc"
            proto-message-class="com.dynamo.render.proto.Font$FontDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.FontRefactorParticipant"
            template-data="font: &apos;&apos; material: &apos;/builtins/fonts/font.material&apos; size: 15"
            type-class="fontdesc">
         <references>
            <reference-type-class
                  type-class="font">
            </reference-type-class>
            <reference-type-class
                  type-class="material">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.MaterialEditSupport"
            file-extension="material"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Material"
            name="Material"
            proto-message-class="com.dynamo.render.proto.Material$MaterialDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.MaterialRefactorParticipant"
            template-data="name: &apos;unnamed&apos; vertex_program: &apos;&apos; fragment_program: &apos;&apos;"
            type-class="material">
         <references>
            <reference-type-class
                  type-class="vp">
            </reference-type-class>
            <reference-type-class
                  type-class="fp">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.RenderEditSupport"
            file-extension="render"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Render"
            name="Render"
            proto-message-class="com.dynamo.render.proto.Render$RenderPrototypeDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.RenderRefactorParticipant"
            template-data="script: &apos;&apos;"
            type-class="render">
         <references>
            <reference-type-class
                  type-class="render_script">
            </reference-type-class>
            <reference-type-class
                  type-class="material">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.InputBindingEditSupport"
            file-extension="input_binding"
            id="com.dynamo.cr.ddfeditor.resourcetypes.InputBinding"
            name="Input Binding"
            proto-message-class="com.dynamo.input.proto.Input$InputBinding"
            template-data=" ">
      </resource-type>
      <resource-type
            file-extension="gamepads"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Gamepads"
            name="Gamepads"
            proto-message-class="com.dynamo.input.proto.Input$GamepadMaps"
            template-data="  ">
      </resource-type>
      <resource-type
            file-extension="convexshape"
            id="com.dynamo.cr.ddfeditor.resourcetypes.ConvexShape"
            name="Convex Shape"
            proto-message-class="com.dynamo.physics.proto.Physics$ConvexShape"
            template-data="shape_type: TYPE_BOX data: 1 data: 1 data: 1">
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="collectionproxy"
            id="com.dynamo.cr.ddfeditor.resourcetypes.CollectionProxy"
            name="Collection Proxy"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$CollectionProxyDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.CollectionProxyRefactorParticipant"
            template-data="collection: &apos;&apos;"
            type-class="component">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.go.resourcetypes.Collection">
            </reference-resource-type>
         </references>
      </resource-type>
      <resource-type
            file-extension="wav"
            id="com.dynamo.cr.ddfeditor.resourcetypes.WavSound"
            name="Wav sound"
            type-class="component">
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="sound"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Sound"
            name="Sound"
            proto-message-class="com.dynamo.sound.proto.Sound$SoundDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.SoundRefactorParticipant"
            template-data="sound: &quot;&quot; "
            type-class="component">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.WavSound">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.OggSound">
            </reference-resource-type>
         </references>
      </resource-type>
      <resource-type
            file-extension="ttf"
            id="com.dynamo.cr.ddfeditor.resourcetype.Font"
            name="Font"
            type-class="font">
      </resource-type>
      <resource-type
            file-extension="dae"
            id="com.dynamo.cr.ddfeditor.resourcetype.Mesh"
            name="Mesh"
            type-class="mesh">
      </resource-type>
      <resource-type
            file-extension="cubemap"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Cubemap"
            name="Cubemap"
            proto-message-class="com.dynamo.graphics.proto.Graphics$Cubemap"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.CubemapRefactorParticipant"
            template-data="right: &quot;&quot; left: &quot;&quot; top: &quot;&quot; bottom: &quot;&quot; front: &quot;&quot; back: &quot;&quot;"
            type-class="cubemap">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.TextureProfilesEditSupport"
            file-extension="texture_profiles"
            id="com.dynamo.cr.ddfeditor.resourcetypes.TextureProfiles"
            name="Texture Profiles"
            proto-message-class="com.dynamo.graphics.proto.Graphics$TextureProfiles"
            template-data="path_settings { path: '**' profile: 'Default' } profiles { name: 'Default' platforms { os: OS_ID_GENERIC formats { format: TEXTURE_FORMAT_RGBA compression_level: BEST } mipmaps: true } }">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.DisplayProfilesEditSupport"
            file-extension="display_profiles"
            id="com.dynamo.cr.ddfeditor.resourcetypes.DisplayProfiles"
            name="Display Profiles"
            proto-message-class="com.dynamo.render.proto.Render$DisplayProfiles"
            template-data="profiles { name: &apos;Default&apos; qualifiers { width: 1280 height: 720 } }">
      </resource-type>
      <resource-type
            file-extension="ogg"
            id="com.dynamo.cr.ddfeditor.resourcetypes.OggSound"
            name="Ogg sound">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.AnimationSetEditSupport"
            embeddable="false"
            file-extension="animationset"
            id="com.dynamo.cr.ddfeditor.resourcetypes.AnimationSetDesc"
            name="Animation Set"
            proto-message-class="com.dynamo.rig.proto.Rig$AnimationSetDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.AnimationSetRefactorParticipant"
            template-data="animations {  animation: &apos;&apos; }"
            type-class="animationsetdesc">
         <references>
            <reference-type-class
                  type-class="mesh">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="label"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Label"
            name="Label"
            proto-message-class="com.dynamo.label.proto.Label$LabelDesc"
            resource-refactor-participant-class="com.dynamo.cr.ddfeditor.refactoring.LabelRefactorParticipant"
            template-data="text: &apos;Label&apos; font: &apos;/builtins/fonts/system_font.font&apos; material: &apos;/builtins/fonts/label.material&apos; scale { x: 1 y: 1 z: 1 } size { x: 128 y: 32 z: 0 } color { x: 1 y: 1 z: 1 w: 1 } outline { x: 0 y: 0 z: 0 w: 1 } shadow { x: 0 y: 0 z: 0 w: 1 }  leading: 1.0 tracking: 0.0 pivot: PIVOT_CENTER blend_mode: BLEND_MODE_ALPHA line_break: false"
            type-class="component">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Material">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.FontDesc">
            </reference-resource-type>
         </references>
      </resource-type>
    </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.LightNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.FactoryNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.CollectionFactoryNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.FontNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.ConvexShapeNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.CubemapNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.ddfeditor.wizards.LabelNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.factoryNode"
            loader="com.dynamo.cr.ddfeditor.scene.FactoryLoader"
            node="com.dynamo.cr.ddfeditor.scene.FactoryNode"
            renderer="com.dynamo.cr.ddfeditor.scene.FactoryRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Factory">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.collectionFactoryNode"
            loader="com.dynamo.cr.ddfeditor.scene.CollectionFactoryLoader"
            node="com.dynamo.cr.ddfeditor.scene.CollectionFactoryNode"
            renderer="com.dynamo.cr.ddfeditor.scene.CollectionFactoryRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.CollectionFactory">
      </node-type>
      <node-type
            display-group="Physics"
            id="com.dynamo.cr.ddfeditor.scene.collisionObjectNode"
            loader="com.dynamo.cr.ddfeditor.scene.CollisionObjectLoader"
            node="com.dynamo.cr.ddfeditor.scene.CollisionObjectNode"
            presenter="com.dynamo.cr.ddfeditor.scene.CollisionObjectPresenter"
            renderer="com.dynamo.cr.ddfeditor.scene.CollisionObjectRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.CollisionObject">
         <reference-node-type
               node-type="com.dynamo.cr.ddfeditor.scene.convexShapeNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.ddfeditor.scene.collisionShape">
         </reference-node-type>
      </node-type>
      <node-type
            display-group="Collection Proxies"
            id="com.dynamo.cr.ddfeditor.scene.collectionProxyNode"
            loader="com.dynamo.cr.ddfeditor.scene.CollectionProxyLoader"
            node="com.dynamo.cr.ddfeditor.scene.CollectionProxyNode"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.CollectionProxy">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.cameraNode"
            loader="com.dynamo.cr.ddfeditor.scene.CameraLoader"
            node="com.dynamo.cr.ddfeditor.scene.CameraNode"
            renderer="com.dynamo.cr.ddfeditor.scene.CameraRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Camera">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.labelNode"
            loader="com.dynamo.cr.ddfeditor.scene.LabelLoader"
            node="com.dynamo.cr.ddfeditor.scene.LabelNode"
            renderer="com.dynamo.cr.ddfeditor.scene.LabelRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Label">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.lightNode"
            loader="com.dynamo.cr.ddfeditor.scene.LightLoader"
            node="com.dynamo.cr.ddfeditor.scene.LightNode"
            renderer="com.dynamo.cr.ddfeditor.scene.LightRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Light">
      </node-type>
      <node-type
            display-group="Models"
            id="com.dynamo.cr.ddfeditor.scene.modelNode"
            loader="com.dynamo.cr.ddfeditor.scene.ModelLoader"
            node="com.dynamo.cr.ddfeditor.scene.ModelNode"
            renderer="com.dynamo.cr.ddfeditor.scene.ModelRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Model">
      </node-type>
      <node-type
            display-group="Physics"
            id="com.dynamo.cr.ddfeditor.scene.convexShapeNode"
            loader="com.dynamo.cr.ddfeditor.scene.ConvexShapeLoader"
            node="com.dynamo.cr.ddfeditor.scene.ConvexShapeNode"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.ConvexShape">
      </node-type>
      <node-type
            display-group="Physics"
            id="com.dynamo.cr.ddfeditor.scene.sphereCollisionNode"
            node="com.dynamo.cr.ddfeditor.scene.SphereCollisionShapeNode"
            renderer="com.dynamo.cr.ddfeditor.scene.SphereCollisionShapeRenderer">
      </node-type>
      <node-type
            display-group="Physics"
            id="com.dynamo.cr.ddfeditor.scene.boxCollisionNode"
            node="com.dynamo.cr.ddfeditor.scene.BoxCollisionShapeNode"
            renderer="com.dynamo.cr.ddfeditor.scene.BoxCollisionShapeRenderer">
      </node-type>
      <node-type
            display-group="Physics"
            id="com.dynamo.cr.ddfeditor.scene.capsuleCollisionNode"
            node="com.dynamo.cr.ddfeditor.scene.CapsuleCollisionShapeNode"
            renderer="com.dynamo.cr.ddfeditor.scene.CapsuleCollisionShapeRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.soundNode"
            loader="com.dynamo.cr.ddfeditor.scene.SoundLoader"
            node="com.dynamo.cr.ddfeditor.scene.SoundNode"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Sound">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.wavSoundNode"
            loader="com.dynamo.cr.ddfeditor.scene.WavSoundLoader"
            node="com.dynamo.cr.ddfeditor.scene.WavSoundNode"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.WavSound">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.manipulators.sphereRadiusManipulator"
            node="com.dynamo.cr.ddfeditor.manipulators.SphereSizeManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.manipulators.boxSizeManipulator"
            node="com.dynamo.cr.ddfeditor.manipulators.BoxSizeManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.manipulators.capsuleSizeManipulator"
            node="com.dynamo.cr.ddfeditor.manipulators.CapsuleSizeManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.ddfeditor.scene.collisionShape"
            node="com.dynamo.cr.ddfeditor.scene.CollisionShapeNode">
      </node-type>
      <node-type
            display-group="Models"
            id="com.dynamo.cr.ddfeditor.scene.meshNode"
            loader="com.dynamo.cr.ddfeditor.scene.MeshLoader"
            node="com.dynamo.cr.ddfeditor.scene.MeshNode"
            resource-type="com.dynamo.cr.ddfeditor.resourcetype.Mesh">
      </node-type>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.ddfeditor.ui.handlers.AddShapeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.ddfeditor.core.definitions.collisionObjectSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.ddfeditor.core.definitions.collisionObjectSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.ddfeditor.scene.CollisionObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.ddfeditor.core.definitions.collisionShapeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.ddfeditor.scene.CollisionShapeNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="com.dynamo.cr.manipulators">
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Sphere Radius Manipulator"
            node-type="com.dynamo.cr.ddfeditor.manipulators.sphereRadiusManipulator">
      </manipulator>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Box Size Manipulator"
            node-type="com.dynamo.cr.ddfeditor.manipulators.boxSizeManipulator">
      </manipulator>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Capsule Size Manipulator"
            node-type="com.dynamo.cr.ddfeditor.manipulators.capsuleSizeManipulator">
      </manipulator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext?before=com.dynamo.cr.sceneed.genericSeparator">
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
               label="Add Shape"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.ddfeditor.core.definitions.collisionObjectSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.dynamo.cr.editor.ui.tip">
      <tip
            editor-id="com.dynamo.cr.ddfeditor.inputeditor"
            tip="Bind hardware inputs to actions that means something in your game, e.g. &quot;jump&quot;.\nUse the context menu to add and remove triggers."
            title="Input Bindings">
      </tip>
      <tip
            editor-id="com.dynamo.cr.ddfeditor.fonteditor"
            tip="Use a True Type (ttf) file as a font by first dragging it into the Project Explorer.\nThe preview is WIP and only gives a rough estimate of how your font will look."
            title="Fonts">
      </tip>
   </extension>

</plugin>
