<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Defold - Log</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="rlog.js"></script>
<script type="text/javascript" src="mustache.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

<script id="templ-error-alert" type="text/html">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <div class="errorMessage"></div>
    </div>
</script>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Defold Log</a>
                <ul class="nav">
                </ul>
            </div>
        </div>
    </div>

    <div id="error-messages" class="container">
    </div>

    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
