{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Defold Log</h1>
            </div>
        </div>
    </div>

<table>


</table>
    {% raw %}
    <script id="templ-issues" type="text/html">
        <table class="table table-striped" style="cursor:pointer;">

            <thead>
                <tr>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Severity</th>
                    <th>Version</th>
                    <th>Reported</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#issue}}
                <tr class="record" date="{{record.date}}" sha1="{{sha1}}">
                    <td>{{record.message}}</td>
                    <td>{{record.date}}</td>
                    <td>{{record.severity}}</td>
                    <td>{{record.version}}</td>
                    <td><span class="label {{record.severityClass}}">{{reported}}</span></td>
                    <td><a class="mark-fixed">Mark as fixed</a></td>
                </tr>
                <tr class="stack-trace" style="display: none;">
                    <td colspan="6">
                        {{record.stack_trace.message}}
                        <ul>
                        {{#record.stack_trace.element}}
                        <li>
                        {{javaClass}}.{{method}}({{file}}:{{line}})
                        {{/record.stack_trace.element}}
                        {{^record.stack_trace.element}}
                        No stack trace
                        {{/record.stack_trace.element}}
                        </ul>
                    </td>
                </tr>
            {{/issue}}
            </tbody>
        </table>
    </script>
    {% endraw %}

    <div class="row">
        <div class="span12">
            <button id="process" class="btn btn-primary" onclick="process();">Process Log</button>
            <span id="process-result"></span>
            <p>
            <div id="issues"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.get('/issues', function(issues) {
            console.log(issues);

            var makeSC = function(issue) {
                return function() {
                    if (issue.record.severity == "ERROR") {
                        return "label-important";
                    } else {
                        return "label-info";
                    }
                }
            }

            for (i in issues.issue) {
                var issue = issues.issue[i];
                console.log(issue);
                issue.record.severityClass = makeSC(issue);
            }

            var template = $('#templ-issues').html();
            var output = Mustache.render(template, issues);
            $("#issues").html(output);
            $("#issues tbody tr.record").click(function() {
                $(this).next().toggle();
            });
            $("#issues a.mark-fixed").click(function() {
                return markFixed($(this).parent().parent());
            });
        });
    });

    function process() {
        $("#process-result").text("");
        $.get('/tasks/process', function(result) {
            $("#process-result").text(result);
        });
    }

    function markFixed(row) {
        var date = $(row).attr('date');
        var sha1 = $(row).attr('sha1');
        $(row).next().remove();
        $(row).remove();

        $.ajax({
            url: "/issues/" + date + "/" + sha1 + "/true",
            type: 'PUT',
            error: function(jqXHR, textStatus, errorThrown) {
                showError(jqXHR.statusText);
            }
        });
        return false;
    }

</script>

{% endblock %}
