<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.sceneed.SceneEditor"
            default="false"
            extensions="go, sprite"
            icon="icons/brick.png"
            id="com.dynamo.cr.sceneed.editor"
            name="Scene Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext">
         <command
               commandId="com.dynamo.cr.sceneed.commands.add"
               label="Add Component"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.commands.addLink"
               label="Add Component From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Game Object">
            <command
                  commandId="com.dynamo.cr.sceneed.commands.add"
                  label="Add Component"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.commands.addLink"
                  label="Add Component From File"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.sceneed.definitions.componentSelected">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.sceneed.contexts.sceneEditor"
            name="Scene Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.sceneed.commands.add"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.commands.addLink"
            name="Add Link">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.sceneed.gameobject.AddComponentHandler"
            commandId="com.dynamo.cr.sceneed.commands.add">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.gameobject.RemoveComponentHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.componentSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.gameobject.AddComponentFromFileHandler"
            commandId="com.dynamo.cr.sceneed.commands.addLink">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.sceneed.commands.add"
            contextId="com.dynamo.cr.sceneed.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.commands.addLink"
            contextId="com.dynamo.cr.sceneed.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.sceneed.definitions.gameObjectSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.sceneed.gameobject.GameObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.sceneed.definitions.componentSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.sceneed.gameobject.ComponentNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
