<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.dynamo.cr.nodetypes" name="Node" schema="schema/com.dynamo.cr.nodetypes.exsd"/>
   <extension-point id="com.dynamo.cr.manipulators" name="Manipulators" schema="schema/com.dynamo.cr.manipulators.exsd"/>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            name="Scene Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.sceneed.ui.commands.add"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addLink"
            name="Add Link">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.enter"
            name="Enter">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            name="Select Manipulator Mode">
         <state
               class="org.eclipse.ui.handlers.RadioState"
               id="org.eclipse.ui.commands.radioState">
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Manipulator Mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.add"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.enter"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="W">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.move-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="E">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.rotate-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="R">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.scale-mode">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.dynamo.rclient.preferences.PreferencePage"
            class="com.dynamo.cr.sceneed.ui.preferences.PreferencePage"
            id="com.dynamo.cr.sceneed.ui.preferences.preferencePage"
            name="Scene Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dynamo.cr.sceneed.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.dynamo.cr.sceneed.ui.decorators.SceneDecorator"
            id="com.dynamo.cr.sceneed.ui.sceneDecorator"
            label="Scene Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.dynamo.cr.sceneed.core.Node">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.sceneed.ui.backgroundNode"
            node="com.dynamo.cr.sceneed.ui.BackgroundNode"
            renderer="com.dynamo.cr.sceneed.ui.BackgroundRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.moveManipulator"
            node="com.dynamo.cr.sceneed.ui.MoveManipulator"
            renderer="com.dynamo.cr.sceneed.ui.MoveManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.axisManipulator"
            node="com.dynamo.cr.sceneed.ui.AxisManipulator"
            renderer="com.dynamo.cr.sceneed.ui.AxisManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.circleManipulator"
            node="com.dynamo.cr.sceneed.ui.CircleManipulator"
            renderer="com.dynamo.cr.sceneed.ui.CircleManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.rotateManipulator"
            node="com.dynamo.cr.sceneed.ui.RotateManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.scaleAxisManipulator"
            node="com.dynamo.cr.sceneed.ui.ScaleAxisManipulator"
            renderer="com.dynamo.cr.sceneed.ui.ScaleAxisManipulatorRenderer">
      </node-type>
   </extension>
   <extension
         point="com.dynamo.cr.manipulators">
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.move-mode"
            name="Move Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.moveManipulator">
      </manipulator>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.rotate-mode"
            name="Rotate Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.rotateManipulator">
      </manipulator>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Scale Manipulator">
      </manipulator-mode>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.move-mode"
            name="Move Manipulator">
      </manipulator-mode>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.rotate-mode"
            name="Rotate Manipulator">
      </manipulator-mode>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext">
         <separator
               name="com.dynamo.cr.sceneed.genericSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.sceneed.handlers.SelectManipulatorModeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Scene">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Move Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.move-mode">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Rotate Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.rotate-mode">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.scened.definitions.sceneEditorActive">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Scale Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.scale-mode">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.scened.definitions.sceneEditorActive">
         <with
               variable="activeEditor">
            <instanceof
                  value="com.dynamo.cr.sceneed.ui.SceneEditor">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
