@mixin menu-elements() {
    .menu-item {
        -fx-border-width: 0;
        -fx-background-radius: 0;
        -fx-background-color: $menu-background;
        > .label {
            -fx-text-fill: $menu-foreground;
        }
        .image-view {
            @include colorize-image-view($menu-foreground);
        }

        &:disabled {
            -fx-opacity: 0.4;
            -fx-background-color: $menu-background !important;
            > .label {
                -fx-opacity: 1.0;
                -fx-text-fill: $menu-foreground !important;
            }
            .image-view {
                -fx-effect: innershadow(gaussian, $menu-foreground, 20, 1.0, 0, 0) !important;
            }
        }

        &:focused {
            -fx-background-color: $menu-background-hover;
            > .label {
                -fx-text-fill: $menu-foreground-hover;
            }
            .image-view {
                @include effect-lighten-blue();
            }
        }

        // Generate css for file extensions
        @include extensions(menu);
    }

    .separator {
        &:horizontal {
            -fx-padding: 3 0 3 0;
            -fx-min-height: 0;
            -fx-background-color: transparent;
            .line {
                -fx-border-color: $menu-separator;
                -fx-border-insets: 0;
                -fx-border-width: 1 0 0 0;
            }
        }
    }
}
