<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
    </encoder>

    <!-- Ignore PostLoggingResponseFilter (used for access logging only) -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
        <expression>return logger.endsWith("PostLoggingResponseFilter");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
  </appender>

  <root level="info">
    <appender-ref ref="STDERR" />
  </root>
</configuration>
