/build
/dist
/tmp
/lib/*texc_shared*
/lib/*/*texc_shared*
/lib/*/*OpenAL32*
/lib/*/*wrap_oal*
/lib/*/*PVRTexLib*
/lib/builtins.zip
/lib/classes.dex
/lib/android.jar
/lib/android-res.zip
/lib/luajit-share.zip
/lib/dlib.jar
/libexec/*/*.so
/libexec/*/*.js
/libexec/*/*dmengine*
/libexec/*/*luajit*
/libexec/*/*apkc*
/share/luajit
/res
