/build
/dist
/tmp
/lib/*texc_shared*
/lib/*/*modelc_shared*
/lib/*modelc_shared*
/lib/*/*modelc_shared*
/lib/*/*OpenAL32*
/lib/*/*wrap_oal*
/lib/*/*PVRTexLib*
/lib/*/*msvcr120*
/lib/builtins.zip
/lib/classes.dex
/lib/android.jar
/lib/android-res.zip
/lib/luajit-share.zip
/lib/dlib.jar
/lib/modelimporter.jar
/libexec/*/*.js
/libexec/*/*.swf
/libexec/*/*dmengine*
/libexec/*/*luajit*
/libexec/*/glslc*
/libexec/*/spirv-cross*
/libexec/*/luac-32*
/share/luajit
/res
/src/com/dynamo/bob/archive/EngineVersion.java
