<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.dynamo.cr.editor.ui.tip" name="Tip" schema="schema/com.dynamo.cr.editor.ui.tip.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            default="false"
            extensions="project"
            id="com.dynamo.cr.editor.ui.gameProjectEditor"
            name="Game Project Editor">
      </editor>
   </extension>
   <extension
         point="com.dynamo.cr.editor.ui.tip">
      <tip
            editor-id="com.dynamo.cr.editor.ui.gameProjectEditor"
            link="See &lt;a href=&quot;http://www.defold.com/doc/game_project&quot;&gt;Game Engine Project Settings&lt;/a&gt; for reference"
            tip="Edit engine settings in this file"
            title="Game Engine Settings">
      </tip>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dynamo.cr.editor.ui.tip.TipAvailablePropertyTester"
            id="com.dynamo.cr.editor.ui.tipAvailable"
            namespace="com.dynamo.cr.editor.ui"
            properties="tip_available"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="com.dynamo.cr.editor.ui.handlers.showTip"
         name="Show Tip"
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.editor.ui.commands.showEditorTip"
            name="Show Editor Tip">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="com.dynamo.cr.editor.ui.commands.showEditorTip"
               label="Show Editor Tip"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.editor.ui.handlers.ShowEditorTip"
            commandId="com.dynamo.cr.editor.ui.commands.showEditorTip">
         <enabledWhen>
            <test
                  property="com.dynamo.cr.editor.ui.tip_available">
            </test>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
