<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            embeddable="true"
            file-extension="spinemodel"
            id="com.dynamo.cr.spine.resourcetypes.spinemodel"
            name="SpineModel"
            proto-message-class="com.dynamo.spine.proto.Spine$SpineModelDesc"
            resource-refactor-participant-class="com.dynamo.cr.spine.core.refactoring.SpineModelRefactorParticipant"
            template-data="spine_scene: &quot;&quot; default_animation: &quot;&quot; skin: &quot;&quot;"
            type-class="component">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.tileeditor.resourcetypes.Atlas">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.spine.resourcetypes.spineScene">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Material">
            </reference-resource-type>
         </references>
      </resource-type>
      <resource-type
            embeddable="false"
            file-extension="spinescene"
            id="com.dynamo.cr.spine.resourcetypes.spineScene"
            name="SpineScene"
            proto-message-class="com.dynamo.spine.proto.Spine$SpineSceneDesc"
            resource-refactor-participant-class="com.dynamo.cr.spine.core.refactoring.SpineSceneRefactorParticipant"
            template-data="spine_json: &quot;&quot; atlas: &quot;&quot; sample_rate: 30.0"
            type-class="spinescene">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.tileeditor.resourcetypes.Atlas">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.spine.resourcetypes.spine">
            </reference-resource-type>
         </references>
      </resource-type>
      <resource-type
            file-extension="json"
            id="com.dynamo.cr.spine.resourcetypes.spine"
            name="Spine"
            type-class="spine">
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="spinemodel"
            icon="icons/draw_wave.png"
            id="com.dynamo.cr.spine.spineModelEditor"
            name="Spine Model Editor">
      </editor>
      <editor
            class="com.dynamo.cr.spine.SpineSceneEditor"
            contributorClass="com.dynamo.cr.ddfeditor.DdfEditorActionBarContributor"
            default="false"
            extensions="spinescene"
            icon="icons/linechart.png"
            id="com.dynamo.cr.spine.spineSceneEditor"
            name="Spine Scene Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.spine.wizards.SpineNewWizard"
            icon="icons/draw_wave.png"
            id="com.dynamo.cr.spine.wizards.spineNewWizard"
            name="Spine Model File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.spine.wizards.SpineSceneNewWizard"
            icon="icons/linechart.png"
            id="com.dynamo.cr.spine.wizards.spineSceneNewWizard"
            name="Spine Scene File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.spine.wizards.spineNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.spine.wizards.spineSceneNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            display-group="Spine"
            id="com.dynamo.cr.spine.scene.spineModelNode"
            loader="com.dynamo.cr.spine.scene.SpineModelLoader"
            node="com.dynamo.cr.spine.scene.SpineModelNode"
            renderer="com.dynamo.cr.spine.scene.SpineModelRenderer"
            resource-type="com.dynamo.cr.spine.resourcetypes.spinemodel">
      </node-type>
      <node-type
            id="com.dynamo.cr.spine.scene.spineBoneNode"
            node="com.dynamo.cr.spine.scene.SpineBoneNode"
            renderer="com.dynamo.cr.spine.scene.SpineBoneRenderer">
      </node-type>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.spine.wizards.spineNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.spine.wizards.spineSceneNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
