<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Defold - Manage</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="manage.js"></script>
<script type="text/javascript" src="mustache.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Defold Manage</a>
                <ul class="nav">
                    <li><a href="/news_letter.html">News Letter</a></li>
                    <li><a href="/test.html">Test</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="/logout.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-error" id="errorAlert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <div id="errorMessage">Permission denied. Try to login.</div>
            Try to <a href="/login.html">login</a>
        </div>
    </div>

    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
