{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Defold Manage</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <form class="form-horizontal" onsubmit="return false;">
                <label class="control-label"><b>Server URL:</b></label>
                <div class="controls">
                    <input type="text" id="server-url">
                    <span id="server-url-label" class="label label-success" style="display: none;">Updated</span>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
	    $("#server-url").val(getServerUrl());
	    $("#server-url").keypress(function(e) {
	    	if (e.keyCode == 13) {
	    		setServerUrl($("#server-url").val());
	    		$("#server-url-label").show();
	    	}
	    });
    });
</script>

{% endblock %}
