{% extends "base.html" %}

{% block content %}

<style>
textarea {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
</style>

<div class="container">
    <div class="row">
        <div class="span8">
            <form class="well" onsubmit="return false;" >
                <label><b>Recipients</b></label>
                <p>
                <button class="btn btn-primary" id="load-button" onclick="loadRecipients();">Load</button>
                </p>
                <p>
                One recipient per line and on the format: <b>EMAIL</b>, <b>KEY</b>
                where the <b>KEY</b> is used for the unsubscribe link.
                </p>
                <textarea id="recipients" style="width: 100%;" rows="20"></textarea>

                <label><b>Subject</b></label>
                <input id="subject" type="text" class="span5" placeholder="">

                <label><b>From</b></label>
                <input id="from" type="text" class="span5" placeholder="">

                <label><b>Name</b></label>
                <input id="name" type="text" class="span5" placeholder="">

                <label><b>Message</b></label>
                <textarea id="message" style="width: 100%;" rows="20"></textarea>

                <p>
                <span id="message-sent-label" class="label_ _label-info" style="display: none;"><strong>Message Sent</strong></span>

                <p>
                <button id="send-button" type="submit" class="btn btn-success" onclick="sendNewsMail();">Send</button>

            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var cookies = getCookies();
        $("#from").val(cookies.email);
        $("#name").val(cookies.first_name + " " + cookies.last_name);
    });
</script>

<!--
  http://www.jonnyreeves.co.uk/2012/using-external-templates-with-mustache-js-and-jquery/
-->

<!--
<script type="text/javascript">
$.get('templates.html', function(templates) {
    // Fetch the <script /> block from the loaded external
    // template file which contains our greetings template.
    var template = $(templates).filter('#templ-subscribers').html();
    sendRequest("GET", "/news_list", function(x) {
        var subscribers = JSON.parse(x.responseText);
        var output = Mustache.render(templates, subscribers);
        $("#subscribers").html(output);
    });
});
</script>
 -->
{% endblock %}
