hostname: "localhost"
service_port: 9998
ssl_service_port: 9999
keystore: "/Users/chmu/.keystore"
keystore_password: "defold"
persistence_unit_name: "local-developer"
repository_root: "/tmp/test_repos"
smtp_host: "smtp.gmail.com"
smtp_username: "info@defold.se"
smtp_password: "UcUnarmizAw6"
signed_engine_root: "/tmp/engine_root"
open_registration_max_users: 2
git_port: 9998

invitation_template {
    from: "\"Defold\" <info@defold.se>"
    subject: "Invitation from ${inviter}"
    message: "Hi!\n\n${inviter} wants you to start using the Defold beta!\n\nDefold is a great service for making games and interactive applications together and is currently specialized on 2D games. Our key goal is to enable anyone to realize their ideas through a simple, yet professional service.\n\nStart by creating an account here: http://www.defold.com/dashboard/#login:${key}\nIf the link takes you to the front page, go to the Dashboard (upper right) and use this key when requested: ${key}\n\nGetting Started\nAfter you have registered, you are taken to the dashboard which contains information on how to get started. There are lots of other useful information on the documentation page: http://doc.defold.com/\n\nBeta\nDefold is currently in beta phase, which means that the service is not yet complete and has a few knots which still need to be untied.\n\nWe would be really happy to have you on board and we hope you will appreciate Defold!\n\n/Team Defold"
}

invitation_count_map { key: 100 value: 5 }
invitation_count_map { key: 5 value: 2 }
invitation_count_map { key: 2 value: 1 }

test_registration_key: "key"
test_invitation_count: 1

project_templates {
    id: "side_scroller"
    path: "/tmp/foo"
    description: "Tutorial: Side-Scroller"
}

