hostname: "localhost"
service_port: 9998
persistence_unit_name: "local-developer-derby"
repository_root: "local/repo"
smtp_host: "smtp.gmail.com"
smtp_username: "info@defold.se"
smtp_password: "UcUnarmizAw6"
signed_engine_root: "local/engine_root"
open_registration_max_users: 2
git_port: 9998
archive_cache_root: "local/archive_cache"
archive_cache_max_size: 1024

invitation_template {
    from: "\"Defold\" <info@defold.se>"
    subject: "Invitation from ${inviter}"
    message: "Hi!\n\n${inviter} wants you to start using the free game engine Defold!\n\nDefold is a great service for making games and interactive applications with a focus on 2D games. Our key goal is to enable anyone to realize their ideas through a simple, yet professional service.\n\nGo to http://www.defold.com/ and click \"Get Defold now\" to get started.\n\nYou will find lots of other useful information on the documentation page: http://www.defold.com/learn/ and if you wonder anything ask us at the forum: https://forum.defold.com/\n\nWe are really happy to have you on board and we hope you will appreciate Defold!\n\n/Team Defold"
}

invitation_count_map { key: 100 value: 5 }
invitation_count_map { key: 5 value: 2 }
invitation_count_map { key: 2 value: 1 }

test_registration_key: "new"
test_invitation_count: 1

project_templates {
    id: "empty"
    path: "{cwd}/local/repo/template_empty"
    description: "Empty project template."
}

discourse_url: "https://forum.defold.com"
discourse_sso_key: "secretsecret"

signup_email_template {
    from: "\"Defold\" <info@defold.com>"
    subject: "Activate your Defold account"
    message: "Hello ${first_name} ${last_name}!\n\nWelcome to Defold! Click the link below to verify your email address.\n\nhttps://dashboard.defold.com/activate?activationCode=${activation_token}\n\nHave a great day and create great games!\nThe Defold Team\ninfo@defold.com"
}

forgot_password_email_template {
    from: "\"Defold\" <info@defold.com>"
    subject: "Forgot your Defold password?"
    message: "Someone recently requested to reset the password for Defold user ${email}. If this was you, you can set a new password here:\n\nhttps://dashboard.defold.com/reset?code=${reset_token}\n\nIf you don't want to change your password or didn't request this, just ignore and delete this message.\n\nTo keep your Defold account secure, please don't forward this email to anyone.\n\nShould you at any time have any suggestions, questions, complaints, or feedback, please don't hesitate to e-mail us.\n\nRegards\nThe Defold Team\ninfo@defold.com"
}

magazine_service_url: "http://localhost:8080"
