{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
<link href="{{root}}prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{root}}prettify/prettify.js"></script>
<script type="text/javascript" src="{{root}}prettify/lang-lua.js"></script>
{% endblock %}

{% block end %}
<script type="text/javascript">
    $(document).ready(function() {
        prettyPrint();
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="asciidoc">
        {% include asciidoc %}
    </div>
</div>
{% endblock %}
