{% extends "base.html" %}
{% block title %} Documentation Overview {% endblock %}
{% block content %}
<div class="container">

    <div class="page-header">
        <h1>Documentation</h1>
    </div>

    <div class="row">
        <div class="span4">
            <div class="well well-blue">
                <h2>Guides</h2>
                <p>Detailed explanations of different areas of the platform</p>
                <ul class="unstyled">
                    <li><a href="/doc/introduction">Introduction</a></li>
                    <li><a href="/doc/scene_editing">Scene Editing</a></li>
                    <li><a href="/doc/tiles">2D Graphics</a></li>
                    <li><a href="/doc/scripting_debugging">Scripting &amp; Debugging</a></li>
                    <li><a href="/doc/message_passing">Message Passing</a></li>
                    <li><a href="/doc/script_properties">Script Properties</a></li>
                    <li><a href="/doc/input">Input</a></li>
                    <li><a href="/doc/reload">Hot Reloading</a></li>
                    <li><a href="/doc/physics">Physics</a></li>
                    <li><a href="/doc/game_project">Project Settings</a></li>
                    <li><a href="/doc/ios">iOS Development</a></li>
                    <li><a href="/doc/particlefx">ParticleFX</a></li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well well-orange">
                <h2>Tutorials and Articles</h2>
                <p>Step-by-step tutorials and informative articles</p>
                <ul class="unstyled">
                    <li><a href="/doc/side_scroller">Side-Scroller</a></li>
                    <li><a href="/doc/platformer">Platformer</a></li>
                </ul>
            </div>
            <div class="well well-orange">
                <h2>Script Samples</h2>
                <p>Script samples and videos</p>
                <ul class="unstyled">
                    <li><a href="/doc/hud">HUD</a></li>
                    <li><a href="/doc/main_menu">Main Menu</a></li>
                    <li><a href="/doc/parallax">Parallax</a></li>
                    <li><a href="/doc/level_complete">Level Complete</a></li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well well-pink">
                <h2>Reference</h2>
                <p>Script functions and messages</p>
                <ul class="unstyled">
                    <li class="nav-header">Systems</li>
                    <li><a href="ref/sys">System</a></li>
                    <li><a href="ref/go">GameObject</a></li>
                    <li><a href="ref/gui">Gui</a></li>
                    <li><a href="ref/render">Render</a></li>

                    <li class="nav-header">Components</li>
                    <li><a href="ref/collection_proxy">Collection Proxy</a></li>
                    <li><a href="ref/factory">Factory</a></li>
                    <li><a href="ref/particlefx">ParticleFX</a></li>
                    <li><a href="ref/collision_object">Collision Object</a></li>
                    <li><a href="ref/sound">Sound</a></li>
                    <li><a href="ref/sprite">Sprite</a></li>
                    <li><a href="ref/tilemap">Tilemap</a></li>

                    <li class="nav-header">Script</li>
                    <li><a href="ref/builtins">Builtins</a></li>
                    <li><a href="ref/msg">Message</a></li>
                    <li><a href="ref/vmath">Vector Math</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
