{% extends "base.html" %} {% block title %} Defold Game Engine {% endblock %} {% block end %}
<script type="text/javascript" src="defold.js"></script>
<script type="text/javascript">
	compatRedirect();
</script>
<link rel="stylesheet" type="text/css" href="shadowbox/shadowbox.css">
<script type="text/javascript" src="shadowbox/shadowbox.js"></script>
<script type="text/javascript">
	Shadowbox.init();
</script>
{% block head %}
<link href="{{root}}landing.css" rel="stylesheet">
{% endblock %} {% endblock %} {% block navbar %} {% endblock %} {% block content %}
<div class="landing">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="logo" href="/">
                    <img src="images/white_logo.png"></img>
                </a>
                <ul class="nav pull-right">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/plans">Plans</a></li>
                    <li><a href="/doc">Documentation</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="landing-heading">
        <div>
            <h1>Create Games Like A Pro</h1>
        </div>
    </div>
    <div class="laptop">
        <div class="play">
            <img src="images/laptop_video.png"> <a class="play" rel="shadowbox;width=640;height=360;"
                alt="Defold Introduction Video"
                href="http://player.vimeo.com/video/45352560?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1">
                <span class="play"></span>
            </a>
        </div>
    </div>
</div>
<div style="height: 50px;"></div>
<div class="container features features-green">
    <div class="row">
        <div class="span3">
            <h2>No Setup</h2>
            <p>The Defold Editor is the only software you need to install to create your games. It runs on Windows, OS X and Linux.</p>
        </div>
        <div class="span3">
            <h2>Flexible</h2>
            <p>The building blocks are simple, but can be used to create complex features. The game logic and rendering pipeline are scripted in Lua.</p>
        </div>
        <div class="span3">
            <h2>Fast Iterations</h2>
            <p>Edit scripts and other content and see the changes take effect in a second on your iPad or iPhone. Prototype, build, polish and iterate.</p>
        </div>
        <div class="span3">
            <div class="feature-image">
                <img src="images/cogs.png" alt="Cogs" />
            </div>
        </div>
    </div>
</div>
<div class="container features features-red">
    <div class="row">
        <div class="span3">
            <div class="feature-image">
                <img src="images/pong.png" alt="Pong" />
            </div>
        </div>
        <div class="span3">
            <h2>Collaboration</h2>
            <p>You don't need any extra software or service to work with your friends. Content can be synchronized in the editor.</p>
        </div>
        <div class="span3">
            <h2>iOS Development</h2>
            <p>Install the Defold App on your iOS device and it connects to the editor. Then you can work on the game in real-time on your device.</p>
        </div>
        <div class="span3">
            <h2>Tool Set</h2>
            <p>We have specialized tools for creating 2D games. Features include tiled graphics and animated sprites. Collision shapes can be automatically created from image data.</p>
        </div>
    </div>
</div>
<div class="container features features-orange">
    <div class="row">
        <div class="span4">
            <h2>Support</h2>
            <p>We have a lot of experience in game development and are happy to share it with you in the forums.</p>
        </div>
        <div class="span4">
            <h2>Progressive</h2>
            <p>Defold is run by passionate game developers. We are making a service we would love to use ourselves. We have a long list of exciting ideas and features to come in the future.</p>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span3">
            <div class="feature-image">
                <img src="images/smiley.png" alt="Smiley" />
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="span6">
            <blockquote class="testi-red">
                <p>"The Defold engine and tools are built on powerful and simple concepts that are fun to use
                    because they work with me and allows me to focus on my game's specific design problems. It clearly
                    shows that the Defold developers have put their long industry experience and massive design and
                    implementation effort into creating a great, unique platform."</p>
                <small>Mikael Säker <br> (Battlefield 3, The Darkness, The Chronicles of Riddick)
                </small>
            </blockquote>
        </div>
        <div class="span6">
            <blockquote class="testi-blue">
                <p>"I have used various mobile app platforms in the past, but Defold's service
                    came highly recommended. With its powerful and simple platform, i was
                    able to work on my game app development faster, easier, and cost less than 
                    hiring a whole team of experts. Defold helps you create games just like a Pro!"</p>
                <small>Mikael Behrenfors <br> (Wakajaka)
                </small>
            </blockquote>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px; text-align: center;">
    <div class="row">
        <h2>Sign up for Beta Access</h2>
        <p class="marketing-byline">We invite from the beta list at regular intervals.</p>
        <div class="span12" style="text-align: center;">
            <form onsubmit="return signUp();" class="validate form-inline">
                <input type="email" value="" style="padding: 9px 14px;" class="span4 input-large email" id="email"
                    placeholder="email address" required="">
                <button type="submit" class="btn btn-primary btn-large">Sign up</button>
            </form>
        </div>
    </div>
</div>
<hr class="soften">
{% endblock %}
