{% extends "base.html" %} {% block content %}
<script type="text/javascript" src="/defold.js"></script>
<div class="container" style="min-height: 500px;">
    <div class="page-header">
        <h1>Plans</h1>
    </div>
    <p>
        We charge for Defold by the size of your team.
        The fees below are for each month and team member.
        You can currently only create a limited amount of projects, but join as many as you like.
    </p>
    <div class="row">
        <div class="span4">
            <div class="well well-green pricing">
                <h1>Free</h1>
                <h2>
                    $0<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 1</li>
                    <li>5 Projects</li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well well-orange pricing">
                <h1>Small</h1>
                <h2>
                    $20<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 2</li>
                    <li>5 Projects</li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well well-pink pricing">
                <h1>Medium</h1>
                <h2>
                    $150<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 3+</li>
                    <li>5 Projects</li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Important</h2>
    <p>
        During the Beta phase, we have removed the upper limit on the team size for the <b>Small</b> plan.
        When the Beta phase ends, that plan will be limited to a team size of two people.
    </p>
    <div class="container" style="margin-top: 30px; text-align: center;">
        <h2>Sign up for Beta Access</h2>
        <p class="marketing-byline">We invite from the beta list at regular intervals.</p>
        <div class="span12" style="text-align: center;">
            <form onsubmit="return signUp();" class="validate form-inline">
                <input type="email" value="" style="padding: 9px 14px;" class="span4 input-large email" id="email"
                    placeholder="email address" required="">
                <button type="submit" class="btn btn-primary btn-large">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
