{% extends "base.html" %} {% block content %}
<div class="container" style="min-height: 500px;">
    <div class="page-header">
        <h1>Plans</h1>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well well-blue pricing">
                <h1>Free</h1>
                <h2>
                    $0<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 1</li>
                    <li>5 Projects</li>
                </ul>
                <button class="btn btn-success btn-large">Sign Up</button>
            </div>
        </div>
        <div class="span4">
            <div class="well well-orange pricing">
                <h1>Small</h1>
                <h2>
                    $20<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 2</li>
                    <li>5 Projects</li>
                </ul>
                <button class="btn btn-success btn-large">Sign Up</button>
            </div>
        </div>
        <div class="span4">
            <div class="well well-pink pricing">
                <h1>Medium</h1>
                <h2>
                    $150<small>/mo</small>
                </h2>
                <ul class="unstyled">
                    <li>Team size 3+</li>
                    <li>5 Projects</li>
                </ul>
                <button class="btn btn-success btn-large">Sign Up</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
