{% extends "base.html" %}
{% block title %} {{ title }} Reference Documentation {% endblock %}
{% block head %}
<link href="{{root}}prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{root}}prettify/prettify.js"></script>
<script type="text/javascript" src="{{root}}prettify/lang-lua.js"></script>
{% endblock %}

{% block end %}
<script type="text/javascript">
    $(document).ready(function() {
        prettyPrint();
    });
</script>
{% endblock %}


{% block content %}
<div class="container ref-doc">

    <div class="row">

    <div class="span3">
        <div class="well well-green sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Reference</li>

                <li class="nav-header">Systems</li>
                <li><a href="engine">System</a></li>
                <li><a href="go">GameObject</a></li>
                <li><a href="gamesys">GameSys</a></li>
                <li><a href="gui">Gui</a></li>
                <li><a href="render">Render</a></li>

                <li class="nav-header">Components</li>
                <li><a href="camera">Camera</a></li>
                <li><a href="collection_proxy">Collection Proxy</a></li>
                <li><a href="factory">Factory</a></li>
                <li><a href="particlefx">ParticleFX</a></li>
                <li><a href="collision_object">Collision Object</a></li>
                <li><a href="sound">Sound</a></li>
                <li><a href="sprite">Sprite</a></li>
                <li><a href="tilemap">Tilemap</a></li>

                <li class="nav-header">Script</li>
                <li><a href="script_hash">Builtins</a></li>
                <li><a href="script_msg">Message</a></li>
                <li><a href="script_vmath">Vector Math</a></li>

            </ul>
        </div>
    </div>

    <div class="span9">
    <div class="well well-blue">

    {% if functions %}
    <h2>Functions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Function</th>
                <th>Brief</th>
            </tr>
        </thead>
        <tbody>
    {% for f in functions %}
        <tr>
            <td><a href="#{{ f.name }}">{{ f.name }}</a></td>
            <td>{{ f.brief }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if messages %}
    <h2>Messages</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Message</th>
                <th>Brief</th>
            </tr>
        </thead>
        <tbody>
    {% for msg in messages %}
        <tr>
            <td><a href="#{{ msg.name }}">{{ msg.name }}</a></td>
            <td>{{ msg.brief }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if constants %}
    <h2>Constants</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Message</th>
                <th>Brief</th>
            </tr>
        </thead>
        <tbody>
    {% for c in constants %}
        <tr>
            <td><a href="#{{ c.name }}">{{ c.name }}</a></td>
            <td>{{ c.brief }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if properties %}
    <h2>Properties</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Message</th>
                <th>Brief</th>
            </tr>
        </thead>
        <tbody>
    {% for p in properties %}
        <tr>
            <td><a href="#{{ p.name }}">{{ p.name }}</a></td>
            <td>{{ p.brief }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </div>

    {% if package %}
    <h2>Overview</h2>
    <p>
    {{ package.description }}
    </p>
    {% endif %}

    {% if functions %}
    <h2>Functions</h2>
    {% for f in functions %}
        <a name="{{ f.name }}"></a>
        <div>
        <h3 class="name">{{ f.name }}</h3>
        <p>
        {{ f.description }}
        </p>
        {% if f.parameters %}
        <h3>Parameters</h3>
        <table class="table table-striped">
        <tbody>
        {% for p in f.parameters %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.doc }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}

        {% if f.return_ %}
        <h3>Returns</h3>
        <p>
        {{ f.return_ }}
        </p>
        {% endif %}


        {% if f.examples %}
            <h3>Examples</h3>
            {{ f.examples }}
        {% endif %}
        </div>
    {% endfor %}
    {% endif %}

    {% if messages %}
    <h2>Messages</h2>
    {% for msg in messages %}
        <a name="{{ msg.name }}"></a>
        <div>
        <h3 class="name">{{ msg.name }}</h3>
        <p>
        {{ msg.description }}
        </p>
        {% if msg.parameters %}
        <h3>Fields</h3>
        <table class="table table-striped">
        <tbody>
        {% for f in msg.parameters %}
        <tr>
            <td>{{ f.name }}</td>
            <td>{{ f.doc }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}

        {% if msg.examples %}
            <h3>Examples</h3>
            {{ msg.examples }}
        {% endif %}
        </div>
    {% endfor %}
    {% endif %}

    {% if constants %}
    <h2>Constants</h2>
    {% for c in constants %}
        <a name="{{ c.name }}"></a>
        <div>
        <h3 class="name">{{ c.name }}</h3>
        <p>
        {{ c.brief }}
        </div>
    {% endfor %}
    {% endif %}

    {% if properties %}
    <h2>Properties</h2>
    {% for p in properties %}
        <a name="{{ p.name }}"></a>
        <div>
        <h3 class="name">{{ p.name }}</h3>
        <p>
        {{ p.brief }}
        </div>
    {% endfor %}
    {% endif %}

    </div>
    </div>
</div>

{% endblock %}
