{% extends "base.html" %}
{% block title %} Unsubscribe {% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Unsubscribe to News Letter</h1>
    </div>

    <div class="row">
        <div id="unsubscribe" class="span12" style="display: none;">
            <p>
                Unsubscribe <span id="email"></span> from news letter?
            </p>
            <p>
                <button class="btn btn-primary" onclick="unsubscribe();">Unsubscribe</button>
            </p>
        </div>

        <div class="span5">
            <div class="alert alert-error" id="errorAlert" style="display: none;">
            </div>
        </div>
    </div>
    <div style="height: 400px;"></div>

</div>
{% endblock %}

{% block end %}
    <script type="text/javascript">

        function getEmailKey() {
            var lst = window.location.hash.substring(1).split(',');
            return lst;
        }

        function unsubscribe() {
            var emailKey = getEmailKey();
            $.ajax({
               url: getServerUrl() + "/news_list/" + emailKey[0] + "/" + emailKey[1],
               type: "DELETE",
               error: function(jqXHR, textStatus, errorThrown) {
                   $("#errorAlert").text("Unable to unsubscribe (" + jqXHR.statusText + ")").show();
                   $("#unsubscribe").hide();
               },
               success: function(jqXHR, textStatus, errorThrown) {
                   $("#unsubscribe").text('You have successfully unsubscribed to news letter.').show();
               }
            });
        }

        $(document).ready(function() {
            var emailKey = getEmailKey();
            $("#email").html('<b>' + unescape(emailKey[0]) + '</b>');
            $("#unsubscribe").show();
        });

    </script>
{% endblock %}

