<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.guied.core.nodes.boxNode"
            node="com.dynamo.cr.guied.core.BoxNode"
            renderer="com.dynamo.cr.guied.ui.BoxNodeRenderer">
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.boxNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.textNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.pieNode">
         </reference-node-type>
      </node-type>
      <node-type
            id="com.dynamo.cr.guied.core.nodes.pieNode"
            node="com.dynamo.cr.guied.core.PieNode"
            renderer="com.dynamo.cr.guied.ui.PieNodeRenderer">
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.boxNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.pieNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.textNode">
         </reference-node-type>
      </node-type>
      <node-type
            display-group="Gui"
            id="com.dynamo.cr.guied.nodes.scene"
            loader="com.dynamo.cr.guied.core.GuiSceneLoader"
            node="com.dynamo.cr.guied.core.GuiSceneNode"
            presenter="com.dynamo.cr.guied.core.GuiScenePresenter"
            renderer="com.dynamo.cr.guied.ui.GuiSceneRenderer"
            resource-type="com.dynamo.cr.ddfeditor.resourcetypes.Gui">
      </node-type>
      <node-type
            id="com.dynamo.cr.guied.core.nodes.textNode"
            node="com.dynamo.cr.guied.core.TextNode"
            renderer="com.dynamo.cr.guied.ui.TextNodeRenderer">
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.boxNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.textNode">
         </reference-node-type>
      </node-type>
      <node-type
            display-group="Gui"
            id="com.dynamo.cr.guied.nodes.nodesNode"
            node="com.dynamo.cr.guied.core.NodesNode">
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.boxNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.pieNode">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.guied.core.nodes.textNode">
         </reference-node-type>
      </node-type>
      <node-type
            id="com.dynamo.cr.guied.nodes.layersNode"
            node="com.dynamo.cr.guied.core.LayersNode">
         <reference-node-type
               node-type="com.dynamo.cr.guied.nodes.layerNode">
         </reference-node-type>
      </node-type>
      <node-type
            id="com.dynamo.cr.guied.nodes.layerNode"
            node="com.dynamo.cr.guied.core.LayerNode">
      </node-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.guied.GuiSceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="gui"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.guied.ui.guiEditor"
            name="Scene Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext?before=com.dynamo.cr.sceneed.genericSeparator">
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
               label="Add Box"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>

         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addSecondary"
               label="Add Text"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addTertiary"
               label="Add Pie"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
               label="Add Texture"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.texturesNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
               label="Add Font"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.fontsNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.guied.commands.addLayer"
               label="Add Layer"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.layersNodeSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Gui">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
                  label="Add Box Node"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addSecondary"
                  label="Add Text Node"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addTertiary"
                  label="Add Pie Node"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
                  label="Add Texture"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
                  label="Add Font"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.guied.commands.addLayer"
                  label="Add Layer"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiEditorActive">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.guied.core.definitions.guiEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.dynamo.cr.guied.ui.guiEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.GuiSceneNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.NodesNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.texturesNodeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.TexturesNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.fontsNodeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.FontsNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.layersNodeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.LayersNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.guied.core.GuiNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.guied.handlers.AddBoxNodeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guied.handlers.AddTextNodeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addSecondary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guied.handlers.AddPieNodeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addTertiary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.nodesNodeSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guied.handlers.AddTextureHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.texturesNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guied.handlers.AddFontHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.fontsNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guied.handlers.AddLayerHandler"
            commandId="com.dynamo.cr.guied.commands.addLayer">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <or>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.guiSceneSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.guied.core.definitions.layersNodeSelected">
                  </reference>
               </or>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.guied.commands.addLayer"
            name="Add Layer">
      </command>
   </extension>

</plugin>
