<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.dynamo.cr.editor.menus.tools">
         <menu
               id="com.dynamo.cr.editor.menus.tools.target"
               label="Target">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.dynamo.cr.target.TargetContributionFactory"
            locationURI="menu:com.dynamo.cr.editor.menus.tools.target">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.dynamo.cr.target.handlers.SelectTargetHandler"
            id="com.dynamo.cr.target.commands.selectTarget"
            name="Select Target">
         <state
               class="org.eclipse.ui.handlers.RadioState:initial"
               id="org.eclipse.ui.commands.radioState">
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Target"
               optional="false">
         </commandParameter>
      </command>
   </extension>

</plugin>
