@CHARSET "UTF-8";

body {
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 8px;
}

#top {
	_width: 9600px;
	height: 90px;
	background-image: url("background.png");
	background-repeat: repeat-x;
}

#bar {
	position: absolute;
	left: 580px;
	top: 65px;
	color: white;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-stretch: ultra-expanded;
	font-weight: 300;
	font-family: 'Helvetica Neue', arial;
	letter-spacing: 2.0px;
	white-space: nowrap;
}

#main {
	position: absolute;
	left: 16px;
	top: 120px;
	width: 900px;
}

.radioGroup {
	margin-top: 8px;
	margin-bottom: 8px;
}

.radioGroup * label {
	margin-left: 6px;
	font-size: 13px;
}

.input label {
	margin: 40px;
}

.input input {
	margin: 40px;
}

a {
	color: #20416c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.bar {
	color: white;
}

a.bar:hover {
	color: #bbbbbb;
	text-decoration: none;
}

h1 {
	font-size: 20px;
	color: #474c58;
}

h2 {
	font-size: 16px;
	color: #474c58;
}

/* Our Wicket stuff */
div.wicket-aa {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align: left;
}

ul.memberList {
    list-style: none;
    padding-left: 6px;
    _margin-left: 2px;
}

div.wicket-aa ul {
	list-style: none;
	padding: 2px;
	margin: 0;
}

input {
	font-size: 11px;
    padding: 4px;
}

div.wicket-aa ul li {
    padding-left: 4px;
    font-size: 11px;
}

div.wicket-aa ul li.selected {
	background-color: #bfd1f8;
	margin: 0;
}

div.dashboard {
	_background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fff) ); /* for webkit browsers */
	_background: -moz-linear-gradient(top, #eee, #fff);
	background: #f8f8f8;
	/* for firefox 3.6+ */
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

div.dashboardContent {
	_background: blue;
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 10px;
	border: 0px;
	border-top: 1px;
	border-color: #aaa;
	border-style: solid;
}

.toolbarbutton {
	-webkit-appearance: none;
	-webkit-box-align: center;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-ant;
	background: #566c53;
	display: inline-block;
	padding: 9px 10px 9px;
	margin-left: 12px;
	margin-right: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	border: none;
	position: relative;
	cursor: pointer;
	width: 100px;
	text-align: center;
}

input.commonForm {
	font-size: 14px;
	padding: 5px;
	width: 330px;
}

form.commonForm {
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fff) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee, #fff);
	/* for firefox 3.6+ */
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 350px;
}

div.project {
	_background: #ddd;
	padding-left: 4px;
	padding-top: 0px;
	margin-bottom: 16px;
}

span.projectName {
	font-size: 14px;
	font-weight: bold;
}

div.projectInfo {
	font-size: 11px;
}

div.projectSummary {
	margin-top: 2px;
	font-size: 12px;
}

div.projectPage {
    _background: -webkit-gradient(linear, left top, left bottom, from(#eee),
        to(#fff) ); /* for webkit browsers */
    _background: -moz-linear-gradient(top, #eee, #fff);
    background: #f8f8f8;
    /* for firefox 3.6+ */
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;

    padding-top: 6px;
    padding-left: 12px;
    padding-right: 10px;
}

.userName {
	font-size: 12px;
}

.email {
	font-size: 12px;
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.signupbutton {
	-webkit-appearance: none;
	-webkit-box-align: center;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-ant;
	background: #6b6932;
	display: inline-block;
	padding: 8px 20px 8px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	border: none;
	position: relative;
	cursor: pointer;
}

.formbutton {
	-webkit-appearance: none;
	-webkit-box-align: center;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-ant;
	background: #676f7e;
	display: inline-block;
	padding: 8px 20px 8px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	border: none;
	position: relative;
	cursor: pointer;
}

.newbutton {
	-webkit-appearance: none;
	-webkit-box-align: center;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px 0px;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-ant;
	background: #566c53;
	display: inline-block;
	padding: 6px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	border: none;
	position: relative;
	cursor: pointer;
}

/* Built-in Wicket stuff */
ul.feeddbackPanel {
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fff) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee, #fff);
	/* for firefox 3.6+ */
	__background-color: #ddd;
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 20px;
	width: 350px;
}

ul.feedbackPanel {
	padding: 0px;
}

/* Doesn't looks nice with multiple error (layed out horizontally) */
li.feedbackPanelERROR {
	color: #fff;
	background-color: #a30700;
	font-size: 12px;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #a30700;
	border-bottom-color: #aaa;
	border-right-color: #aaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 32px;
	padding-right: 32px;
	margin: 0px;
	display: inline-block;
}