/* Minimal asciidoc css
   Most styles fallbacks to bootstrap css

   NOTE: When asciidoc.css is removed this files should be renamed to asciidoc.css
 */

.asciidoc div.tableblock, .asciidoc div.imageblock, .asciidoc div.exampleblock, .asciidoc div.verseblock,
.asciidoc div.quoteblock, .asciidoc div.literalblock, .asciidoc div.listingblock, .asciidoc div.sidebarblock,
.asciidoc div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}

.asciidoc div.admonitionblock {
    margin-top: 2.0em;
    margin-bottom: 2.0em;
    margin-right: 10%;
}

.asciidoc div.admonitionblock .icon {
    vertical-align: top;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 0.5em;
}

.asciidoc div#footer-text {
    font-size: 0.9em;
    font-style: italic;
}

.asciidoc div.admonitionblock td.content {
padding-left: 0.5em;
border-left: 3px solid #DDD;
}

/* bootstrap page-header emulation style */
.asciidoc h1 {
    padding-bottom: 17px;
    margin: 18px 0;
    border-bottom: 1px solid #EEE;
}

/* Some extra space before the footer */
.asciidoc #footer {
    margin-bottom: 4em;
}

/* Quick tweak. We should perhaps use the default bootstrap style or change the default
   In any way, it must be consistent and well thought out.
 */
.asciidoc h2, h3 {
    margin-bottom: 0.5em;
}
