table.table-members {
    width: auto;
}

td.table-members-col0  {
    height: 48px;
    width: 48px;
}

td.table-members-col1  {
    padding-right: 5em;
}

table.table-commits {
    width: auto;
}

td.table-commits-col0  {
    height: 32px;
    width: 32px;
}

td.table-commits-col1  {
    width: 30em;
}

div.message {
    padding: 3px 30px 3px 30px;
    background-color: #dad37b;
    color: #444;
    border: 1px solid #b4b056;
    border-radius: 0px 0px 6px 6px;
    z-index: 10000;
}

.gwt-SuggestBoxPopup {
    border: 1px solid #98999c;
    background: #FBFCFD;
    border-radius: 6px;
}

.gwt-SuggestBoxPopup .item-selected {
    background: #0088cc;
}

.gwt-SuggestBoxPopup .item {
    padding: 3px 8px;
    color: white;
    cursor: default;
    border-radius: 4px;
}

.gwt-PopupPanelGlass {
    background-color: black;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-DialogBox {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #eee;
    padding: 24px;
}

.gwt-DialogBox {
    width: 400px;
}

/* OpenID buttons */

button.openIDGoogle {
    background-position: center;
    width: 100px;
    height: 42px;
    font-weight: 500;
    background:#ffffff url('/images/google_openid.png') no-repeat center center;
    color: #3C6414;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #888;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

button.openIDYahoo {
    background-position: center;
    width: 198px;
    height: 30px;
    font-weight: 500;
    background:#ffffff url('/images/yahoo_openid.png') no-repeat center center;
    color: #3C6414;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #888;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

input[readonly]
{
  cursor: initial;
}

