/* This file is a bit messy but it's only used for the landing page */
body {
    padding-top: 0px;
}

.landing {
    color: white;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.landing .navbar-inner {
    background-color: #00b4ff;
    background-image: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav>li>a:hover {
    background-color: #008ee3;
}

.navbar .nav>li>a {
    color: white;
    text-shadow: none;
    font-size: 16px;
    font-weight: 200;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar a.brand {
    margin-left: 34px;
    background: url(images/white_logo.png) no-repeat;
    background-position: center center;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -khtml-background-size: 100% auto;
    -moz-background-size: 100% auto;
    width: 200px;
    display: block;
}

@media ( max-width : 767px) {
    .white-logo {
        width: 70%;
    }
    .navbar a.brand {
        margin-left: 0px;
        width: 100px;
    }
}

.landing div.navbar {
    padding-top: 30px;
    background-color: #00b4ff;
}

.landing .navbar-inner {
    height: 100px;
}

.landing-heading {
    background-color: #00b4ff;
    height: 250px;
    border-bottom: 2px solid #AAA;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
}

.laptop {
    margin: -110px auto 0;
    text-align: center;
}

@media ( max-width : 767px) {
    .laptop {
        -o-background-size: 384px 228px;
        -webkit-background-size: 384px 228px;
        -khtml-background-size: 384px 228px;
        -moz-background-size: 384px 228px;
    }
}

.laptop div.play {
    position: relative;
}

.laptop span.play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 83px;
    height: 53px;
    margin-left: -41px;
    margin-top: -52px;
    background: url(images/play.png) no-repeat;
}

.laptop span.play:hover {
    background: url(images/play_pressed.png) no-repeat;
}

.laptop a.play {
    display: block;
}

.landing-heading  h1 {
    padding-top: 20px;
    _margin-bottom: 90px;
    font-weight: 300;
    font-size: 48px;
}

@media ( max-width : 767px) {
    .landing-heading  h1 {
        padding-top: 20px;
        font-size: 32px;
    }
}

/* Features boxes */
.features {
    border-radius: 16px 16px 16px 16px;
    padding: 20px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
}

.features-red {
    border: 8px solid #ff00a0;
}

.features-green {
    border: 8px solid #94b400;
}

.feature-image {
    text-align: center;
}

/* Testimonials */
.testi-red {
    border-left: 5px solid #ff00a0;
}

.testi-blue {
    border-left: 5px solid #00b4ff;
}

/* Button test
   TODO: Remove this when more general
   styling is implemented, see case 1222
 */
.btn2 {
    background-color: #00b4ff;
    border: 1px solid #00b4ff;;
    color: white;
}

.btn2:hover {
    background-color: #00b4ff;
    border: 1px solid #008EE3;
    color: white;
}

.btn2:active {
    background-color: #008EE3;
    border: 1px solid #008EE3;
    color: white;
}