<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.tileeditor.TileSetEditor"
            contributorClass="com.dynamo.cr.tileeditor.TileSetEditorActionBarContributor"
            default="false"
            extensions="tileset"
            icon="icons/tile_set.png"
            id="com.dynamo.cr.tileeditor.TileSetEditor"
            name="Tile Set Editor">
      </editor>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="tileset"
            id="com.dynamo.cr.tileeditor.resourcetypes.TileSet"
            name="Tile Set"
            proto-message-class="com.dynamo.tile.proto.Tile$TileSet"
            resource-refactor-participant-class="com.dynamo.cr.tileeditor.core.refactoring.TilesetRefactorParticipant"
            template-data="image: &apos;&apos; tile_width: 16 tile_height: 16 tile_margin: 0 tile_spacing: 0 collision: &apos;&apos; material_tag: &apos;&apos; collision_groups: &apos;foreground&apos;"
            type-class="tile_set">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            file-extension="grid"
            id="com.dynamo.cr.tileeditor.resourcetypes.TileGrid"
            name="Tile Grid"
            proto-message-class="com.dynamo.tile.proto.Tile$TileGrid"
            template-data="tile_set: &quot;&quot; cell_width: 32 cell_height: 32"
            type-class="tile_set">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            icon="icons/tile_set.png"
            id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            name="Tile Set">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            name="Tile Set Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adds a collision group"
            id="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            name="Add Collision Group">
      </command>
      <command
            description="Makes all of the tile set visible within the current view port"
            id="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            name="Frame Tile Set">
      </command>
      <command
            description="Resets zoom"
            id="com.dynamo.cr.tileeditor.commands.ResetZoom"
            name="Reset Zoom">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.ResetZoom"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Z">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.dynamo.cr.editor.menus.tools?after=com.dynamo.cr.ddfeditor.menus.GameObject">
         <menu
               id="com.dynamo.cr.tileeditor.menus.TileSet"
               label="Tile Set">
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
                  icon="icons/collision_group.png"
                  label="Add Collision Group"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet"
                  label="Frame Tile Set"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.ResetZoom"
                  label="Reset Zoom"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.tileeditor.menus.TileSetOutlineContext">
         <command
               commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
               label="Add"
               style="push">
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.RenameCollisionsGroup"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.dynamo.cr.tileeditor.TileSetEditorOutlinePage$CollisionGroupItem">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.RemoveCollisionsGroup"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.dynamo.cr.tileeditor.TileSetEditorOutlinePage$CollisionGroupItem">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="com.dynamo.cr.tileeditor.editorProperties.isRenderingEnabled"
                     value="true">
               </test>
            </with></enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.ResetZoom"
            commandId="com.dynamo.cr.tileeditor.commands.ResetZoom">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="com.dynamo.cr.tileeditor.editorProperties.isRenderingEnabled"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="com.dynamo.cr.tileeditor.contexts.TileSetEditor">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dynamo.cr.tileeditor.TileSetEditorPropertyTester"
            id="com.dynamo.cr.tileeditor.propertyTesters.TileSetEditor"
            namespace="com.dynamo.cr.tileeditor.editorProperties"
            properties="isRenderingEnabled"
            type="com.dynamo.cr.tileeditor.TileSetEditor">
      </propertyTester>
   </extension>

</plugin>
