<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.tileeditor.TileSetEditor"
            default="false"
            extensions="tileset"
            icon="icons/small_tiles.png"
            id="com.dynamo.cr.tileeditor.TileSetEditor"
            name="Tile Set Editor">
      </editor>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="tileset"
            id="com.dynamo.cr.tileeditor.resourcetypes.TileSet"
            name="Tile Set"
            proto-message-class="com.dynamo.tile.proto.Tile$TileSet"
            template-data="image: &apos;&apos; tile_width: 16 tile_height: 16 tile_margin: 0 tile_spacing: 0 collision: &apos;&apos; material_tag: &apos;&apos; collision_groups: &apos;foreground&apos;"
            type-class="tile_set">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            icon="icons/small_tiles.png"
            id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            name="Tile Set">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
