<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.tileeditor.TileSetEditor"
            contributorClass="com.dynamo.cr.tileeditor.DefoldEditorActionBarContributor"
            default="false"
            extensions="tileset"
            icon="icons/tile_set.png"
            id="com.dynamo.cr.tileeditor.TileSetEditor"
            name="Tile Set Editor">
      </editor>
      <editor
            class="com.dynamo.cr.tileeditor.GridEditor"
            contributorClass="com.dynamo.cr.tileeditor.DefoldEditorActionBarContributor"
            default="false"
            extensions="tilegrid"
            icon="icons/tile_grid.png"
            id="com.dynamo.cr.tileeditor.GridEditor"
            name="Tile Grid Editor">
      </editor>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="tileset"
            id="com.dynamo.cr.tileeditor.resourcetypes.TileSet"
            name="Tile Set"
            proto-message-class="com.dynamo.tile.proto.Tile$TileSet"
            resource-refactor-participant-class="com.dynamo.cr.tileeditor.core.refactoring.TileSetRefactorParticipant"
            template-data="image: &apos;&apos; tile_width: 16 tile_height: 16 tile_margin: 0 tile_spacing: 0 collision: &apos;&apos; material_tag: &apos;tile&apos; collision_groups: &apos;foreground&apos;"
            type-class="tile_set">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            file-extension="tilegrid"
            id="com.dynamo.cr.tileeditor.resourcetypes.TileGrid"
            name="Tile Grid"
            proto-message-class="com.dynamo.tile.proto.Tile$TileGrid"
            template-data="tile_set: &quot;&quot; layers: {id: &quot;layer1&quot; z: 0 is_visible: 1}"
            type-class="tile_grid">
         <references>
            <reference-type-class
                  type-class="tile_set">
            </reference-type-class>
         </references>
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            icon="icons/tile_set.png"
            id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard"
            name="Tile Set">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.tileeditor.wizards.GridNewWizard"
            icon="icons/tile_grid.png"
            id="com.dynamo.cr.tileeditor.wizards.GridNewWizard"
            name="Tile Grid">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.tileeditor.wizards.TileSetNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.tileeditor.wizards.GridNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            name="Tile Set Editor">
      </context>
      <context
            id="com.dynamo.cr.tileeditor.contexts.GridEditor"
            name="Tile Grid Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adds a collision group"
            id="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            name="Add Collision Group">
      </command>
      <command
            description="Makes all of the tile set visible within the current view port"
            id="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            name="Frame Tile Set">
      </command>
      <command
            description="Resets zoom"
            id="com.dynamo.cr.tileeditor.commands.ResetZoom"
            name="Reset Zoom">
      </command>
      <command
            id="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            name="Set Brush Collision Group">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="index"
               optional="false"
               values="com.dynamo.cr.tileeditor.CollisionGroupParameterValues">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="-1">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            description="Toggles the tile set palette"
            id="com.dynamo.cr.tileeditor.commands.ShowPalette"
            name="Show Palette">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            description="Adds a layer"
            id="com.dynamo.cr.tileeditor.commands.AddLayer"
            name="Add Layer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.ResetZoom"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Z">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="0">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="-1">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="1">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="0">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="2">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="1">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="3">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="2">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="4">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="3">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="5">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="4">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="6">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="5">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="7">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="6">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="8">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="7">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            contextId="com.dynamo.cr.tileeditor.contexts.TileSetEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="9">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="8">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.ShowPalette"
            contextId="com.dynamo.cr.tileeditor.contexts.GridEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SPACE">
      </key>
      <key
            commandId="com.dynamo.cr.tileeditor.commands.AddLayer"
            contextId="com.dynamo.cr.tileeditor.contexts.GridEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.dynamo.cr.tileeditor.menus.TileSet"
               label="Tile Set">
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
                  icon="icons/collision_group.png"
                  label="Add Collision Group"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet"
                  label="Frame Tile Set"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.ResetZoom"
                  label="Reset Zoom"
                  style="push">
            </command>
            <menu
                  label="Collision Groups">
               <dynamic
                     class="com.dynamo.cr.tileeditor.CollisionGroupsContributionItem"
                     id="com.dynamo.cr.tileeditor.dynamics.collisionGroups">
               </dynamic>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.tileeditor.menus.TileSetOutlineContext">
         <command
               commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
               label="Add"
               style="push">
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.dynamo.cr.tileeditor.menus.TileGrid"
               label="Tile Grid">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.tileeditor.definitions.gridEditorActive">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.ShowPalette"
                  label="Show Palette"
                  style="toggle">
            </command>
            <command
                  commandId="com.dynamo.cr.tileeditor.commands.AddLayer"
                  icon="icons/layer.png"
                  label="Add Layer"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.tileeditor.menus.GridOutlineContext">
         <command
               commandId="com.dynamo.cr.tileeditor.commands.AddLayer"
               label="Add"
               style="push">
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>  </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.tileeditor.commands.AddCollisionGroup"
            commandId="com.dynamo.cr.tileeditor.commands.AddCollisionGroup">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.RenameCollisionsGroup"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.dynamo.cr.tileeditor.TileSetEditorOutlinePage$CollisionGroupItem">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.RemoveCollisionsGroup"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.dynamo.cr.tileeditor.TileSetEditorOutlinePage$CollisionGroupItem">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.FrameTileSet"
            commandId="com.dynamo.cr.tileeditor.commands.FrameTileSet">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="com.dynamo.cr.tileeditor.editorProperties.isRenderingEnabled"
                     value="true">
               </test>
            </with></enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.ResetZoom"
            commandId="com.dynamo.cr.tileeditor.commands.ResetZoom">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="com.dynamo.cr.tileeditor.editorProperties.isRenderingEnabled"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup"
            commandId="com.dynamo.cr.tileeditor.commands.SetBrushCollisionGroup">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="com.dynamo.cr.tileeditor.editorProperties.isRenderingEnabled"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.ShowPalette"
            commandId="com.dynamo.cr.tileeditor.commands.ShowPalette">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.gridEditorActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.RemoveLayer"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.gridEditorActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.dynamo.cr.tileeditor.core.Layer">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.tileeditor.commands.AddLayer"
            commandId="com.dynamo.cr.tileeditor.commands.AddLayer">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.tileeditor.definitions.gridEditorActive">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.tileeditor.definitions.tileSetEditorActive">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="com.dynamo.cr.tileeditor.contexts.TileSetEditor">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.tileeditor.definitions.gridEditorActive">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="com.dynamo.cr.tileeditor.contexts.GridEditor">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dynamo.cr.tileeditor.TileSetEditorPropertyTester"
            id="com.dynamo.cr.tileeditor.propertyTesters.TileSetEditor"
            namespace="com.dynamo.cr.tileeditor.editorProperties"
            properties="isRenderingEnabled"
            type="com.dynamo.cr.tileeditor.TileSetEditor">
      </propertyTester>
   </extension>

</plugin>
