{:new-project
 {:categories [{:label "welcome.tab.templates"
                :templates [{:name "welcome.new-project.empty-project.title"
                             :description "welcome.new-project.empty-project.description"
                             :image "empty.svg"
                             :duration "Short"
                             :user-level "Beginner"
                             :zip-url "https://github.com/defold/template-empty/archive/master.zip"
                             :bundle true
                             :skip-root? true}

                            {:name "welcome.new-project.mobile-game.title"
                             :description "welcome.new-project.mobile-game.description"
                             :image "mobile.svg"
                             :duration "Medium"
                             :user-level "Advanced"
                             :zip-url "https://github.com/defold/template-mobile/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.desktop-game.title"
                             :description "welcome.new-project.desktop-game.description"
                             :image "desktop.svg"
                             :duration "Long"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/template-desktop/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.poki-html5-game.title"
                             :description "welcome.new-project.poki-html5-game.description"
                             :image "poki.svg"
                             :duration "Medium"
                             :user-level "Advanced"
                             :zip-url "https://github.com/defold/template-html5-poki/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.native-extension.title"
                             :description "welcome.new-project.native-extension.description"
                             :image "extension.svg"
                             :duration "Long"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/template-native-extension/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.basic-3d-project.title"
                             :description "welcome.new-project.basic-3d-project.description"
                             :image "3d.svg"
                             :duration "Short"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/template-basic-3d/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.platformer-game.title"
                             :description "welcome.new-project.platformer-game.description"
                             :image "platformer.svg"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/template-platformer/archive/main.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.rive-project.title"
                             :description "welcome.new-project.rive-project.description"
                             :image "rive.svg"
                             :duration "Medium"
                             :user-level "Advanced"
                             :zip-url "https://github.com/defold/template-rive/archive/master.zip"
                             :skip-root? true}]}

               {:label "welcome.tab.tutorials"
                :templates [{:name "welcome.new-project.side-scroller-tutorial.title"
                             :description "welcome.new-project.side-scroller-tutorial.description"
                             :image "side-scroller.png"
                             :duration "Short"
                             :user-level "Beginner"
                             :zip-url "https://github.com/defold/tutorial-side-scroller/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.walking-astronaut-tutorial.title"
                             :description "welcome.new-project.walking-astronaut-tutorial.description"
                             :image "astronaut.png"
                             :duration "Medium"
                             :user-level "Beginner"
                             :zip-url "https://github.com/defold/tutorial-astronaut/archive/master.zip"
                             :skip-root? true}


                            {:name "welcome.new-project.movement-tutorial.title"
                             :description "welcome.new-project.movement-tutorial.description"
                             :image "movement.png"
                             :duration "Medium"
                             :user-level "Beginner"
                             :zip-url "https://github.com/defold/tutorial-movement/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.war-battles-tutorial.title"
                             :description "welcome.new-project.war-battles-tutorial.description"
                             :image "war-battles.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/tutorial-war-battles/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.colorslide-tutorial.title"
                             :description "welcome.new-project.colorslide-tutorial.description"
                             :image "colorslide.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/tutorial-colorslide/archive/master.zip"
                             :skip-root? true}]}

               {:label "welcome.tab.samples"
                :templates [{:name "welcome.new-project.linker-sample-game.title"
                             :description "welcome.new-project.linker-sample-game.description"
                             :image "linker.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-linker/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.roids-sample-game.title"
                             :description "welcome.new-project.roids-sample-game.description"
                             :image "roids.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-roids/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.pixel-line-platformer.title"
                             :description "welcome.new-project.pixel-line-platformer.description"
                             :image "pixelline.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-pixel-line-platformer/archive/refs/heads/main.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.main-menu-animation.title"
                             :description "welcome.new-project.main-menu-animation.description"
                             :image "screen_menu_animation.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-main-menu-animation/archive/refs/heads/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.parallax.title"
                             :description "welcome.new-project.parallax.description"
                             :image "screen_parallax.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-parallax/archive/refs/heads/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.hud.title"
                             :description "welcome.new-project.hud.description"
                             :image "screen_hud.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-hud/archive/refs/heads/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.level-complete.title"
                             :description "welcome.new-project.level-complete.description"
                             :image "screen_lvlcomplete.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-levelcomplete/archive/refs/heads/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.rpg-map-sample.title"
                             :description "welcome.new-project.rpg-map-sample.description"
                             :image "rpg-map.png"
                             :duration "Medium"
                             :user-level "Intermediate"
                             :zip-url "https://github.com/defold/sample-rpgmap/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.shadertoy-sample.title"
                             :description "welcome.new-project.shadertoy-sample.description"
                             :image "shadertoy.png"
                             :duration "Short"
                             :user-level "Advanced"
                             :zip-url "https://github.com/defold/sample-shadertoy/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.3d-treasure-scene.title"
                             :description "welcome.new-project.3d-treasure-scene.description"
                             :image "treasurescene.png"
                             :duration "Short"
                             :user-level "Advanced"
                             :zip-url "https://github.com/FlexYourBrain/Basic3d_TreasureScene/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.perspective-parallax.title"
                             :description "welcome.new-project.perspective-parallax.description"
                             :image "perspectiveparallax.png"
                             :duration "Short"
                             :user-level "Advanced"
                             :zip-url "https://github.com/FlexYourBrain/sample-perspective_parallax/archive/master.zip"
                             :skip-root? true}

                            {:name "welcome.new-project.lightning-vfx.title"
                             :description "welcome.new-project.lightning-vfx.description"
                             :image "sample_lightningvfx.png"
                             :duration "Long"
                             :user-level "Advanced"
                             :zip-url "https://github.com/FlexYourBrain/sample_LightningVFX/archive/master.zip"
                             :skip-root? true}]}]}}
