<configuration>

	<appender name="ECLIPSE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>

		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>

	<appender name="STDERR"
		class="com.dynamo.cr.editor.core.logging.EclipseForwardingAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>

		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>

	<root level="info">
		<appender-ref ref="STDERR" />
		<appender-ref ref="ECLIPSE" />
	</root>
</configuration>
