<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Control the network REPL (read-evaluate-print loop)"
            id="com.dynamo.cr.clojure-nrepl.commands.category"
            name="REPL">
      </category>
      <command
            categoryId="com.dynamo.cr.clojure-nrepl.commands.category"
            id="com.dynamo.cr.clojure-nrepl.commands.startRepl"
            name="Start REPL">
      </command>
      <command
            categoryId="com.dynamo.cr.clojure-nrepl.commands.category"
            id="com.dynamo.cr.clojure-nrepl.commands.stopRepl"
            name="Stop REPL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.clojurenrepl.handlers.StartReplHandler"
            commandId="com.dynamo.cr.clojure-nrepl.commands.startRepl">
         <enabledWhen>
		    <with variable="activeContexts">
		        <iterate ifEmpty="true">
		        	<not>
		            	<equals value="com.dynamo.cr.clojure-nrepl.server-running"/>
		            </not>
		        </iterate>
		    </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.clojurenrepl.handlers.StopReplHandler"
            commandId="com.dynamo.cr.clojure-nrepl.commands.stopRepl">
         <enabledWhen>
		    <with variable="activeContexts">
		        <iterate ifEmpty="false" operator="or">
		            	<equals value="com.dynamo.cr.clojure-nrepl.server-running"/>
		        </iterate>
		    </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.dynamo.cr.clojure-nrepl.menus.replMenu"
               label="Clojure REPL"
               mnemonic="R">
            <command
                  commandId="com.dynamo.cr.clojure-nrepl.commands.startRepl"
                  id="com.dynamo.cr.clojure-nrepl.menus.startRepl"
                  label="Start REPL"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.dynamo.cr.clojure-nrepl.commands.stopRepl"
                  id="com.dynamo.cr.clojure-nrepl.menus.stopRepl"
                  label="Stop REPL"
                  mnemonic="T">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.clojure-nrepl.server-running"
            name="com.dynamo.cr.clojure-nrepl.server-running">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.dynamo.cr.clojurenrepl.provider.ReplSessionProvider">
         <variable
               name="com.dynamo.cr.clojure-osgi.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="internal.ui.GenericEditor"
            default="false"
            extensions="atlas"
            icon="icons/images.png"
            id="com.dynamo.cr.sceneed2.atlasEditor"
            name="Atlas Editor (mark II)">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
</plugin>
