;; Copyright 2020-2026 The Defold Foundation
;; Copyright 2014-2020 King
;; Copyright 2009-2014 Ragnar Svensson, Christian Murray
;; Licensed under the Defold License version 1.0 (the "License"); you may not use
;; this file except in compliance with the License.
;;
;; You may obtain a copy of the License, together with FAQs at
;; https://www.defold.com/license
;;
;; Unless required by applicable law or agreed to in writing, software distributed
;; under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
;; CONDITIONS OF ANY KIND, either express or implied. See the License for the
;; specific language governing permissions and limitations under the License.

{:function-arguments-indentation :cursive
 :extra-indents {cljfx.composite/props [[:inner 0]]
                 clojure.core.cache/defcache [[:inner 0]]
                 clojure.core/assoc! [[:inner 0]]
                 clojure.core/defmulti [[:inner 0]]
                 clojure.core/defonce [[:inner 0]]
                 clojure.core/vector-of [[:inner 0]]
                 clojure.test/are [[:inner 0]]
                 dev/run-with-progress [[:inner 0]]
                 dev/run-with-terminal-progress [[:inner 0]]
                 dynamo.graph/construct [[:inner 0]]
                 dynamo.graph/let-ec [[:inner 0]]
                 dynamo.graph/make-nodes [[:inner 0]]
                 dynamo.graph/fnk [[:block 1]]
                 dynamo.graph/override [[:inner 0]]
                 dynamo.graph/precluding-errors [[:inner 0]]
                 dynamo.graph/set-properties [[:inner 0]]
                 dynamo.graph/set-properties! [[:inner 0]]
                 dynamo.graph/set-property [[:inner 0]]
                 dynamo.graph/set-property! [[:inner 0]]
                 dynamo.graph/transact [[:inner 0]]
                 dynamo.graph/tx-cached-value! [[:inner 0]]
                 dynamo.graph/with-auto-evaluation-context [[:inner 0]]
                 dynamo.graph/with-auto-or-fake-evaluation-context [[:inner 0]]
                 dynamo.graph/with-system [[:inner 0]]
                 editor.analytics-test/with-config! [[:inner 0]]
                 editor.code.resource/register-code-resource-type [[:inner 0]]
                 editor.defold-project/read-nodes [[:inner 0]]
                 editor.defold-project/with-transpiler-txs-fn [[:inner 0]]
                 editor.editor-extensions.runtime/lua-fn [[:inner 0]]
                 editor.editor-extensions.runtime/suspendable-lua-fn [[:inner 0]]
                 editor.editor-extensions.runtime/varargs-lua-fn [[:inner 0]]
                 editor.editor-extensions.validation/ensure [[:inner 0]]
                 editor.editor-extensions.vm/with-lock [[:inner 0]]
                 editor.file-test/with-temp-dir [[:inner 0]]
                 editor.file-test/with-temp-dir! [[:inner 0]]
                 editor.fs/maybe-silently [[:inner 0]]
                 editor.fxui/defc [[:inner 0]]
                 editor.git-test/with-git [[:inner 0]]
                 editor.gl.shader/defshader [[:inner 0]]
                 editor.gl.vertex/defvertex [[:inner 0]]
                 editor.gl.vertex2/defvertex [[:inner 0]]
                 editor.gl/gl-push-matrix [[:inner 0]]
                 editor.gl/with-drawable-as-current [[:inner 0]]
                 editor.gl/with-gl-bindings [[:inner 0]]
                 editor.graph-util/connect-existing-outputs [[:inner 0]]
                 editor.graph-util/set-properties-from-pb-map [[:inner 0]]
                 editor.gui/layout-property-edit-type [[:inner 0]]
                 editor.gui/wrap-layout-property-edit-type [[:inner 0]]
                 editor.handler/defhandler [[:block 2] [:inner 1]]
                 editor.handler/register! [[:inner 0]]
                 editor.handler/register-dynamic! [[:inner 0]]
                 editor.handler/register-menu! [[:inner 0]]
                 editor.lsp.async/with-auto-evaluation-context [[:inner 0]]
                 editor.prefs-test/with-schemas [[:inner 0]]
                 editor.protobuf/assign [[:inner 0]]
                 editor.protobuf/assign-repeated [[:inner 0]]
                 editor.protobuf/clear-defaults [[:inner 0]]
                 editor.protobuf/inject-defaults [[:inner 0]]
                 editor.protobuf/make-map [[:inner 0]]
                 editor.protobuf/make-map-with-defaults [[:inner 0]]
                 editor.protobuf/make-map-without-defaults [[:inner 0]]
                 editor.resource-io/with-error-translation [[:inner 0]]
                 editor.resource-node/register-ddf-resource-type [[:inner 0]]
                 editor.resource-node/register-settings-resource-type [[:inner 0]]
                 editor.settings/register-simple-settings-resource-type [[:inner 0]]
                 editor.ui.bindings/-if [[:inner 0]]
                 editor.ui.bindings/when [[:inner 0]]
                 editor.ui.bindings/when-not [[:inner 0]]
                 editor.ui/event-dispatcher [[:inner 0]]
                 editor.ui/event-handler [[:inner 0]]
                 editor.ui/invalidation-listener [[:inner 0]]
                 editor.ui/on-action! [[:inner 0]]
                 editor.ui/on-closing! [[:inner 0]]
                 editor.ui/with-controls [[:inner 0]]
                 editor.ui/with-on-edit-event-suppressed [[:inner 0]]
                 editor.ui/with-progress [[:inner 0]]
                 editor.workspace/register-resource-type [[:inner 0]]
                 editor.workspace/register-view-type [[:inner 0]]
                 editor.yaml/with-error-translation [[:inner 0]]
                 integration.build-test/with-build-results [[:inner 0]]
                 integration.gui-test/with-visible-layout! [[:inner 0]]
                 integration.test-util/set-code-editor-lines [[:inner 0]]
                 integration.test-util/set-code-editor-lines! [[:inner 0]]
                 integration.test-util/with-changes-reverted [[:inner 0]]
                 integration.test-util/with-loaded-project [[:inner 0]]
                 integration.test-util/with-logged-calls [[:inner 0]]
                 integration.test-util/with-prop [[:inner 0]]
                 integration.test-util/with-scratch-project [[:inner 0]]
                 integration.test-util/with-temp-dir! [[:inner 0]]
                 integration.test-util/write-file-resource! [[:inner 0]]
                 org.httpkit.server/with-channel [[:inner 0]]
                 support.test-support/with-clean-system [[:inner 0]]
                 util.bit-set/transfer [[:inner 0]]
                 util.coll/assoc-in-ex [[:inner 0]]
                 util.coll/into-> [[:inner 0]]
                 util.coll/reduce-> [[:inner 0]]
                 util.coll/reduce-kv-> [[:inner 0]]
                 util.coll/run!-> [[:inner 0]]
                 util.coll/transform-> [[:inner 0]]
                 util.debug-util/log-time [[:inner 0]]
                 util.debug-util/log-time-and-memory [[:inner 0]]
                 util.debug-util/measuring [[:inner 0]]
                 util.debug-util/metrics-time [[:inner 0]]
                 util.profiler/profile [[:inner 0]]
                 vlaaad.reveal/defaction [[:inner 0]]
                 vlaaad.reveal/defstream [[:inner 0]]}
 :alias-map {g dynamo.graph
             handler editor.handler}}

