/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/doc/api
/bin/
/tmp
/generated-resources/
/editor2.log
/misc/timeseries.csv
/resources/_unpack/
/.cache
/resources/dialogs.css
/resources/editor.css
/resources/splash.css
/resources/template-projects
/editor2.*.log
/log.txt
/.project
/.pydevproject
/resources/doc/
/build
/preflight-report.txt
/.calva
.lsp/*
!.lsp/config.edn
/.portal
/defunload-issues.txt
/src/antlr