a:link, a:visited, a:hover, a:active {
    color: #5BC0FF;
    text-decoration: none;
}

body {
    background-color: #1F2226;
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(162, 176, 190, 0.7);
    padding: 13px 0px 0px 24px;
    line-height: 1.5;
}

.header {
    color: rgb(207, 218, 230);
    font-size: 40px;
    font-weight: 200;
}
