<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            node="com.dynamo.cr.sceneed.go.GameObjectNode"
            presenter="com.dynamo.cr.sceneed.go.GameObjectPresenter"
            resource-type="com.dynamo.cr.sceneed.go.resourcetypes.gameObject">
      </node-type>
      <node-type
            node="com.dynamo.cr.sceneed.go.SpriteNode"
            presenter="com.dynamo.cr.sceneed.go.ComponentPresenter"
            resource-type="com.dynamo.cr.sceneed.go.resourcetypes.sprite">
      </node-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.sceneed.go.GameObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.sceneed.go.definitions.componentSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.sceneed.go.ComponentNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.sceneed.go.handlers.AddComponentHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.add">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.go.handlers.RemoveComponentHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.go.definitions.componentSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.go.handlers.AddComponentFromFileHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addLink">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.go.handlers.EnterRefComponentHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.enter">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="or">
                     <instanceof
                           value="com.dynamo.cr.sceneed.go.RefComponentNode">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext">
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.add"
               label="Add Component"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
               label="Add Component From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Game Object">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.add"
                  label="Add Component"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
                  label="Add Component From File"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.sceneed.go.definitions.gameObjectSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.sceneed.go.definitions.componentSelected">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="go"
            id="com.dynamo.cr.sceneed.go.resourcetypes.gameObject"
            name="Game Object"
            proto-message-class="com.dynamo.gameobject.proto.GameObject$PrototypeDesc"
            resource-refactor-participant-class="com.dynamo.cr.sceneed.go.refactoring.GameObjectRefactorParticipant"
            template-data=" "
            type-class="gameobject">
         <references>
            <reference-type-class
                  type-class="component">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="sprite"
            id="com.dynamo.cr.sceneed.go.resourcetypes.sprite"
            name="Sprite"
            proto-message-class="com.dynamo.sprite.proto.Sprite$SpriteDesc"
            resource-refactor-participant-class="com.dynamo.cr.sceneed.go.refactoring.SpriteRefactorParticipant"
            template-data="texture: &apos;&apos; width: 1 height: 1"
            type-class="component">
         <references>
            <reference-type-class
                  type-class="image">
            </reference-type-class>
         </references>
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.sceneed.go.wizards.GameObjectNewWizard"
            icon="icons/brick.png"
            id="com.dynamo.cr.sceneed.go.wizards.gameObjectNewWizard"
            name="Game Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.sceneed.go.wizards.SpriteNewWizard"
            icon="icons/penguin.png"
            id="com.dynamo.cr.sceneed.go.wizards.spriteNewWizard"
            name="Sprite File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.sceneed.go.wizards.gameObjectNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.sceneed.go.wizards.spriteNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.sceneed.go.wizards.gameObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.sceneed.go.wizards.spriteNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            default="false"
            extensions="go"
            icon="icons/brick.png"
            id="com.dynamo.cr.sceneed.go.goEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            default="false"
            extensions="sprite"
            icon="icons/penguin.png"
            id="com.dynamo.cr.sceneed.go.spriteEditor"
            name="Scene Editor">
      </editor>
   </extension>
</plugin>
