<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" [ <!ATTLIST key merge (keep) #IMPLIED> ]>
<plist version="1.0">
<dict>
        <key>BuildMachineOSBuild</key>
        <string>19G73</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>{{ios.default_language}}</string>
        <key>CFBundleDisplayName</key>
        <string>{{project.title}}</string>
        <key>CFBundleExecutable</key>
        <string>{{exe-name}}</string>
        <key>CFBundleIcons</key>
        <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                        <key>CFBundleIconName</key>
                        <string>AppIcon</string>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>AppIcon60x60</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <{{ios.pre_renderered_icons}}/>
                </dict>
        </dict>
        <key>CFBundleIcons~ipad</key>
        <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                        <key>CFBundleIconName</key>
                        <string>AppIcon</string>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>AppIcon76x76</string>
                                <string>AppIcon83.5x83.5</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <{{ios.pre_renderered_icons}}/>
                </dict>
        </dict>
        <key>CFBundleIdentifier</key>
        <string>{{ios.bundle_identifier}}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>{{bundle-name}}</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>{{project.version}}</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
                <string>iPhoneOS</string>
        </array>
        <key>CFBundleVersion</key>
        <string>{{bundle-version}}</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>17G64</string>
        <key>DTPlatformName</key>
        <string>iphoneos</string>
        <key>DTPlatformVersion</key>
        <string>12.1</string>
        <key>DTSDKBuild</key>
        <string>16B91</string>
        <key>DTSDKName</key>
        <string>iphoneos12.1</string>
        <key>DTXcode</key>
        <string>1010</string>
        <key>DTXcodeBuild</key>
        <string>10B61</string>
        <key>UIFileSharingEnabled</key>
        <{{project.write_log}}/>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>MinimumOSVersion</key>
        <string>9.0</string>
        <key>UIDeviceFamily</key>
        <array>
                <integer>1</integer>
                <integer>2</integer>
        </array>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
                <string>arm64</string>
                <string>opengles-3</string>
        </array>
        <key>CFBundleLocalizations</key>
        <array>{{#application-localizations}}
            <string>{{.}}</string>{{/application-localizations}}
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>

        <key>CFBundleURLTypes</key>
        <array>
        </array>

        <key>LSApplicationQueriesSchemes</key>
        <array>
                {{#application-queries-schemes}}<string>{{.}}</string>{{/application-queries-schemes}}
        </array>

        <key>UILaunchStoryboardName</key>
        <string>{{launch-screen}}</string>

        <key>UIRequiresFullScreen</key>
        <true/>
</dict>
</plist>
