<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>BuildMachineOSBuild</key>
        <string>13A603</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>{{project.title}}</string>
        <key>CFBundleExecutable</key>
        <string>{{project.title}}</string>
        <key>CFBundleIconFiles</key>
        <array>
                <string>Icon-167.png</string>
                <string>Icon-60@3x.png</string>
                <string>Icon-60@2x.png</string>
                <string>Icon-76@2x.png</string>
                <string>Icon-76.png</string>
                <string>Icon@2x.png</string>
                <string>Icon.png</string>
                <string>Icon-72@2x.png</string>
                <string>Icon-72.png</string>
        </array>
        <key>CFBundleIcons</key>
        <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>Icon-167.png</string>
                                <string>Icon-60@3x.png</string>
                                <string>Icon-60@2x.png</string>
                                <string>Icon-76@2x.png</string>
                                <string>Icon-76.png</string>
                                <string>Icon@2x.png</string>
                                <string>Icon.png</string>
                                <string>Icon-72@2x.png</string>
                                <string>Icon-72.png</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <{{ios.pre_renderered_icons}}/>
                </dict>
        </dict>
        <key>CFBundleIdentifier</key>
        <string>{{ios.bundle_identifier}}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>dmengine</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>{{project.version}}</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
                <string>iPhoneOS</string>
        </array>
        <key>CFBundleVersion</key>
        <string>{{project.version}}</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>11B508</string>
        <key>DTPlatformName</key>
        <string>iphoneos</string>
        <key>DTPlatformVersion</key>
        <string>7.0</string>
        <key>DTSDKBuild</key>
        <string>11B508</string>
        <key>DTSDKName</key>
        <string>iphoneos7.0</string>
        <key>DTXcode</key>
        <string>0501</string>
        <key>DTXcodeBuild</key>
        <string>5A2053</string>
        <key>UIFileSharingEnabled</key>
        <{{project.write_log}}/>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>MinimumOSVersion</key>
        <string>6.0.0</string>
        <key>UIDeviceFamily</key>
        <array>
                <integer>1</integer>
                <integer>2</integer>
        </array>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
                <string>armv7</string>
                <string>opengles-2</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>

        <key>CFBundleURLTypes</key>
        <array>
                <dict>
                        <key>CFBundleURLSchemes</key>
                        <array>
                                {{#url-schemes}}<string>{{.}}</string>{{/url-schemes}}
                        </array>
                </dict>
        </array>

        <key>LSApplicationQueriesSchemes</key>
        <array>
                {{#application-queries-schemes}}<string>{{.}}</string>{{/application-queries-schemes}}
        </array>

        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>facebook.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>fbcdn.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>akamaihd.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
            </dict>
        </dict>

        <key>UILaunchImages</key>
        <array>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-1024h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-1024h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-1366h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{1024,1366}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-1366h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{1024,1366}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait-812h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 812}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-812h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 812}</string>
                </dict>
        </array>
</dict>
</plist>
