<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lua Editor"
            extensions="lua,script,gui_script,render_script"
            icon="icons/cog.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.dynamo.cr.luaeditor.LuaEditor"
            id="com.dynamo.cr.luaeditor.LuaEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.luaeditor.wizards.GameObjectScriptNewWizard"
            icon="icons/cog.png"
            id="com.dynamo.cr.luaeditor.NewGameObjectScriptWizard"
            name="Script File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.luaeditor.wizards.GuiScriptNewWizard"
            icon="icons/cog.png"
            id="com.dynamo.cr.luaeditor.NewGuiScriptWizard"
            name="Gui Script File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.luaeditor.wizards.LuaModuleNewWizard"
            icon="icons/cog.png"
            id="com.dynamo.cr.luaeditor.NewLuaModuleWizard"
            name="Lua Module File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.luaeditor.NewGameObjectScriptWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.luaeditor.NewGuiScriptWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.luaeditor.NewLuaModuleWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="script"
            id="com.dynamo.cr.luaeditor.resourcetypes.Script"
            name="Script"
            type-class="component">
      </resource-type>
      <resource-type
            file-extension="gui_script"
            id="com.dynamo.cr.luaeditor.resourcetypes.GuiScript"
            name="Gui Script"
            type-class="gui_script">
      </resource-type>
      <resource-type
            file-extension="render_script"
            id="com.dynamo.cr.luaeditor.resourcetypes.RenderScript"
            name="Render Script"
            type-class="render_script">
      </resource-type>
      <resource-type
            file-extension="lua"
            id="com.dynamo.cr.luaeditor.resourcetypes.LuaModule"
            name="Lua Module">
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.dynamo.cr.luaeditor.LuaDocumentSetupParticipant"
            extensions="lua,script,gui_script,render_script">
      </participant>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.luaeditor.scene.nodes.script"
            loader="com.dynamo.cr.luaeditor.scene.ScriptLoader"
            node="com.dynamo.cr.luaeditor.scene.ScriptNode"
            resource-type="com.dynamo.cr.luaeditor.resourcetypes.Script">
      </node-type>
   </extension>
   <extension
         point="com.dynamo.cr.editor.ui.tip">
      <tip
            editor-id="com.dynamo.cr.luaeditor.LuaEditor"
            link="See &lt;a href=&quot;http://doc.defold.com/doc/scripting&quot;&gt;Scripting&lt;/a&gt;, &lt;a href=&quot;http://doc.defold.com/doc/debugging&quot;&gt;Debugging&lt;/a&gt; and &lt;a href=&quot;http://doc.defold.com/doc/debugging#anchor-hr&quot;&gt;Hot Reloading&lt;/a&gt; for more info."
            tip="While scripting, you can bring up a list of the available functions by pressing Ctrl+Space.\nMake your changes appear instantly in the running game by pressing Ctrl+R or Cmd+R."
            title="Auto-Completion and Hot Reloading">
      </tip>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.luaeditor.NewGameObjectScriptWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.luaeditor.NewGuiScriptWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.luaeditor.NewLuaModuleWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
