<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lua Editor"
            extensions="lua,script,gui_script,render_script"
            icon="icons/lua.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.dynamo.cr.luaeditor.LuaEditor"
            id="com.dynamo.cr.luaeditor.LuaEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.luaeditor.wizards.GameObjectScriptNewWizard"
            icon="icons/lua.gif"
            id="com.dynamo.cr.luaeditor.NewGameObjectScriptWizard"
            name="Script File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.luaeditor.wizards.GuiScriptNewWizard"
            icon="icons/lua.gif"
            id="com.dynamo.cr.luaeditor.NewGuiScriptWizard"
            name="Gui Script File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.luaeditor.NewGameObjectScriptWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.luaeditor.NewGuiScriptWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="script"
            id="com.dynamo.cr.luaeditor.resourcetypes.Script"
            name="Script"
            type-class="component">
      </resource-type>
      <resource-type
            file-extension="gui_script"
            id="com.dynamo.cr.luaeditor.resourcetypes.GuiScript"
            name="Gui Script"
            type-class="gui_script">
      </resource-type>
      <resource-type
            file-extension="render_script"
            id="com.dynamo.cr.luaeditor.resourcetypes.RenderScript"
            name="Render Script"
            type-class="render_script">
      </resource-type>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            node="com.dynamo.cr.luaeditor.scene.ScriptNode"
            presenter="com.dynamo.cr.luaeditor.scene.ScriptPresenter"
            resource-type="com.dynamo.cr.luaeditor.resourcetypes.Script">
      </node-type>
   </extension>

</plugin>
