/* Alert Dialog */
.alert-dialog {
    #message {
        -fx-background-color: transparent;
        -fx-border-width: 0;
        -fx-padding: 0;

        &:focused {
            -fx-border-width: 0;
        }
    }
}