.choice-box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: $input-background;
    -fx-background-insets: 0;
    -fx-border-color: $mid-grey;
    -fx-border-width: 0;
    -fx-padding: 0;
    &:showing {
        -fx-background-color: $dark-grey;
        -fx-color: $defold-white;
    }
    &:showing .arrow {
        -fx-background-color: $defold-white; 
    }
    .label {
        -fx-text-fill: -fx-text-background-color;
    }
    .open-button {
        -fx-padding: 10 7 !important;
        -fx-background-color: $mid-grey;
        &:hover {
            -fx-background-color: $mid-grey-light;
            -fx-background-insets: 0;
        }
        &:pressed, &:focused {
            -fx-background-color: $input-background;
            -fx-text-fill: $defold-white;
        }
    }
}
