.cljfx-form {
  -fx-padding: 24px;
  .title {
    -fx-text-fill: $defold-white;
    -fx-font-family: "Source Sans Pro Light";
    -fx-font-size: 24px;
  }
  .separator {
    -fx-padding: 30 0;
    -fx-background-color: transparent;
    > .line {
      -fx-background-color: rgba(255, 255, 255, 0.1);
      -fx-border-color: transparent;
    }
  }
  .fields {
    -fx-padding: 16px;
    -fx-hgap: 3px;
    -fx-vgap: 12px;
  }
  .icon-button {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-background-color: $mid-grey !important;
    -fx-padding: 0;
    -fx-min-width: 27px;
    -fx-max-width: 27px;
    -fx-pref-width: 27px;
    -fx-min-height: 27px;
    -fx-max-height: 27px;
    -fx-pref-height: 27px;
    -fx-focus-traversable: false;
    -fx-border-width: 0;
    &:hover {
        -fx-background-color: $grey !important;
    }
    &:armed {
        -fx-background-color: $dark-grey-header !important;
    }
  }
  .list-view {
    -fx-border-radius: 2px;
    -fx-padding: 0 0 1px 0;
    -fx-border-color: $input-border;
    -fx-background-color: $input-background;
    -fx-background-radius: 20px;
    .list-cell {
      .text-field {
        -fx-border-width: 0;
      }
    }
  }
  .text-field {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
  }
  .check-box > .box {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-pref-width: 22px;
    -fx-pref-height: 22px;
  }
  .combo-box {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    > .text-field {
      -fx-border-width: 0;
    }
  }
}

$floating-input-border: #56595d;

.cljfx-form-floating-area {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
  -fx-background-color: $mid-grey;
  -fx-background-radius: 6px;
  .filter-text-field {
    -fx-border-color: $floating-input-border;
    -fx-border-radius: 2px;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 3px;
    -fx-background-image: url("icons/32/Icons_M_09_search.png");
    -fx-background-position: right 6px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px;
    &:focused {
      -fx-background-color: $root-background;
      -fx-border-color: $floating-input-border $floating-input-border $defold-orange $floating-input-border;
    }
  }

}
