.cljfx-form-title {
  -fx-font-size: 200%;
}

.cljfx-form-separator {
  -fx-padding: 30 0;
  -fx-background-color: transparent;
  > .line {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: transparent;
  }
  &:horizontal .line {
    -fx-border-width: 1 0 0;
  }
  &:vertical .line {
    -fx-border-width: 0 1 0 0;
  }
}
.cljfx-form-fields {
  -fx-padding: 16px;
  -fx-hgap: 3px;
}

.cljfx-form-icon-button {
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
  -fx-background-color: -df-component-dark !important;
  -fx-padding: 0;
  -fx-min-width: 27px;
  -fx-max-width: 27px;
  -fx-pref-width: 27px;
  -fx-min-height: 27px;
  -fx-max-height: 27px;
  -fx-pref-height: 27px;
  -fx-focus-traversable: false;
  -fx-border-width: 0;
  &:hover {
    -fx-background-color: -df-component-lighter !important;
  }
  &:armed {
    -fx-background-color: -df-component-light !important;
  }
}

.cljfx-form-list-view {
  -fx-border-radius: 2px;
  -fx-padding: 0 0 1px 0;
  -fx-border-color: -df-component-dark;
  -fx-background-color: -df-background-input;
  -fx-background-radius: 0px;
  .list-cell {
    .text-field {
      -fx-border-width: 0;
    }
  }
}

.cljfx-form-text-field {
  -fx-border-radius: 2px !important;
  -fx-background-radius: 2px  !important;
}

.cljfx-form-check-box > .box {
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
  -fx-pref-width: 22px;
  -fx-pref-height: 22px;
}

.cljfx-form {
  -fx-padding: 24px;
}

.cljfx-form-combo-box {
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
  -fx-border-color: -df-component-dark;
  > .text-field {
    -fx-border-width: 0 !important;
  }
}
.cljfx-table-view-wrapper {
  -fx-border-width: 1px;
  -fx-border-radius: 2px;
  -fx-border-color: -df-background-lighter;
}
.cljfx-table-view {
  & > .virtual-flow > .scroll-bar:vertical {
      -fx-opacity: 0;
      -fx-padding: -7;
  }
  .table-column:last-visible { -fx-border-width: 0; }

  &:focused {
    -fx-border-insets: 0 0 -1 0;
  }
}

.cljfx-form-error {
  .combo-box, .list-view, .text-field, .check-box > .box {
    -fx-border-color: -df-error-severity-fatal;
  }
}

.cljfx-form-warning {
  .combo-box, .list-view, .text-field, .check-box > .box {
    -fx-border-color: -df-error-severity-warning;
  }
}

.cljfx-form-contents {
  -fx-background-color: derive(-df-background-light, 5%);

  .filter-text-field {
    -fx-border-color: -df-component-light;
    -fx-border-radius: 2px;
    -fx-background-radius: 3px;
    -fx-pref-width: 120px;
    -fx-background-position: right 6px center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 4px 22px 4px 8px;
    -fx-background-color: -df-background-light;
    -fx-background-image: url("icons/32/Icons_M_09_search.png");
    -fx-background-size: 15px;
    -fx-cursor: text;
    &:focused {
      -fx-padding: 4px 22px 3px 8px;
      -fx-background-color: -df-background;
      -fx-border-color: -df-component-light -df-component-light -df-defold-orange -df-component-light;
    }
  }
  & .scroll-bar {
    -fx-background-color: derive(-df-background-light, 5%);
  }
}
.cljfx-form-contents {
  -fx-padding: 1px;
  &-scroll-pane {
    & > .viewport {-fx-background-color: transparent !important;}
  }
}
.cljfx-form-section {
  &-header {
    -fx-padding: 2px 12px;
    -fx-font-size: 90%;
    -fx-text-fill: derive(-df-text, -20%);
  }
  &-button {
    -fx-padding: 2px 12px;
    -fx-text-fill: -df-text;
    &:active {
      -fx-text-fill: -df-text-selected;
      -fx-background-color: -df-component-dark;
      &:hover {
        -fx-background-color: -df-component-lighter;
      }
    }
    &:hover {
      -fx-background-color: -df-component-dark;
    }
  }
}
