.color-picker {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: $input-field-background;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    &:hover {
        -fx-background-color: $dark-grey;
    }
    &:showing {
        -fx-background-color: $dark-grey;
        -fx-color: $defold-white;
    }
    &:showing .arrow {
        -fx-background-color: $defold-white;
    }
    .label {
        -fx-text-fill: $bright-grey;
    }
    .arrow-button {
        -fx-background-radius: 0;
        -fx-border-radius: 0;
        -fx-border-width: 0;
        -fx-background-insets: 0;
        -fx-background-color: $mid-grey-light;
        &:hover {
            -fx-background-color: $grey;
        }
    }
}
.color-palette {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: $mid-grey;
  -fx-background-color: $input-field-background//$dark-grey;
}
