.color-picker {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: -df-background-light;
    -fx-background-insets: 0;
    &:showing {
        -fx-background-color: -df-background-light;
        -fx-color: -df-text;
        .color-picker-label {
            -fx-text-fill: -df-text;
        }
    }
    &:showing .arrow {
        -fx-background-color: -df-text;
    }
    .color-picker-label {
        -fx-border-width: 1;
        -fx-border-color: -df-background-lighter;
        -fx-background-insets: 0;
        -fx-padding: 4px 8px;
    }
    .arrow-button {
        -fx-background-radius: 0;
        -fx-border-radius: 0;
        -fx-border-width: 0;
        -fx-background-insets: 0;
        -fx-padding: 5 7;
        -fx-background-color: -df-component-dark;
        &:hover {
            -fx-background-color: -df-component-darker;
        }
        &:armed, &:pressed {
            -fx-background-color: -df-background-light;
        }
    }
}
.color-palette {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: -df-background-lighter;
  -fx-background-color: -df-component-darker;
}
