.context-menu {
    -fx-background-color: -df-component-dark;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-padding: 5px;

    .scroll-arrow {
        .menu-down-arrow, .menu-up-arrow {
            -fx-fill: -df-component-icon;
            -fx-background-color: -df-component-icon;
        }
    }

    @include menu-elements();
}
