.flat-list-view {
    -fx-background-insets: 0;
    .list-cell {
        -fx-background-color: $dark-grey-light;
        -fx-border-width: 0 0 0 2;
        -fx-border-color: $dark-grey-light;
        -fx-padding: 5;//0.5em 1em;
        &:hover {
            -fx-text-fill: $defold-white;
        }
        &:selected {
            -fx-border-width: 0 0 0 2;
            -fx-border-color: $defold-orange;
            -fx-text-fill: $defold-white;
            -fx-background-color: $dark-grey-selected;
            &:hover {
                -fx-text-fill: $defold-white; 
            }
            .image-view {
                @include effect-lighten-blue();
            }
        }

        .label {
            -fx-text-fill: $defold-white;
        }
    }
}