.flat-list-view {
    -fx-background-insets: 0;
    .list-cell {
        -fx-background-color: -df-background-light;
        -fx-border-width: 0 0 0 2;
        -fx-border-color: -df-background-light;
        -fx-padding: 5;//0.5em 1em;

        Text {
            -fx-font-smoothing-type: lcd;
            -fx-fill: -df-text;
            &.diminished {
                -fx-opacity: 0.5;
            }
            &.matched {
                -fx-fill: -df-defold-blue-lighter;
            }
        }

        &:hover {
            -fx-text-fill: -df-text-selected;

            Text {
                -fx-fill: -df-text-selected;
                &.matched {
                    -fx-fill: -df-defold-blue-lighter;
                }
            }
        }
        &:selected {
            -fx-border-width: 0 0 0 2;
            -fx-border-color: -df-defold-orange;
            -fx-text-fill: -df-text-selected;
            -fx-background-color: -df-background-lighter;
            &:hover {
                -fx-text-fill: -df-text-selected;
            }
            & > .image-view {
                @include effect-bright-grey();
            }

            Text {
                -fx-fill: -df-text-selected;
                &.matched {
                    -fx-fill: -df-defold-blue-lighter;
                }
            }
        }

        .label {
            -fx-text-fill: -df-text;
        }
    }
}
TextFlow.deprecated > Text {
  -fx-strikethrough: true;
  -fx-opacity: 0.75;
}
.flat-list-container {
  -fx-border-color: -df-background-lighter;
}
.flat-list-doc-background {
  -fx-border-color: -df-background-lighter;
  -fx-border-width: 1px;
  -fx-background-color: -df-background-light;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}
.hover-background {
  -fx-background-color: -df-component-dark;
  -fx-border-color: -df-component-lighter;
  -fx-border-width: 1px;
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
}
.rename-text-field {
    -fx-background-color: -df-background-input;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-color: -df-component-lighter;
    -fx-text-fill: -df-text-selected;
    -fx-highlight-fill: #4E4A46;
    -fx-padding: 4px;
}