.flat-list-view {
    -fx-background-insets: 0;
    .list-cell {
        -fx-background-color: -df-background-light;
        -fx-border-width: 0 0 0 2;
        -fx-border-color: -df-background-light;
        -fx-padding: 5;//0.5em 1em;

        Text {
            -fx-font-smoothing-type: lcd;
            -fx-fill: -df-text;
            &.diminished {
                -fx-opacity: 0.5;
            }
            &.matched {
                -fx-fill: -df-defold-blue-lighter;
            }
        }

        &:hover {
            -fx-text-fill: -df-text-light;

            Text {
                -fx-fill: -df-text-light;
                &.matched {
                    -fx-fill: -df-defold-blue-lighter;
                }
            }
        }
        &:selected {
            -fx-border-width: 0 0 0 2;
            -fx-border-color: -df-defold-orange;
            -fx-text-fill: -df-text-light;
            -fx-background-color: -df-background-lighter;
            &:hover {
                -fx-text-fill: -df-text-light;
            }
            .image-view {
                @include effect-bright-grey();
            }

            Text {
                -fx-fill: -df-text-light;
                &.matched {
                    -fx-fill: -df-defold-blue-lighter;
                }
            }
        }

        .label {
            -fx-text-fill: -df-text-light;
        }
    }
}
