.form {
    >.viewport {
    }
    .section-label {
        -fx-font-size: $default-font-size + 2px;
        -fx-font-weight: bold;
        -fx-text-fill: $defold-white;
    }
    .help-line {
        -fx-text-fill: $bright-grey;
    }
    .editing-cell {
        -fx-padding: 0;
    }
    .button-small {
        -fx-background-radius: 0px;
        -fx-border-radius: 0px;
    }
}

.field-error {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-red !important;
    -fx-effect: none !important;
}

.field-warning {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-yellow !important;
    -fx-effect: none !important;
}

.field-info {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-light-blue !important;
    -fx-effect: none !important;
}

.no-scroll-list-view .scroll-bar .increment-arrow,
.no-scroll-list-view .scroll-bar .decrement-arrow,
.no-scroll-list-view .scroll-bar .increment-button,
.no-scroll-list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}
