.form {
    >.viewport {

    }
    .section-label {
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-text-fill: $defold-white;
    }
    .help-line {
        -fx-text-fill: $bright-grey;
    }
    .editing-cell {
        -fx-padding: 0;
    }
}

.field-error {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-red !important;
    -fx-effect: none !important;
}

.field-warning {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-yellow !important;
    -fx-effect: none !important;
}

.field-info {
    -fx-border-width: 1 !important;
    -fx-border-color: $defold-light-blue !important;
    -fx-effect: none !important;
}