.fuzzy-combo-box {
  .text-field {
    -fx-cursor: default;
    &:focused {
      -fx-border-width: 1;
      -fx-border-color: $input-border;
      -fx-padding: 4px 8px;
    }
    &.unmatched {
      -fx-text-fill: $tree-view-icon;
      .text {
        -fx-strikethrough: true;
      }
    }
  }
}
