.fuzzy-combo-box {
  -fx-border-color: $input-border;
  -fx-border-width: 1px;

  .text-field {
    -fx-border-width: 0px;
    -fx-cursor: default;
    -fx-max-height: 26px;
    -fx-min-height: 26px;

    &:focused {
      -fx-background-color: $input-background;
      -fx-border-color: $input-border;
      -fx-border-width: 0px;
    }

    &.unmatched {
      -fx-text-fill: $tree-view-icon;
      .text {
        -fx-strikethrough: true;
      }
    }
  }

  .arrow-button {
    -fx-max-height: 26px;
    -fx-min-height: 26px;
    -fx-padding: 10px 6px 10px 8px;

    > .arrow {
      -fx-background-color: $bright-grey;
      -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    }
  }

  &.showing {
    .arrow-button > .arrow {
      -fx-background-color: $defold-white;
      -fx-rotate: 180;
    }
  }
}

.fuzzy-combo-box.field-error #fuzzy-choices-list-view {
  -fx-background-color: $defold-red;
}

.fuzzy-combo-box.field-warning #fuzzy-choices-list-view {
  -fx-background-color: $defold-yellow;
}

.fuzzy-combo-box.field-info #fuzzy-choices-list-view {
  -fx-background-color: $defold-light-blue;
}

#fuzzy-choices-list-view {
  -fx-background-color: $input-border;
  -fx-background-radius: 0px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);

  .scroll-bar:horizontal .increment-arrow,
  .scroll-bar:horizontal .decrement-arrow,
  .scroll-bar:horizontal .increment-button,
  .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0px;
  }
}
