.hyperlink {
  -fx-font-smoothing-type: lcd;
  -fx-text-fill: -df-defold-blue-light;
  -fx-padding: 0;
  -fx-border-width: 0;
  -fx-underline: false;
  -fx-cursor: default;

  &:hover {
    -fx-text-fill: -df-defold-blue-lighter;
    -fx-underline: true;
  }
  &:visited, &:pressed, &:armed, &:focused {
    -fx-border-color: transparent;
  }

}
