.menu-bar {
    -fx-background-color: -df-background;

    .menu-button {
        -fx-background-radius: 0;
        -fx-background-color: transparent;
        -fx-border-radius: 0;
        -fx-border-width: 0;

        >.label {
            -fx-text-fill: -df-text-dark;
        }

        &:hover {
            >.label {
                -fx-text-fill: -df-text-selected;
            }
        }

        &:showing {
            -fx-background-color: -df-component-dark;

            >.label {
                -fx-text-fill: -df-text-selected;
            }
        }
    }

    @include menu-elements();
}

#menu-bar-space {
    -fx-background-color: -df-background;
    -fx-pref-height: 17;
}
