.menu-button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent; 
    &:hover {
        -fx-background-color: $dark-black;
    }
    &:showing {
        -fx-background-color: $dark-grey;
        -fx-text-fill: $defold-white;
        .arrow {
            -fx-background-color: $defold-white;
        }
        .label {
            -fx-text-fill: $defold-white;
        }
    }
    .label {
        -fx-text-fill: $bright-grey;
    }
}