.menu-button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent; 
    &:hover {
        -fx-background-color: -df-dark-grey;
    }
    &:showing {
        -fx-background-color: -df-dark-grey;
        -fx-text-fill: -df-defold-white;
        .arrow {
            -fx-background-color: -df-defold-white;
        }
        .label {
            -fx-text-fill: -df-defold-white;
        }
    }
    .label {
        -fx-text-fill: -df-light-grey-dark;
    }
}