.menu-item {
    -fx-background-color: $dark-grey;
    -fx-text-fill: $bright-grey;
    &:hover {
        -fx-background-color: rgba(38, 74, 139, 0.5);
    }
    &:focused {
        -fx-background-color: rgba(38, 74, 139, 0.5);
        .label {
            -fx-text-fill: $defold-white;
        }
        &:hover {
            /*-fx-background-color: $selected-blue;*/
            .label {
                -fx-text-fill: $defold-white;
            }
        }
    }
    .label {
        -fx-text-fill: $bright-grey;
    }
}

.first-menu-item {
    -fx-border-width: 0, 0 0 2 0;
}
