.menu-bar {
    -fx-background-color: -df-background;

    .menu {
        >.label {
            -fx-text-fill: -df-text-dark;
        }

        &:hover {
            >.label {
                -fx-text-fill: -df-menu-foreground-hover;
            }
        }
        &:showing {
            -fx-background-color: -df-menu-background-hover;
            >.label {
                -fx-text-fill: -df-menu-foreground-hover;
            }
        }
    }

    @include menu-elements();
}

#menu-bar-space {
    -fx-background-color: -df-background;
    -fx-pref-height: $pane-padding-top;
}
