.property-category {
    -fx-padding: 0px;
}

.property-label {
    -fx-padding: 5 10 5 0;
    -fx-font-weight: bold;
}

.property-component {
    -fx-spacing: 0;
    -fx-padding: 0 5 0 0;
    -fx-font-weight: bold;
    .label {
        -fx-padding: 5px;//5px 5px;
        -fx-font-weight: normal;
        /*-fx-background-color: $mid-grey-light;*/
        -fx-text-fill: #848484;//$defold-white; //$mid-grey-light;
        -fx-alignment: center;
        
        .text {
            -fx-text-alignment: center;
        }
    }
    .text-field {
        -fx-padding: 5px 8px;
    }
}
