.separator {
    -fx-background-color: transparent;
    &:horizontal {
        .line {
            -fx-border-color: rgba(255, 255, 255, 0.1);
            -fx-border-width: 1 0 0;
        }
    }

    &:vertical {
        .line {
            -fx-border-color: rgba(255, 255, 255, 0.1);
            -fx-border-width: 0 1 0 0;
        }
    }
}