.slider {
    .track {
        -fx-background-color: -df-dark-grey-light;
        -fx-border-color: -df-dark-grey-lighter;
        -fx-border-width: 1px;
    }
    .thumb {
        -fx-background-color: -df-grey-darker;
        &:pressed, &:hover {
            -fx-background-color: -df-grey;
        }
    }
}