
.table-view {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 0;
    .table-column {
        -fx-background-insets: 0;
        -fx-border-insets: 0;
        -fx-border-width: 0 1 0 0;
        -fx-border-color: $mid-grey;
    }
    .column-header-background {
        -fx-background-insets: 0;
        -fx-border-insets: 0;
        -fx-border-width: 0px;

        .nested-column-header {
            -fx-background-insets: 0;
            -fx-border-insets: 0;
            -fx-border-width: 0px;
            .column-header {
                -fx-background-color: $table-header;
                -fx-border-color: $mid-grey;
                -fx-border-width: 1px 1px 1px 0px;
                -fx-border-insets: 0;
                -fx-background-insets: 0;
                .label {
                    -fx-text-fill: $defold-white;
                }
            }
        }

        .filler {
            -fx-background-insets: 0;
            -fx-background-color: $table-header;
            -fx-border-color: $mid-grey;
            -fx-border-width: 1px 1px 1px 0px;
        }
    }
    .table-row-cell {
        -fx-border-width: 1px 0 0 0;
        -fx-border-color: $mid-grey;
        &:even, &:odd {
            -fx-background-color: $dark-grey;
        }
        &:selected {
            -fx-background-color: $dark-grey-selected;
            .table-cell {
                -fx-text-fill: $defold-white;
            }
        }
        &:focused {
            -fx-border-color: transparent;
            -fx-border-width: 0;
            -fx-background-insets: 0;
        }
        .text-field {
            -fx-background-insets: 0;
            &:focused {
                -fx-background-insets: 0;
            }
        }
    }

    &:focused {
        -fx-border-color: $defold-orange;
        -fx-border-width: 0 0 1 0;
    }
}