
.text-field {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-padding: 4px 8px;
    -fx-background-color: -df-dark-grey-light;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: -df-dark-grey-lighter;
    -fx-text-fill: -df-defold-white;
    -fx-prompt-text-fill: -df-light-grey;
    -fx-min-height: 26px;
    &:hover {

    }
    &:focused {
        -fx-background-color: -df-dark-grey;
        -fx-border-width: 1px 1px 2px 1px;
        -fx-border-insets: 0px 0px 0px 0px;
        -fx-padding: 4px 8px 3px 8px;
        -fx-border-color: -df-dark-grey-lighter -df-dark-grey-lighter -df-defold-orange -df-dark-grey-lighter;
        -fx-text-fill: -df-defold-white;
        -fx-border-radius: 0;
    }
    &:readonly {
        -fx-text-fill: -df-light-grey;
        -fx-cursor: default;
        &:focused {
            -fx-background-radius: 0px;
            -fx-border-radius: 0px;
            -fx-padding: 4px 8px;
            -fx-background-color: -df-dark-grey-light;
            -fx-border-width: 1px 1px 1px 1px;
            -fx-border-color: -df-dark-grey-lighter;
            -fx-text-fill: -df-light-grey;
            -fx-prompt-text-fill: -df-light-grey;
            -fx-min-height: 26px;
        }
    }
}
