.titled-pane {
    -fx-background-color: $dark-grey-light;
    -fx-border-width: 0;
    -fx-padding: 0.0em;
    -fx-text-fill: $defold-white;

    .list-view {
        -fx-background-insets: 0;
        -fx-border-width: 0;
    }

    >.title {
        -fx-background-color: transparent;
        -fx-background-insets: 0;
        -fx-background-radius: 0;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-padding: 12 0 5 12;
    }

    >*.content {
        -fx-border-width: 0;
    }
}