.tree-view {
    -fx-background-color:$bright-black;
    -fx-background-insets: 0;
    >.virtual-flow {
        >.scroll-bar {
            &:vertical {
                -fx-background-insets: 0;
                -fx-padding: -1 -1 -1 0;
            }
            &:horizontal {
                -fx-background-insets: 0;
                -fx-padding: -1 -1 -1 0;
            }
        }
    }
}

.tree-cell {
    -fx-background-color: $bright-black;
    &:filled {
        -fx-padding: 5;
        -fx-border-width: 0 0 0 2;
        -fx-border-color: transparent;

        &:hover {
            -fx-background-color: $dark-black;
            -fx-text-fill: $defold-white;
        }
        &:selected {
            /*-fx-background-color: rgba(38, 74, 139, 0.5);*/
            -fx-border-width: 0 0 0 2;
            -fx-border-color: $defold-orange;
            -fx-text-fill: $defold-white;
            &:hover {
                -fx-background-color: $selected-blue;
                -fx-text-fill: $defold-white; 
            }
            .image-view {
                @include effect-lighten-blue();
            }
        }
        &.first-tree-item {
            -fx-border-insets: 0 0 0 0;
            -fx-padding: 6 0 5 0;
            -fx-background-insets: 0 0 0 0;
            &.last-tree-item {
                -fx-border-insets: 0 0 0 0;
                -fx-padding: 6 0 5 0;
                -fx-background-insets: 0 0 0 0;
            }
        }
        &.last-tree-item {
            -fx-border-insets: 0 0 0 0;
            -fx-background-insets: 0 0 0 0; 
        }
    }
}