<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Defold.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>crawlFilter</filter-name>
		<filter-class>com.dynamo.cr.web2.server.CrawlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>crawlFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>static</servlet-name>
        <servlet-class>com.dynamo.cr.web2.server.StaticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/about/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>

    <error-page>
       <error-code>404</error-code>
       <location>/error/404.html</location>
    </error-page>

    <error-page>
       <error-code>500</error-code>
       <location>/error/500.html</location>
    </error-page>

	<mime-mapping>
		<extension>mp4</extension>
		<mime-type>video/mp4</mime-type>
	</mime-mapping>

</web-app>

