<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
        <welcome-file>dashboard.html</welcome-file>
        <welcome-file>search.jsp</welcome-file>
	</welcome-file-list>

    <servlet>
        <servlet-name>static</servlet-name>
        <servlet-class>com.dynamo.cr.web2.server.StaticServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>search-index</servlet-name>
        <servlet-class>com.dynamo.cr.web2.server.SearchIndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>project-redirect</servlet-name>
        <servlet-class>com.dynamo.cr.web2.server.ProjectRedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/about/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/ref/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>search-index</servlet-name>
        <url-pattern>/search-index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>project-redirect</servlet-name>
        <url-pattern>/p/*</url-pattern>
    </servlet-mapping>

    <error-page>
       <error-code>404</error-code>
       <location>/error/404.html</location>
    </error-page>

    <error-page>
       <error-code>500</error-code>
       <location>/error/500.html</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/search-index/*</url-pattern>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

	<mime-mapping>
		<extension>mp4</extension>
		<mime-type>video/mp4</mime-type>
	</mime-mapping>

</web-app>

