
.dev_depth {
	z-index: 1000;
}

.dev_panel {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	border: 2px solid black;
	background-color: rgba(0,0,0,0.6);
	color: #0f0;

	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}

.dev_panel > h1 {
	font-size: 15px;
	margin-top: 10px;
}

.dev_hidden {
	display: none;
}

#memory_summary {
	outline: none;
	overflow: auto;

	width: 250px;
	height: 250px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 15px;
	font-family: sans-serif;
	background: rgba(0,0,0,0);
	color: #0f0;
}

.dev_checkbox input[type="checkbox"] {
	visibility: hidden;
}

.dev_checkbox_row {
	overflow:hidden;
	width: 100%;
}

.dev_checkbox {
	float: left;
	width: 40px;
	height: 10px;
	background: #555;
	margin-left: 10px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 3px;
}

.dev_checkbox span {
	position: absolute;
	overflow: hidden;
	left: 100%;
	padding-left: 8px;
	top: 0px;
}

.dev_checkbox label {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	background: #ccc;
}

.dev_checkbox input[type=checkbox]:checked + label {
	left: 27px;
}