<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.guieditor.GuiEditor"
            contributorClass="com.dynamo.cr.guieditor.GuiEditorActionBarContributor"
            extensions="gui"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.guieditor.GuiEditor"
            name="Gui Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.guieditor.commands.AddGuiBoxNode"
            commandId="com.dynamo.cr.guieditor.commands.AddGuiBoxNode">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference></enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.AddGuiTextNode"
            commandId="com.dynamo.cr.guieditor.commands.AddGuiTextNode">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.Delete"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.CopyGuiNodes"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="com.dynamo.cr.guieditor.GuiEditor">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.PasteGuiNodes"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="com.dynamo.cr.guieditor.GuiEditor">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.AddTexture"
            commandId="com.dynamo.cr.guieditor.commands.AddTexture">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.AddFont"
            commandId="com.dynamo.cr.guieditor.commands.AddFont">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.BringForward"
            commandId="com.dynamo.cr.guieditor.commands.bringForward">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.dynamo.cr.guieditor.commands.SendBackward"
            commandId="com.dynamo.cr.guieditor.commands.sendBackward">
         <enabledWhen>
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.guieditor.contexts.GuiEditor"
            name="Gui Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.guieditor.definitions.guiEditorActive">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="com.dynamo.cr.guieditor.contexts.GuiEditor">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Add Gui Box Node"
            id="com.dynamo.cr.guieditor.commands.AddGuiBoxNode"
            name="Add Gui Box Node">
      </command>
      <command
            description="Add Gui Text Node"
            id="com.dynamo.cr.guieditor.commands.AddGuiTextNode"
            name="Add Gui Text Node">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            description="Delete Gui Nodes"
            id="com.dynamo.cr.guieditor.commands.DeleteGuiNodes"
            name="Delete Gui Nodes">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            description="Copy Gui Nodes"
            id="com.dynamo.cr.guieditor.commands.CopyGuiNodes"
            name="Copy Gui Nodes">
      </command>
      <command
            categoryId="com.dynamo.crepo.category"
            description="Paste Gui Nodes"
            id="com.dynamo.cr.guieditor.commands.PasteGuiNodes"
            name="Paste Gui Nodes">
      </command>
      <command
            description="Add Texture"
            id="com.dynamo.cr.guieditor.commands.AddTexture"
            name="Add Texture">
      </command>
      <command
            description="Add Font"
            id="com.dynamo.cr.guieditor.commands.AddFont"
            name="Add Font">
      </command>
      <command
            description="Bring Forward"
            id="com.dynamo.cr.guieditor.commands.bringForward"
            name="Bring Forward">
      </command>
      <command
            description="Send Backward"
            id="com.dynamo.cr.guieditor.commands.sendBackward"
            name="Send Backward">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Gui">
         <command
               commandId="com.dynamo.cr.guieditor.commands.AddGuiBoxNode"
               label="Add Box"
               mnemonic="I"
               style="push">
         </command>
         <command
               commandId="com.dynamo.cr.guieditor.commands.AddGuiTextNode"
               label="Add Text"
               mnemonic="O"
               style="push">
         </command>
         <command
               commandId="com.dynamo.cr.guieditor.commands.AddTexture"
               label="Add Texture"
               style="push">
         </command>
         <command
               commandId="com.dynamo.cr.guieditor.commands.AddFont"
               label="Add Font"
               style="push">
         </command>
         <command
               commandId="com.dynamo.cr.guieditor.commands.bringForward"
               label="Bring Forward"
               style="push">
         </command>
         <command
               commandId="com.dynamo.cr.guieditor.commands.sendBackward"
               label="Send Backward"
               style="push">
         </command>
         <visibleWhen
               checkEnabled="false">
            <reference
                  definitionId="com.dynamo.cr.guieditor.definitions.guiEditorActive">
            </reference>
         </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.guieditor.commands.AddGuiBoxNode"
            contextId="com.dynamo.cr.guieditor.contexts.GuiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.guieditor.commands.AddGuiTextNode"
            contextId="com.dynamo.cr.guieditor.contexts.GuiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
      <key
            commandId="com.dynamo.cr.guieditor.commands.bringForward"
            contextId="com.dynamo.cr.guieditor.contexts.GuiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+]">
      </key>
      <key
            commandId="com.dynamo.cr.guieditor.commands.sendBackward"
            contextId="com.dynamo.cr.guieditor.contexts.GuiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+[">
      </key>
   </extension>
   <extension
         point="com.dynamo.cr.editor.ui.tip">
      <tip
            editor-id="com.dynamo.cr.guieditor.GuiEditor"
            tip="If you don&apos;t see the entire gui scene, you can use the scroll bars to move around in it."
            title="Navigating">
      </tip>
   </extension>
</plugin>
