<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Cg Editor"
            extensions="vp,fp,cgh"
            icon="icons/cg.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.dynamo.cr.cgeditor.CgEditor"
            id="com.dynamo.cr.cgeditor.CgEditor">
      </editor>
   </extension>

</plugin>
