[{:type :warning, :file "/defappsflyer/src/DefAppsFlyer.cpp", :line 62, :column 23, :message "format string is not a string literal (potentially insecure) [-Wformat-security]\n        luaL_error(L, msg);\n                      ^~~"}
 {:type :note, :file "/defappsflyer/src/DefAppsFlyer.cpp", :line 62, :column 23, :message "treat the string as an argument to avoid this\n        luaL_error(L, msg);\n                      ^\n                      \"%s\", "}
 {:type :warning, :file "/defappsflyer/src/DefAppsFlyer.h", :line 2, :message "In file included from upload/defappsflyer/src/DefAppsFlyerIOS.mm:2:\nIn file included from upload/defappsflyer/src/DefAppsFlyer.h:2:\nIn file included from /var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//include/dmsdk/sdk.h:12:\n\"DLIB_LOG_DOMAIN is not defined\" [-W#warnings]\n#warning \"DLIB_LOG_DOMAIN is not defined\"\n ^"}
 {:type :warning, :file "/defappsflyer/lib/ios/AppsFlyerTracker.framework/Headers/AppsFlyerTracker.h", :line 196, :message "In file included from upload/defappsflyer/src/DefAppsFlyerIOS.mm:5:\nno 'assign', 'retain', or 'copy' attribute is specified - 'assign' is assumed [-Wobjc-property-no-attribute]\n@property (nonatomic, setter = setAppInviteOneLink:) NSString* appInviteOneLinkID;\n^"}
 {:type :warning, :file "/defappsflyer/lib/ios/AppsFlyerTracker.framework/Headers/AppsFlyerTracker.h", :line 196, :column 1, :message "default property attribute 'assign' not appropriate for non-GC object [-Wobjc-property-no-attribute]"}
 {:type :warning, :file "/defappsflyer/src/utils/LuaUtils.h", :line 3, :message "In file included from upload/defappsflyer/src/utils/LuaUtils.cpp:1:\nIn file included from upload/defappsflyer/src/utils/LuaUtils.h:3:\nIn file included from /var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//include/dmsdk/sdk.h:12:\n\"DLIB_LOG_DOMAIN is not defined\" [-W#warnings]\n#warning \"DLIB_LOG_DOMAIN is not defined\"\n ^"}
 {:type :note, :file "/defappsflyer/ext.manifest", :message "ld: embedded dylibs/frameworks are only supported on iOS 8.0 and later (@rpath/AppsFlyerTracker.framework/AppsFlyerTracker) for architecture arm64"}
 {:type :error, :file "/defappsflyer/ext.manifest", :message "clang-6.0: error: linker command failed with exit code 1 (use -v to see invocation)"}]
