[{:type :error,
  :file "/androidnative/src/main.cpp",
  :line 37,
  :column 34,
  :message
  "'Attach' was not declared in this scope\n     AttachScope() : m_Env(Attach())"}
 {:type :note,
  :file "/androidnative/ext.manifest",
  :message
  "warning: [options] bootstrap class path not set in conjunction with -source 1.6"}
 {:type :note,
  :file "/androidnative/ext.manifest",
  :message
  "warning: [options] bootstrap class path not set in conjunction with -source 1.6"}
 {:type :error,
  :file "/androidnative/src/main.cpp",
  :line 17,
  :column 1,
  :message "'ubar' does not name a type\n ubar g_foo = 0;\n ^"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message "Uncaught translation error: java.lang.IllegalArgumentException: already added: Landroid/support/v4/app/ActionBarDrawerToggle;"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message "Uncaught translation error: java.lang.IllegalArgumentException: already added: Landroid/support/v4/app/ActionBarDrawerToggle$Delegate;"}
 {:type :error,
  :file "/androidnative/src/main.cpp",
  :line 147,
  :column nil,
  :message "undefined reference to 'Foobar()'"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message "collect2: error: ld returned 1 exit status"}
 {:type :error,
  :file "/main.cpp",
  :line 44,
  :column nil,
  :message "undefined reference to 'defos'"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message "collect2: error: ld returned 1 exit status"}]
