[{:type :error,
  :file "/androidnative/src/main.cpp",
  :line 15,
  :column nil,
  :message "C3861: 'Hello': identifier not found"}
 {:type :error,
  :file "/androidnative/src/main.cpp",
  :line 17,
  :column nil,
  :message
  "C4430: missing type specifier - int assumed. Note: C++ does not support default-int"}
 {:type :error,
  :file "/androidnative/src/main.cpp",
  :line 17,
  :column nil,
  :message
  "C2146: syntax error: missing ';' before identifier 'g_foo'"}
 {:type :error,
  :file "/king_device_id/src/kdid.cpp",
  :line 4,
  :column nil,
  :message
  "C1083: Cannot open include file: 'unistd.h': No such file or directory"}
 {:type :error,
  :file
  "/var/extender/.wine/drive_c/ProgramFilesx86/WindowsKits/8.1/Include/shared/ws2def.h",
  :line 905,
  :column 16,
  :message
  "pasting formed '\"Use \"\"ADDRINFOEXW\"', an invalid preprocessing token [-Winvalid-token-paste]"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: 975380ca-f446-4945-87db-070ee587b91c.lib(dopenssl.cpp_0.o): undefined symbol: _RAND_poll"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: 975380ca-f446-4945-87db-070ee587b91c.lib(dopenssl.cpp_0.o): undefined symbol: _RAND_bytes"}
 {:type :warning,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: warning: 222613a7-2aea-4afd-8498-68f39f62468f.lib(dsocket.cpp_1.o): locally defined symbol imported: ___std_terminate (defined in libvcruntime.lib(frame.obj))"}
 {:type :warning,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: warning: 222613a7-2aea-4afd-8498-68f39f62468f.lib(dsocket.cpp_1.o): locally defined symbol imported: __CxxThrowException@8 (defined in libvcruntime.lib(throw.obj))"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: 222613a7-2aea-4afd-8498-68f39f62468f.lib(dsocket.cpp_1.o): undefined symbol: _ERR_reason_error_string"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: 222613a7-2aea-4afd-8498-68f39f62468f.lib(dsocket.cpp_1.o): undefined symbol: _ERR_clear_error"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: 222613a7-2aea-4afd-8498-68f39f62468f.lib(dsocket.cpp_1.o): undefined symbol: _BIO_new_mem_buf"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "/usr/local/bin/lld-link: error: could not open Crypt32.Lib.lib: No such file or directory"}
 {:type :error,
  :file "/androidnative/ext.manifest",
  :message
  "clang-6.0: error: linker command failed with exit code 1 (use -v to see invocation)"}]
