[{:type :warning, :file nil, :message "clang-6.0: warning: treating 'c' input as 'c++' when in C++ mode, this behavior is deprecated [-Wdeprecated]"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(UnwindLevel1.c.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(UnwindLevel1-gcc-ext.c.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(libunwind.cpp.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(UnwindRegistersSave.S.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(UnwindRegistersRestore.S.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libunwind.a(Unwind_AppleExtras.cpp.o)) was built for newer OSX version (10.13) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_codec.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_encoder.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_cx_iface.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_image.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(onyx_if.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(rtcd.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_mem.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_dsp_rtcd.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_scale_rtcd.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(ratectrl.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(alloccommon.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_skin_detection.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(postproc.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(denoising.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(mcomp.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(encodeframe.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(firstpass.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(bitstream.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_quantize_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_quantize_ssse3.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(reconintra.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(lookahead.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_loopfilter.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(quantize_sse4.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_quantize.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(mbpitch.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_asm_stubs.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(pickinter.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(temporal_filter.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(segmentation.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(yv12config.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(yv12extend.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(ethreading.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(picklpf.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_subpixel_8t_intrin_avx2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_asm_stubs.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_subpixel_8t_intrin_ssse3.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(intrapred.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(variance_avx2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(variance_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(loopfilter_avx2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(loopfilter_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(sad.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(sad_avx2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(sad4d_avx2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(sad4d_avx512.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_scale.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vpx_convolve.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(psnr.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(rdopt.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(quant_common.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(filter_x86.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(entropymode.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(encodemv.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(reconinter.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(entropy.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(extend.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(entropymv.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(denoising_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(idct_blk_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(encodemb.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(encodeintra.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(boolhuff.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(findnearmv.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(tokenize.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(gen_scalers.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(reconintra4x4.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(loopfilter_x86.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(systemdependent.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(mfqe.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(setupintrarecon.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(idctllm.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(swapyv12buffer.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(treecoder.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(variance.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(add_noise.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(skin_detection.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(blockd.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(treewriter.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(modecosts.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(vp8_enc_stubs_sse2.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(modecont.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :warning, :file nil, :message "ld: warning: object file (/var/extender/sdk/851fbeb469987908d2b785fa3964003acc919394/defoldsdk//ext/lib/x86_64-macos/libvpx.a(deblock.c.o)) was built for newer OSX version (10.11) than being linked (10.7)"}
 {:type :error, :message "Undefined symbols for architecture x86_64:\n  \"__Z9blaaaarghv\", referenced from:\n      __Z6errir2v in lib60f2fb69-c5c8-4f7a-977d-30f820961a28.a(main.cpp_0.o)", :file nil}
 {:type :note, :file nil, :message "ld: symbol(s) not found for architecture x86_64"}
 {:type :error, :file nil, :message "clang-6.0: error: linker command failed with exit code 1 (use -v to see invocation)"}]
