<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>BuildMachineOSBuild</key>
        <string>15A284</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>{{project.title}}</string>
        <key>CFBundleExecutable</key>
        <string>{{project.title}}</string>
        <key>CFBundleIconFiles</key>
        <array>
                <string>Icon-60@3x.png</string>
                <string>Icon-60@2x.png</string>
                <string>Icon-76@2x.png</string>
                <string>Icon-76.png</string>
                <string>Icon@2x.png</string>
                <string>Icon.png</string>
                <string>Icon-72@2x.png</string>
                <string>Icon-72.png</string>
        </array>
        <key>CFBundleIcons</key>
        <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>Icon-60@3x.png</string>
                                <string>Icon-60@2x.png</string>
                                <string>Icon-76@2x.png</string>
                                <string>Icon-76.png</string>
                                <string>Icon@2x.png</string>
                                <string>Icon.png</string>
                                <string>Icon-72@2x.png</string>
                                <string>Icon-72.png</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <{{ios.pre_renderered_icons}}/>
                </dict>
        </dict>
        <key>CFBundleIdentifier</key>
        <string>{{ios.bundle_identifier}}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>dmengine</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleResourceSpecification</key>
        <string>ResourceRules.plist</string>
        <key>CFBundleShortVersionString</key>
        <string>{{project.version}}</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
                <string>AppleTVOS</string>
        </array>
        <key>CFBundleVersion</key>
        <string>{{project.version}}</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>11B508</string>
        <key>DTPlatformName</key>
        <string>appletvos</string>
        <key>DTPlatformVersion</key>
        <string>9.0</string>
        <key>DTSDKBuild</key>
        <string>13T5347l</string>
        <key>DTSDKName</key>
        <string>appletvos9.0</string>
        <key>DTXcode</key>
        <string>0710</string>
        <key>DTXcodeBuild</key>
        <string>7B60</string>
        <key>UIFileSharingEnabled</key>
        <{{project.write_log}}/>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>MinimumOSVersion</key>
        <string>9.0</string>
        <key>UIDeviceFamily</key>
        <array>
                <integer>3</integer>
        </array>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
                <string>arm64</string>
                <string>opengles-2</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array> {{#orientation-support}}
                <string>UIInterfaceOrientation{{.}}</string>{{/orientation-support}}
        </array>

        <key>CFBundleURLTypes</key>
        <array>
                <dict>
                        <key>CFBundleURLSchemes</key>
                        <array>
                                {{#url-schemes}}<string>fb{{.}}</string>{{/url-schemes}}
                        </array>
                </dict>
        </array>

        <key>UILaunchImages</key>
        <array>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 480}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-568h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{320, 568}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-667h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{375, 667}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape-736h</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{414, 736}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Portrait</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Portrait</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
                <dict>
                    <key>UILaunchImageMinimumOSVersion</key>
                    <string>8.0</string>
                    <key>UILaunchImageName</key>
                    <string>Default-Landscape</string>
                    <key>UILaunchImageOrientation</key>
                    <string>Landscape</string>
                    <key>UILaunchImageSize</key>
                    <string>{768, 1024}</string>
                </dict>
        </array>
</dict>
</plist>
