<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.ddfeditor.ModelEditor"
            default="false"
            extensions="model"
            icon="icons/16-cube-green_16x16.png"
            id="com.dynamo.cr.ddfeditor.modeleditor"
            name="Model Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GameObjectEditor"
            default="false"
            extensions="go"
            icon="icons/brick.png"
            id="com.dynamo.cr.ddfeditor.gameobjecteditor"
            name="Game Object Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CameraEditor"
            default="false"
            extensions="camera"
            icon="icons/camera.png"
            id="com.dynamo.cr.ddfeditor.cameraeditor"
            name="Camera Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.LightEditor"
            default="false"
            extensions="light"
            icon="icons/lightbulb.png"
            id="com.dynamo.cr.ddfeditor.lighteditor"
            name="Light Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.SpawnPointEditor"
            default="false"
            extensions="spawnpoint"
            icon="icons/table_multiple.png"
            id="com.dynamo.cr.ddfeditor.spawnpointeditor"
            name="Spawn Point Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CollisionObjectEditor"
            default="false"
            extensions="collisionobject"
            icon="icons/weight.png"
            id="com.dynamo.cr.ddfeditor.collisionobjecteditor"
            name="Collision Object Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GuiEditor"
            default="false"
            extensions="gui"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.guieditor"
            name="Gui Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.FontEditor"
            default="false"
            extensions="font"
            icon="icons/font.png"
            id="com.dynamo.cr.ddfeditor.fonteditor"
            name="Font Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.MaterialEditor"
            default="false"
            extensions="material"
            icon="icons/large_tiles.png"
            id="com.dynamo.cr.ddfeditor.materialeditor"
            name="Material Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.RenderEditor"
            default="false"
            extensions="render"
            icon="icons/paintcan.png"
            id="com.dynamo.cr.ddfeditor.rendereditor"
            name="Render Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.InputBindingEditor"
            default="false"
            extensions="input_binding"
            icon="icons/keyboard.png"
            id="com.dynamo.cr.ddfeditor.inputeditor"
            name="Input Binding Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GamepadMapEditor"
            default="false"
            extensions="gamepads"
            icon="icons/controller.png"
            id="com.dynamo.cr.ddfeditor.gamepadmapeditor"
            name="Gamepad Map Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.EmitterEditor"
            default="false"
            extensions="emitter"
            icon="icons/dynamite.png"
            id="com.dynamo.cr.ddfeditor.emittereditor"
            name="Emitter Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.SpriteEditor"
            default="false"
            extensions="sprite"
            icon="icons/penguin.png"
            id="com.dynamo.cr.ddfeditor.spriteeditor"
            name="Sprite Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.ConvexShapeEditor"
            default="false"
            extensions="convexshape"
            icon="icons/contrast_high.png"
            id="com.dynamo.cr.ddfeditor.convexshapeeditor"
            name="Convext Shape Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard"
            icon="icons/16-cube-green_16x16.png"
            id="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard"
            name="Model File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.GameObjectNewWizard"
            icon="icons/brick.png"
            id="com.dynamo.cr.ddfeditor.wizards.GameObjectNewWizard"
            name="Game Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard"
            icon="icons/camera.png"
            id="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard"
            name="Camera File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.LightNewWizard"
            icon="icons/lightbulb.png"
            id="com.dynamo.cr.ddfeditor.wizards.LightNewWizard"
            name="Light File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.SpawnPointNewWizard"
            icon="icons/table_multiple.png"
            id="com.dynamo.cr.ddfeditor.wizards.SpawnPointNewWizard"
            name="Spawn Point File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard"
            icon="icons/weight.png"
            id="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard"
            name="Collision Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard"
            name="Gui File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.FontNewWizard"
            icon="icons/font.png"
            id="com.dynamo.cr.ddfeditor.wizards.FontNewWizard"
            name="Font File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard"
            icon="icons/large_tiles.png"
            id="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard"
            name="Material File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard"
            icon="icons/paintcan.png"
            id="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard"
            name="Render File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard"
            icon="icons/keyboard.png"
            id="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard"
            name="Input Binding File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.CollectionNewWizard"
            icon="icons/bricks.png"
            id="com.dynamo.cr.ddfeditor.wizards.CollectionNewWizard"
            name="Collection File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.EmitterNewWizard"
            icon="icons/dynamite.png"
            id="com.dynamo.cr.ddfeditor.wizards.EmitterNewWizard"
            name="Emitter File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.SpriteNewWizard"
            icon="icons/penguin.png"
            id="com.dynamo.cr.ddfeditor.wizards.SpriteNewWizard"
            name="Sprite File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.ddfeditor.wizards.ConvexShapeNewWizard"
            icon="icons/contrast_high.png"
            id="com.dynamo.cr.ddfeditor.wizards.ConvexShapeNewWizard"
            name="Convex Shape File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.ModelNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.GameObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CameraNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.LightNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.SpawnPointNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CollisionObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.GuiNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.FontNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.MaterialNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.RenderNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.InputBindingNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.CollectionNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.SpriteNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.ddfeditor.wizards.ConvextShapeNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            file-extension="model"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Model"
            name="Model"
            proto-message-class="com.dynamo.model.proto.Model$ModelDesc"
            template-data="Name: 'unnamed' Mesh: '' Material: ''">
      </resource-type>
      <resource-type
            file-extension="go"
            id="com.dynamo.cr.ddfeditor.resourcetypes.GameObject"
            name="Game Object"
            proto-message-class="com.dynamo.gameobject.proto.GameObject$PrototypeDesc"
            template-data=" ">
      </resource-type>
      <resource-type
            file-extension="camera"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Camera"
            name="Camera"
            proto-message-class="com.dynamo.camera.proto.Camera$CameraDesc"
            template-data="AspectRatio: 1 FOV: 45 NearZ: 0.1 FarZ: 1000 ">
      </resource-type>
      <resource-type
            file-extension="light"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Light"
            name="Light"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$LightDesc"
            template-data="Id: 'unnamed' Type: POINT Intensity: 10 Color { X: 1 Y: 1 Z: 1 } Range: 50 Decay: 0.9 ">
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="spawnpoint"
            id="com.dynamo.cr.ddfeditor.resourcetypes.SpawnPoint"
            name="Spawn Point"
            proto-message-class="com.dynamo.gamesystem.proto.GameSystem$SpawnPointDesc"
            template-data="Prototype: &apos;&apos; ">
      </resource-type>
      <resource-type
            embeddable="true"
            file-extension="collisionobject"
            id="com.dynamo.cr.ddfeditor.resourcetypes.CollisionObject"
            name="Collision Object"
            proto-message-class="com.dynamo.physics.proto.Physics$CollisionObjectDesc"
            template-data="CollisionShape: &apos;&apos; Type: COLLISION_OBJECT_TYPE_DYNAMIC Mass: 1 Friction: 0.1 Restitution: 0.5 Group: 1 ">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.GuiEditSupport"
            file-extension="gui"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Gui"
            name="Gui"
            proto-message-class="com.dynamo.gui.proto.Gui$SceneDesc"
            template-data="Script: &apos;&apos;">
      </resource-type>
      <resource-type
            file-extension="font"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Font"
            name="Font"
            proto-message-class="com.dynamo.render.proto.Font$FontDesc"
            template-data="Font: '' Material: '' Size: 15">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.MaterialEditSupport"
            file-extension="material"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Material"
            name="Material"
            proto-message-class="com.dynamo.render.proto.Material$MaterialDesc"
            template-data="Name: 'unnamed' VertexProgram: '' FragmentProgram: ''">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.RenderEditSupport"
            file-extension="render"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Render"
            name="Render"
            proto-message-class="com.dynamo.render.proto.Render$RenderPrototypeDesc"
            template-data="Script: &apos;&apos;">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.InputBindingEditSupport"
            file-extension="input_binding"
            id="com.dynamo.cr.ddfeditor.resourcetypes.InputBinding"
            name="Input Binding"
            proto-message-class="com.dynamo.input.proto.Input$InputBinding"
            template-data=" ">
      </resource-type>
      <resource-type
            file-extension="gamepads"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Gamepads"
            name="Gamepads"
            proto-message-class="com.dynamo.input.proto.Input$GamepadMaps"
            template-data="  ">
      </resource-type>
      <resource-type
            file-extension="collection"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Collection"
            name="Collection"
            proto-message-class="com.dynamo.gameobject.proto.GameObject$CollectionDesc"
            template-data="Name: 'unnamed'">
      </resource-type>
      <resource-type
            edit-support-class="com.dynamo.cr.ddfeditor.resourcetypes.EmitterEditSupport"
            file-extension="emitter"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Emitter"
            name="Emitter"
            proto-message-class="com.dynamo.particle.proto.Particle$Emitter"
            template-data="Mode: PLAY_MODE_ONCE Duration: 0.2 Space: EMISSION_SPACE_WORLD Rotation { X: 0.0 Y: 0.0 Z: 0.0 W: 1.0 } Texture { Name: &apos;unnamed&apos; TX: 1 TY: 1 } Material: &apos;unnamed&apos; MaxParticleCount: 8 Type: EMITTER_TYPE_CONE">
      </resource-type>
      <resource-type
            file-extension="sprite"
            id="com.dynamo.cr.ddfeditor.resourcetypes.Sprite"
            name="Sprite"
            proto-message-class="com.dynamo.sprite.proto.Sprite$SpriteDesc"
            template-data="Texture: &apos;&apos; Width: 1 Height: 1 Height: 1">
      </resource-type>
      <resource-type
            file-extension="convexshape"
            id="com.dynamo.cr.ddfeditor.resourcetypes.ConvexShape"
            name="Convex Shape"
            proto-message-class="com.dynamo.physics.proto.Physics$ConvexShape"
            template-data="ShapeType: TYPE_BOX Data: 1 Data: 1 Data: 1">
      </resource-type>
    </extension>

</plugin>
