<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.ddfeditor.ModelEditor"
            default="false"
            extensions="model"
            icon="icons/16-cube-green_16x16.png"
            id="com.dynamo.cr.ddfeditor.modeleditor"
            name="Model Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GameObjectEditor"
            default="false"
            extensions="go"
            icon="icons/brick.png"
            id="com.dynamo.cr.ddfeditor.gameobjecteditor"
            name="Game Object Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CameraEditor"
            default="false"
            extensions="camera"
            icon="icons/camera.png"
            id="com.dynamo.cr.ddfeditor.cameraeditor"
            name="Camera Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.LightEditor"
            default="false"
            extensions="light"
            icon="icons/lightbulb.png"
            id="com.dynamo.cr.ddfeditor.lighteditor"
            name="Light Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.SpawnPointEditor"
            default="false"
            extensions="spawnpoint"
            icon="icons/table_multiple.png"
            id="com.dynamo.cr.ddfeditor.spawnpointeditor"
            name="Spawn Point Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.CollisionObjectEditor"
            default="false"
            extensions="collisionobject"
            icon="icons/weight.png"
            id="com.dynamo.cr.ddfeditor.collisionobjecteditor"
            name="Collision Object Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.GuiEditor"
            default="false"
            extensions="gui"
            icon="icons/text_allcaps.png"
            id="com.dynamo.cr.ddfeditor.guieditor"
            name="Gui Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.FontEditor"
            default="false"
            extensions="font"
            icon="icons/font.png"
            id="com.dynamo.cr.ddfeditor.fonteditor"
            name="Font Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.MaterialEditor"
            default="false"
            extensions="material"
            icon="icons/large_tiles.png"
            id="com.dynamo.cr.ddfeditor.materialeditor"
            name="Material Editor">
      </editor>
      <editor
            class="com.dynamo.cr.ddfeditor.RenderEditor"
            default="false"
            extensions="render"
            icon="icons/paintcan.png"
            id="com.dynamo.cr.ddfeditor.rendereditor"
            name="Render Editor">
      </editor>
   </extension>

</plugin>
