/*.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}
*/

.context-menu {
    -fx-min-width: 10em;
}

.text-area {
    -fx-font-size: 11pt;
    -fx-font-family: "Consolas";
}

.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

#toolbar * {
    -fx-focus-traversable: false;
}

/* by default AnchorPane has a padding of 0.8em. Don't know if we're abusing
   JavaFX by removing padding for AnchorPane */
.titled-pane .content AnchorPane {
    -fx-padding: 0em ;
}

/* See modena.css for progress bar styling */
.small-progress-bar > .bar {
    -fx-background-color: #3492ac;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1em; /* 12 */
}

.small-progress-bar > .track {
    -fx-background-color: darkgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* diff viewer */

.diff-box {
    -fx-fill: #cccccc55;
    -fx-stroke: #000000;
}

