/* Base */
/* Defold re-skin project stylesheet */
/* Base */
/* Colors
 * Defold Light Blue   #60a8ff             Highlight borders and always together with Defold Blue
 * Defold Blue         #2268e6             Highlight buttons
 * Selected Blue       #264a8b             Select states and mouseover for blue buttons
 * Bright Black        #292c30 #2e3236     Background of the application
 * Mid Black           #25282b #292d31     Mouseover tabs
 * Dark Black          #222426 #26282a     Text fields, selected (inactive) files, scroll bg & Outline tabs
 * Dark Grey           #34373b #3b3e43     Module headers
 * Mid Grey            #494b4e #54565a     Inactive text and icons
 * Bright Grey         #8f9296 #a8abaf     Normal text & icon color
 * Defold White        #f0f2f6 #f8f8fb     Active text & icon color
 * Defold Red          #ff4646             Errors (text and icons), guides, 3D-Axels
 * Defold Yellow       #fbce2f             Guides, etc.
 * Defold Turquoise    #00e6e1             Guides, (also new update color together with Defold Blue)
 * Defold Green        #00df64             Success, guides etc
 * Defold Orange       #fd6623             Guides etc
 */
/* Lua script colors */
@font-face {
  font-family: 'Inconsolata';
  src: url("Inconsolata-Regular.ttf"); }

@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("source-sans-pro.semibold.ttf"); }

/* Mixins */
/* Import the original css */
/*.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}
*/
/*
Links:
- http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
- http://www.guigarage.com/javafx-themes/
- http://www.guigarage.com/javafx-themes/aquafx/
- http://www.aerofx.org/
*/
.root {
  -fx-base: #313439;
  -fx-background: #313439;
  -fx-control-inner-background: #313439;
  -fx-text-color-base: #f0f2f6;
  -fx-mark-color: #b0b0b0;
  -fx-text-background-color: #a7a8aa;
  -fx-text-inner-color: #a7a8aa;
  -fx-box-border: #454A4F;
  -fx-accent: #264a8b;
  -fx-focus-color_: #ff4646;
  -fx-faint-focus-color_: #ff4646;
  /* cells */
  -fx-selection-bar: #264a8b;
  -fx-selection-bar-non-focused: #313439;
  -fx-cell-focus-inner-border: #264a8b;
  /* splitter */
  -fx-inner-border-horizontal: red_;
  -fx-focus-color: #264a8b;
  -fx-outer-border_: #ff4646;
  -fx-inner-border_: #ff4646;
  -fx-body-color_: #313439;
  -fx-color: #313439;
  -fx-body-color: linear-gradient(to bottom, -fx-color, -fx-color);
  -fx-mark-color_: #ff4646;
  -fx-hover-base: #454A4F;
  -fx-pressed-base: #b0b0b0;
  -fx-accent_: #ff4646;
  -fx-font-family: "Source Sans Pro";
  -fx-font-size: 12px;
  -fx-font-weight: normal; }

.scroll-pane {
  -fx-border-width: 0;
  -fx-background-color: #272b30; }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:vertical {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:horizontal {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
  -fx-background: -fx-selection-bar;
  -fx-text-fill: #f0f2f6; }

.root__ {
  -fx-base: #272b30;
  -fx-background: #272b30;
  -fx-control-inner-background: #272b30; }

.root_ {
  -fx-base: #2e3236;
  -fx-background: #2e3236;
  -fx-control-inner-background: #2e3236;
  -fx-hover-base: #ff4646; }

.text-area {
  -fx-font-size: 11pt;
  -fx-font-family: "Inconsolata"; }

/* by default AnchorPane has a padding of 0.8em. Don't know if we're abusing
   JavaFX by removing padding for AnchorPane */
.titled-pane .content AnchorPane {
  -fx-padding: 0em; }

/* diff viewer */
.diff-box {
  -fx-fill: #CCCCCC;
  -fx-stroke: #000000; }

/* Modules - Major panes in the editor */
#properties HBox {
  -fx-spacing: 0; }

/* Drag and drop targets */
.drop-target {
  -fx-background-color: #2268e6; }

/* Overrides */
.overridden {
  -fx-text-inner-color: #60C1FF;
  -fx-text-color-base: #60C1FF;
  -fx-text-fill: #60C1FF; }

.overridden .text-field {
  -fx-text-fill: #60C1FF; }

.overridden .color-picker-label .text {
  -fx-fill: #60C1FF; }

/* Console */
#console {
  -fx-highlight-fill: #264a8b; }

/* Reusable components */
/* Alert Dialog */
.alert-dialog #message {
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-padding: 0; }
  .alert-dialog #message:focused {
    -fx-border-width: 0; }

.button, .button-small, .button-large {
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-padding: 6px 17px;
  -fx-min-width: 100px;
  -fx-background-color: #454A4F;
  -fx-background-insets: 0;
  -fx-border-color: #313439;
  -fx-border-width: 1;
  -fx-text-fill: #f0f2f6;
  -fx-font-size: 14px; }
  .button:hover, .button-small:hover, .button-large:hover {
    -fx-background-color: #1e2021; }
  .button:armed, .button-small:armed, .button-large:armed {
    -fx-background-color: #b0b0b0;
    -fx-border-color: #f0f2f6; }
  .button.low-prio, .low-prio.button-small, .low-prio.button-large {
    -fx-background-color: #313439;
    -fx-border-color: #454A4F;
    -fx-text-fill: #b0b0b0;
    -fx-font-weight: normal; }
  .button.low-prio:hover, .low-prio.button-small:hover, .low-prio.button-large:hover {
    -fx-background-color: #272b30; }
  .button.low-prio:armed, .low-prio.button-small:armed, .low-prio.button-large:armed {
    -fx-background-color: #272b30;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #f0f2f6; }

.button-small {
  -fx-padding: 4px 22px;
  -fx-min-width: 0px; }

.button-large {
  -fx-padding: 10px 25px;
  -fx-min-width: 200px; }

.embedded-properties-button,
.embedded-properties-button:selected,
.embedded-properties-button:armed {
  -fx-border-radius: 0;
  -fx-padding: 5px 3px;
  -fx-background-insets: 0; }

.clear-button {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-min-width: 27px;
  -fx-max-width: 27px;
  -fx-min-height: 27px;
  -fx-max-height: 27px;
  -fx-border-width: 0;
  -fx-text-fill: #2268e6; }

.clear-button:hover {
  -fx-background-color: transparent; }

.clear-button:armed {
  -fx-background-color: transparent; }

.toggle-button,
.color-picker.split-button > .color-picker-label {
  -fx-background-color: #454A4F;
  -fx-background-insets: 0;
  -fx-background-radius: 4;
  -fx-border-width: 1;
  -fx-border-radius: 4;
  -fx-border-color: #232529;
  -fx-text-fill: -fx-text-base-color; }

.toggle-button:hover,
.color-picker.split-button > .arrow-button:hover,
.color-picker.split-button > .color-picker-label:hover {
  -fx-background-color: #454A4F;
  -fx-text-fill: -fx-text-base-color; }

.toggle-button:armed {
  -fx-background-color: #60a8ff, #264a8b;
  -fx-text-fill: #f0f2f6;
  -fx-background-insets: 1; }

.toggle-button:selected {
  -fx-background-color: #00df64; }

.choice-box {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-border-color: #454A4F;
  /* TODO: Why do we have to do this explicitly? */ }
  .choice-box:hover {
    -fx-background-color: #232529; }
  .choice-box:showing {
    -fx-background-color: #313439;
    -fx-color: #f0f2f6; }
  .choice-box:showing .arrow {
    -fx-background-color: #f0f2f6; }
  .choice-box .label {
    -fx-text-fill: -fx-text-background-color; }

.color-picker {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-border-color: #454A4F; }
  .color-picker:hover {
    -fx-background-color: #232529; }
  .color-picker:showing {
    -fx-background-color: #313439;
    -fx-color: #f0f2f6; }
  .color-picker:showing .arrow {
    -fx-background-color: #f0f2f6; }
  .color-picker .label {
    -fx-text-fill: #b0b0b0; }

.color-palette {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: #454A4F;
  -fx-background-color: #313439; }

.combo-box {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-border-width: 0; }
  .combo-box:hover > .list-cell {
    -fx-border-width: 1 0 1 1;
    -fx-border-color: #454A4F;
    -fx-text-fill: #f0f2f6; }
  .combo-box:showing .arrow {
    -fx-background-color: #f0f2f6;
    -fx-rotate: 180; }
  .combo-box:showing > .list-cell {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #f0f2f6; }
  .combo-box:showing .list-view {
    -fx-border-color: #b0b0b0; }
  .combo-box .list-view {
    -fx-min-width: 10em;
    -fx-background-color: #232529;
    -fx-border-width: 1;
    -fx-border-color: #454A4F;
    -fx-border-insets: 0 24 0 0;
    -fx-background-insets: 0 24 0 0;
    -fx-text-fill: #454A4F; }
  .combo-box .list-cell {
    -fx-background-color: #232529;
    -fx-color: #b0b0b0; }
    .combo-box .list-cell:hover {
      -fx-cursor: hand;
      -fx-text-fill: #f0f2f6; }
  .combo-box .arrow-button {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-insets: 0;
    -fx-background-color: #313439;
    -fx-border-width: 1;
    -fx-border-color: #454A4F;
    -fx-padding: 5 7; }
    .combo-box .arrow-button:hover {
      -fx-background-color: #272b30; }
    .combo-box .arrow-button:pressed {
      -fx-background-color: #272b30;
      -fx-border-color: #b0b0b0;
      -fx-text-fill: #f0f2f6; }
  .combo-box > .list-cell {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-text-fill: #b0b0b0; }
  .combo-box .text-field, .combo-box .text-input {
    -fx-background-insets: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4d4e53; }

.combo-box-base {
  -fx-border-width: 0; }

.composite-property-control-container .button, .composite-property-control-container .button-small, .composite-property-control-container .button-large, .composite-property-control-container .button-small, .composite-property-control-container .button-large {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-background-color: #313439;
  -fx-border-width: 1;
  -fx-border-color: #4d4e53;
  -fx-padding: 5 7;
  -fx-min-width: 0;
  -fx-text-fill: #b0b0b0; }
  .composite-property-control-container .button:hover, .composite-property-control-container .button-small:hover, .composite-property-control-container .button-large:hover, .composite-property-control-container .button-small:hover, .composite-property-control-container .button-large:hover {
    -fx-background-color: #272b30; }
  .composite-property-control-container .button:armed, .composite-property-control-container .button-small:armed, .composite-property-control-container .button-large:armed, .composite-property-control-container .button-small:armed, .composite-property-control-container .button-large:armed {
    -fx-background-color: #272b30;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #f0f2f6; }

.composite-property-control-container .text-field {
  -fx-padding: 5px 8px 5px 8px;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #4d4e53; }
  .composite-property-control-container .text-field:focused {
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1px;
    -fx-text-fill: #f0f2f6;
    -fx-padding: 5px 8px; }
  .composite-property-control-container .text-field:hover {
    -fx-border-color: #4d4e53;
    -fx-border-width: 0 0 1 0; }

.context-menu {
  -fx-background-radius: 4px;
  -fx-border-radius: 4px;
  -fx-border-width: 1;
  -fx-border-color: #454A4F;
  -fx-padding: 0;
  -fx-text-fill: #454A4F; }
  .context-menu .scroll-arrow .menu-down-arrow, .context-menu .scroll-arrow .menu-up-arrow {
    -fx-fill: #f0f2f6;
    -fx-background-color: #f0f2f6; }
  .context-menu .first-menu-item {
    -fx-background-radius: 3 3 0 0;
    -fx-border-radius: 3 3 0 0; }
  .context-menu .last-menu-item {
    -fx-background-radius: 0 0 3 3;
    -fx-border-radius: 0 0 3 3; }
  .context-menu .separator:horizontal {
    -fx-padding: 0;
    -fx-min-height: 0; }
    .context-menu .separator:horizontal .line {
      -fx-border-color: #454A4F;
      -fx-border-insets: 0;
      -fx-border-width: 1 0 0; }

.flat-list-view {
  -fx-background-insets: 0; }
  .flat-list-view .list-cell {
    -fx-background-color: #272b30;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #272b30;
    -fx-padding: 0.5em 1em; }
    .flat-list-view .list-cell.first-list-item {
      -fx-border-width: 0; }
    .flat-list-view .list-cell:hover {
      -fx-text-fill: #f0f2f6; }
    .flat-list-view .list-cell:selected {
      -fx-background-color: #264a8b; }

.form .section-label {
  -fx-font-size: 16pt;
  -fx-text-fill: #f0f2f6; }

.form .help-line {
  -fx-text-fill: #b0b0b0; }

.form .inline-editor {
  -fx-border-width: 0; }

.form .editing-cell {
  -fx-padding: 0; }

.field-error {
  -fx-border-width: 1 !important;
  -fx-border-color: #ff4646 !important;
  -fx-effect: none !important; }

.field-warning {
  -fx-border-width: 1 !important;
  -fx-border-color: #fbce2f !important;
  -fx-effect: none !important; }

.field-info {
  -fx-border-width: 1 !important;
  -fx-border-color: #60C1FF !important;
  -fx-effect: none !important; }

.menu-button {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-border-color: #454A4F; }
  .menu-button:hover {
    -fx-background-color: #232529; }
  .menu-button:showing {
    -fx-background-color: #313439;
    -fx-text-fill: #f0f2f6; }
    .menu-button:showing .arrow {
      -fx-background-color: #f0f2f6; }
    .menu-button:showing .label {
      -fx-text-fill: #f0f2f6; }
  .menu-button .label {
    -fx-text-fill: #b0b0b0; }

.menu-item {
  -fx-background-color: #313439;
  -fx-text-fill: #b0b0b0; }
  .menu-item:hover {
    -fx-background-color: rgba(38, 74, 139, 0.5); }
  .menu-item:focused {
    -fx-background-color: rgba(38, 74, 139, 0.5); }
    .menu-item:focused .label {
      -fx-text-fill: #f0f2f6; }
    .menu-item:focused:hover {
      /*-fx-background-color: $selected-blue;*/ }
      .menu-item:focused:hover .label {
        -fx-text-fill: #f0f2f6; }
  .menu-item .label {
    -fx-text-fill: #b0b0b0; }

.first-menu-item {
  -fx-border-width: 0, 0 0 2 0; }

/* See modena.css for progress bar styling */
.progress-bar {
  -fx-background-radius: 0;
  -fx-border-radius: 0; }
  .progress-bar .track {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #454A4F;
    -fx-background-insets: 0; }
  .progress-bar .bar {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 10;
    -fx-padding: 8 0; }

.small-progress-bar .bar {
  -fx-background-color: #60C1FF;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 1em; }

.small-progress-bar .track {
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-background-radius: 0; }

.property-category {
  -fx-padding: 0px; }

.property-label {
  -fx-padding: 5 10 5 0; }

.property-component {
  -fx-spacing: 0;
  -fx-padding: 0 5 0 0; }
  .property-component .label {
    -fx-padding: 5px 5px;
    -fx-text-fill: rgba(176, 176, 176, 0.8); }
  .property-component .text-field {
    -fx-padding: 5px 8px; }

.radio-button:hover .radio {
  -fx-background-color: #232529;
  -fx-border-color: #b0b0b0; }

.radio-button:selected .dot {
  -fx-background-color: #b0b0b0; }

.radio-button:selected:hover .dot {
  -fx-background-color: #f0f2f6; }

.radio-button .radio {
  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
  -fx-background-image: null;
  -fx-background-color: #232529;
  -fx-border-width: 1;
  -fx-border-color: #454A4F; }

.radio-button .dot {
  -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0"; }

.scroll-bar {
  -fx-background-color: #232529; }
  .scroll-bar:horizontal > .thumb {
    -fx-background-insets: 2px 5px 3px 5px; }
  .scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 10 0; }
  .scroll-bar:vertical > .thumb {
    -fx-background-insets: 5px 3px 5px 2px; }
  .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 0 10 0 0; }
  .scroll-bar .thumb {
    -fx-background-color: #313439;
    -fx-background-radius: 2em; }
    .scroll-bar .thumb:hover {
      -fx-background-color: #b0b0b0; }
    .scroll-bar .thumb:pressed {
      -fx-background-color: #f0f2f6; }
  .scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0; }
  .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0; }

.separator:horizontal .line {
  -fx-border-color: #232529;
  -fx-border-width: 1 0 0; }

.separator:vertical .line {
  -fx-border-color: #232529;
  -fx-border-width: 0 1 0 0; }

.split-menu-button {
  -fx-background-radius: 4px;
  -fx-border-radius: 4px;
  -fx-min-width: 10em;
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-border-color: #454A4F;
  -fx-border-width: 1;
  -fx-padding: 0;
  -fx-text-fill: #454A4F; }
  .split-menu-button:showing {
    -fx-background-color: #313439;
    -fx-text-fill: #f0f2f6; }
    .split-menu-button:showing .label {
      -fx-text-fill: #f0f2f6; }
    .split-menu-button:showing .arrow {
      -fx-text-fill: #f0f2f6;
      -fx-background-color: #f0f2f6; }
  .split-menu-button .label {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #b0b0b0; }
    .split-menu-button .label:hover {
      -fx-background-color: #232529; }
    .split-menu-button .label:pressed {
      -fx-text-fill: #f0f2f6; }
  .split-menu-button .arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #4d4e53; }
    .split-menu-button .arrow-button:hover {
      -fx-background-color: #232529; }

.split-pane {
  -fx-padding: 0.0em; }

.split-pane:horizontal > .split-pane-divider {
  -fx-padding: 1; }

.split-pane:vertical > .split-pane-divider {
  -fx-padding: 1; }

.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: #313439; }

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
  -fx-background-color: #313439; }

.split-pane:horizontal {
  -fx-border-width: 0;
  -fx-background-insets: 0; }

.split-pane:vertical {
  -fx-border-width: 0;
  -fx-background-insets: 0; }

.tab-pane:top {
  -fx-tab-min-height: 3.0em;
  -fx-tab-max-height: 100.0em;
  -fx-border-width: 0;
  -fx-border-color: #454A4F;
  -fx-padding: 0.0em;
  -fx-background-insets: 0;
  -fx-open-tab-animation: NONE;
  -fx-close-tab-animation: NONE; }

.tab-pane .tab {
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  /*-fx-background-insets: 0, 0 0 2 0;*/
  -fx-background-color: #313439;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #313439;
  -fx-padding: 0 10 0 10; }
  .tab-pane .tab:hover {
    -fx-background-insets: 0;
    /*-fx-background-color: $mid-black;*/ }
    .tab-pane .tab:hover .tab-label {
      -fx-text-fill: #f0f2f6; }
      .tab-pane .tab:hover .tab-label .image-view {
        -fx-effect: innershadow(gaussian, #f0f2f6, 20, 0.3, 0, 0); }
  .tab-pane .tab:selected {
    /*-fx-background-insets: 0, 0;*/
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #fa6731;
    -fx-color: #f0f2f6; }
    .tab-pane .tab:selected .tab-label {
      -fx-text-fill: #f0f2f6; }
      .tab-pane .tab:selected .tab-label .image-view {
        -fx-effect: innershadow(gaussian, #f0f2f6, 20, 0.3, 0, 0); }
    .tab-pane .tab:selected .focus-indicator {
      -fx-border-width: 0; }
  .tab-pane .tab .tab-label {
    -fx-text-fill: #b0b0b0; }

.tab-header-area {
  -fx-padding: 0;
  -fx-border-width: 0 0 0 0; }
  .tab-header-area > .headers-region {
    -fx-padding: 0; }

.tab-header-background {
  -fx-background-color: #313439;
  -fx-background-insets: 0;
  -fx-border-width: 0 0 0 0;
  -fx-padding: 0; }

.tab-label {
  -fx-padding: 0;
  -fx-font-weight: bold; }

.tab-close-button {
  -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
  -fx-background-color: #b0b0b0;
  -fx-effect: none; }

.control-buttons-tab .container {
  -fx-padding: 0; }

.tab-down-button {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-background-color: #232529;
  -fx-border-color: #454A4F;
  -fx-border-width: 0 0 0 0;
  -fx-padding: 5px 10px; }
  .tab-down-button:hover {
    -fx-text-fill: #f0f2f6; }
    .tab-down-button:hover .arrow {
      -fx-background-color: #f0f2f6; }

.tab-content-area {
  -fx-border-width: 0;
  -fx-border-color: #454A4F;
  -fx-padding: 0; }
  .tab-content-area .text-area {
    -fx-background-color: #1e2021; }

.table-view .table-column {
  -fx-background-insets: 0;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: #454A4F; }

.table-view .filler {
  -fx-background-insets: 0; }

.table-view .column-header-background {
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #454A4F; }

.text-field {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-padding: 5px 8px;
  -fx-background-color: #232529;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #4d4e53;
  -fx-text-fill: #f0f2f6;
  -fx-prompt-text-fill: #a7a8aa; }
  .text-field:hover {
    -fx-border-color: #4d4e53; }
  .text-field:focused {
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1px;
    -fx-text-fill: #f0f2f6; }

.titled-pane {
  -fx-background-color: #3a3f44;
  -fx-border-width: 0;
  -fx-padding: 0.0em; }
  .titled-pane .list-view {
    -fx-background-insets: 0;
    -fx-border-width: 0; }
  .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-size: 14px;
    -fx-padding: 12 0 5 12; }
  .titled-pane > *.content {
    -fx-border-width: 0; }

.tree-view {
  -fx-background-color: #272b30;
  -fx-background-insets: 0; }
  .tree-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-insets: 0;
    -fx-padding: -1 -1 -1 0; }
  .tree-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-background-insets: 0;
    -fx-padding: -1 -1 -1 0; }

.tree-cell {
  -fx-background-color: #272b30;
  -fx-font-weight: bold; }
  .tree-cell:filled {
    -fx-padding: 5;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: transparent; }
    .tree-cell:filled:hover {
      -fx-background-color: #232529;
      -fx-text-fill: #f0f2f6; }
    .tree-cell:filled:selected {
      /*-fx-background-color: rgba(38, 74, 139, 0.5);*/
      -fx-border-width: 0 0 0 2;
      -fx-border-color: #fa6731;
      -fx-text-fill: #f0f2f6; }
      .tree-cell:filled:selected:hover {
        -fx-text-fill: #f0f2f6; }
      .tree-cell:filled:selected .image-view {
        -fx-effect: innershadow(gaussian, #60C1FF, 20, 0.3, 0, 0); }
    .tree-cell:filled.first-tree-item {
      -fx-border-insets: 0 0 0 0;
      -fx-padding: 6 0 5 0;
      -fx-background-insets: 0 0 0 0; }
      .tree-cell:filled.first-tree-item.last-tree-item {
        -fx-border-insets: 0 0 0 0;
        -fx-padding: 6 0 5 0;
        -fx-background-insets: 0 0 0 0; }
    .tree-cell:filled.last-tree-item {
      -fx-border-insets: 0 0 0 0;
      -fx-background-insets: 0 0 0 0; }

/* Targeted modules */
#assets-split {
  -fx-padding: 10 0 0 0;
  /*.titled-pane {
        -fx-background-color: red;
    }*/
  /*.content {
        -fx-background-color: red;
    }*/ }
  #assets-split .tree-view {
    -fx-background-color: #3a3f44; }
  #assets-split .tree-cell {
    -fx-background-color: #3a3f44; }
    #assets-split .tree-cell:filled {
      -fx-border-width: 0 2 0 0; }
      #assets-split .tree-cell:filled:selected {
        -fx-border-width: 0 2 0 0; }
  #assets-split .scroll-bar {
    -fx-background-color: #3a3f44; }
    #assets-split .scroll-bar .thumb {
      -fx-background-color: #454A4F; }
      #assets-split .scroll-bar .thumb:hover {
        -fx-background-color: #b0b0b0; }
      #assets-split .scroll-bar .thumb:pressed {
        -fx-background-color: #f0f2f6; }

#center-split {
  -fx-padding: 0px 0px 0px 15px; }
  #center-split .viewport {
    -fx-background-color: #232529; }
    #center-split .viewport .button, #center-split .viewport .button-small, #center-split .viewport .button-large {
      -fx-min-width: 20px;
      /*-fx-min-height: 10px;*/
      -fx-background-color: #232529;
      -fx-border-radius: 0;
      -fx-border-width: 0;
      -fx-border-color: transparent; }

#changes-container > .tool-bar {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #313439; }

#changes-container .list-view {
  -fx-background-color: #3a3f44; }

#changes-container .flat-list-view .cell, #changes-container .flat-list-view .list-cell {
  -fx-background-color: #3a3f44 !important;
  /*.text {
                -fx-fill: red !important;
            }*/ }

/*#next-console {
    -fx-background-color: $mid-grey;
}*/
/* Curve View */
#curve-editor-view {
  -fx-border-color: #454A4F;
  -fx-border-width: 0 0 0 1;
  -fx-padding: 0.0em; }

#curve-editor-list-anchor {
  -fx-border-color: #454A4F;
  -fx-border-width: 0 1 0 0;
  -fx-padding: 0.0em; }

#right-split {
  -fx-padding: 2 0 0 0; }
  #right-split AnchorPane {
    -fx-background-color: #232529; }
  #right-split .tree-view, #right-split .tree-cell {
    -fx-background-color: #232529; }
  #right-split .titled-pane > .title {
    -fx-background-color: #232529; }
  #right-split .button, #right-split .button-small, #right-split .button-large, #right-split .arrow-button {
    -fx-border-width: 0;
    -fx-background-color: #232529; }

/* Code view */
.styled-text-area {
  -fx-font-family: "Inconsolata";
  -fx-font-size: 14;
  -fx-background-color: #272b30; }
  .styled-text-area .comment {
    -styled-text-color: #ff00ff; }
  .styled-text-area .list-view {
    -fx-background-color: #272b30; }
  .styled-text-area .source-segment, .styled-text-area .plain-source-segment {
    -fx-font-family: "Inconsolata";
    -fx-font-size: 14; }
  .styled-text-area .selection-marker {
    -fx-background-color: rgba(172, 148, 120, 0.3); }
  .styled-text-area .text-caret {
    -fx-fill: white;
    -fx-stroke: white; }

/* Script view colors */
.lua.styled-text-area, .glsl.styled-text-area {
  -styled-text-color: #ff00ff;
  /* Hack for current line */ }
  .lua.styled-text-area .list-cell:selected, .glsl.styled-text-area .list-cell:selected {
    -fx-background-color: #313439; }
  .lua.styled-text-area .comment, .lua.styled-text-area .comment-multi, .glsl.styled-text-area .comment, .glsl.styled-text-area .comment-multi {
    -styled-text-color: #b0b0b0; }
  .lua.styled-text-area .keyword, .glsl.styled-text-area .keyword {
    -styled-text-color: #fd6623; }
  .lua.styled-text-area .operator, .glsl.styled-text-area .operator {
    -styled-text-color: #33cccc; }
  .lua.styled-text-area .default, .glsl.styled-text-area .default {
    -styled-text-color: #f0f2f6; }
  .lua.styled-text-area .string, .glsl.styled-text-area .string {
    -styled-text-color: #fbce2f; }
  .lua.styled-text-area .number, .glsl.styled-text-area .number {
    -styled-text-color: #aaaaff; }

.lua.styled-text-area .helper-keyword {
  -styled-text-color: #33cccc; }

.lua.styled-text-area .self-keyword {
  -styled-text-color: #E066FF; }

.lua.styled-text-area .logic-keywords {
  -styled-text-color: #E3A869; }

.lua.styled-text-area .control-flow-keyword {
  -styled-text-color: #fd6623; }

.lua.styled-text-area .constant {
  -styled-text-color: #FFBBFF; }

.lua.styled-text-area .defold-keyword {
  -styled-text-color: #33cc33; }

.glsl.styled-text-area .directive, .glsl.styled-text-area .macro-keyword, .glsl.styled-text-area .precision-keyword,
.glsl.styled-text-area .storage-modifier-keyword, .glsl.styled-text-area .support-function-keyword {
  -styled-text-color: #fd6623; }

.glsl.styled-text-area .storage-type {
  -styled-text-color: #33cc33; }

.glsl.styled-text-area .support-variable-keyword {
  -styled-text-color: #f0f2f6; }

/* text editor code completion popup */
#proposals .list-cell:filled:selected {
  -fx-text-fill: #00FFFF; }

/*.lua.styled-text-area .comment,
.lua.styled-text-area .comment-multi,
.glsl.styled-text-area .comment,
.glsl.styled-text-area .comment-multi {
    -styled-text-color: $bright-grey;
}*/
/*.lua.styled-text-area .keyword,
.glsl.styled-text-area .keyword {
    -styled-text-color: $script-keyword;
}*/
/*.lua.styled-text-area .helper-keyword {
    -styled-text-color: $script-helper;
}*/
/*.lua.styled-text-area .self-keyword {
    -styled-text-color: $script-self;
}*/
/*.lua.styled-text-area .logic-keywords {
    -styled-text-color: $script-logic;
}*/
/*.lua.styled-text-area .control-flow-keyword,
.glsl.styled-text-area .control-flow-keyword
 {
    -styled-text-color: $script-keyword;
}*/
/*.lua.styled-text-area .constant {
    -styled-text-color: $script-constant;
}*/
/*.lua.styled-text-area .defold-keyword {
    -styled-text-color: $script-function;
}
*/
/*.lua.styled-text-area .operator,
.glsl.styled-text-area .operator {
    -styled-text-color: $script-operator;
}*/
/*.lua.styled-text-area .default,
.glsl.styled-text-area .default {
    -styled-text-color: $defold-white;
}*/
/*.lua.styled-text-area .string,
.glsl.styled-text-area .string {
    -styled-text-color: $script-string;
}
*/
/*.lua.styled-text-area,
.glsl.styled-text-area {
    -styled-text-color: $script-comment;
}*/
/*
.styled-text-area .comment { -styled-text-color: $script-comment; }*/
/*.lua.styled-text-area .number,
.glsl.styled-text-area .number {
    -styled-text-color: $script-number;
}*/
/*.glsl.styled-text-area .directive {
    -styled-text-color: $script-keyword;
}*/
/*.glsl.styled-text-area .macro-keyword {
    -styled-text-color: $script-keyword;
}*/
/*.glsl.styled-text-area .precision-keyword {
    -styled-text-color: $script-keyword;
}*/
/*.glsl.styled-text-area .storage-type {
    -styled-text-color: $script-function;
}*/
/*.glsl.styled-text-area .storage-modifier-keyword {
    -styled-text-color: $script-keyword;
}*/
/*.glsl.styled-text-area .support-variable-keyword {
   -styled-text-color: $defold-white;
}*/
/*
.glsl.styled-text-area .support-function-keyword {
    -styled-text-color: $script-keyword;
}*/
/*
.styled-text-area .text-caret {
	-fx-fill: white;
	-fx-stroke: white;
}*/
/*.styled-text-area .selection-marker {
	-fx-background-color: rgba(172,148,120,0.3)
}*/
/*

Line numbers:

.luaeditor .line-ruler-text {
    -fx-background-color: #ff00ff;
}

*/
/* Hack for current line */
/*.lua.styled-text-area .list-cell:selected,
.glsl.styled-text-area .list-cell:selected {
    -fx-background-color: $dark-grey;
}*/
#tool-tabs {
  -fx-tab-min-width: 40px; }
  #tool-tabs .console-buttons-base, #tool-tabs #prev-console, #tool-tabs #next-console {
    -fx-background-color: #454A4F;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 9 14;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-width: 50px; }
    #tool-tabs .console-buttons-base:armed, #tool-tabs #prev-console:armed, #tool-tabs #next-console:armed {
      -fx-background-color: #b0b0b0; }
  #tool-tabs #prev-console {
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
    -fx-background-image: url("icons/left-arrow.png");
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #4d4e53; }
    #tool-tabs #prev-console:hover {
      -fx-background-image: url("icons/left-arrow-on.png"); }
  #tool-tabs #next-console {
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0;
    -fx-background-image: url("icons/right-arrow.png"); }
    #tool-tabs #next-console:hover {
      -fx-background-image: url("icons/right-arrow-on.png"); }
  #tool-tabs .list-view {
    -fx-background-insets: 0;
    -fx-border-width: 0; }
  #tool-tabs .tab-header-area .tab-label .image-view {
    /*-fx-background-color: red;
                -fx-height: 50%;
                -fx-width: 50%;*/ }
  #tool-tabs .tab-content-area {
    -fx-background-color: #3a3f44;
    -fx-padding: 5px; }
    #tool-tabs .tab-content-area .label {
      -fx-font-size: 14px;
      -fx-text-fill: #f0f2f6; }
    #tool-tabs .tab-content-area .text-input {
      -fx-background-radius: 12;
      -fx-border-radius: 12;
      -fx-background-color: #313439;
      -fx-border-width: 0; }
    #tool-tabs .tab-content-area .content {
      -fx-background-color: #3a3f44;
      -fx-background-insets: 0;
      -fx-padding: 0;
      -fx-border-color: red;
      -fx-border-radius: 0;
      -fx-border-width: 0;
      -fx-border-insets: 0; }
    #tool-tabs .tab-content-area .text-area, #tool-tabs .tab-content-area .scroll-pane, #tool-tabs .tab-content-area .viewport {
      -fx-background-insets: 0;
      -fx-padding: 0; }
  #tool-tabs GridPane {
    -fx-padding: 10; }

.console-tab-base, #console-tab, #curve-editor-tab, #build-errors-tab {
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: 26 20; }

#console-tab {
  -fx-background-image: url("icons/tabs/console-icon-off.png"); }
  #console-tab:selected {
    -fx-background-image: url("icons/tabs/console-icon-on.png"); }
  #console-tab:hover {
    -fx-background-image: url("icons/tabs/console-icon-on.png"); }

#curve-editor-tab {
  -fx-background-image: url("icons/tabs/curve-editor-icon-off.png");
  -fx-background-position: center 5px; }
  #curve-editor-tab:selected {
    -fx-background-image: url("icons/tabs/curve-editor-icon-on.png"); }
  #curve-editor-tab:hover {
    -fx-background-image: url("icons/tabs/curve-editor-icon-on.png"); }

#build-errors-tab {
  -fx-background-image: url("icons/tabs/build-problems-off.png"); }
  #build-errors-tab:selected {
    -fx-background-image: url("icons/tabs/build-problems-on.png"); }
  #build-errors-tab:hover {
    -fx-background-image: url("icons/tabs/build-problems-on.png"); }
  #build-errors-tab .label {
    -fx-padding: 5; }

/*
 * Styling of toolbar that changes mouse action in scene editor.
 */
#toolbar * {
  -fx-focus-traversable: false; }

#toolbar {
  -fx-background-color: #232529;
  -fx-border-color: #454A4F;
  -fx-border-width: 0;
  -fx-padding: 0;
  -fx-spacing: 0; }
  #toolbar > .toggle-button {
    -fx-background-color: #232529;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #232529;
    -fx-alignment: center;
    -fx-padding: 4px 5px 4px 5px; }
  #toolbar > .toggle-button:hover .image-view {
    -fx-effect: innershadow(gaussian, #f0f2f6, 20, 0.3, 0, 0); }
  #toolbar > .toggle-button:selected {
    -fx-border-color: #fa6731;
    -fx-border-width: 0 0 2 0; }
    #toolbar > .toggle-button:selected .image-view {
      -fx-effect: innershadow(gaussian, #f0f2f6, 20, 0.3, 0, 0); }

#toolbar-status {
  -fx-background-color: #232529, #272b30;
  -fx-background-insets: 0, 0 0 3 0;
  -fx-border-color: #454A4F;
  -fx-background-radius: 0;
  -fx-padding: 0 0 2 0;
  -fx-text-fill: white;
  -fx-spacing: 0; }
  #toolbar-status .separator {
    -fx-background-color: #232529;
    -fx-padding: 0 0 0 1; }
    #toolbar-status .separator .line {
      -fx-background-color: #272b30;
      -fx-border-color: #232529;
      -fx-border-width: 0;
      -fx-padding: 0 5 0 0; }

.status-green {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, #00df64, #00df64, #00df64, #313439); }

.status-blue {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, #2268e6, #2268e6, #2268e6, #313439); }

#toolbar-status > .progress-bar {
  -fx-border-width: 2 0 0 0;
  -fx-border-color: #232529;
  -fx-padding: 0 1; }
  #toolbar-status > .progress-bar > .bar {
    -fx-background-color: #00df64;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1em; }
  #toolbar-status > .progress-bar > .track {
    -fx-background-color: #292d31;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0; }

#topbar {
  /*-fx-background-color: linear-gradient(to bottom, $dark-grey, $bright-black);*/
  /*-fx-padding: 1em;*/
  /*
    -fx-background-color: red;*/
  -fx-insets: 0;
  -fx-padding: 4 0 0 0; }
