/* Defold re-skin project stylesheet */
/* Base */
/* Colors
 * Defold Light Blue   #60a8ff             Highlight borders and always together with Defold Blue
 * Defold Blue         #2268e6             Highlight buttons
 * Selected Blue       #264a8b             Select states and mouseover for blue buttons
 * Bright Black        #292c30 #2e3236     Background of the application
 * Mid Black           #25282b #292d31     Mouseover tabs
 * Dark Black          #222426 #26282a     Text fields, selected (inactive) files, scroll bg & Outline tabs
 * Dark Grey           #34373b #3b3e43     Module headers
 * Mid Grey            #494b4e #54565a     Inactive text and icons
 * Bright Grey         #8f9296 #a8abaf     Normal text & icon color
 * Defold White        #f0f2f6 #f8f8fb     Active text & icon color
 * Defold Red          #ff4646             Errors (text and icons), guides, 3D-Axels
 * Defold Yellow       #fbce2f             Guides, etc.
 * Defold Turquoise    #00e6e1             Guides, (also new update color together with Defold Blue)
 * Defold Green        #00df64             Success, guides etc
 * Defold Orange       #fd6623             Guides etc
 */
/* Import the original css */
/*.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}
*/
/*
Links:
- http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
- http://www.guigarage.com/javafx-themes/
- http://www.guigarage.com/javafx-themes/aquafx/
- http://www.aerofx.org/

*/
/*
Colors

Defold Light Blue   #60a8ff             Highlight borders and always together with Defold Blue
Defold Blue         #2268e6             Highlight buttons
Selected Blue       #264a8b             Select states and mouseover for blue buttons
Bright Black        #292c30 #2e3236     Background of the application
Mid Black           #25282b #292d31     Mouseover tabs
Dark Black          #222426 #26282a     Text fields, selected (inactive) files, scroll bg & Outline tabs
Dark Grey           #34373b #3b3e43     Module headers
Mid Grey            #494b4e #54565a     Inactive text and icons
Bright Grey         #8f9296 #a8abaf     Normal text & icon color
Defold White        #f0f2f6 #f8f8fb     Active text & icon color
Defold Red          #ff4646             Errors (text and icons), guides, 3D-Axels
Defold Yellow       #fbce2f             Guides, etc.
Defold Turquoise    #00e6e1             Guides, (also new update color together with Defold Blue)
Defold Green        #00df64             Success, guides etc
Defold Orange       #fd6623             Guides etc
*/
@font-face {
  font-family: 'Inconsolata';
  src: url("Inconsolata.otf"); }

.root {
  -fx-base: #272b30;
  -fx-background: #272b30;
  -fx-control-inner-background: #272b30;
  -fx-text-color-base: #f0f2f6;
  -fx-mark-color: #b0b0b0;
  -fx-text-background-color: #a8abaf;
  -fx-text-inner-color: #a8abaf;
  -fx-box-border: #484c52;
  -fx-accent: #264a8b;
  -fx-focus-color_: red;
  -fx-faint-focus-color_: red;
  /* cells */
  -fx-selection-bar: #264a8b;
  -fx-selection-bar-non-focused: #33393f;
  -fx-cell-focus-inner-border: #264a8b;
  /* splitter */
  -fx-inner-border-horizontal: red_;
  -fx-focus-color: #23488c;
  -fx-outer-border_: red;
  -fx-inner-border_: red;
  -fx-body-color_: #34373b;
  -fx-color: #33393f;
  -fx-body-color: linear-gradient(to bottom, -fx-color, -fx-color);
  -fx-mark-color_: red;
  -fx-hover-base: #484d54;
  -fx-pressed-base: #b0b0b0;
  -fx-accent_: red;
  /*-fx-font: 14px 'Avenir Medium' bold;*/
  -fx-font-family: "Avenir Heavy";
  -fx-font-size: 12px;
  -fx-font-weight: normal;

  /* color definitions */
  -defold-light-blue:        #60a8ff;
  -defold-blue:              #2268e6;
  -defold-selected-blue:     #264a8b;
  -defold-bright-black:      #292c30;
  -defold-bright-black-over: #2e3236;
  -defold-mid-black:         #25282b;
  -defold-mid-black-over:    #292d31;
  -defold-dark-black:        #222426;
  -defold-dark-black-over:   #26282a;
  -defold-dark-grey:         #3b3e43;
  -defold-dark-grey-over:    #3b3e43;
  -defold-mid-grey:          #494b4e;
  -defold-mid-grey-over:     #54565a;
  -defold-bright-grey:       #8f9296;
  -defold-bright-grey-over:  #a8abaf;
  -defold-white:             #f0f2f6;
  -defold-white-over:        #f8f8fb;
  -defold-red:               #ff4646;
  -defold-yellow:            #fbce2f;
  -defold-turquoise:         #00e6e1;
  -defold-green:             #00df64;
  -defold-orange:            #fd6623;
  }

.toggle-button,
.color-picker.split-button > .color-picker-label {
  -fx-background-color: #2268e6;
  -fx-background-insets: 0;
  -fx-background-radius: 4;
  -fx-border-width: 1;
  -fx-border-radius: 4;
  -fx-border-color: #222426;
  -fx-text-fill: -fx-text-base-color; }

.toggle-button:hover,
.color-picker.split-button > .arrow-button:hover,
.color-picker.split-button > .color-picker-label:hover {
  -fx-background-color: #264a8b;
  -fx-text-fill: -fx-text-base-color; }

.toggle-button:armed {
  -fx-background-color: #60a8ff, #264a8b;
  -fx-text-fill: #f0f2f6;
  -fx-background-insets: 1; }

.toggle-button:selected {
  -fx-background-color: -defold-green;
}

#topbar {
  -fx-background-color: linear-gradient(to bottom, #33393f, #272b30);
  -fx-padding: 1em; }

/*
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: $bright-grey;
}*/
.split-pane {
  -fx-padding: 0.0em; }

.split-pane:horizontal > .split-pane-divider {
  -fx-padding: 2; }

.split-pane:vertical > .split-pane-divider {
  -fx-padding: 2; }

.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: #272b30; }

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
  -fx-background-color: #272b30; }

.split-pane:horizontal {
  -fx-border-width: 0;
  -fx-background-insets: 0; }

.split-pane:vertical {
  -fx-border-width: 0;
  -fx-background-insets: 0; }

.titled-pane .list-view {
  -fx-background-insets: 0;
  -fx-border-width: 0; }

#tool-tabs .list-view {
  -fx-background-insets: 0;
  -fx-border-width: 0; }

.scroll-pane {
  -fx-border-width: 0;
  -fx-background-color: #272b30; }

/* TODO: Hack. Should be only for .tree-view in .title-pane etc */
.tree-view {
  -fx-background-insets: 0; }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:vertical {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:horizontal {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Remove extra border */
.tree-view > .virtual-flow > .scroll-bar:vertical {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Remove extra border */
.tree-view > .virtual-flow > .scroll-bar:horizontal {
  -fx-background-insets: 0;
  -fx-padding: -1 -1 -1 0; }

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
  -fx-background: -fx-selection-bar;
  -fx-text-fill: #f0f2f6; }

.root__ {
  -fx-base: #292C31;
  -fx-background: #292C31;
  -fx-control-inner-background: #292C31; }

.root_ {
  -fx-base: #323232;
  -fx-background: #323232;
  -fx-control-inner-background: #323232;
  -fx-hover-base: #c80000; }

.text-area {
  -fx-font-size: 11pt;
  -fx-font-family: "Inconsolata"; }

/* by default AnchorPane has a padding of 0.8em. Don't know if we're abusing
   JavaFX by removing padding for AnchorPane */
.titled-pane .content AnchorPane {
  -fx-padding: 0em; }

/* See modena.css for progress bar styling */
.small-progress-bar > .bar {
  -fx-background-color: #3492ac;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 1em;
  /* 12 */ }

.small-progress-bar > .track {
  -fx-background-color: #33393f;
  -fx-background-insets: 0;
  -fx-background-radius: 0; }

/* diff viewer */
.diff-box {
  -fx-fill: #cccccc55;
  -fx-stroke: #000000; }

#changes-container > .tool-bar {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #33393f; }

/* Components - Mainly styling of controls */
.button, .button-small, .button-large {
  -fx-background-radius: 4;
  -fx-border-radius: 4;
  -fx-padding: 6px 17px;
  -fx-min-width: 100px;
  -fx-background-color: #2268e6;
  -fx-background-insets: 0;
  -fx-border-color: #222426;
  -fx-border-width: 1;
  -fx-text-fill: #f0f2f6;
  -fx-font-weight: bold; }
  .button:hover, .button-small:hover, .button-large:hover {
    -fx-background-color: #264a8b; }
  .button:armed, .button-small:armed, .button-large:armed {
    -fx-background-color: #264a8b;
    -fx-border-color: #60a8ff; }
  .button.low-prio, .low-prio.button-small, .low-prio.button-large {
    -fx-background-color: #33393f;
    -fx-border-color: #484d54;
    -fx-text-fill: #b0b0b0;
    -fx-font-weight: normal; }
    .button.low-prio:hover, .low-prio.button-small:hover, .low-prio.button-large:hover {
      -fx-background-color: #272b30; }
    .button.low-prio:armed, .low-prio.button-small:armed, .low-prio.button-large:armed {
      -fx-background-color: #272b30;
      -fx-border-color: #b0b0b0;
      -fx-text-fill: #f0f2f6; }

.button-small {
  -fx-padding: 4px;
  -fx-min-width: 0px; }

.button-large {
  -fx-padding: 10px 25px;
  -fx-min-width: 200px; }

.embedded-properties-button,
.embedded-properties-button:selected,
.embedded-properties-button:armed {
  -fx-border-radius: 0;
  -fx-padding: 5px 3px;
  -fx-background-insets: 0;
}

.clear-button {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-min-width: 27px;
  -fx-max-width: 27px;
  -fx-min-height: 27px;
  -fx-max-height: 27px;
  -fx-border-width: 0;
  -fx-text-fill: #2268e6; }
  .clear-button:hover {
    -fx-background-color: transparent; }
  .clear-button:armed {
    -fx-background-color: transparent; }

.check-box:hover .box {
  -fx-background-color: #222426;
  -fx-border-color: #b0b0b0; }

.check-box:selected .mark {
  -fx-background-color: #b0b0b0; }

.check-box:selected:hover .mark {
  -fx-background-color: #f0f2f6; }

.check-box .box {
  -fx-background-color: #222426;
  -fx-background-insets: 0;
  -fx-border-width: 1;
  -fx-border-color: #484d54;
  -fx-padding: 1px 2px 3px; }

.choice-box {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #33393f;
  -fx-background-insets: 0;
  -fx-border-color: #484d54;
  /* TODO: Why do we have to do this explicitly? */ }
  .choice-box:hover {
    -fx-background-color: #222426; }
  .choice-box:showing {
    -fx-background-color: #33393f;
    -fx-color: #f0f2f6; }
    .choice-box:showing .arrow {
      -fx-background-color: #f0f2f6; }
  .choice-box .label {
    -fx-text-fill: -fx-text-background-color; }

.color-picker {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #33393f;
  -fx-background-insets: 0;
  -fx-border-color: #484d54; }
  .color-picker:hover {
    -fx-background-color: #222426; }
  .color-picker:showing {
    -fx-background-color: #33393f;
    -fx-color: #f0f2f6; }
    .color-picker:showing .arrow {
      -fx-background-color: #f0f2f6; }
  .color-picker .label {
    -fx-text-fill: #b0b0b0; }

.color-palette {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: #484d54;
  -fx-background-color: #33393f; }

.combo-box {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-border-width: 0; }
  .combo-box:hover > .list-cell {
    -fx-border-width: 1 0 1 1;
    -fx-border-color: #484d54;
    -fx-text-fill: #f0f2f6; }
  .combo-box:showing .arrow {
    -fx-background-color: #f0f2f6;
    -fx-rotate: 180; }
  .combo-box:showing > .list-cell {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #f0f2f6; }
  .combo-box:showing .list-view {
    -fx-border-color: #b0b0b0; }
  .combo-box .list-view {
    -fx-min-width: 10em;
    -fx-background-color: #222426;
    -fx-border-width: 1;
    -fx-border-color: #484d54;
    -fx-border-insets: 0 24 0 0;
    -fx-background-insets: 0 24 0 0;
    -fx-text-fill: #484d54; }
  .combo-box .list-cell {
    -fx-background-color: #222426;
    -fx-color: #b0b0b0; }
  .combo-box .arrow-button {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-insets: 0;
    -fx-background-color: #33393f;
    -fx-border-width: 1;
    -fx-border-color: #484d54;
    -fx-padding: 5 7; }
    .combo-box .arrow-button:hover {
      -fx-background-color: #272b30; }
    .combo-box .arrow-button:pressed {
      -fx-background-color: #272b30;
      -fx-border-color: #b0b0b0;
      -fx-text-fill: #f0f2f6; }
  .combo-box > .list-cell {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-text-fill: #b0b0b0; }

.composite-property-control-container .field-error {
  -fx-border-width: 1;
  -fx-border-color: #ff4646;
  -fx-effect: none; }

.composite-property-control-container .field-warning {
  -fx-border-width: 1;
  -fx-border-color: #fbce2f;
  -fx-effect: none; }

.composite-property-control-container .button, .composite-property-control-container .button-small, .composite-property-control-container .button-large {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-background-color: #33393f;
  -fx-border-width: 1;
  -fx-border-color: #484d54;
  -fx-padding: 5 7;
  -fx-min-width: 0;
  -fx-text-fill: #b0b0b0; }
  .composite-property-control-container .button:hover, .composite-property-control-container .button-small:hover, .composite-property-control-container .button-large:hover {
    -fx-background-color: #272b30; }
  .composite-property-control-container .button:armed, .composite-property-control-container .button-small:armed, .composite-property-control-container .button-large:armed {
    -fx-background-color: #272b30;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #f0f2f6; }

.composite-property-control-container .text-field {
  -fx-padding: 5px 9px 5px 8px;
  -fx-border-width: 1 0 1 1; }
  .composite-property-control-container .text-field:focused {
    -fx-padding: 5px 8px;
    -fx-border-width: 1; }

.context-menu {
  -fx-background-radius: 4px;
  -fx-border-radius: 4px;
  -fx-border-width: 1;
  -fx-border-color: #484d54;
  -fx-padding: 0;
  -fx-text-fill: #484d54; }
  .context-menu .scroll-arrow .menu-down-arrow, .context-menu .scroll-arrow .menu-up-arrow {
    -fx-fill: #f0f2f6;
    -fx-background-color: #f0f2f6; }
  .context-menu .first-menu-item {
    -fx-background-radius: 3 3 0 0;
    -fx-border-radius: 3 3 0 0; }
  .context-menu .last-menu-item {
    -fx-background-radius: 0 0 3 3;
    -fx-border-radius: 0 0 3 3; }
  .context-menu .separator:horizontal {
    -fx-padding: 0;
    -fx-min-height: 0; }
    .context-menu .separator:horizontal .line {
      -fx-border-color: #484d54;
      -fx-border-insets: 0;
      -fx-border-width: 1 0 0; }

.flat-list-view {
  -fx-background-insets: 0; }
  .flat-list-view .list-cell {
    -fx-background-color: #272b30;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: rgba(51, 57, 63, 0.5);
    -fx-padding: 0.5em 1em; }
    .flat-list-view .list-cell:hover {
      -fx-background-color: #222426; }
    .flat-list-view .list-cell:selected {
      -fx-background-color: #264a8b; }
    .flat-list-view .list-cell.first-list-item {
      -fx-border-width: 0; }

.form .section-label {
  -fx-font-size: 16pt;
  -fx-text-fill: #f0f2f6; }

.form .help-line {
  -fx-text-fill: #b0b0b0; }

.form .inline-editor {
  -fx-border-width: 0; }

.form .editing-cell {
  -fx-padding: 0; }

.field-error {
  -fx-border-width: 1;
  -fx-border-color: #ff4646;
  -fx-effect: none; }

.field-warning {
  -fx-border-width: 1;
  -fx-border-color: #fbce2f;
  -fx-effect: none; }

.menu-button {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-background-color: #33393f;
  -fx-background-insets: 0;
  -fx-border-color: #484d54; }
  .menu-button:hover {
    -fx-background-color: #222426; }
  .menu-button:showing {
    -fx-background-color: #33393f;
    -fx-text-fill: #f0f2f6; }
    .menu-button:showing .arrow {
      -fx-background-color: #f0f2f6; }
    .menu-button:showing .label {
      -fx-text-fill: #f0f2f6; }
  .menu-button .label {
    -fx-text-fill: #b0b0b0; }

.menu-item {
  -fx-background-color: #33393f;
  -fx-text-fill: #b0b0b0; }
  .menu-item:hover {
    -fx-background-color: rgba(38, 74, 139, 0.5); }
  .menu-item:focused {
    -fx-background-color: rgba(38, 74, 139, 0.5); }
    .menu-item:focused .label {
      -fx-text-fill: #f0f2f6; }
  .menu-item:focused:hover {
    -fx-background-color: #264a8b; }
    .menu-item:focused:hover .label {
      -fx-text-fill: #f0f2f6; }
  .menu-item .label {
    -fx-text-fill: #b0b0b0; }

.first-menu-item {
  -fx-border-width: 0, 0 0 2 0; }

.progress-bar {
  -fx-background-radius: 0;
  -fx-border-radius: 0; }
  .progress-bar .track {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #484d54;
    -fx-background-insets: 0; }
  .progress-bar .bar {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 10;
    -fx-padding: 8 0; }

.property-category {
  -fx-padding: 0px; }

.property-label {
  -fx-padding: 5 10 5 0; }

.property-component {
  -fx-spacing: 0;
  -fx-padding: 0 5 0 0; }
  .property-component .label {
    -fx-background-color: #2c3036;
    -fx-border-width: 1;
    -fx-border-color: #222426;
    -fx-padding: 5px 5px;
    -fx-text-fill: rgba(176, 176, 176, 0.8); }
  .property-component .text-field {
    -fx-padding: 5px 8px; }

.radio-button:hover .radio {
  -fx-background-color: #222426;
  -fx-border-color: #b0b0b0; }

.radio-button:selected .dot {
  -fx-background-color: #b0b0b0; }

.radio-button:selected:hover .dot {
  -fx-background-color: #f0f2f6; }

.radio-button .radio {
  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
  -fx-background-image: null;
  -fx-background-color: #222426;
  -fx-border-width: 1;
  -fx-border-color: #484d54; }

.radio-button .dot {
  -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0"; }

.scroll-bar {
  -fx-background-color: #222426; }
  .scroll-bar:horizontal > .thumb {
    -fx-background-insets: 2px 5px 3px 5px; }
  .scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 10 0; }
  .scroll-bar:vertical > .thumb {
    -fx-background-insets: 5px 3px 5px 2px; }
  .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 0 10 0 0; }
  .scroll-bar .thumb {
    -fx-background-color: #33393f;
    -fx-background-radius: 2em; }
    .scroll-bar .thumb:hover {
      -fx-background-color: #b0b0b0; }
    .scroll-bar .thumb:pressed {
      -fx-background-color: #f0f2f6; }
  .scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0; }
  .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0; }

.separator:horizontal .line {
  -fx-border-color: #222426;
  -fx-border-width: 1 0 0; }

.separator:vertical .line {
  -fx-border-color: #222426;
  -fx-border-width: 0 1 0 0; }

.split-menu-button {
  -fx-background-radius: 4px;
  -fx-border-radius: 4px;
  -fx-min-width: 10em;
  -fx-background-color: #33393f;
  -fx-background-insets: 0;
  -fx-border-color: #484d54;
  -fx-border-width: 1;
  -fx-padding: 0;
  -fx-text-fill: #484d54; }
  .split-menu-button:showing {
    -fx-background-color: #33393f;
    -fx-text-fill: #f0f2f6; }
    .split-menu-button:showing .label {
      -fx-text-fill: #f0f2f6; }
    .split-menu-button:showing .arrow {
      -fx-text-fill: #f0f2f6;
      -fx-background-color: #f0f2f6; }
  .split-menu-button .label {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #b0b0b0; }
    .split-menu-button .label:hover {
      -fx-background-color: #222426; }
    .split-menu-button .label:pressed {
      -fx-text-fill: #f0f2f6; }
  .split-menu-button .arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #484d54; }
    .split-menu-button .arrow-button:hover {
      -fx-background-color: #222426; }

.tab-pane:top {
  -fx-tab-min-height: 3.0em;
  -fx-tab-max-height: 100.0em;
  -fx-border-width: 0;
  -fx-border-color: #484d54;
  -fx-padding: 0.0em;
  -fx-background-insets: 0;
  -fx-open-tab-animation: NONE;
  -fx-close-tab-animation: NONE; }
  .tab-pane:top .tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-color: #222426, #272b30;
    -fx-border-width: 1 1 0 0;
    -fx-border-color: #484d54;
    -fx-padding: 0 10 0 10; }
    .tab-pane:top .tab .tab-label {
      -fx-text-fill: #b0b0b0; }
    .tab-pane:top .tab:hover {
      -fx-background-insets: 0;
      -fx-background-color: #1e2021; }
    .tab-pane:top .tab:selected {
      -fx-background-color: #222426, #484d54;
      -fx-background-insets: 0, 0; }
      .tab-pane:top .tab:selected .tab-label {
        -fx-text-fill: #f0f2f6; }
      .tab-pane:top .tab:selected .focus-indicator {
        -fx-border-width: 0; }
    .tab-pane:top .tab.first-tab {
      -fx-border-width: 1 1 0 0; }

.tab-header-area {
  -fx-padding: 0;
  -fx-border-width: 0 0 0 1;
  -fx-border-color: #b0b0b0; }
  .tab-header-area > .headers-region {
    -fx-padding: 0; }

.tab-header-background {
  -fx-background-color: #272b30;
  -fx-background-insets: 0;
  -fx-border-width: 1 1 0 1;
  -fx-border-color: #484d54;
  -fx-padding: 0; }

.tab-label {
  -fx-padding: 0; }

.tab-close-button {
  -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
  -fx-background-color: #b0b0b0;
  -fx-effect: none; }

.control-buttons-tab .container {
  -fx-padding: 0; }

.tab-down-button {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-background-insets: 0;
  -fx-background-color: #222426;
  -fx-border-color: #484d54;
  -fx-border-width: 0 1 0 1;
  -fx-padding: 5px 10px; }
  .tab-down-button:hover {
    -fx-text-fill: #f0f2f6; }
    .tab-down-button:hover .arrow {
      -fx-background-color: #f0f2f6; }

.tab-content-area {
  -fx-border-width: 1;
  -fx-border-color: #484d54;
  -fx-padding: 0; }
  .tab-content-area .text-area {
    -fx-background-color: #1e2021; }

.table-view .table-column {
  -fx-background-insets: 0;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: #484d54; }

.table-view .filler {
  -fx-background-insets: 0; }

.table-view .column-header-background {
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #484d54; }

.text-field {
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-padding: 5px 8px;
  -fx-background-color: #222426;
  -fx-border-width: 1;
  -fx-border-color: transparent;
  -fx-text-fill: #b0b0b0; }
  .text-field:hover {
    -fx-border-color: #484d54; }
  .text-field:focused {
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1px;
    -fx-text-fill: #f0f2f6; }

.titled-pane {
  -fx-background-color: red; }
  .titled-pane > .title {
    -fx-background-color: #484d54;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #484d54;
    -fx-padding: 0.5em 2.6em 0.5em 1.0em; }

.titled-pane {
  -fx-border-color: #4a4b4f;
  -fx-border-width: 1;
  -fx-padding: 0.0em; }

.titled-pane > *.content {
  -fx-border-width: 0; }

.tooltip {
  -fx-background-radius: 1px;
  -fx-border-radius: 1px;
  -fx-background-color: #33393f; }

.tree-view {
  -fx-background-color: #272b30; }

.tree-cell {
  -fx-background-color: #272b30; }

.tree-cell:filled {
  -fx-padding: 5;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #272b30; }
  .tree-cell:filled:hover {
    -fx-background-color: #222426; }
  .tree-cell:filled:selected {
    -fx-background-color: rgba(38, 74, 139, 0.5); }
  .tree-cell:filled:selected:hover {
    -fx-background-color: #264a8b;
    -fx-text-fill: #f0f2f6; }
  .tree-cell:filled.first-tree-item {
    -fx-border-insets: 0 0 0 0;
    -fx-padding: 6 0 5 0;
    -fx-background-insets: 0 0 0 0; }
  .tree-cell:filled.last-tree-item {
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0; }
  .tree-cell:filled.first-tree-item.last-tree-item {
    -fx-border-insets: 0 0 0 0;
    -fx-padding: 6 0 5 0;
    -fx-background-insets: 0 0 0 0; }

/* Modules - Major panes in the editor */
#properties HBox {
  -fx-spacing: 0; }

#toolbar-status {
  -fx-background-color: #222426, #272b30;
  -fx-background-insets: 0, 0 0 3 0;
  -fx-border-color: #484d54;
  -fx-background-radius: 0;
  -fx-padding: 0 0 2 0;
  -fx-text-fill: white;
  -fx-spacing: 0; }
  #toolbar-status .separator {
    -fx-background-color: #222426;
    -fx-padding: 0 0 0 1; }
    #toolbar-status .separator .line {
      -fx-background-color: #272b30;
      -fx-border-color: #222426;
      -fx-border-width: 0;
      -fx-padding: 0 5 0 0; }

.status-green {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, #00df64, #00df64, #00df64, #33393f); }

.status-blue {
  -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, #2268e6, #2268e6, #2268e6, #33393f); }

#toolbar-status > .progress-bar {
  -fx-border-width: 2 0 0 0;
  -fx-border-color: #222426;
  -fx-padding: 0 1; }

#toolbar-status > .progress-bar > .bar {
  -fx-background-color: #00df64;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 1em; }

#toolbar-status > .progress-bar > .track {
  -fx-background-color: #292d31;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0; }

/*
 * Styling of toolbar that changes mouse action in scene editor.
 */
#toolbar * {
  -fx-focus-traversable: false; }

#toolbar {
  -fx-background-color: #484d54;
  -fx-border-color: #484d54;
  -fx-border-width: 1 1;
  -fx-padding: 0;
  -fx-spacing: 1; }

#toolbar .separator {
  -fx-background-color: #484d54;
  -fx-border-width: 0 1;
  -fx-padding: 2;
  -fx-spacing: 1; }

#toolbar .separator .line {
  -fx-background-color: #484d54;
  -fx-border-color: #484d54; }

#toolbar > .cell {
  -fx-alignment: center; }

#toolbar > .toggle-button, #toolbar > .cell {
  -fx-background-color: #222426, #272b30;
  -fx-background-insets: 0, 0 0 2 0;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-padding: 5px;
  -fx-spacing: 5px; }

#toolbar > .toggle-button:hover {
  -fx-background-color: #1e2021; }

#toolbar > .toggle-button:armed {
  -fx-background-color: #1e2021; }

#toolbar > .toggle-button:selected {
  -fx-background-color: #484d54; }

.lua.styled-text-area .comment,
.lua.styled-text-area .comment-multi,
.glsl.styled-text-area .comment,
.glsl.styled-text-area .comment-multi {
    -styled-text-color: #8f9296;
}

.lua.styled-text-area .keyword,
.glsl.styled-text-area .keyword {
    -styled-text-color: #fd6623;
}

.lua.styled-text-area .helper-keyword {
    -styled-text-color: #33cccc;
}

.lua.styled-text-area .self-keyword {
    -styled-text-color: #E066FF;
}

.lua.styled-text-area .logic-keywords {
    -styled-text-color: #E3A869;
}

.lua.styled-text-area .control-flow-keyword,
.glsl.styled-text-area .control-flow-keyword
 {
    -styled-text-color: #fd6623;
}

.lua.styled-text-area .constant {
    -styled-text-color: #FFBBFF;
}

.lua.styled-text-area .defold-keyword {
    -styled-text-color: #33cc33;
}

.lua.styled-text-area .operator,
.glsl.styled-text-area .operator {
    -styled-text-color: #33cccc;
}

.lua.styled-text-area .default,
.glsl.styled-text-area .default {
    -styled-text-color: #f0f2f6;
}

.lua.styled-text-area .string,
.glsl.styled-text-area .string {
    -styled-text-color: #fbce2f;
}

.lua.styled-text-area,
.glsl.styled-text-area {
    -styled-text-color: #ff00ff;
}

.styled-text-area .comment { -styled-text-color: #ff00ff; }

.lua.styled-text-area .number,
.glsl.styled-text-area .number {
    -styled-text-color: #aaaaff;
}

.glsl.styled-text-area .directive {
    -styled-text-color: #fd6623;
}

.glsl.styled-text-area .macro-keyword {
    -styled-text-color: #fd6623;
}

.glsl.styled-text-area .precision-keyword {
    -styled-text-color: #fd6623;
}

.glsl.styled-text-area .storage-type {
    -styled-text-color: #33cc33;
}

.glsl.styled-text-area .storage-modifier-keyword {
    -styled-text-color: #fd6623;
}

.glsl.styled-text-area .support-variable-keyword {
   -styled-text-color: f0f2f6
}

.glsl.styled-text-area .support-function-keyword {
    -styled-text-color: #fd6623;
}


.styled-text-area .text-caret {
	-fx-fill: white;
	-fx-stroke: white;
}

.styled-text-area .selection-marker {
	-fx-background-color: rgba(172,148,120,0.3)
}

/*

Line numbers:

.luaeditor .line-ruler-text {
    -fx-background-color: #ff00ff;
}

*/

/* Hack for current line */
.lua.styled-text-area .list-cell:selected,
.glsl.styled-text-area .list-cell:selected {
    -fx-background-color: #34373b;
}

/* text editor code completion popup */

#proposals .list-cell:filled:selected {
    -fx-text-fill: #00FFFF;
}


/* Drag and drop targets */

.drop-target {
  -fx-background-color: -defold-blue;
}

/* Overrides */

.overridden {
  -fx-text-inner-color: -defold-light-blue;
  -fx-text-color-base: -defold-light-blue;
  -fx-text-fill: -defold-light-blue; }

.overridden .text-field {
  -fx-text-fill: -defold-light-blue; }

.overridden .color-picker-label .text {
  -fx-fill: -defold-light-blue; }

/* Console */

#console {
    -fx-highlight-fill: -defold-selected-blue;
}
