{:settings
 [{:type :string
   :help "Target"
   :default "Amazon"
   :path ["liveupdate" "mode"]
   :options [["Zip" "Zip"] ["Amazon" "Amazon"]]}
  {:type :string,
   :help "Amazon credentials profile",
   :default "",
   :presentation-category "Amazon"
   :path ["liveupdate" "amazon-credential-profile"]}
  {:type :string,
   :help "Amazon Bucket",
   :default "",
   :presentation-category "Amazon"
   :path ["liveupdate" "amazon-bucket"]}
  {:type :string,
   :help "Amazon Prefix",
   :default "",
   :presentation-category "Amazon"
   :path ["liveupdate" "amazon-prefix"]}
  {:type :directory
   :title "Select Zip output directory"
   :help "Zip directory"
   :default ""
   :presentation-category "Zip"
   :path ["liveupdate" "zip-filepath"]}
  {:type :file,
   :title "Select Manifest Public Key"
   :filter [["Public key (*.der)" "*.der"]]
   :help "Public key for manifest signing",
   :default "",
   :presentation-category "Manifest"
   :path ["liveupdate" "publickey"]}
  {:type :file,
   :title "Select Manifest Private Key"
   :filter [["Private key (*.der)" "*.der"]]
   :help "Private key for manifest signing",
   :default "",
   :presentation-category "Manifest"
   :path ["liveupdate" "privatekey"]}
   {:type :comma-separated-list,
   :help "List of supported engine versions",
   :default "",
   :presentation-category "Manifest"
   :path ["liveupdate" "supported-versions"]}]
 :categories
 {"liveupdate" {:title "Live Update"}
  "Amazon" {}
  "Zip" {}
  "Manifest" {}}}

