<configuration debug="false">
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-10contextName %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="TRACE">
    <appender-ref ref="CONSOLE"/>
    <!--
        An additional file appender is added programatically in
        com.defold.editor.Start as we need access to platform specific
        support path for storing the logfiles.
    -->
  </root>
</configuration>
