[{:name "if"
  :display-string "if                                if cond then"
  :insert {:type :snippet
           :value "if ${1:cond} then\n\t${0:-- do things}\nend"}}
 {:name "else"
  :display-string "else                              else end"
  :insert {:type :snippet
           :value "else\n\t${0:-- do things}\nend"}}
 {:name "elsif"
  :display-string "elsif                             elseif cond end"
  :insert {:type :snippet
           :value "elseif ${1:cond} then\n\t${0:-- do things}\nend"}}
 {:name "while"
  :display-string "while                             while cond"
  :insert {:type :snippet
           :value "while ${1:cond} do\n\t${0:-- do things}\nend"}}
 {:name "repeat"
  :display-string "repeat                            repeat until cond"
  :insert {:type :snippet
           :value "repeat\n\t${0:-- do things}\nuntil ${1:cond}"}}
 {:name "function"
  :display-string "function                          function function_name()"
  :insert {:type :snippet
           :value "function ${1:function_name}(${2:self})\n\t${0:-- do things}\nend"}}
 {:name "local"
  :display-string "local                             local name = value"
  :insert {:type :snippet
           :value "local ${1:name} = ${0:value}"}}
 {:name "for"
  :display-string "for                               for i = 1, 10"
  :insert {:type :snippet
           :value "for ${1:i} = ${2:1}, ${3:10} do\n\t${0:-- do things}\nend"}}
 {:name "fori"
  :display-string "fori                              for i, v in ipairs()"
  :insert {:type :snippet
           :value "for ${1:i}, ${2:v} in ipairs(${3:table_name}) do\n\t${0:-- do things}\nend"}}
 {:name "forp"
  :display-string "forp                              for k, v in pairs()"
  :insert {:type :snippet
           :value "for ${1:k}, ${2:v} in pairs(${3:table_name}) do\n\t${0:-- do things}\nend"}}]
