{:settings
 [{:type :string,
   :help "the title of the application",
   :default "unnamed",
   :path ["project" "title"]}
  {:type :string,
   :help "application version",
   :default "1.0",
   :path ["project" "version"]}
  {:type :boolean,
   :help "Write log file to disk",
   :default false,
   :path ["project" "write_log"]}
  {:type :boolean,
   :help "compress archive (not for Android)",
   :default true,
   :path ["project" "compress_archive"]}
  {:type :library-list,
   :help
   "a comma separated list of URL:s to projects required by this project",
   :path ["project" "dependencies"]}
  {:type :string,
   :help
   "a comma separated list of resources that will be included in the project. If directories are specified, all files and directories in that directory are recursively included",
   :default "",
   :path ["project" "custom_resources"]}
  {:type :resource,
   :filter "collection",
   :help
   "file reference of the collection to use for starting the application, /logic/main.collection by default",
   :default "/logic/main.collection",
   :path ["bootstrap" "main_collection"]}
  {:type :resource,
   :filter "render",
   :help
   "which render file to use, which defines the render pipeline, /builtins/render/default.render by default",
   :default "/builtins/render/default.render",
   :path ["bootstrap" "render"]}
  {:type :resource,
   :filter "lua",
   :help ""
   :default "",
   :path ["bootstrap" "debug_init_script"]
   :hidden? true}
  {:type :string,
   :help "dirs to include in this project when used as a library",
   :default "",
   :path ["library" "include_dirs"]}
  {:type :boolean,
   :help "use single Lua state shared between all script types",
   :default false,
   :path ["script" "shared_state"]}
  {:type :string,
   :help "unique project identifier",
   :default "",
   :path ["tracking" "app_id"]}
  {:type :integer,
   :help
   "the width in pixels of the application window, 960 by default",
   :default 960,
   :path ["display" "width"]}
  {:type :integer,
   :help
   "the height in pixels of the application window, 640 by default",
   :default 640,
   :path ["display" "height"]}
  {:type :boolean,
   :help "enable high DPI backbuffer where available",
   :default false,
   :path ["display" "high_dpi"]}
  {:type :integer,
   :help
   "how many samples to use for super sampling anti-aliasing, 0 by default, which means it is turned off",
   :default 0,
   :path ["display" "samples"]}
  {:type :boolean,
   :help
   "start the application full screen instead of windowed",
   :default false,
   :path ["display" "fullscreen"]}
  {:type :integer,
   :help
   "frame update frequency, 60 by default. Valid values are 60, 30, 20, 15, 12, 10, 6, 5, 4, 3, 2 and 1",
   :default 60,
   :path ["display" "update_frequency"]
   :options [[60 "60"] [30 "30"] [20 "20"] [15 "15"] [12 "12"] [10 "10"] [6 "6"] [5 "5"] [4 "4"] [3 "3"] [2 "2"] [1 "1"]]
   }
  {:type :boolean,
   :help
   "measure frame step time against actual time instead of locking to update_frequency",
   :default false,
   :path ["display" "variable_dt"]}
  {:type :resource,
   :filter "display_profiles",
   :help
   "file reference of the display profiles to use for the application",
   :default "/builtins/render/default.display_profiles",
   :path ["display" "display_profiles"]}
  {:type :boolean,
   :help "dynamic screen orientation support",
   :default false,
   :path ["display" "dynamic_orientation"]}
  {:type :string,
   :help "which type of physics to use, 2D (default) or 3D",
   :default "2D",
   :path ["physics" "type"]
   :options [["2D" "2D"] ["3D" "3D"]]}
  {:type :boolean,
   :help
   "visualize physics for debugging",
   :default false,
   :path ["physics" "debug"]}
  {:type :number,
   :help
   "alpha component for visualized physics, 0 - 1 (0.9 by default)",
   :default 0.9,
   :path ["physics" "debug_alpha"]}
  {:type :number,
   :help
   "how big to draw unit objects in physics, like triads and normals, 30 by default",
   :default 30.0,
   :path ["physics" "debug_scale"]}
  {:type :integer,
   :help
   "max number of concurrent physics worlds, 4 by default (careful, they waste memory)",
   :default 4,
   :path ["physics" "world_count"]}
  {:type :number,
   :help "world gravity along x-axis, 0 by default",
   :default 0.0,
   :path ["physics" "gravity_x"]}
  {:type :number,
   :help
   "world gravity along y-axis, -10 by default (natural gravity)",
   :default -10.0,
   :path ["physics" "gravity_y"]}
  {:type :number,
   :help "world gravity along z-axis, 0 by default",
   :default 0.0,
   :path ["physics" "gravity_z"]}
  {:type :number,
   :help
   "how to scale the physics worlds in relation to the game world for numerical precision, 0.01 - 1 (default)",
   :default 1.0,
   :path ["physics" "scale"]}
  {:type :integer,
   :help
   "how many collisions that will be reported back to the scripts, 64 by default",
   :default 64,
   :path ["physics" "max_collisions"]}
  {:type :integer,
   :help
   "how many contact points that will be reported back to the scripts, 128 by default",
   :default 128,
   :path ["physics" "max_contacts"]}
  {:type :number,
   :help
   "contacts with an impulse below this limit will not be reported to scripts, 0 (disabled) by default",
   :default 0.0,
   :path ["physics" "contact_impulse_limit"]}
  {:type :string,
   :help
   "which filtering to use for min filtering, linear (default) or nearest",
   :default "linear",
   :path ["graphics" "default_texture_min_filter"]
   :options [["linear" "linear"] ["nearest" "nearest"]]}
  {:type :string,
   :help
   "which filtering to use for mag filtering, linear (default) or nearest",
   :default "linear",
   :path ["graphics" "default_texture_mag_filter"]
   :options [["linear" "linear"] ["nearest" "nearest"]]}
  {:type :integer,
   :help "maximum number of draw calls",
   :default 1024,
   :path ["graphics" "max_draw_calls"]}
  {:type :integer,
   :help
   "maximum number of characters (text) that can be displayed each frame",
   :default 8192,
   :path ["graphics" "max_characters"]}
  {:type :integer,
   :help
   "maximum number of debug vertices, used for physics shape rendering among other things, 10000 by default",
   :default 10000,
   :path ["graphics" "max_debug_vertices"]}
  {:type :resource,
   :filter "texture_profiles",
   :preserve-extension true,
   :help
   "specify which texture profiles (format, mipmaps and max textures size) to use for which resource path",
   :default "/builtins/graphics/default.texture_profiles",
   :path ["graphics" "texture_profiles"]}
  {:type :number,
   :help
   "seconds to wait before treating a held down keyboard-key to start repeating itself",
   :default 0.5,
   :path ["input" "repeat_delay"]}
  {:type :number,
   :help
   "seconds to wait between each repetition of a held down keyboard-key",
   :default 0.2,
   :path ["input" "repeat_interval"]}
  {:type :resource,
   :filter "gamepads",
   :help
   "file reference of the gamepads config file, which maps gamepad signals to OS, /builtins/input/default.gamepads by default",
   :default "/builtins/input/default.gamepads",
   :path ["input" "gamepads"]}
  {:type :resource,
   :filter "input_binding",
   :help
   "file reference of the input config file, which maps HW inputs to actions, /input/game.input_binding by default",
   :default "/input/game.input_binding",
   :path ["input" "game_binding"]}
  {:type :boolean,
   :help
   "determines if the app receives accelerometer events",
   :default true,
   :path ["input" "use_accelerometer"]}
  {:type :boolean,
   :help
   "use http cache for faster loads over network",
   :default false,
   :path ["resource" "http_cache"]}
  {:type :string,
   :help "where to find game.project, in URI format",
   :default "",
   :path ["resource" "uri"]}
  {:type :integer,
   :help
   "the max number of resources that can be loaded at the same time, 1024 by default",
   :default 1024,
   :path ["resource" "max_resources"]}
  {:type :number,
   :help "http timeout in seconds. zero to disable timeout",
   :default 0.0,
   :path ["network" "http_timeout"]}
  {:type :integer,
   :help "max number of instances per collection, 1024 by default",
   :default 1024,
   :path ["collection" "max_instances"]}
  {:type :number,
   :help "global gain (volume), 0 - 1, 1 by default",
   :default 1.0,
   :path ["sound" "gain"]}
  {:type :integer,
   :help "max number of different sounds, 128 by default",
   :default 128,
   :path ["sound" "max_sound_data"]}
  {:type :integer,
   :help "max number of concurrent sound buffers, 32 by default",
   :default 32,
   :path ["sound" "max_sound_buffers"]}
  {:type :integer,
   :help "max number of concurrently playing sounds, 16 by default",
   :default 16,
   :path ["sound" "max_sound_sources"]}
  {:type :integer,
   :help "max number of concurrent sound instances, 256 by default",
   :default 256,
   :path ["sound" "max_sound_instances"]}
  {:type :integer,
   :help "max number of sprites, 128 by default",
   :default 128,
   :path ["sprite" "max_count"]}
  {:type :boolean,
   :help
   "allow sprites to appear unaligned with respect to pixels",
   :default true,
   :path ["sprite" "subpixels"]}
  {:type :integer,
   :help "max number of spine models, 128 by default",
   :default 128,
   :path ["spine" "max_count"]}
  {:type :integer,
   :help "max number of gui components per collection, 64 by default",
   :default 64,
   :path ["gui" "max_count"]}
  {:type :integer,
   :help "max number of labels, 64 by default",
   :default 64,
   :path ["label" "max_count"]}
  {:type :boolean,
   :help
   "allow labels to appear unaligned with respect to pixels, this is also dependent on the camera position being aligned",
   :default true,
   :path ["label" "subpixels"]}
  {:type :integer,
   :help "max number of particle fx components, 64 by default",
   :default 64,
   :path ["particle_fx" "max_count"]}
  {:type :integer,
   :help "max total number of living particles, 1024 by default",
   :default 1024,
   :path ["particle_fx" "max_particle_count"]}
  {:type :integer,
   :help "max number of collection proxies, 8 by default",
   :default 8,
   :path ["collection_proxy" "max_count"]}
  {:type :integer,
   :help "max number of collection factories, 128 by default",
   :default 128,
   :path ["collectionfactory" "max_count"]}
  {:type :integer,
   :help "max number of factories, 128 by default",
   :default 128,
   :path ["factory" "max_count"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help
   "iPhone/iPod touch icon file (.png) [required for iOS 6.1 and earlier]",
   :path ["ios" "app_icon_57x57"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad icon file (.png) [required for iOS 6.1 and earlier]",
   :path ["ios" "app_icon_72x72"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad icon file (.png)",
   :path ["ios" "app_icon_76x76"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help
   "retina iPhone/iPod touch bundle icon file (.png) [required for iOS 6.1 and earlier]",
   :path ["ios" "app_icon_114x114"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "retina iPhone 5 and 6 bundle icon file (.png)",
   :path ["ios" "app_icon_120x120"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help
   "retina iPad bundle icon file (.png) [required for iOS 6.1 and earlier]",
   :path ["ios" "app_icon_144x144"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "retina iPad icon file (.png)",
   :path ["ios" "app_icon_152x152"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad Pro bundle icon file (.png)",
   :path ["ios" "app_icon_167x167"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone6 plus icon file (.png)",
   :path ["ios" "app_icon_180x180"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone launch image (.png)",
   :path ["ios" "launch_image_320x480"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "retina iPhone launch image (.png)",
   :path ["ios" "launch_image_640x960"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone 5 launch image (.png)",
   :path ["ios" "launch_image_640x1136"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone 6 portrait launch image (.png)",
   :path ["ios" "launch_image_750x1334"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone 6 landscape launch image (.png)",
   :path ["ios" "launch_image_1334x750"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad portrait launch image (.png)",
   :path ["ios" "launch_image_768x1024"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "retina iPad portrait launch image (.png)",
   :path ["ios" "launch_image_1536x2048"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad landscape launch image (.png)",
   :path ["ios" "launch_image_1024x768"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone 6 plus portrait launch image (.png)",
   :path ["ios" "launch_image_1242x2208"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone 6 plus landscape launch image (.png)",
   :path ["ios" "launch_image_2208x1242"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "retina iPad landscape launch image (.png)",
   :path ["ios" "launch_image_2048x1536"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad Pro portrait launch image (.png)",
   :path ["ios" "launch_image_2048x2732"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPad Pro landscape launch image (.png)",
   :path ["ios" "launch_image_2732x2048"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone X portrait launch image (.png)",
   :path ["ios" "launch_image_1125x2436"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "iPhone X landscape launch image (.png)",
   :path ["ios" "launch_image_2436x1125"]}
  {:type :boolean,
   :help "set to true if the icons are prerendered",
   :default false,
   :path ["ios" "pre_renderered_icons"]}
  {:type :string,
   :help "bundle identifier (CFBundleIdentifier)",
   :default "example.unnamed",
   :path ["ios" "bundle_identifier"]}
  {:type :resource,
   :filter "plist",
   :preserve-extension true,
   :help "custom Info.plist template file",
   :label "Info.plist"
   :path ["ios" "infoplist"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android ldpi icon file (.png)",
   :path ["android" "app_icon_36x36"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android mdpi icon file (.png)",
   :path ["android" "app_icon_48x48"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android hdpi icon file (.png)",
   :path ["android" "app_icon_72x72"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android xhdpi icon file (.png)",
   :path ["android" "app_icon_96x96"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android xxhdpi icon file (.png)",
   :path ["android" "app_icon_144x144"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Android xxxhdpi icon file (.png)",
   :path ["android" "app_icon_192x192"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small push notification icon (.png)",
   :path ["android" "push_icon_small"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large push notification icon (.png)",
   :path ["android" "push_icon_large"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small ldpi push notification icon file (.png)",
   :path ["android" "push_icon_small_ldpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small mdpi push notification icon file (.png)",
   :path ["android" "push_icon_small_mdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small hdpi push notification icon file (.png)",
   :path ["android" "push_icon_small_hdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small xhdpi push notification icon file (.png)",
   :path ["android" "push_icon_small_xhdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small xxhdpi push notification icon file (.png)",
   :path ["android" "push_icon_small_xxhdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Small xxxhdpi push notification icon file (.png)",
   :path ["android" "push_icon_small_xxxhdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large ldpi push notification icon file (.png)",
   :path ["android" "push_icon_large_ldpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large mdpi push notification icon file (.png)",
   :path ["android" "push_icon_large_mdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large hdpi push notification icon file (.png)",
   :path ["android" "push_icon_large_hdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large xhdpi push notification icon file (.png)",
   :path ["android" "push_icon_large_xhdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large xxhdpi push notification icon file (.png)",
   :path ["android" "push_icon_large_xxhdpi"]}
  {:type :resource,
   :filter "png",
   :preserve-extension true,
   :help "Large xxxhdpi push notification icon file (.png)",
   :path ["android" "push_icon_large_xxxhdpi"]}
  {:type :string,
   :help
   "JSON field name in push payload to use as notification title",
   :default "",
   :path ["android" "push_field_title"]}
  {:type :string,
   :help "JSON field name in push payload to use as notification text",
   :default "",
   :path ["android" "push_field_text"]}
  {:type :integer,
   :help "android version code (android:versionCode)",
   :default 1,
   :path ["android" "version_code"]}
  {:type :string,
   :help "package identifier",
   :default "com.example.todo",
   :path ["android" "package"]}
  {:type :string,
   :help "Google Cloud Messaging Sender ID",
   :default "",
   :path ["android" "gcm_sender_id"]}
  {:type :resource,
   :filter "xml",
   :preserve-extension true,
   :help "custom AndroidManifest.xml template file",
   :path ["android" "manifest"]}
  {:type :string,
   :help
   "in-app purchase provider to use, supported options are 'GooglePlay' and 'Amazon'",
   :default "GooglePlay",
   :path ["android" "iap_provider"]
   :options [["GooglePlay" "GooglePlay"] ["Amazon" "Amazon"]]}
  {:type :string,
   :help
   "which input method to use, supported options are 'KeyEvent' and 'HiddenInputField'",
   :default "KeyEvent",
   :path ["android" "input_method"]
   :options [["KeyEvent" "KeyEvent"] ["HiddenInputField" "HiddenInputField"]]}
  {:type :boolean,
   :help "hide the navigation and status bars and lets your app capture all touch events on the screen",
   :default false,
   :path ["android" "immersive_mode"]}
  {:type :resource,
   :filter "icns",
   :preserve-extension true,
   :help "bundle icon file (.icns)",
   :path ["osx" "app_icon"]}
  {:type :string,
   :help "bundle identifier (CFBundleIdentifier)",
   :default "example.unnamed",
   :path ["osx" "bundle_identifier"]}
  {:type :resource,
   :filter "plist",
   :preserve-extension true,
   :help "custom Info.plist template file",
   :label "Info.plist",
   :path ["osx" "infoplist"]}
  {:type :resource,
   :filter "ico",
   :preserve-extension true,
   :help "executable icon file (.ico)",
   :path ["windows" "app_icon"]}
  {:type :string,
   :help
   "In-app purchase provider to use. Supported options are 'Gameroom' or empty string",
   :default "",
   :path ["windows" "iap_provider"]
   :options [["" "None"] ["Gameroom" "Gameroom"]]}
  {:type :boolean,
   :help "set to true if you wish to adjust the application heap memory size",
   :default false,
   :path ["html5" "set_custom_heap_size"]}
  {:type :integer,
   :help "the size, in bytes, of the application's heap",
   :default 0,
   :path ["html5" "custom_heap_size"]}
  {:type :boolean,
   :help "add html dev tool to application",
   :default false,
   :path ["html5" "include_dev_tool"]}
  {:type :resource,
   :filter "html",
   :preserve-extension true,
   :help "html shell for canvas",
   :label ".html Shell"
   :path ["html5" "htmlfile"]}
  {:type :resource,
   :filter "css",
   :preserve-extension true,
   :help "css detail for html shell",
   :label "Custom .css"
   :path ["html5" "cssfile"]}
  {:type :resource,
   :filter "png"
   :preserve-extension true,
   :help "custom html splash screen image",
   :path ["html5" "splash_image"]}
  {:type :string,
   :help
   "string to prefix bundled archive file path with (can be a full URL)",
   :default "archive",
   :path ["html5" "archive_location_prefix"]}
  {:type :string,
   :help "string to suffix bundled archive file path with",
   :default "",
   :path ["html5" "archive_location_suffix"]}
  {:type :string,
   :help "the application id as issued by Facebook",
   :default "",
   :path ["facebook" "appid"]}
  {:type :boolean,
   :help "auto-finish transactions",
   :default true,
   :path ["iap" "auto_finish_transactions"]}
  {:type :string
   :help "private key"
   :default nil
   :label "Private key"
   :path ["liveupdate" "privatekey"]}
  {:type :string
   :help "public key"
   :default nil
   :label "Public key"
   :path ["liveupdate" "publickey"]}
  {:type :resource,
   :filter "appmanifest",
   :preserve-extension true,
   :help "optional configuration file with detailed control over build settings",
   :path ["native_extension" "app_manifest"]}
  {:type :boolean
   :help "enable CPU usage sampling in release"
   :default false
   :path ["profiler" "track_cpu"]}]
 :categories
 {"sound" {:help "Sound related settings"},
  "html5" {:help "HTML5 related settings"},
  "resource"
  {:help "Resource loading and management related settings"},
  "factory" {:help "GameObject factory related settings"},
  "graphics" {:help "Graphics related settings"},
  "bootstrap" {:help "Initial settings for the engine"},
  "label" {:help "Label related settings"},
  "collection" {:help "Collection related settings"},
  "project" {:help "General project settings"},
  "collection_proxy" {:help "Collection proxy related settings"},
  "tracking" {:help "Application tracking settings"},
  "physics" {:help "Physics settings"},
  "osx" {:help "Mac OSX related settings"},
  "network" {:help "Network related settings"},
  "script" {:help "Script system settings"},
  "gui" {:help "GUI related settings"},
  "sprite" {:help "Sprite related settings"},
  "facebook" {:help "Facebook related settings"},
  "windows" {:help "Windows related settings"},
  "input" {:help "Input related settings"},
  "library"
  {:help
   "Settings for when this project is used as a library by another project"},
  "display" {:help "Resolution and other display related settings"},
  "ios" {:help "iOS related settings"},
  "iap" {:help "In App Purchase related settings"},
  "particle_fx" {:help "Particle FX related settings"},
  "android" {:help "Android related settings"},
  "liveupdate" {:help "Liveupdate settings"},
  "native_extension" {:help "Settings for native extensions"},
  "profiler" {:help "Settings related to the runtime profiler"}}}
