{:settings [{:path ["performance" "cache_capacity"]
             :type :integer
             :default 20000
             :label "Cache Size"
             :help "Maximum number of temporary cache entries. Increase if you experience frequent editor slowdowns. Use -1 for unlimited, 20000 by default."}
            {:path ["performance" "non_editable_directories"]
             :type :list
             :label "Non-editable Directories"
             :help "Project directories whose contents can't be edited. Use for externally generated content to conserve memory and project load time."
             :element {:type :directory
                       :in-project true}}]
 :group-order ["Shared Settings"]
 :default-category "performance"
 :categories {"performance" {:help "Editor performance tweaks for your project. Some settings may require restarting the editor to take effect."
                             :group "Shared Settings"}}}
