{:settings
 [{:type :integer
   :help "Maximum number of temporary cache entries. Increase if you experience frequent editor slowdowns. Use -1 for unlimited, 20000 by default."
   :default 20000
   :label "Cache Size (Needs Restart)"
   :path ["editor" "cache_capacity"]}]
 :group-order ["Shared Settings"]
 :default-category "editor"
 :categories
 {"editor" {:help "Optimize the editor for use with your project."
            :group "Shared Settings"}}}
