@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.ttf"); }

.root {
  -fx-background-color: transparent;
  -fx-text-fill: #f0f2f6;
  -fx-font-family: "Source Sans Pro";
  -fx-font-size: 13px;
}

#launch-error {
  -fx-text-fill: #f0f2f6;
  -fx-padding: 0 0 33px 0;
}

#startup-tip > .text {
  -fx-fill: #8f9296;
  -fx-padding: 0;
}

#startup-tip > .hyperlink {
  -fx-text-fill: #5BC0FF;
  -fx-border-width: 0;
  -fx-padding: 0;
}

#startup-tip > .hyperlink:hover {
  -fx-text-fill: #89d2ff;
}

/* See modena.css for progress bar styling */
.progress-bar {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-radius: 0; }
  .progress-bar > .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0; }
  .progress-bar > .bar {
    -fx-background-color: #3f7bbb;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 3;
    -fx-padding: 0; }

.button {
  -fx-background-radius: 5;
  -fx-border-radius: 4;
  -fx-padding: 6px 17px;
  -fx-min-width: 100px;
  -fx-background-color: #393c41;
  -fx-background-insets: 0;
  -fx-border-color: rgba(33, 36, 40, 0.8);
  -fx-border-width: 1;
  -fx-text-fill: rgba(240, 242, 246, 0.8);
  -fx-font-size: 13px; }
  .button:hover {
    -fx-background-color: #45474B; }
  .button:armed {
    -fx-background-color: #292a2f; }
