@font-face {
  src: url("OpenSans-Regular.ttf"); }

@font-face {
  src: url("SourceSansPro-Regular.ttf"); }

@font-face {
  src: url("SourceSansPro-Semibold.ttf"); }

@font-face {
  src: url("SourceSansPro-Italic.ttf"); }

@font-face {
  src: url("SourceSansPro-Light.ttf"); }

@font-face {
  src: url("DejaVuSansMono.ttf"); }

.root {
  -fx-font-size: 13px;
  -fx-font-family: "Source Sans Pro"; }

Text.strong {
  -fx-font-family: "Source Sans Pro Semibold"; }

Text.emphasis {
  -fx-font-family: "Source Sans Pro Italic"; }

Label.strong {
  -fx-font-family: "Source Sans Pro Semibold"; }

Label.emphasis {
  -fx-font-family: "Source Sans Pro Italic"; }

#build-errors-container .tree-cell {
  -fx-font-family: "Dejavu Sans Mono";
  -fx-font-size: 90%; }

.cljfx-form-title {
  -fx-font-family: "Source Sans Pro Light";
  -fx-font-size: 200%;
  -fx-font-smoothing-type: lcd; }

#welcome-dialog .df-header {
  -fx-font-family: "Source Sans Pro Light";
  -fx-font-size: 150%;
  -fx-font-smoothing-type: lcd; }

#welcome-dialog #left-pane .pane-button {
  -fx-font-family: "Source Sans Pro Semibold";
  -fx-font-size: 110%; }

#welcome-dialog #progress-overlay #progress-header {
  -fx-font-family: "Source Sans Pro Light";
  -fx-font-size: 150%;
  -fx-font-smoothing-type: lcd; }

* {
  -df-background-darker: derive(#212428, -10%);
  -df-background-dark: derive(#212428, -5%);
  -df-background: #212428;
  -df-background-light: derive(#212428, 10%);
  -df-background-lighter: derive(#212428, 20%);
  -df-component-darker: derive(#464c55, -20%);
  -df-component-dark: derive(#464c55, -10%);
  -df-component: #464c55;
  -df-component-light: derive(#464c55, 10%);
  -df-component-lighter: derive(#464c55, 20%);
  -df-text-darker: derive(#b4bac1, -20%);
  -df-text-dark: derive(#b4bac1, -40%);
  -df-text: #b4bac1;
  -df-text-selected: derive(#b4bac1, 20%);
  -df-defold-red-dark: derive(#e32f44, -10%);
  -df-defold-red: #e32f44;
  -df-defold-red-light: derive(#e32f44, 10%);
  -df-defold-yellow-dark: derive(#e6b711, -10%);
  -df-defold-yellow: #e6b711;
  -df-defold-yellow-light: derive(#e6b711, 10%);
  -df-defold-yellow-lighter: derive(#e6b711, 20%);
  -df-defold-green-dark: derive(#2faa09, -10%);
  -df-defold-green: #2faa09;
  -df-defold-green-light: derive(#2faa09, 10%);
  -df-defold-green-lighter: derive(#2faa09, 20%);
  -df-defold-orange-dark: derive(#fa6731, -10%);
  -df-defold-orange: #fa6731;
  -df-defold-orange-light: derive(#fa6731, 10%);
  -df-defold-blue-dark: derive(#4cb1ff, -10%);
  -df-defold-blue: #4cb1ff;
  -df-defold-blue-light: derive(#4cb1ff, 10%);
  -df-defold-blue-lighter: derive(#4cb1ff, 20%);
  /* Status colors */
  -df-error-severity-fatal: -df-defold-red;
  -df-error-severity-fatal-dim: -df-defold-red-dark;
  -df-error-severity-warning: -df-defold-yellow;
  -df-error-severity-warning-dim: -df-defold-yellow-dark;
  -df-error-severity-info: -df-defold-blue-lighter;
  /* Lua script colors */
  -df-script-helper: #33cccc;
  -df-script-self: #E066FF;
  -df-script-logic: #E3A869;
  -df-script-constant: #FFBBFF;
  -df-script-function: #33cc33;
  -df-script-keyword: #fd6623;
  -df-script-operator: #33cccc;
  -df-script-string: #fbce2f;
  -df-script-comment: #ff00ff;
  -df-script-number: #aaaaff;
  -df-script-intellisense: #00FFFF;
  /* File extension group colors */
  -df-folder: -df-text-dark;
  -df-folder-active: -df-text;
  -df-unknown-file: -df-text-dark;
  -df-unknown-file-active: -df-text;
  -df-design-file: -df-defold-blue;
  -df-design-file-active: -df-defold-blue-lighter;
  -df-script-file: -df-defold-yellow;
  -df-script-file-active: -df-defold-yellow-lighter;
  -df-property-file: -df-defold-green;
  -df-property-file-active: -df-defold-green-light; }

/* See modena.css for progress bar styling */
.progress-bar {
  -fx-background-radius: 0;
  -fx-border-radius: 0; }
  .progress-bar .track {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: -df-background-lighter;
    -fx-background-insets: 0; }
  .progress-bar .bar {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 10;
    -fx-padding: 8 0; }

.small-progress-bar .bar {
  -fx-background-color: -df-defold-blue-lighter;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 1em; }

.small-progress-bar .track {
  -fx-background-color: -df-background;
  -fx-background-insets: 0;
  -fx-background-radius: 0; }

.really-small-progress-bar {
  -fx-background-radius: 0;
  -fx-min-width: 140px; }
  .really-small-progress-bar .bar {
    -fx-background-color: -df-defold-blue-lighter;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-pref-height: 5px;
    -fx-padding: 0em; }
  .really-small-progress-bar .track {
    -fx-background-color: -df-background-lighter;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 4; }

.progress-indicator {
  -fx-progress-color: -df-component; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.ttf"); }

.root {
  -fx-background-color: transparent !important;
  -fx-text-fill: -df-text; }

#launch-error {
  -fx-text-fill: -df-defold-red; }

#game * {
  -fx-text-fill: white;
  -fx-font-size: 90%; }

#footer * {
  -fx-text-fill: -df-text-dark;
  -fx-font-size: 90%; }

#sponsors {
  -fx-padding: 0 0 16px 0; }

#sponsor-icons {
  -fx-opacity: 0.7;
  -fx-padding: 0 0 33px 0;
  -fx-spacing: 33px; }

#startup-tip > .text {
  -fx-fill: -df-text-dark;
  -fx-padding: 0; }

#startup-tip > .hyperlink {
  -fx-text-fill: -df-defold-blue-light;
  -fx-border-width: 0;
  -fx-padding: 0; }

#startup-tip > .hyperlink:hover {
  -fx-text-fill: -df-defold-blue-lighter; }

.button {
  -fx-background-radius: 5;
  -fx-border-radius: 4;
  -fx-padding: 6px 17px;
  -fx-min-width: 100px;
  -fx-background-color: -df-background-lighter;
  -fx-background-insets: 0;
  -fx-border-color: -df-background-dark;
  -fx-border-width: 1;
  -fx-text-fill: -df-text; }

.button:hover {
  -fx-background-color: -df-component-darker; }

.button:armed {
  -fx-background-color: -df-background-lighter; }
