<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddComponentHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.add">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.RemoveComponentHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.go.core.definitions.componentSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddComponentFromFileHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addLink">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.componentSelected">
               </reference>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.EnterRefComponentHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.enter">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="or">
                     <instanceof
                           value="com.dynamo.cr.go.core.RefComponentNode">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext">
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.add"
               label="Add Component"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
               label="Add Component From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="com.dynamo.cr.tileeditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Game Object">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.add"
                  label="Add Component"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addLink"
                  label="Add Component From File"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
                  </reference>
                  <reference
                        definitionId="com.dynamo.cr.go.core.definitions.componentSelected">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.go.ui.wizards.GameObjectNewWizard"
            icon="icons/brick.png"
            id="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard"
            name="Game Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.go.ui.wizards.SpriteNewWizard"
            icon="icons/pictures.png"
            id="com.dynamo.cr.go.ui.wizards.spriteNewWizard"
            name="Sprite File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.go.ui.wizards.spriteNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.go.ui.wizards.spriteNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="go"
            icon="icons/brick.png"
            id="com.dynamo.cr.go.ui.goEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="sprite"
            icon="icons/pictures.png"
            id="com.dynamo.cr.go.ui.spriteEditor"
            name="Scene Editor">
      </editor>
   </extension>
</plugin>
