/* This is the css from ascii-doc 8.6.3 but with class .asciidoc descended selector added in order to avoid name clashes.
   This is quick and dirty fix. Some elements are currently broken such as "NOTE:" (wrong font) in ascii-docs.
  */

/* Custom */
.asciidoc {
    font-size: 15px;
    font-family: Georgia,"Times New Roman",Times,serif;

}

div.asciidoc {
    margin-right: 1.5em;
    font-family: Georgia,"Times New Roman",Times,serif;
}

.asciidoc p {
    line-height: 1.5;
}

/* Original css + asciidoc */

/* Sans-serif font. */
.asciidoc h1, .asciidoc h2, .asciidoc h3, .asciidoc h4, .asciidoc h5, .asciidoc h6,
.asciidoc div.title, .asciidoc caption.title,
.asciidoc thead, .asciidoc p.table.header,
.asciidoc div#toctitle,
.asciidoc span#author, .asciidoc span#revnumber, .asciidoc span#revdate, .asciidoc span#revremark,
.asciidoc div#footer {
  font-family: Arial,Helvetica,sans-serif;
}

/* Serif font. */
.asciidoc div.sectionbody {
  font-family: Georgia,"Times New Roman",Times,serif;
}

/* Monospace font. */
.asciidoc tt {
  font-size: inherit;
}

.asciidoc body {
  margin: 1em 5% 1em 5%;
}

.asciidoc a {
  color: blue;
  text-decoration: underline;
}
.asciidoc a:visited {
  color: fuchsia;
}

.asciidoc em {
  font-style: italic;
  color: navy;
}

.asciidoc strong {
  font-weight: bold;
  color: #083194;
}

.asciidoc tt {
  font-size: inherit;
  color: navy;
}

.asciidoc h1, .asciidoc h2, .asciidoc h3, .asciidoc h4, .asciidoc h5, .asciidoc h6 {
  color: #527bbd;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.asciidoc h1, .asciidoc h2, .asciidoc h3 {
  border-bottom: 2px solid silver;
}
.asciidoc h2 {
  padding-top: 0.5em;
}
.asciidoc h3 {
  float: left;
}
.asciidoc h3 + * {
  clear: left;
}

.asciidoc div.sectionbody {
  margin-left: 0;
}

.asciidoc hr {
  border: 1px solid silver;
}

.asciidoc p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.asciidoc ul, .asciidoc ol, .asciidoc li > p {
  margin-top: 0;
}
.asciidoc ul > li     { color: #aaa; }
.asciidoc ul > li > * { color: black; }

.asciidoc pre {
  padding: 0;
  margin: 0;
}

.asciidoc span#author {
  color: #527bbd;
  font-weight: bold;
  font-size: 1.1em;
}
.asciidoc span#email {
}
.asciidoc span#revnumber, .asciidoc span#revdate, .asciidoc span#revremark {
}

.asciidoc div#footer {
  font-size: small;
  border-top: 2px solid silver;
  padding-top: 0.5em;
  margin-top: 4.0em;
}
.asciidoc div#footer-text {
  float: left;
  padding-bottom: 0.5em;
}
.asciidoc div#footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

.asciidoc div#preamble {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.asciidoc div.tableblock, .asciidoc div.imageblock, .asciidoc div.exampleblock, .asciidoc div.verseblock,
.asciidoc div.quoteblock, .asciidoc div.literalblock, .asciidoc div.listingblock, .asciidoc div.sidebarblock,
.asciidoc div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
.asciidoc div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 10%;
  color: #606060;
}

.asciidoc div.content { /* Block element content. */
  padding: 0;
}

/* Block element titles. */
.asciidoc div.title, .asciidoc caption.title {
  color: #527bbd;
  font-weight: bold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
.asciidoc div.title + * {
  margin-top: 0;
}

.asciidoc td div.title:first-child {
  margin-top: 0.0em;
}
.asciidoc div.content div.title:first-child {
  margin-top: 0.0em;
}
.asciidoc div.content + div.title {
  margin-top: 0.0em;
}

.asciidoc div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid #dddddd;
  border-left: 4px solid #f0f0f0;
  padding: 0.5em;
}

.asciidoc div.listingblock > div.content {
  border: 1px solid #dddddd;
  border-left: 5px solid #f0f0f0;
  background: #f8f8f8;
  padding: 0.5em;
}

.asciidoc div.quoteblock, .asciidoc div.verseblock {
  padding-left: 1.0em;
  margin-left: 1.0em;
  margin-right: 10%;
  border-left: 5px solid #f0f0f0;
  color: #777777;
}

.asciidoc div.quoteblock > div.attribution {
  padding-top: 0.5em;
  text-align: right;
}

.asciidoc div.verseblock > pre.content {
  font-family: inherit;
  font-size: inherit;
}
.asciidoc div.verseblock > div.attribution {
  padding-top: 0.75em;
  text-align: left;
}
/* DEPRECATED: Pre version 8.2.7 verse style literal block. */
.asciidoc div.verseblock + div.attribution {
  text-align: left;
}

.asciidoc div.admonitionblock .icon {
  vertical-align: top;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  padding-right: 0.5em;
}
.asciidoc div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #dddddd;
}

.asciidoc div.exampleblock > div.content {
  border-left: 3px solid #dddddd;
  padding-left: 0.5em;
}

.asciidoc div.imageblock div.content { padding-left: 0; }
.asciidoc span.image img { border-style: none; }
.asciidoc a.image:visited { color: white; }

.asciidoc dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.asciidoc dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
  color: navy;
}
.asciidoc dd > *:first-child {
  margin-top: 0.1em;
}

.asciidoc ul, .asciidoc ol {
    list-style-position: outside;
}
.asciidoc ol.arabic {
  list-style-type: decimal;
}
.asciidoc ol.loweralpha {
  list-style-type: lower-alpha;
}
.asciidoc ol.upperalpha {
  list-style-type: upper-alpha;
}
.asciidoc ol.lowerroman {
  list-style-type: lower-roman;
}
.asciidoc ol.upperroman {
  list-style-type: upper-roman;
}

.asciidoc div.compact ul, .asciidoc div.compact ol,
.asciidoc div.compact p, .asciidoc div.compact p,
.asciidoc div.compact div, .asciidoc div.compact div {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.asciidoc div.tableblock > table {
  border: 3px solid #527bbd;
}
.asciidoc thead, .asciidoc p.table.header {
  font-weight: bold;
  color: #527bbd;
}
.asciidoc tfoot {
  font-weight: bold;
}
.asciidoc td > div.verse {
  white-space: pre;
}
.asciidoc p.table {
  margin-top: 0;
}
/* Because the table frame attribute is overriden by CSS in most browsers. */
.asciidoc div.tableblock > table[frame="void"] {
  border-style: none;
}
.asciidoc div.tableblock > table[frame="hsides"] {
  border-left-style: none;
  border-right-style: none;
}
.asciidoc div.tableblock > table[frame="vsides"] {
  border-top-style: none;
  border-bottom-style: none;
}


.asciidoc div.hdlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.asciidoc div.hdlist tr {
  padding-bottom: 15px;
}
.asciidoc dt.hdlist1.strong, .asciidoc td.hdlist1.strong {
  font-weight: bold;
}
.asciidoc td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  color: navy;
}
.asciidoc td.hdlist2 {
  vertical-align: top;
}
.asciidoc div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}

.asciidoc .comment {
  background: yellow;
}

.asciidoc .footnote, .asciidoc .footnoteref {
  font-size: 0.8em;
}

.asciidoc span.footnote, .asciidoc span.footnoteref {
  vertical-align: super;
}

.asciidoc #footnotes {
  margin: 20px 0 20px 0;
  padding: 7px 0 0 0;
}

.asciidoc #footnotes div.footnote {
  margin: 0 0 5px 0;
}

.asciidoc #footnotes hr {
  border: none;
  border-top: 1px solid silver;
  height: 1px;
  text-align: left;
  margin-left: 0;
  width: 20%;
  min-width: 100px;
}

.asciidoc div.colist td {
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  vertical-align: top;
}
.asciidoc div.colist td img {
  margin-top: 0.3em;
}

.asciidoc @media print {
  div#footer-badges { display: none; }
}

.asciidoc div#toc {
  margin-bottom: 2.5em;
}

.asciidoc div#toctitle {
  color: #527bbd;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

.asciidoc div.toclevel1, .asciidoc div.toclevel2, .asciidoc div.toclevel3, .asciidoc div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
.asciidoc div.toclevel2 {
  margin-left: 2em;
  font-size: 0.9em;
}
.asciidoc div.toclevel3 {
  margin-left: 4em;
  font-size: 0.9em;
}
.asciidoc div.toclevel4 {
  margin-left: 6em;
  font-size: 0.9em;
}
