/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 10px;
	text-align: left;
}

h2 {
    font-weight: 300;
    font-size: 1.6em;
    margin: 12px 0px 8px 0px;
    color: #000;
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 4px 0px 8px 0px;
    color: #000;
}

h4 {
    font-weight: 400;
    font-size: 1.1em;
    margin: 0px 0px 8px 0px;
    color: #000;
}

a {
	/* Force pointer cursor on gwt-anchors (avoid text selection cursor) */
    cursor: pointer;
}

tr {
    vertical-align: top;
}

.hover {
    color: #06C;
    cursor: pointer;
}

.hover:hover {
    color: #06C;
    text-decoration: underline;
    cursor: pointer;
}

body, table td, select {
    __font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 13px;
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

/* script doc */

hr.script_separator {
    border-style: dotted none none none;
    border-color: #BBB;
    border-width: 1px;
}

div.script_doc {
    margin-left: 16px;
    margin-right: 16px;
}

.script_doc p {
    margin: 0px 0px 12px 0px;
}

.script_brief {
    display: inline;
    margin-left: 20px;
    color: #888;
}

.script_param {
    display: block;
    float: left;
    width: 175px;
    font-weight: 500;
    font-family: monospace;
}

.script_param_desc {
    margin-left: 175px;
}

.script_block {
    width: 904px;
    margin-bottom: 26px;
}

.script_param_block {
    width: 700px;
    __border-top: 1px solid #ccc;
    padding-top: 6px;
}


.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

table.userInfo {
	border-spacing: 0px;
}

tr.userInfo {
	background-color: #F1F5EC;
	color: #063;
}

/* General stuff */
div.paragraph {
    margin: 10px 0px 10px;
}

/* OpenID buttons */

button.openIDGoogle {
    background: url("/images/google_openid.png") no-repeat;
    background-position: center;
    width: 100px;
    height: 42px;
}

/*
   Navigation bar

   Example:
   <ul class="nav nav1">
    <li><a>Documentation</a></li>
    <li><a>Dashboard</a></li>
    <li><a>Logout</a></li>
   </ul>
 */

/* Add this class for navigation level 1 */
.nav1 {
    font-size: 13px;
}

/* Add this class for navigation level 2 */
.nav2 {
    font-size: 12px;
}

ul.nav {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 0px;
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

ul.nav li {
    float: left;
    cursor: pointer;
}

ul.nav a {
    display: block;
    border-bottom: none;
    padding-right: 12px;
    cursor: pointer;
}

ul.nav1 a.nav1Active {
    background-color: #444;
}

ul.nav1 a {
    width: auto;
    background-color: #7d7d7d;
    margin: 0px;
    padding: 10px 25px 10px;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: visible;
    text-align: center;
}

ul.nav1 a:hover {
    background-color: #444;
}

.nav1 li:first-child a {
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}

.nav1 li:last-child a {
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}

/* usp (Unique selling points) style */

div.usp > div {
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eeeeee));
    padding: 20px;
    padding-bottom: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.usp h1 {
    margin-top: 0px;
    font-size: 22px;
    color: #000;
}

div.usp img {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    padding: 8px;
    border: 1px solid #eee;
}

div.usp p {
    width: 260px;
    margin: 0px;
    padding: 0px;
}

div.usp {
    width: 500px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    border-color: #E5E5E5 hsl(0, 0%, 86%) #D2D2D2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 4px;
}


/* Form stuff */
div.form {
	width: 500px;
}

div.formRow {
	padding-bottom: 16px;
	width: 400px;
}

.formLabel {
	color: #555;
    font-weight: bold;
    margin-bottom: 4px;
}

div.formError {
    background-color: #ffeae8;
    color: #b52a3b;
    border: 1px solid #ccc;
    padding: 6px;
    margin-top: 5px;
    font-weight: bold;
}

div.form input[type="text"] {
	border: 1px solid #ccc;
	border-bottom-color: #999;
	padding: 4px;

	margin: 0;
	width: 390px;
	font-size: 16px;
	line-height: 20px;
	color: #222;
}

div.form textarea {
    width: 390px;
}
