/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

#topBar {
    margin-bottom: 32px;
    width: 100%;
}

/* named to defoldFootar in order to avoid nameclash with asciidoc */
#defoldFooter {
    background-color: #2D2E2F;
    height: 260px;
    clear: both;
    padding: 16px;
    margin-top: 50px;
    color: white;
}

#footerContent {
    position: relative;
    padding-left: 220px;
}

#footerContent h3 {
    color: #ccc;
    font-weight: 100;
}

#footerContent table td {
    padding-right: 160px;
}

#footerContent ul {
    list-style: none;
    padding: 0px;
    font-size: 14px;
    color: #999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

div.message {
    padding: 0px 30px 0px 30px;
    display: inline;
    background-color: #dad37b;
    color: #444;
    border: 1px solid #b4b056;
    border-radius: 0px 0px 6px 6px;
}

/* Styling for elements */

body {
    font-size: 14px;
    background: #eee;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

h1 {
    color: #444;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    color: #444;
    font-size: 20px;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 8px;
}

h4 {
    color: #444;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 8px;
}

a {
    /* Force pointer cursor on gwt-anchors (avoid text selection cursor) */
    cursor: pointer;
	text-decoration: none;
    color: #0096D7;
    font-weight: 500;
}

tr {
    vertical-align: top;
}

/* boxes */

div.box {
    width: 255px;
    padding: 15px;
    margin: 15px 50px 0px 0px;
    border: 1px solid #D2D3D4;
    background: #FBFCFD;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 6px;
}

div.doc ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
}

div.doc ul > li {
    background: url("/images/bullet.png") 0 50% no-repeat;
    padding: 2px 0 0 20px;
}

/* form related stuff */

input {
    background: #B2DCEC;
    border: 1px solid #0081A8;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0px rgba(255,255,255,0.25);
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 20px;
    color: #888;
    font-size: 14px;
}

input:hover {
    background-color: #9fdefc;
}

.gwt-ListBox {
    font-size: 20px;
}

.gwt-Button {
    font-weight: 500;
    background: #B9E191;
    color: #3C6414;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #82B450;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.gwt-Button:hover {
    background-color: #b4ec82;
    cursor: pointer;
}

button.delete {
    background-color: #e9eaec;
    color: #444;
    border: 1px solid #98999c;
}

button.delete:hover {
    background-color: #f3f4f9;
    cursor: pointer;
}

button.deleteX {
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
}

.hover {
    color: #06C;
    cursor: pointer;
}

.hover:hover {
    color: #06C;
    text-decoration: underline;
    cursor: pointer;
}


/* script doc */

hr.script_separator {
    border-style: dotted none none none;
    border-color: #BBB;
    border-width: 1px;
}

div.script_doc {
    margin-left: 16px;
    margin-right: 16px;
    width: 700px;
}

div.script_doc * h3 {
    font-size: 18px;
    font-style: normal;
}

div.script_doc * h4 {
	font-size: 16px;
	font-style: normal;
}

div.script_doc * pre {
    _width: 600px;
    padding: 15px;
    margin: 15px 50px 0px 0px;
    border: 1px solid #D2D3D4;
    background: #FBFCFD;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 6px;
    overflow: visible;
}

.script_doc p {
    margin: 0px 0px 12px 0px;
}

.script_brief {
    display: inline;
    margin-left: 20px;
    color: #888;
}

.script_param {
    display: block;
    float: left;
    width: 175px;
    font-weight: 500;
    font-family: monospace;
}

.script_param_desc {
    margin-left: 175px;
}

.script_block {
    width: 800px;
    margin-bottom: 26px;
}

.script_param_block {
    width: 700px;
    __border-top: 1px solid #ccc;
    padding-top: 6px;
}


.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

table.userInfo {
	border-spacing: 0px;
}

tr.userInfo {
	background-color: #F1F5EC;
	color: #063;
}

/* General stuff */
div.paragraph {
    margin: 10px 0px 10px;
}

/* OpenID buttons */

button.openIDGoogle {
    background-position: center;
    width: 100px;
    height: 42px;
    font-weight: 500;
    background:#ffffff url('/images/google_openid.png') no-repeat center center;
    color: #3C6414;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #888;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

button.openIDGoogle:hover {
    border: 1px solid #aaa;
    cursor: pointer;
}

/* navigation menu */

ul.nav li {
    display: inline;
}

ul.nav a {
    color: #444;
}

ul.nav {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 0px;
    list-style: none;
    overflow: hidden;
    zoom: 1;
    float: right;
    border: 1px solid #ccc;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

ul.nav li {
    float: left;
    cursor: pointer;
}

ul.nav a {
    display: block;
    border-bottom: none;
    padding-right: 12px;
    cursor: pointer;
}

ul.nav1 a.nav1Active {
    background-color: #f3f4f9;
}

ul.nav1 a {
    width: auto;
    background-color: #e9eaec;
    margin: 0px;
    padding: 10px 25px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    position: relative;
    overflow: visible;
    text-align: center;
}

ul.nav1 a:hover {
    background-color: #f3f4f9;
    _background-color: #a8c4ff;
}

.nav1 li {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav1 li:first-child a {
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-left: 1px solid white;
}

.nav1 li:last-child a {
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border-right: 1px solid white;
}

/* vertical nav */
ul.vnav {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-right: 48px;
    padding-left: 0px;
    list-style: none;
}

/* Form stuff */
div.form {
	width: 500px;
}

div.formRow {
	padding-bottom: 16px;
	width: 400px;
}

.formLabel {
	color: #555;
    margin-bottom: 4px;
    font-size: 16px;
}

div.formError {
    background-color: #ffeae8;
    color: #b52a3b;
    border: 1px solid #ccc;
    padding: 6px;
    margin-top: 5px;
    font-weight: bold;
}

div.form input[type="text"] {
	border: 1px solid #ccc;
	border-bottom-color: #999;
	padding: 4px;

	margin: 0;
	width: 390px;
	font-size: 16px;
	line-height: 20px;
	color: #222;
}

div.form textarea {
    width: 390px;
}
