<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Profiler"
            id="com.dynamo.cr.profiler">
      </category>
      <view
            name="Profiler"
            icon="icons/profiles.png"
            category="com.dynamo.cr.profiler"
            class="com.dynamo.cr.profiler.views.ProfilerView"
            id="com.dynamo.cr.profiler.views.ProfilerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.dynamo.cr.editor.perspective">
         <view
               id="com.dynamo.cr.profiler.views.ProfilerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.profiler.commands.profilerCommand"
            name="Capture Profile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.profiler.handlers.ProfilerHandler"
            commandId="com.dynamo.cr.profiler.commands.profilerCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.profiler.commands.profilerCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.dynamo.cr.profiler.menus.toolsMenu"
               label="Tools"
               mnemonic="T">
            <command
                  commandId="com.dynamo.cr.profiler.commands.profilerCommand"
                  icon="icons/profiles.png"
                  id="com.dynamo.cr.profiler.menus.profilerCommand"
                  label="Capture Profile..."
                  mnemonic="P">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
