<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.dynamo.cr.nodetypes" name="Node" schema="schema/com.dynamo.cr.nodetypes.exsd"/>
   <extension-point id="com.dynamo.cr.manipulators" name="Manipulators" schema="schema/com.dynamo.cr.manipulators.exsd"/>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            name="Scene Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addPrimary"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
            name="Add Reference">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addSecondary"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addTertiary"
            name="Add">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
            name="Add Reference">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.enter"
            name="Enter">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            name="Select Manipulator Mode">
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="com.dynamo.cr.sceneed.core.manipulators.select-mode">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Manipulator Mode"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.frameObjects"
            name="Frame Objects">
      </command>
      <command
            id="com.dynamo.cr.sceneed.commands.showGroup"
            name="Show Group">
         <commandParameter
               id="com.dynamo.cr.sceneed.commandParameters.group"
               name="Group"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.dynamo.cr.sceneed.commands.toggleSimulation"
            name="Toogle Simulation">
      </command>
      <command
            defaultHandler="com.dynamo.cr.sceneed.handlers.RecordHandler"
            id="com.dynamo.cr.sceneed.commands.toggleScreenRecord"
            name="Screen Record">
      </command>
      <command
            defaultHandler="com.dynamo.cr.sceneed.handlers.ShowOutlineHandler"
            id="com.dynamo.cr.sceneed.ui.commands.showOutline"
            name="Outline">
      </command>
      <command
            defaultHandler="com.dynamo.cr.sceneed.handlers.ShowGridHandler"
            id="com.dynamo.cr.sceneed.ui.commands.showGrid"
            name="Grid">
      </command>
      <command
            id="com.dynamo.cr.sceneed.ui.commands.addQuaternary"
            name="Add">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="I">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+I">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addSecondary"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+O">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.enter"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Q">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.select-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="W">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.move-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="E">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.rotate-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="R">
         <parameter
               id="org.eclipse.ui.commands.radioStateParameter"
               value="com.dynamo.cr.sceneed.core.manipulators.scale-mode">
         </parameter>
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.ui.commands.frameObjects"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.commands.toggleSimulation"
            contextId="com.dynamo.cr.sceneed.ui.contexts.sceneEditor"
            schemeId="com.dynamo.cr.editor.ui.defoldScheme"
            sequence="SPACE">
      </key>
      <key
            commandId="com.dynamo.cr.sceneed.commands.toggleScreenRecord"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.dynamo.cr.editor.ui.defoldScheme"
            sequence="M1+CTRL+SHIFT+ENTER">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.dynamo.rclient.preferences.PreferencePage"
            class="com.dynamo.cr.sceneed.ui.preferences.PreferencePage"
            id="com.dynamo.cr.sceneed.ui.preferences.preferencePage"
            name="Scene Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dynamo.cr.sceneed.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.dynamo.cr.sceneed.ui.decorators.SceneDecorator"
            id="com.dynamo.cr.sceneed.ui.sceneDecorator"
            label="Scene Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.dynamo.cr.sceneed.core.Node">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.sceneed.ui.backgroundNode"
            node="com.dynamo.cr.sceneed.ui.BackgroundNode"
            renderer="com.dynamo.cr.sceneed.ui.BackgroundRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.selectManipulator"
            node="com.dynamo.cr.sceneed.ui.SelectManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.moveManipulator"
            node="com.dynamo.cr.sceneed.ui.MoveManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.axisManipulator"
            node="com.dynamo.cr.sceneed.ui.AxisManipulator"
            renderer="com.dynamo.cr.sceneed.ui.AxisManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.circleManipulator"
            node="com.dynamo.cr.sceneed.ui.CircleManipulator"
            renderer="com.dynamo.cr.sceneed.ui.CircleManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.rotateManipulator"
            node="com.dynamo.cr.sceneed.ui.RotateManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.scaleAxisManipulator"
            node="com.dynamo.cr.sceneed.ui.ScaleAxisManipulator"
            renderer="com.dynamo.cr.sceneed.ui.ScaleAxisManipulatorRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.gridNode"
            node="com.dynamo.cr.sceneed.ui.GridNode"
            renderer="com.dynamo.cr.sceneed.ui.GridRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.selectionBoxNode"
            node="com.dynamo.cr.sceneed.ui.SelectionBoxNode"
            renderer="com.dynamo.cr.sceneed.ui.SelectionBoxRenderer">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.scaleManipulator"
            node="com.dynamo.cr.sceneed.ui.ScaleManipulator">
      </node-type>
      <node-type
            id="com.dynamo.cr.sceneed.ui.screenPlaneManipulator"
            node="com.dynamo.cr.sceneed.ui.ScreenPlaneManipulator"
            renderer="com.dynamo.cr.sceneed.ui.ScreenPlaneManipulatorRenderer">
      </node-type>
   </extension>
   <extension
         point="com.dynamo.cr.manipulators">
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.select-mode"
            name="Select Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.selectManipulator">
      </manipulator>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.move-mode"
            name="Move Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.moveManipulator">
      </manipulator>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.rotate-mode"
            name="Rotate Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.rotateManipulator">
      </manipulator>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.select-mode"
            name="Select Manipulator">
      </manipulator-mode>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Scale Manipulator">
      </manipulator-mode>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.move-mode"
            name="Move Manipulator">
      </manipulator-mode>
      <manipulator-mode
            id="com.dynamo.cr.sceneed.core.manipulators.rotate-mode"
            name="Rotate Manipulator">
      </manipulator-mode>
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Scale Manipualtor"
            node-type="com.dynamo.cr.sceneed.ui.scaleManipulator">
      </manipulator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext">
         <separator
               name="com.dynamo.cr.sceneed.genericSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Scene">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Select Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.select-mode">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Move Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.move-mode">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Rotate Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.rotate-mode">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode"
                  label="Scale Tool"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="com.dynamo.cr.sceneed.core.manipulators.scale-mode">
               </parameter>
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.frameObjects"
                  label="Frame Objects"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.sceneEditorActive">
               </reference>
            </visibleWhen>
            <menu
                  id="com.dynamo.cr.sceneed.menus.show"
                  label="Show">
               <command
                     commandId="com.dynamo.cr.sceneed.ui.commands.showOutline"
                     label="Outline"
                     style="toggle">
               </command>
               <command
                     commandId="com.dynamo.cr.sceneed.ui.commands.showGrid"
                     label="Grid"
                     style="toggle">
               </command>
               <separator
                     name="com.dynamo.cr.sceneed.showSeparator"
                     visible="true">
               </separator>
               <dynamic
                     class="com.dynamo.cr.sceneed.ui.ShowGroupItems"
                     id="com.dynamo.cr.sceneed.dynamics.showMenu">
               </dynamic>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit">
         <command
               commandId="com.dynamo.cr.sceneed.commands.toggleScreenRecord"
               label="Screen Record"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.dynamo.cr.editor.is_dev">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.sceneed.handlers.SelectManipulatorModeHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.selectManipulatorMode">
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.FrameObjectsHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.frameObjects">
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.ShowGroupHandler"
            commandId="com.dynamo.cr.sceneed.commands.showGroup">
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.CopyNodesHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.selectionCopyable">
            </reference></activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.PasteNodesHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.selectionCopyable">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.CutNodesHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.selectionDeleteable">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.sceneEditorActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.sceneed.handlers.DeleteNodesHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.dynamo.cr.sceneed.definitions.selectionDeleteable">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.sceneed.definitions.sceneEditorActive">
         <with
               variable="activeEditor">
            <instanceof
                  value="com.dynamo.cr.sceneed.ui.SceneEditor">
            </instanceof>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.sceneed.definitions.selectionDeleteable">
         <with
               variable="selection">
            <and>
               <test
                     property="com.dynamo.cr.sceneed.selection.siblings">
               </test>
               <test
                     property="com.dynamo.cr.sceneed.selection.root"
                     value="false">
               </test>
            </and>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.sceneed.definitions.singleSelection">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.sceneed.definitions.selectionCopyable">
         <with
               variable="selection">
            <and>
               <test
                     property="com.dynamo.cr.sceneed.selection.siblings">
               </test>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dynamo.cr.sceneed.core.propertytesters.SelectionPropertyTester"
            id="com.dynamo.cr.sceneed.propertyTesters.selection"
            namespace="com.dynamo.cr.sceneed.selection"
            properties="siblings,root"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>

</plugin>
