<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.go.core.nodes.gameObject"
            loader="com.dynamo.cr.go.core.GameObjectLoader"
            node="com.dynamo.cr.go.core.GameObjectNode"
            presenter="com.dynamo.cr.go.core.GameObjectPresenter"
            resource-type="com.dynamo.cr.go.core.resourcetypes.gameObject">
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.component">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.refGameObjectInstance">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.gameObject">
         </reference-node-type>
      </node-type>
      <node-type
            id="com.dynamo.cr.go.core.nodes.collection"
            loader="com.dynamo.cr.go.core.CollectionLoader"
            node="com.dynamo.cr.go.core.CollectionNode"
            presenter="com.dynamo.cr.go.core.CollectionPresenter"
            resource-type="com.dynamo.cr.go.resourcetypes.Collection">
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.instance">
         </reference-node-type>
      </node-type>
      <node-type
            id="com.dynamo.cr.go.core.nodes.instance"
            node="com.dynamo.cr.go.core.InstanceNode">
      </node-type>
      <node-type
            id="com.dynamo.cr.go.core.nodes.component"
            node="com.dynamo.cr.go.core.ComponentNode">
      </node-type>
      <node-type
            id="com.dynamo.cr.go.core.nodes.refGameObjectInstance"
            node="com.dynamo.cr.go.core.RefGameObjectInstanceNode">
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.refGameObjectInstance">
         </reference-node-type>
         <reference-node-type
               node-type="com.dynamo.cr.go.core.nodes.gameObject">
         </reference-node-type>
      </node-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.dynamo.cr.go.core.definitions.gameObjectSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.go.core.GameObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.componentSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.go.core.ComponentNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.collectionSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.go.core.CollectionNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.instanceSelected">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="com.dynamo.cr.go.core.InstanceNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.gameObjectEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.dynamo.cr.go.ui.goEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.collectionEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.dynamo.cr.go.ui.collectionEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="com.dynamo.cr.go.core.definitions.referenceSelected">
         <with
               variable="selection">
            <iterate>
               <or>
                  <instanceof
                        value="com.dynamo.cr.go.core.RefComponentNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.ComponentTypeNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.GameObjectNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.GameObjectInstanceNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.CollectionNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.CollectionInstanceNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.ComponentPropertyNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.CollectionPropertyNode">
                  </instanceof>
                  <instanceof
                        value="com.dynamo.cr.go.core.GameObjectPropertyNode">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="com.dynamo.cr.resourcetypes">
      <resource-type
            embeddable="true"
            file-extension="go"
            id="com.dynamo.cr.go.core.resourcetypes.gameObject"
            name="Game Object"
            proto-message-class="com.dynamo.gameobject.proto.GameObject$PrototypeDesc"
            resource-refactor-participant-class="com.dynamo.cr.go.core.refactoring.GameObjectRefactorParticipant"
            template-data=" "
            type-class="gameobject">
         <references>
            <reference-type-class
                  type-class="component">
            </reference-type-class>
         </references>
      </resource-type>
      <resource-type
            file-extension="collection"
            id="com.dynamo.cr.go.resourcetypes.Collection"
            name="Collection"
            proto-message-class="com.dynamo.gameobject.proto.GameObject$CollectionDesc"
            resource-refactor-participant-class="com.dynamo.cr.go.core.refactoring.CollectionRefactorParticipant"
            template-data="name: &apos;default&apos;">
         <references>
            <reference-resource-type
                  resource-type="com.dynamo.cr.go.core.resourcetypes.gameObject">
            </reference-resource-type>
            <reference-resource-type
                  resource-type="com.dynamo.cr.go.resourcetypes.Collection">
            </reference-resource-type>
         </references>
      </resource-type>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddComponentHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddComponentFromFileHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.OpenReferenceHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.enter">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.referenceSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddGameObjectFromFileHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddCollectionHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.dynamo.cr.go.ui.handlers.AddGameObjectHandler"
            commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary">
         <activeWhen>
            <and>
               <reference
                     definitionId="com.dynamo.cr.sceneed.definitions.singleSelection">
               </reference>
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.dynamo.cr.sceneed.menus.sceneOutlineContext?before=com.dynamo.cr.sceneed.genericSeparator">
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
               label="Add Component"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
               label="Add Component From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.gameObjectSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
               label="Add Game Object"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
               label="Add Game Object File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
               label="Add Collection From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.dynamo.cr.go.core.definitions.collectionSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Game Object">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
                  label="Add Component"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
                  label="Add Component From File"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.go.core.definitions.gameObjectEditorActive">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
         <menu
               label="Collection">
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimary"
                  label="Add Game Object"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addPrimaryReference"
                  label="Add Game Object From File"
                  style="push">
            </command>
            <command
                  commandId="com.dynamo.cr.sceneed.ui.commands.addSecondaryReference"
                  label="Add Collection From File"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.dynamo.cr.go.core.definitions.collectionEditorActive">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.go.ui.wizards.GameObjectNewWizard"
            icon="icons/brick.png"
            id="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard"
            name="Game Object File">
      </wizard>
      <wizard
            category="com.dynamo.cr.editor.wizardCategory"
            class="com.dynamo.cr.go.ui.wizards.CollectionNewWizard"
            icon="icons/bricks.png"
            id="com.dynamo.cr.go.wizards.CollectionNewWizard"
            name="Collection File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.dynamo.cr.go.wizards.CollectionNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.go.ui.wizards.gameObjectNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.dynamo.cr.go.wizards.CollectionNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="false"
            extensions="go"
            icon="icons/brick.png"
            id="com.dynamo.cr.go.ui.goEditor"
            name="Scene Editor">
      </editor>
      <editor
            class="com.dynamo.cr.sceneed.ui.SceneEditor"
            contributorClass="com.dynamo.cr.editor.ui.DefoldEditorActionBarContributor"
            default="true"
            extensions="collection"
            icon="icons/bricks.png"
            id="com.dynamo.cr.go.editors.CollectionEditor"
            name="Scene Editor">
      </editor>
   </extension>
   <extension
         id="dsf"
         point="com.dynamo.cr.editor.ui.tip">
      <tip
            editor-id="com.dynamo.cr.go.editors.CollectionEditor"
            link="See &lt;a href=&quot;http://doc.defold.com/doc/scene-editing&quot;&gt;Scene Editing&lt;/a&gt; for more info."
            tip="Tracking: Alt + Right Button (Three Button) or Option + Ctrl + Mouse Button (One Button)\nDollying: Alt + Middle Button (Three Button) or Ctrl + Mouse Button (One Button)\nSnapping: Shift while manipulating objects\nOpen the Scene menu for more useful operations"
            title="Hot Keys">
      </tip>
      <tip
            editor-id="com.dynamo.cr.go.ui.goEditor"
            link="See &lt;a href=&quot;http://doc.defold.com/doc/scene-editing&quot;&gt;Scene Editing&lt;/a&gt; for more info."
            tip="Use the Q, W and R keys to enable different manipulators for the selected objects.\nSnapping: Shift while manipulating objects.\nOpen the Scene menu for more useful operations."
            title="Manipulators">
      </tip>
   Navigation tip:\nTracking: Alt + Right Button (Three Button) or Option + Ctrl + Mouse Button (One Button)\nDollying: Alt + Middle Button (Three Button) or Ctrl + Mouse Button (One Button)</extension>
</plugin>
