<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dynamo.cr.manipulators">
      <manipulator
            mode="com.dynamo.cr.sceneed.core.manipulators.scale-mode"
            name="Test Scale Manipulator"
            node-type="com.dynamo.cr.sceneed.core.test.dummySphereScaleManipulator">
      </manipulator>
   </extension>
   <extension
         point="com.dynamo.cr.nodetypes">
      <node-type
            id="com.dynamo.cr.sceneed.core.test.dummySphereScaleManipulator"
            node="com.dynamo.cr.sceneed.core.test.DummySphereScaleManipulator">
      </node-type>
   </extension>

</plugin>
