<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>CrawlerEntryPoint</servlet-name>
		<servlet-class>com.unnison.ajaxcrawler.CrawlerEntryPoint</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawlerEntryPoint</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CrawlingTask</servlet-name>
		<servlet-class>com.unnison.ajaxcrawler.CrawlingTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawlingTask</servlet-name>
		<url-pattern>/crawlingtask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxCrawler</servlet-name>
		<servlet-class>com.unnison.ajaxcrawler.GetSnapshot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxCrawler</servlet-name>
		<url-pattern>/ajaxcrawler</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.unnison.ajaxcrawler.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/register</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
