* {

	// Dark Grey
	-df-dark-grey-darker:    derive(#212428, -15%);
	-df-dark-grey-dark:      derive(#212428, -5%);
	-df-dark-grey:           #212428;
	-df-dark-grey-light:     derive(#212428, 10%);
	-df-dark-grey-lighter:   derive(#212428, 20%);
	-df-dark-grey-lightest:  derive(#212428, 30%);

	// Grey
	-df-grey-darker:         derive(#52575C, -20%);
	-df-grey-dark:           derive(#52575C, -5%);
	-df-grey:                #52575C;
	-df-grey-light:          derive(#52575C, 5%);
	-df-grey-lighter:        derive(#52575C, 20%);

	// Light Grey
	-df-light-grey-darker:   derive(#a4b4c1, -20%);
	-df-light-grey-dark:     derive(#a4b4c1, -10%);
	-df-light-grey:          #a4b4c1;
	-df-light-grey-light:    derive(#a4b4c1, 10%);
	-df-light-grey-lighter:  derive(#a4b4c1, 20%);

	// White
	-df-defold-white-dark:   derive(#dddddd, -10%);
	-df-defold-white:        #dddddd;
	-df-defold-white-light:  derive(#dddddd, 10%);

	// Red
	-df-defold-red-dark:     derive(#e32f44, -10%);
	-df-defold-red:          #e32f44;
	-df-defold-red-light:    derive(#e32f44, 10%);

	// Yellow
	-df-defold-yellow-dark:    derive(#e6b711, -10%);
	-df-defold-yellow:         #e6b711;
	-df-defold-yellow-light:   derive(#e6b711, 10%);
	-df-defold-yellow-lighter: derive(#e6b711, 20%);

	// Green
	-df-defold-green-dark:   derive(#2faa09, -10%);
	-df-defold-green:        #2faa09;
	-df-defold-green-light:  derive(#2faa09, 10%);
	-df-defold-green-lighter:derive(#2faa09, 20%);

	// Orange
	-df-defold-orange-dark:  derive(#fa6731, -10%);
	-df-defold-orange:       #fa6731;
	-df-defold-orange-light: derive(#fa6731, 10%);

	// Blue
	-df-defold-blue-dark:    derive(#4cb1ff, -10%);
	-df-defold-blue:         #4cb1ff;
	-df-defold-blue-light:   derive(#4cb1ff, 10%);
	-df-defold-blue-lighter: derive(#4cb1ff, 20%);
	-df-defold-blue-lightest:derive(#4cb1ff, 30%);


	/* Menu colors */
	-df-menu-background: -df-dark-grey-lighter;
	-df-menu-foreground: -df-light-grey;
	-df-menu-background-hover: -df-grey;
	-df-menu-foreground-hover: -df-defold-white;
	-df-menu-separator: -df-dark-grey-light;

	/* Scene view colors */
	-df-scene-toolbar-background: -df-dark-grey-lighter;
	-df-scene-toolbar-button-foreground: -df-defold-white;
	-df-scene-toolbar-button-selected-background: -df-dark-grey-light;
	-df-scene-toolbar-button-selected-foreground: -df-defold-white;
	-df-scene-toolbar-button-hovered-foreground: -df-defold-white;

	/* Status colors */
	-df-error-severity-fatal: -df-defold-red;
	-df-error-severity-fatal-dim: -df-defold-red-dark;
	-df-error-severity-warning: -df-defold-yellow;
	-df-error-severity-warning-dim: -df-defold-yellow-dark;
	-df-error-severity-info: -df-defold-blue-lighter;

	/* Lua script colors */
	-df-script-helper:         #33cccc;
	-df-script-self:           #E066FF;
	-df-script-logic:          #E3A869;
	-df-script-constant:       #FFBBFF;
	-df-script-function:       #33cc33;
	-df-script-keyword:        #fd6623;
	-df-script-operator:       #33cccc;
	-df-script-string:         #fbce2f;
	-df-script-comment:        #ff00ff;
	-df-script-number:         #aaaaff;
	-df-script-intellisense:   #00FFFF;

	/* File extension group colors */
	-df-folder:                -df-light-grey-dark;
	-df-folder-active:         -df-light-grey;
	-df-unknown-file:          -df-light-grey-dark;
	-df-unknown-file-active:   -df-light-grey;
	-df-design-file:           -df-defold-blue;
	-df-design-file-active:    -df-defold-blue-lightest;
	-df-script-file:           -df-defold-yellow;
	-df-script-file-active:    -df-defold-yellow-lighter;
	-df-property-file:         -df-defold-green;
	-df-property-file-active:  -df-defold-green-light;
}
