* {
	// Background
	-df-background-darker:    derive(#212428, -13%);	// dialog input field background
	-df-background-dark:      derive(#212428, -6%);
	-df-background:           #212428;					// background, #212428 (original: dark-grey #212428)
	-df-background-light:     derive(#212428, 6%);		// panels, input field background, +6%=#c3036 (original: dark-grey-light #2c2e33)
	-df-background-lighter:   derive(#212428, 13%);		// tree view selection, +13%=#3c4249 (original: dark-grey-selected #3B3F43)

	// Component
	-df-component-darker:     derive(#52575c, -30%);	// button outline, scene view controls panel, -30%=#222426 (original: dark-grey #212428)
	-df-component-dark:       derive(#52575c, -15%);	// button, input field border, -15%=#383c3f (original: mid-grey #393c41)
	-df-component:            #52575c;					// button hovered (original: grey #52575c)
	-df-component-light:      derive(#52575c, 15%);		// input field border selected, +15%=#697076 (original: mid-grey-light #45474B)
	-df-component-lighter:    derive(#52575c, 30%);		// button icon, +30%=#828990

	// Text & icons
	-df-text-dark:            derive(#a2b0be, -30%);	// property components, -30%=#8698aa (original: #848484)
	-df-text:                 #a2b0be;					// non editable text, input field hint (original: bright-grey-light #a2b0be)
	-df-text-light:           derive(#a2b0be, 85%);		// editable text, +85%=#f1f3f5 (original: defold-white #f0f2f6)
	-df-text-selected:        derive(#a2b0be, 85%);		// non editable selected text (original: defold-white #f0f2f6)

	// Red
	-df-defold-red-dark:     derive(#e32f44, -10%);
	-df-defold-red:          #e32f44;
	-df-defold-red-light:    derive(#e32f44, 10%);

	// Yellow
	-df-defold-yellow-dark:    derive(#e6b711, -10%);
	-df-defold-yellow:         #e6b711;
	-df-defold-yellow-light:   derive(#e6b711, 10%);
	-df-defold-yellow-lighter: derive(#e6b711, 20%);

	// Green
	-df-defold-green-dark:   derive(#2faa09, -10%);
	-df-defold-green:        #2faa09;
	-df-defold-green-light:  derive(#2faa09, 10%);
	-df-defold-green-lighter:derive(#2faa09, 20%);

	// Orange
	-df-defold-orange-dark:  derive(#fa6731, -10%);
	-df-defold-orange:       #fa6731;
	-df-defold-orange-light: derive(#fa6731, 10%);

	// Blue
	-df-defold-blue-dark:    derive(#4cb1ff, -10%);
	-df-defold-blue:         #4cb1ff;
	-df-defold-blue-light:   derive(#4cb1ff, 10%);
	-df-defold-blue-lighter: derive(#4cb1ff, 20%);

	/* Status colors */
	-df-error-severity-fatal:       -df-defold-red;
	-df-error-severity-fatal-dim:   -df-defold-red-dark;
	-df-error-severity-warning:     -df-defold-yellow;
	-df-error-severity-warning-dim: -df-defold-yellow-dark;
	-df-error-severity-info:        -df-defold-blue-lighter;

	/* Lua script colors */
	-df-script-helper:         #33cccc;
	-df-script-self:           #E066FF;
	-df-script-logic:          #E3A869;
	-df-script-constant:       #FFBBFF;
	-df-script-function:       #33cc33;
	-df-script-keyword:        #fd6623;
	-df-script-operator:       #33cccc;
	-df-script-string:         #fbce2f;
	-df-script-comment:        #ff00ff;
	-df-script-number:         #aaaaff;
	-df-script-intellisense:   #00FFFF;

	/* File extension group colors */
	-df-folder:                -df-text-dark;
	-df-folder-active:         -df-text;
	-df-unknown-file:          -df-text-dark;
	-df-unknown-file-active:   -df-text;
	-df-design-file:           -df-defold-blue;
	-df-design-file-active:    -df-defold-blue-lighter;
	-df-script-file:           -df-defold-yellow;
	-df-script-file-active:    -df-defold-yellow-lighter;
	-df-property-file:         -df-defold-green;
	-df-property-file-active:  -df-defold-green-light;
}
