* {
	// Background
	-df-background-darker:    derive(#212428, -10%);
	-df-background-dark:      derive(#212428, -5%);
	-df-background:           #212428;
	-df-background-light:     derive(#212428, 10%);
	-df-background-lighter:   derive(#212428, 20%);

	// Component
	-df-component-darker:     derive(#464c55, -20%);
	-df-component-dark:       derive(#464c55, -10%);
	-df-component:            #464c55;
	-df-component-light:      derive(#464c55, 10%);
	-df-component-lighter:    derive(#464c55, 20%);

	// Text & icons
	-df-text-darker:          derive(#b4bac1, -20%);
	-df-text-dark:            derive(#b4bac1, -40%);
	-df-text:                 #b4bac1;
	-df-text-selected:        derive(#b4bac1, 20%);

	// Red
	-df-defold-red-dark:     derive(#e32f44, -10%);
	-df-defold-red:          #e32f44;
	-df-defold-red-light:    derive(#e32f44, 10%);

	// Yellow
	-df-defold-yellow-dark:    derive(#e6b711, -10%);
	-df-defold-yellow:         #e6b711;
	-df-defold-yellow-light:   derive(#e6b711, 10%);
	-df-defold-yellow-lighter: derive(#e6b711, 20%);

	// Green
	-df-defold-green-dark:   derive(#2faa09, -10%);
	-df-defold-green:        #2faa09;
	-df-defold-green-light:  derive(#2faa09, 10%);
	-df-defold-green-lighter:derive(#2faa09, 20%);

	// Orange
	-df-defold-orange-dark:  derive(#fa6731, -10%);
	-df-defold-orange:       #fa6731;
	-df-defold-orange-light: derive(#fa6731, 10%);

	// Blue
	-df-defold-blue-dark:    derive(#4cb1ff, -10%);
	-df-defold-blue:         #4cb1ff;
	-df-defold-blue-light:   derive(#4cb1ff, 10%);
	-df-defold-blue-lighter: derive(#4cb1ff, 20%);

	/* Status colors */
	-df-error-severity-fatal: -df-defold-red;
	-df-error-severity-fatal-dim: -df-defold-red-dark;
	-df-error-severity-warning: -df-defold-yellow;
	-df-error-severity-warning-dim: -df-defold-yellow-dark;
	-df-error-severity-info: -df-defold-blue-lighter;

	/* Lua script colors */
	-df-script-helper:         #33cccc;
	-df-script-self:           #E066FF;
	-df-script-logic:          #E3A869;
	-df-script-constant:       #FFBBFF;
	-df-script-function:       #33cc33;
	-df-script-keyword:        #fd6623;
	-df-script-operator:       #33cccc;
	-df-script-string:         #fbce2f;
	-df-script-comment:        #ff00ff;
	-df-script-number:         #aaaaff;
	-df-script-intellisense:   #00FFFF;

	/* File extension group colors */
	-df-folder:                -df-text-dark;
	-df-folder-active:         -df-text;
	-df-unknown-file:          -df-text-dark;
	-df-unknown-file-active:   -df-text;
	-df-design-file:           -df-defold-blue;
	-df-design-file-active:    -df-defold-blue-lighter;
	-df-script-file:           -df-defold-yellow;
	-df-script-file-active:    -df-defold-yellow-lighter;
	-df-property-file:         -df-defold-green;
	-df-property-file-active:  -df-defold-green-light;
}
