@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Regular.ttf"); }
  
@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("SourceSansPro-Semibold.ttf");
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("SourceSansPro-It.ttf");
}

/* Dejavu Sans Mono */
@font-face {
  font-family: 'Dejavu Sans Mono Book';
  src: url("DejaVuSansMono.ttf"); }

@font-face {
  font-family: 'Dejavu Sans Mono Oblique';
  src: url("DejaVuSansMono-Oblique.ttf"); }

@font-face {
  font-family: 'Dejavu Sans Mono Bold';
  src: url("DejaVuSansMono-Bold.ttf"); }

$default-font: 'Source Sans Pro';
$default-font-italic: 'Source Sans Pro Italic';
$default-font-size: 13px;

/* Common measurements */
$pane-padding-top: 17px;
$pane-padding-bottom: 0px;
