@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("SourceSansPro-Semibold.ttf");
}

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("SourceSansPro-Light.ttf");
}

/* Dejavu Sans Mono */
@font-face {
  font-family: 'Dejavu Sans Mono Book';
  src: url("DejaVuSansMono.ttf"); }

@font-face {
  font-family: 'Dejavu Sans Mono Oblique';
  src: url("DejaVuSansMono-Oblique.ttf"); }

@font-face {
  font-family: 'Dejavu Sans Mono Bold';
  src: url("DejaVuSansMono-Bold.ttf"); }

/* SF Mono */
@font-face {
  font-family: 'SF Mono';
  src: url("SF-Mono-Regular.otf");
}

@font-face {
  font-family: 'SF Mono Semibold';
  src: url("SF-Mono-Semibold.otf");
}

@font-face {
  font-family: 'SF Mono Italic';
  src: url("SF-Mono-MediumItalic.otf");
}

@font-face {
  font-family: 'SF Mono Light';
  src: url("SF-Mono-Light.otf");
}


$default-font: 'SF Mono';
$default-font-bold: 'SF Mono Semibold';
$default-font-italic: 'SF Mono Italic';
$default-font-size: 13px;

/* Common measurements */
$pane-padding-top: 17px;
$pane-padding-bottom: 0px;

Text.strong {
  -fx-font-family: $default-font-bold;
}

Text.emphasis {
  -fx-font-family: $default-font-italic;
}

Label.strong {
  -fx-font-family: $default-font-bold;
}

Label.emphasis {
  -fx-font-family: $default-font-italic;
}
