@CHARSET "UTF-8";

/* general stuff */


body {
    font-size: 14px;
    background: #eee;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

#content {
    position: relative;
    margin: 0 auto;
    width: 960px;
    margin-top: 24px;
}

#footer {
	background-color: #2D2E2F;
	height: 260px;
	clear: both;
	padding: 16px;
	margin-top: 50px;
	color: white;
}

#footerContent {
    position: relative;
    left: 220px;
}

#footerContent h3 {
	color: #ccc;
	font-weight: 100;
}

#footerContent table td {
	padding-right: 160px;
}

#footerContent ul {
    _padding-right: 100px;
    list-style: none;
    padding: 0px;
    font-size: 14px;
    color: #999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

td {
	_padding: 32px;
}

h1 {
    color: #444;
    font-size: 32px;
    _text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    font-size: 24px;
    _text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    color: #444;
	font-size: 20px;
	_padding: 0px;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 8px;
}

h4 {
    color: #444;
    font-size: 18px;
    _padding: 0px;
    font-style: italic;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 8px;
}

input {
	background: #B2DCEC;
	border: 1px solid #0081A8;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0px rgba(255,255,255,0.25);
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-top: 20px;
	color: #888;
	font-size: 14px;
}

input:hover {
    background-color: #9fdefc;
}

button {
    font-weight: 500;
    background: #B9E191;
    color: #3C6414;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #82B450;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

button:hover {
    background-color: #b4ec82;
    cursor: pointer;
}

div.deleteBox {
    position: relative;
    right: 0px;
    top: 0x;
    float: right;
}

button.delete {
    /*background-color: #D74605;
    _color: #ccc;
    color: #eee;
    border: 1px solid #af2b00;
    */

    background-color: #e9eaec;
    color: #444;
    border: 1px solid #98999c;

}


button.delete:hover {
	/*
    background-color: #e73600;
    */

    background-color: #f3f4f9;
    cursor: pointer;
}

button.deleteX {
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
}

tr {
	vertical-align: top;
}

div.box {
	width: 255px;
	_float: left;
    _clear: both;
    padding: 15px;
	margin: 15px 50px 0px 0px;
	_margin-bottom: 0px;
	border: 1px solid #D2D3D4;
	background: #FBFCFD;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 6px;
}

div.doc ul {
    list-style: none;

    _background-color: red;
	padding: 0px;
	margin: 0px;
    margin-top: 16px;
}

div.doc ul > li {
    _background-color: blue;
    background: url("bullet.png") 0 50% no-repeat;
    padding: 2px 0 0 20px;
    _padding: 0px;
    _margin: 0px;
}

#topBar {
	_background-color: red;
	margin-bottom: 32px;
}

a {
	text-decoration: none;
	/*color: #444;*/
    color: #0096D7;
    font-weight: 500;
}

/* navigation menu */

ul.nav li {
    display: inline;
}

ul.nav a {
    color: #444;
}

ul.nav {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 0px;
    list-style: none;
    overflow: hidden;
    zoom: 1;
    float: right;
    border: 1px solid #ccc;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

ul.nav li {
    float: left;
    cursor: pointer;
}

ul.nav a {
	display: block;
    border-bottom: none;
    padding-right: 12px;
    cursor: pointer;
}

ul.nav1 a.nav1Active {
    background-color: #444;
}

ul.nav1 a {
    width: auto;
    background-color: #e9eaec;
    margin: 0px;
    padding: 10px 25px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    position: relative;
    overflow: visible;
    text-align: center;
}

ul.nav1 a:hover {
    background-color: #f3f4f9;
    _background-color: #a8c4ff;
}

.nav1 li {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav1 li:first-child a {
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-left: 1px solid white;
}

.nav1 li:last-child a {
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border-right: 1px solid white;
}


/* checklist */

ul.check {
    margin-left: 0px;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    _font-weight: 500;
}

ul.check li {
    /*background: url("check.png") 0 50% no-repeat;*/
    background: url("1325613686_tick_32.png") 0 50% no-repeat;
    padding: 10px 0 10px 40px;
}

