/*
Links:
- http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
- http://www.guigarage.com/javafx-themes/
- http://www.guigarage.com/javafx-themes/aquafx/
- http://www.aerofx.org/
*/


.root {
  -fx-base: -df-background;
  -fx-background: -df-background;
  -fx-control-inner-background: -df-background;
  -fx-text-color-base: -df-text;
  -fx-mark-color: -df-text-dark;
  -fx-text-background-color: -df-text;
  -fx-text-inner-color: -df-text;
  -fx-box-border: -df-background-lighter;
  -fx-accent: -df-defold-blue-light;
  -fx-focus-color_: -df-defold-red;
  -fx-faint-focus-color_: -df-defold-red;
  /* cells */
  -fx-selection-bar: -df-defold-blue-light;
  -fx-selection-bar-non-focused: -df-background;
  -fx-cell-focus-inner-border: -df-defold-blue-light;
  /* splitter */
  -fx-inner-border-horizontal: red_;
  -fx-focus-color: -df-defold-blue-light;
  -fx-outer-border_: -df-defold-red;
  -fx-inner-border_: -df-defold-red;
  -fx-body-color_: -df-background;
  -fx-color: -df-background;
  -fx-body-color: linear-gradient(to bottom, -fx-color, -fx-color);
  -fx-mark-color_: -df-defold-red;
  -fx-hover-base: -df-background-lighter;
  -fx-pressed-base: -df-text-dark;
  -fx-font-weight: normal;
  }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:vertical {
  -fx-background-insets: 0;
}

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:horizontal {
  -fx-background-insets: 0;
}


/* Drag and drop targets */
.drop-target {
  -fx-background-color: -df-background !important;
}

/* Info panel styles */
.info-panel {
  -fx-background-color: -df-background-lighter;
  -fx-padding: 4;
}

.info-panel-label {
  -fx-text-fill: -df-text;
}

.info-panel-link {
  -fx-text-fill: -df-defold-blue-light;
}

.info-panel-link:hover {
  -fx-text-fill: -df-defold-blue-lighter;
}

/* Overrides */

.override-inspector-hyperlink {
  -fx-text-fill: -df-text;
  &:hover {
    -fx-underline: true;
  }
}

.overridden {
  -fx-text-inner-color: -df-defold-blue-lighter;
  -fx-text-color-base: -df-defold-blue-lighter;
  -fx-text-fill: -df-defold-blue-lighter; }

.override-inspector-check-box {
    -fx-opacity: 1;
    -fx-padding: -2 0 0 0;
    & > .box {
      -fx-background-color: transparent !important;
    }
    &.overridden > .box > .mark {
      -fx-background-color: -df-defold-blue-lighter;
    }
}

.copyable-label, .copyable-label:focused {
  -fx-background-color: transparent;
  -fx-border-width: 0px;
  -fx-text-fill: -df-text-dark;
}

.about-value {
  -fx-text-fill: -df-component-lighter;
}

#progress-hbox {
  .label {
    -fx-text-fill: -df-component-lighter;
  }
  -fx-alignment: center-left;
  -fx-spacing: 10px;
}

/* Status bar */
#status-label {
  -fx-text-fill: -df-component-lighter;
  -fx-padding: 7 0 7 15;
}

#status-pane {
  -fx-padding: 7 15 7 0;

  #update-link {
    -fx-font-size: 110%;
  }

  #progress-percentage-label {
    -fx-alignment: center-right;
    -fx-min-width: 40px;
    -fx-text-alignment: right;
  }
}

#status-pane #progress-hbox {
  -fx-background-color: -df-background;
}

#status-pane #progress-hbox #progress-cancel-button {
    -fx-background-color: -df-background;
    -cross-color: -df-background-lighter;
    -fx-background-radius: 50%;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-content-display: center;
    &:hover {
        -fx-background-color: -df-background-lighter;
        -cross-color: -df-text;
    }
    &:armed {
        -fx-background-color: -df-background-lighter;
        -cross-color: -df-text-selected;
    }
}

#status-pane #progress-hbox #progress-cancel-button #cross {
    -fx-background-color: -cross-color;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-shape: "M 2 0 L 5 3 L 8 0 L 10 2 L 7 5 L 10 8 L 8 10 L 5 7 L 2 10 L 0 8 L 3 5 L 0 2 Z";
}

#main-window {
  .split-pane {
    -fx-padding: 0px;

    &:horizontal, &:vertical {
      -fx-background-insets: 0px;
      -fx-border-width: 0px;
    }

    >.split-pane-divider {
      -fx-background-color: transparent;
      -fx-background-position: center;
      -fx-background-repeat: no-repeat;
      -fx-opacity: 0.1;
      -fx-padding: 1px;

      &:hover, &:armed {
        -fx-opacity: 0.25;
      }
    }
  }

  #main-split, #workbench-split {
    >.split-pane-divider {
      -fx-background-image: url("widgets/drag-handle-lr.png");
      -fx-background-size: 7px 32px;
      -fx-padding: 0px 9px 0px 8px;
    }
  }

  #center-split {
    >.split-pane-divider {
      -fx-background-image: url("widgets/drag-handle-ud.png");
      -fx-background-position: center 5px;
      -fx-background-size: 32px 7px;
    }
  }
}

#sponsor-push > .text {
  -fx-fill: -df-text-dark;
  -fx-padding: 0;
}

#sponsor-push > .hyperlink {
  -fx-text-fill: #5BC0FF;
  -fx-border-width: 0;
  -fx-padding: 0;
}

#sponsor-push > .hyperlink:hover {
  -fx-text-fill: #89d2ff;
}

#quick-help-items .key-button {
    -fx-background-color: #8080802b;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 2px 7px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-text-fill: -df-text;
}

.quick-help-label {
  -fx-text-fill: -df-text;
}

#quick-help-logo {
    -fx-opacity: 0.1;
}

#overlay {
    -fx-background-color: transparent;
}
