.root {
  -fx-background-color: transparent !important;
  -fx-text-fill: -df-text;
}

#launch-error {
  -fx-text-fill: -df-defold-red;
}

#game * {
  -fx-text-fill: white;
  -fx-font-size: 90%;
}

#footer * {
  -fx-text-fill: -df-text-dark;
  -fx-font-size: 90%;
}

#version {
}

#copyright {
}

#rights-reserved {
}

#sponsors {
  -fx-padding: 0 0 16px 0;
}

#sponsor-icons {
  -fx-opacity: 0.7;
  -fx-padding: 0 0 33px 0;
  -fx-spacing: 33px;
}

#startup-tip > .text {
  -fx-fill: -df-text-dark;
  -fx-padding: 0;
}

#startup-tip > .hyperlink {
  -fx-text-fill: -df-defold-blue-light;
  -fx-border-width: 0;
  -fx-padding: 0;
}

#startup-tip > .hyperlink:hover {
  -fx-text-fill: -df-defold-blue-lighter;
}

.button {
  -fx-background-radius: 5;
  -fx-border-radius: 4;
  -fx-padding: 6px 17px;
  -fx-min-width: 100px;
  -fx-background-color: -df-component-dark;
  -fx-background-insets: 0;
  -fx-border-color: -df-component-darker;
  -fx-border-width: 1;
  -fx-text-fill: -df-text; }
  .button:hover {
    -fx-background-color: -df-component-lighter; }
  .button:armed {
    -fx-background-color: -df-component-light; }
