$light-grey: #9FB0BE;
$light-grey-lighter: derive($light-grey, 20%);
$light-grey-lightest: derive($light-grey, 60%);
$light-grey-darker: derive($light-grey, -20%);

$blue: #5BC0FF;
$blue-lighter: derive($blue, 20%);

$orange: #fa6731;

$dark-grey: #2c2e33;
$dark-grey-lightest: derive($dark-grey, 40%);
$dark-grey-lighter: derive($dark-grey, 20%);
$dark-grey-darker: derive($dark-grey, -40%);
$dark-grey-darkest: derive($dark-grey, -60%);

$red: #e32f44;
$red-darker: derive($red, -40%);

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("SourceSansPro-Light.ttf");
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("SourceSansPro-Semibold.ttf");
}

@mixin font-size-default { -fx-font-size: 14px; }
@mixin font-size-header { -fx-font-size: 22px; }
@mixin font-default { -fx-font-family: "Source Sans Pro"; }
@mixin font-light { -fx-font-family: "Source Sans Pro Light"; }
@mixin text-fill-text-color { -fx-text-fill: $light-grey; }

$spacing-smaller: 16px;
$spacing-normal: 24px;
$spacing-larger: 32px;
$spacing-largest: 40px;

.dialog-body {
  -fx-background-color: $dark-grey;
}
.dialog-body-small {
  -fx-pref-width: 540px;
}
.dialog-body-large {
  -fx-pref-width: 640px;
}

.label {
  @include font-size-default();
  @include font-default();
  @include text-fill-text-color();
}

.header {
  @include font-size-header();
  @include font-light();
  @include text-fill-text-color();
}

.button {
  @include font-size-default();
  @include font-default();
  -fx-border-radius: 2px;
  -fx-background-radius: 2px;
  -fx-background-color: transparent;
  -fx-padding: 6px 12px;
  &:hover {
    -fx-background-color: rgba(255,255,255,0.04);
  }
  &:armed {
    -fx-background-color: transparent;
  }
  &:disabled {
    -fx-opacity: 0.4;
  }
}
.button-primary {
  -fx-text-fill: $blue;
  -fx-border-color: $blue;
  &:hover {
    -fx-text-fill: $blue-lighter;
    -fx-border-color: $blue-lighter;
  }
}
.button-secondary {
  -fx-text-fill: $light-grey;
  -fx-border-color: $light-grey-darker;
  &:hover {
    -fx-text-fill: $light-grey-lighter;
  }
}

.dialog-content {
  -fx-padding: $spacing-larger;
  -fx-background-color: rgba(0, 0, 0, 0.14);
  -fx-border-width: 1 0;
  -fx-border-color: $dark-grey-lighter;
}
.dialog-no-content {
  -fx-pref-height: $spacing-largest;
}

.dialog-with-content-header {
  -fx-padding: $spacing-normal;
}
.dialog-without-content-header {
  -fx-padding: $spacing-normal $spacing-normal 0 $spacing-normal;
}

.dialog-buttons {
  -fx-spacing: $spacing-smaller;
  -fx-alignment: center-right;
}
.dialog-with-content-footer {
  -fx-padding: $spacing-normal;
}
.dialog-without-content-footer {
  -fx-padding: 0 $spacing-normal $spacing-normal $spacing-normal;
}

.text-field {
  @include font-default();
  @include font-size-default();
  -fx-highlight-fill: $dark-grey-lightest;
  -fx-padding: 4px 8px;
  -fx-background-color: $dark-grey-darker;
  -fx-border-width: 1px;
  -fx-text-fill: $light-grey-lighter;
  -fx-prompt-text-fill: #54585e;
  &:focused {
    -fx-border-width: 1px 1px 2px 1px;
    -fx-padding: 4px 8px 3px 8px;
  }
}

.text-field-default {
  -fx-border-color: $dark-grey-lighter;
  &:focused {
    -fx-border-color: $dark-grey-lighter $dark-grey-lighter $orange $dark-grey-lighter;
  }
}

.text-field-error {
  -fx-border-color: $red-darker;
  &:focused {
    -fx-border-color: $red-darker $red-darker $red $red-darker;
  }
}

.input-grid {
  -fx-hgap: $spacing-smaller;
  -fx-vgap: $spacing-smaller;
}
