/*
Links:
- http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
- http://www.guigarage.com/javafx-themes/
- http://www.guigarage.com/javafx-themes/aquafx/
- http://www.aerofx.org/
*/


.root {
  -fx-base: $dark-grey;
  -fx-background: $dark-grey;
  -fx-control-inner-background: $dark-grey;
  -fx-text-color-base: $defold-white;
  -fx-mark-color: $bright-grey;
  -fx-text-background-color: $bright-grey-light;
  -fx-text-inner-color: $bright-grey-light;
  -fx-box-border: $mid-grey;
  -fx-accent: $selected-blue;
  -fx-focus-color_: $defold-red;
  -fx-faint-focus-color_: $defold-red;
  /* cells */
  -fx-selection-bar: $selected-blue;
  -fx-selection-bar-non-focused: $dark-grey;
  -fx-cell-focus-inner-border: $selected-blue;
  /* splitter */
  -fx-inner-border-horizontal: red_;
  -fx-focus-color: $selected-blue;
  -fx-outer-border_: $defold-red;
  -fx-inner-border_: $defold-red;
  -fx-body-color_: $dark-grey;
  -fx-color: $dark-grey;
  -fx-body-color: linear-gradient(to bottom, -fx-color, -fx-color);
  -fx-mark-color_: $defold-red;
  -fx-hover-base: $mid-grey;
  -fx-pressed-base: $bright-grey;
  -fx-accent_: $defold-red;
  -fx-font-family: $default-font;
  -fx-font-size: $default-font-size;
  -fx-font-weight: normal;
  }

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:vertical {
  -fx-background-insets: 0;
}

/* Remove extra border */
.list-view > .virtual-flow > .scroll-bar:horizontal {
  -fx-background-insets: 0;
}


/* Selected rows */
/*.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
  -fx-background: -fx-selection-bar;
  -fx-text-fill: red;//$defold-white;
}*/

.root__ {
  -fx-base: $bright-black;
  -fx-background: $bright-black;
  -fx-control-inner-background: $bright-black; }

.root_ {
  -fx-base: $bright-black-light;
  -fx-background: $bright-black-light;
  -fx-control-inner-background: $bright-black-light;
  -fx-hover-base: $defold-red; }

/* Drag and drop targets */
.drop-target {
  -fx-background-color: $dark-grey !important;
}

/* Overrides */

.overridden {
  -fx-text-inner-color: $defold-light-blue;
  -fx-text-color-base: $defold-light-blue;
  -fx-text-fill: $defold-light-blue; }

.overridden .text-field {
  -fx-text-fill: $defold-light-blue; }

.overridden .color-picker-label .text {
  -fx-fill: $defold-light-blue; }

.copyable-label, .copyable-label:focused {
  -fx-background-color: transparent;
  -fx-border-width: 0px;
  -fx-text-fill: $bright-grey;
}

.progress-hbox {
  .label {
    -fx-text-fill: $grey;
  }
  -fx-alignment: center-left;
  -fx-spacing: 10px;
}

.link-label {
  -fx-text-fill: $defold-light-blue;
  &:hover {
    -fx-underline: true;
  }
}

/* Status bar */
#status-label {
  -fx-text-fill: $grey;
  -fx-padding: 7 0 7 15;
}

#status-pane {
  -fx-padding: 7 15 7 0;
}
