<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="crepo">
         <run
               class="com.dynamo.cr.editor.fs.internal.RepositoryFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="zip">
         <run
               class="com.dynamo.cr.editor.fs.internal.ZipFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="bundle">
         <run
               class="com.dynamo.cr.editor.fs.internal.BundleFileSystem">
         </run>
      </filesystem>
   </extension>

</plugin>
