name: CI - Editor Only

on:
  push:
    branches:
      - 'DEFEDIT-*'
  # pull_request:
  #   branches:
  #     - 'DEFEDIT-*'

jobs:
  build-and-test-editor:
    runs-on: macOS-latest
    steps: [
      { name: 'Checkout', uses: actions/checkout@v1, with: { fetch-depth: 3 } },
      { name: 'Install Python', uses: actions/setup-python@v1, with: { python-version: 2.x, architecture: x64 } },
      {
        name: 'Build editor',
        env: {
            S3_ACCESS_KEY: '${{ secrets.S3_ACCESS_KEY }}',
            S3_SECRET_KEY: '${{ secrets.S3_SECRET_KEY }}',
            MACOS_CERTIFICATE: '${{ secrets.MACOS_CERTIFICATE }}',
            MACOS_CERTIFICATE_PASS: '${{ secrets.MACOS_CERTIFICATE_PASS }}'
        },
        run: 'ci/ci.sh --platform=x64_64-darwin --branch=$GITHUB_REF --keychain-cert="${MACOS_CERTIFICATE}" --keychain-cert-pass="${MACOS_CERTIFICATE_PASS}" install engine bob editor'
      }
      # ,{ name: 'Smoke test editor', env: { S3_ACCESS_KEY: '${{ secrets.S3_ACCESS_KEY }}', S3_SECRET_KEY: '${{ secrets.S3_SECRET_KEY }}' }, run: 'python ci/ci.sh --branch=$GITHUB_REF install smoke' }
    ]
