BranchRoot: "/tmp/br"
Filters: ".*?\\.git"
ServicePort: 9998
BuildDataPort: 6000
PersistenceUnitName: "unit-test"
RepositoryRoot: "/Users/chmu/Projects/dynamo"
ProgressRe: "\\[(\\d+)/(\\d+)\\]"

ConfigureCommand: {
  Args: "waf"
  Args: "configure"
}

BuildCommand: {
  Args: "waf"
}

RebuildCommand: {
  Args: "waf" Args: "clean" Args: "build"
}

ExeCommand: {
  Args: "{executable}"
  Args: "--config=resource.uri=http://localhost:6000/{project}/{user}/{branch}/build/default/content"
  Args: "http://localhost:6000/{project}/{user}/{branch}/build/default/content/game.projectc"
}
