branch_root: "/tmp/br"
filters: ".*?\\.git"
service_port: 9998
build_data_port: 6000
persistence_unit_name: "unit-test"
repository_root: "/Users/chmu/Projects/dynamo/test_repos"
progress_re: "\\[(\\d+)/(\\d+)\\]"

configure_command: {
  args: "waf"
  args: "configure"
}

build_command: {
  args: "waf"
}

rebuild_command: {
  args: "waf" args: "clean" args: "build"
}

exe_command: {
  args: "{executable}"
  args: "--config=resource.uri=http://localhost:6000/{project}/{user}/{branch}/build/default/content"
  args: "http://localhost:6000/{project}/{user}/{branch}/build/default/content/game.projectc"
}

project_templates {
    id: "demos"
    path: "/Users/chmu/Projects/dynamo/demos"
    description: "Cool dynamo demos"
}
