BranchRoot: "/tmp/br"
Filters: ".*?\\.git"
ServicePort: 9998
BuildDataPort: 6000

projects {
  Id: "jetbot"
  Name: "Jetbot"
  Root: "/home/ragnar/dynamo/jetbot"
  ProgressRe: "\\[(\\d+)/(\\d+)\\]"

  Applications: {
    Platform: "darwin"
    Name: "jetbot"
    Path: "/Users/chmu/Projects/dynamo/jetbot/build/default/src/jetbot"
  }

  ConfigureCommand: {
    Args: "waf"
    Args: "configure"
  }

  BuildCommand: {
    Args: "waf"
  }

  RebuildCommand: {
    Args: "waf" Args: "clean" Args: "build"
  }

  ExeCommand: {
    Args: "{executable}"
    Args: "--config=resource.uri=http://localhost:6000/jetbot/{user}/{branch}/build/default/content"
    Args: "http://localhost:6000/jetbot/{user}/{branch}/build/default/content/game.projectc"
  }
}

